In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime 
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [3]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    index = Column(Integer, primary_key = True)
    incident_id = Column(Integer)
    incident_date = Column(String(255))
    state = Column(String(255))
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [4]:
# Creates Classes which will serve as the anchor points for our Tables
class Guns(Base):
    __tablename__ = 'ownership_data'
    index = Column(Integer, primary_key = True)
    state = Column(String(255))
    number_per_capita = Column(Integer)
    number_registered = Column(Integer)

In [5]:
# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty_data'
    rank = Column(Integer, primary_key = True)
    state = Column(String(255))
    2019_poverty = Column(DECIMAL * 100)

In [6]:
# Creates a connection to our DB
engine = create_engine('sqlite:///Data/shootings.sqlite', echo=True)
conn = engine.connect()

2021-05-05 20:51:07,609 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-05 20:51:07,614 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:07,617 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-05 20:51:07,618 INFO sqlalchemy.engine.base.Engine ()

In [7]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

2021-05-05 20:51:08,442 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-05 20:51:08,444 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,450 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("shooting_data")
2021-05-05 20:51:08,451 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,454 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ownership_data")
2021-05-05 20:51:08,455 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,457 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("ownership_data")
2021-05-05 20:51:08,458 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,460 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("poverty_data")
2021-05-05 20:51:08,461 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,464 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("poverty_data")
2021-05-05 20:51:08,466 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,469 INFO sqlalchemy.engine.base.Engine
CREATE TABLE shooting_data (
	"index" INTEGER NOT NULL,
	incident_id INTEGER,
	incident_date VARCHAR(255),
	state VARCHAR(255),
	city_county VARCHAR(255),
	address VARCHAR(255),
	number_killed INTEGER,
	number_injured INTEGER,
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY ("index")
)


2021-05-05 20:51:08,470 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,477 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:08,480 INFO sqlalchemy.engine.base.Engine
CREATE TABLE ownership_data (
	"index" INTEGER NOT NULL,
	state VARCHAR(255),
	number_per_capita INTEGER,
	number_registered INTEGER,
	PRIMARY KEY ("index")
)


2021-05-05 20:51:08,481 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:08,499 INFO sqlalchemy.engine.base.Engine
CREATE TABLE poverty_data (
	"index" INTEGER NOT NULL,
	state VARCHAR(255),
	poverty_rate VARCHAR(255),
	PRIMARY KEY ("index")
)


2021-05-05 20:51:08,500 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 20:51:08,518 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [9]:
# Store filepath in a variable
file_one = "Data/final_msa.csv"
file_two = "Data/gun_ownership_clean.csv"
file_three = "Data/poverty_data_cleaned.csv"

# Read in csv files
df = pd.read_csv(file_one)
df2 = pd.read_csv(file_two)
df3 = pd.read_csv(file_three)

In [10]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = int(df.loc[index, 'number_killed']),
                      number_injured = int(df.loc[index, 'number_injured']), latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])    
    
    # Add these objects to the session
    session.add(new_row)
    
    # Commit the objects to the database
    session.commit()

2021-05-05 20:51:17,308 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,312 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,314 INFO sqlalchemy.engine.base.Engine (1987241, '2021-04-26', 'Louisiana', 'Houma', '656 Corporate Dr', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:17,317 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,335 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,338 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,339 INFO sqlalchemy.engine.base.Engine (1987235, '2021-04-25', 'Alabama', 'Phenix City', '1700 Highway 280 Bypass', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:17,343 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,377 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,379 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,381 INFO sqlalchemy.engine.base.Engine (1986593, '2021-04-25', 'Arkansas', 'Little Rock', '1900 E 6th St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:17,385 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,418 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,420 INFO sqlalchemy.engine.base.Engine (1986770, '2021-04-25', 'Missouri', 'Kansas City', 'E 18th St and Vine St', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:17,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,447 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,448 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,450 INFO sqlalchemy.engine.base.Engine (1985432, '2021-04-24', 'Louisiana', 'New Orleans', '100 block of Bourbon St', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:17,459 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,489 INFO sqlalchemy.engine.base.Engine (1984807, '2021-04-22', 'California', 'San Diego', '500 block of J St', 1, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:17,498 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,517 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,520 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,522 INFO sqlalchemy.engine.base.Engine (1981805, '2021-04-19', 'Texas', 'Houston', '700 E Whitney St', 2, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:17,531 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,559 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,562 INFO sqlalchemy.engine.base.Engine (1982260, '2021-04-19', 'Georgia', 'Atlanta', '1191 Oakland Ln SW', 0, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:51:17,567 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,591 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,592 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,597 INFO sqlalchemy.engine.base.Engine (1982020, '2021-04-18', 'Alabama', 'Montgomery', '2300 block of Day St', 1, 4, 41.872262, -87.69373)
2021-05-05 20:51:17,602 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,628 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,632 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,637 INFO sqlalchemy.engine.base.Engine (1981521, '2021-04-18', 'Michigan', 'Detroit', 'Ward Ave and W McNichols Rd', 1, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:17,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,677 INFO sqlalchemy.engine.base.Engine (1981353, '2021-04-18', 'Louisiana', 'Shreveport', '3701 Hearne Ave', 0, 6, 38.5979369, -121.42762739999999)
2021-05-05 20:51:17,681 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,717 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,719 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,720 INFO sqlalchemy.engine.base.Engine (1980689, '2021-04-18', 'Wisconsin', 'Kenosha', '1548 Sheridan Rd', 3, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:17,724 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,746 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,748 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,749 INFO sqlalchemy.engine.base.Engine (1980492, '2021-04-17', 'Ohio', 'Columbus', '5001 Chatterton Rd', 1, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:17,752 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,771 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,772 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,775 INFO sqlalchemy.engine.base.Engine (1980971, '2021-04-17', 'Louisiana', 'La Place (Laplace)', '624 Golfview Dr', 0, 9, 44.98847429999999, -93.2549796)
2021-05-05 20:51:17,780 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,818 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,820 INFO sqlalchemy.engine.base.Engine (1979684, '2021-04-16', 'Michigan', 'Detroit', 'Conant St and Minnesota St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:17,828 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,854 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,856 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:17,858 INFO sqlalchemy.engine.base.Engine (1978635, '2021-04-15', 'Indiana', 'Indianapolis', '8951 Mirabel Rd', 9, 7, 41.032132700000005, -87.5381426)
2021-05-05 20:51:17,862 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,884 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,885 INFO sqlalchemy.engine.base.Engine (1978561, '2021-04-15', 'District of Columbia', 'Washington', '1800 block of West Virginia Ave NE', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:17,890 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,912 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,913 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,915 INFO sqlalchemy.engine.base.Engine (1979869, '2021-04-15', 'Louisiana', 'Lake Charles', '4101 5th Ave', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:51:17,918 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,940 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,945 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,949 INFO sqlalchemy.engine.base.Engine (1978616, '2021-04-15', 'Florida', 'Pensacola', '700 Truman Ave', 0, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:17,954 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:17,979 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:17,981 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:17,983 INFO sqlalchemy.engine.base.Engine (1978652, '2021-04-15', 'Illinois', 'Chicago', '600 block of N Sawyer Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:17,989 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,017 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,020 INFO sqlalchemy.engine.base.Engine (1976538, '2021-04-13', 'Maryland', 'Baltimore', '2300 block of Hoffman St', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:18,025 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,061 INFO sqlalchemy.engine.base.Engine (1975296, '2021-04-12', 'Illinois', 'Chicago', 'I-290 and S Damen Ave', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:18,070 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,093 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,095 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,098 INFO sqlalchemy.engine.base.Engine (1974943, '2021-04-11', 'Kansas', 'Wichita', '200 block of N Battin St', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:18,102 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,125 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,129 INFO sqlalchemy.engine.base.Engine (1975004, '2021-04-11', 'Washington', 'Seattle', '306 23rd Ave S', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:18,133 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,155 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,156 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,157 INFO sqlalchemy.engine.base.Engine (1973809, '2021-04-10', 'Michigan', 'Allendale', '4926 Becker Dr', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:18,163 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,184 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,186 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,187 INFO sqlalchemy.engine.base.Engine (1974088, '2021-04-10', 'Tennessee', 'Memphis', '4315 S 3rd St', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:18,195 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,216 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,218 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,219 INFO sqlalchemy.engine.base.Engine (1973692, '2021-04-10', 'Missouri', 'Koshkonong', 'US-63 and MO-F', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:18,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,248 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,250 INFO sqlalchemy.engine.base.Engine (1975405, '2021-04-10', 'Connecticut', 'Waterbury', '36 Gasparri Ln', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:18,255 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,281 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,282 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,284 INFO sqlalchemy.engine.base.Engine (1973844, '2021-04-09', 'Texas', 'Fort Worth', '2000 block of SW Loop 820', 1, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:18,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,323 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,325 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,329 INFO sqlalchemy.engine.base.Engine (1972187, '2021-04-08', 'Texas', 'Bryan', '350 Stone City Dr', 1, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:18,336 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,370 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,372 INFO sqlalchemy.engine.base.Engine (1971410, '2021-04-07', 'South Carolina', 'Rock Hill', '4456 Marshall Rd', 7, 0, 42.2699348, -88.96278009999997)

2021-05-05 20:51:18,377 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,425 INFO sqlalchemy.engine.base.Engine (1970937, '2021-04-07', 'Wisconsin', 'Milwaukee', '2627 W Capitol Dr', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:18,431 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,461 INFO sqlalchemy.engine.base.Engine (1973435, '2021-04-07', 'Ohio', 'Dayton', 'Hoover Ave and Summit Square', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:18,466 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,504 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,507 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,508 INFO sqlalchemy.engine.base.Engine (1969899, '2021-04-06', 'District of Columbia', 'Washington', '4100 block of Ames St NE', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:18,514 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,538 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,541 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,542 INFO sqlalchemy.engine.base.Engine (1970245, '2021-04-06', 'Michigan', 'Detroit', '6100 block of Lodewyck St', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:18,549 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,581 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,588 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,595 INFO sqlalchemy.engine.base.Engine (1970378, '2021-04-05', 'Illinois', 'Chicago', '6800 block of S Justine Ave', 0, 7, 38.5979369, -121.42762739999999)
2021-05-05 20:51:18,614 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,642 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,646 INFO sqlalchemy.engine.base.Engine (1969065, '2021-04-05', 'Maryland', 'Baltimore', '300 block of N Eutaw St', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:18,650 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,682 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,688 INFO sqlalchemy.engine.base.Engine (1969505, '2021-04-04', 'Louisiana', 'Monroe', '207 Sterlington Rd', 0, 6, 29.9673972, -90.1018231)
2021-05-05 20:51:18,695 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,728 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,729 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,730 INFO sqlalchemy.engine.base.Engine (1968887, '2021-04-04', 'Alabama', 'Birmingham', '3969 14th Ave N', 1, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:18,735 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,762 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,764 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,764 INFO sqlalchemy.engine.base.Engine (1969633, '2021-04-04', 'Texas', 'Beaumont', '6035 S M L King Jr Pkwy', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:18,768 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,799 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,801 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,805 INFO sqlalchemy.engine.base.Engine (1967914, '2021-04-03', 'North Carolina', 'Wilmington', '718 Kidder St', 3, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:18,809 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,837 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,839 INFO sqlalchemy.engine.base.Engine (1967893, '2021-04-03', 'Alabama', 'Tuscaloosa', '2314 4th St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:18,845 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,869 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,871 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,874 INFO sqlalchemy.engine.base.Engine (1969221, '2021-04-03', 'Texas', 'Allen', '1517 Pine Bluff Dr', 6, 0, 37.7849319, -122.4129481)
2021-05-05 20:51:18,880 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,905 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,907 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,908 INFO sqlalchemy.engine.base.Engine (1968553, '2021-04-03', 'Florida', 'Quincy', '2114 Pat Thomas Parkway', 0, 7, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:18,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,934 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,937 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,939 INFO sqlalchemy.engine.base.Engine (1966181, '2021-03-31', 'California', 'Orange', '202 West Lincoln Ave', 4, 2, 30.0216391, -95.3123538)
2021-05-05 20:51:18,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:18,967 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,969 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,970 INFO sqlalchemy.engine.base.Engine (1965890, '2021-03-31', 'District of Columbia', 'Washington', '1300 block of Congress St SE', 2, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:18,975 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:18,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:18,996 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:18,998 INFO sqlalchemy.engine.base.Engine (1963556, '2021-03-28', 'Ohio', 'Cleveland', '5100 Pearl Rd', 0, 7, 40.110245, -88.2353849)
2021-05-05 20:51:19,002 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,027 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,029 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,031 INFO sqlalchemy.engine.base.Engine (1964085, '2021-03-28', 'Illinois', 'Chicago', 'I-57 and W 127th St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:19,038 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,057 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,059 INFO sqlalchemy.engine.base.Engine (1963598, '2021-03-28', 'Maryland', 'Essex', '1601 Middleborough Rd', 5, 1, 48.461627899999996, -122.3386173)
2021-05-05 20:51:19,064 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,090 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,091 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,094 INFO sqlalchemy.engine.base.Engine (1964030, '2021-03-28', 'Texas', 'San Antonio', '2011 Dollarhide Ave', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:19,107 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,135 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,139 INFO sqlalchemy.engine.base.Engine (1963052, '2021-03-27', 'Illinois', 'Chicago', '500 block of N Leamington Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:19,145 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,172 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,175 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,179 INFO sqlalchemy.engine.base.Engine (1962934, '2021-03-27', 'Mississippi', 'Yazoo City', 'Dr Martin Luther King Jr Dr and Shady Dr', 0, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:19,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,209 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,211 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,212 INFO sqlalchemy.engine.base.Engine (1962686, '2021-03-27', 'Illinois', 'River Grove', 'Belmont Ave', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:19,218 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,241 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,245 INFO sqlalchemy.engine.base.Engine (1962562, '2021-03-26', 'Virginia', 'Virginia Beach', '2000 block of Atlantic Ave', 0, 9, 41.7718443, -87.67278499999998)
2021-05-05 20:51:19,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,275 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,279 INFO sqlalchemy.engine.base.Engine (1961753, '2021-03-26', 'Illinois', 'Chicago', '2515 W 79th St', 1, 7, 30.702997600000003, -88.0786828)
2021-05-05 20:51:19,284 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,308 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,312 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,314 INFO sqlalchemy.engine.base.Engine (1964271, '2021-03-26', 'Virginia', 'Norfolk', '100 block of W Balview Ave', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:19,320 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,349 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,352 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,354 INFO sqlalchemy.engine.base.Engine (1962890, '2021-03-26', 'Tennessee', 'Memphis', '500 block of Arrington Ave', 3, 2, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:19,359 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,382 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,385 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,387 INFO sqlalchemy.engine.base.Engine (1962507, '2021-03-26', 'Pennsylvania', 'Philadelphia', '1080 N Delaware Ave', 0, 7, 41.88387900000001, -87.7085187)
2021-05-05 20:51:19,391 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,415 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,418 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,420 INFO sqlalchemy.engine.base.Engine (1960283, '2021-03-23', 'Alabama', 'Aliceville', '1st Ave SW and 15th St', 2, 2, 41.872262, -87.69373)
2021-05-05 20:51:19,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,446 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,449 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,451 INFO sqlalchemy.engine.base.Engine (1958652, '2021-03-22', 'Colorado', 'Boulder', '3600 Table Mesa Dr', 10, 1, 42.91211149999999, -85.62301)
2021-05-05 20:51:19,455 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,480 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,482 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,483 INFO sqlalchemy.engine.base.Engine (1959549, '2021-03-22', 'Michigan', 'Detroit', '13300 block of Davidson St', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:19,489 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,510 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,514 INFO sqlalchemy.engine.base.Engine (1957188, '2021-03-20', 'Texas', 'Houston', '10266 North Fwy', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:19,519 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,541 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,550 INFO sqlalchemy.engine.base.Engine (1957226, '2021-03-20', 'Texas', 'Dallas', '10333 Technology Blvd', 1, 7, 29.9673972, -90.1018231)
2021-05-05 20:51:19,557 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,591 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,594 INFO sqlalchemy.engine.base.Engine (1957252, '2021-03-20', 'Pennsylvania', 'Philadelphia', '4234 Germantown Ave', 1, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:19,598 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,622 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,625 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,628 INFO sqlalchemy.engine.base.Engine (1956081, '2021-03-18', 'Oregon', 'Gresham', '750 E Powell Blvd', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:19,631 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,654 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,655 INFO sqlalchemy.engine.base.Engine (1955948, '2021-03-18', 'Louisiana', 'New Orleans', '2400 Annette St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:19,660 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,685 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,688 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,690 INFO sqlalchemy.engine.base.Engine (1956001, '2021-03-17', 'California', 'Stockton', 'Oro Ave and E Main St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:19,696 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,717 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,719 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,720 INFO sqlalchemy.engine.base.Engine (1954379, '2021-03-16', 'Georgia', 'Acworth', '6468 Hwy 92', 8, 1, 37.7849319, -122.4129481)
2021-05-05 20:51:19,728 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,750 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,754 INFO sqlalchemy.engine.base.Engine (1954950, '2021-03-16', 'Arizona', 'Phoenix', '6215 W Elm St', 4, 1, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:19,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,784 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,785 INFO sqlalchemy.engine.base.Engine (1953309, '2021-03-15', 'Indiana', 'Indianapolis', '2300 block of N Harding St', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:19,789 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,816 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,819 INFO sqlalchemy.engine.base.Engine (1953202, '2021-03-14', 'Florida', 'Tampa', '10101 US-92', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:19,824 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,846 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,850 INFO sqlalchemy.engine.base.Engine (1952662, '2021-03-14', 'Illinois', 'Chicago', '2600 block of E 77th St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:19,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,880 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,883 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,888 INFO sqlalchemy.engine.base.Engine (1952281, '2021-03-14', 'Illinois', 'Chicago', '6798 block of S South Chicago Ave', 2, 13, 39.3048255, -76.6081873)
2021-05-05 20:51:19,894 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,916 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,918 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,920 INFO sqlalchemy.engine.base.Engine (1952151, '2021-03-13', 'New York', 'Brooklyn', '917 Flushing Ave', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:19,924 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,952 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,954 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,956 INFO sqlalchemy.engine.base.Engine (1951681, '2021-03-13', 'Florida', 'Orlando', '200 block of Ring Rd', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:19,961 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:19,982 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:19,984 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:19,987 INFO sqlalchemy.engine.base.Engine (1952161, '2021-03-13', 'Indiana', 'Indianapolis', '300 block of N Randolph St', 4, 1, 36.1450958, -96.0023638)
2021-05-05 20:51:19,991 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,010 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,013 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:20,014 INFO sqlalchemy.engine.base.Engine (1951738, '2021-03-13', 'Virginia', 'Richmond', '5100 block of Richmond Henrico Tpke', 2, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:20,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,039 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,041 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,044 INFO sqlalchemy.engine.base.Engine (1951476, '2021-03-12', 'North Carolina', 'Greensboro', '100 block of Huffman St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:20,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,070 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,073 INFO sqlalchemy.engine.base.Engine (1951383, '2021-03-12', 'Texas', 'Austin', '7408 Cameron Rd', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:20,081 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,102 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,104 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,107 INFO sqlalchemy.engine.base.Engine (1950346, '2021-03-11', 'New Mexico', 'Ohkay Owingeh (Chamita)', '89 Rio Arriba Co Rd 56', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:20,113 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,140 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,146 INFO sqlalchemy.engine.base.Engine (1950471, '2021-03-11', 'Pennsylvania', 'Philadelphia', '1400 block of N 76th St', 2, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:20,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,180 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,182 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,184 INFO sqlalchemy.engine.base.Engine (1949977, '2021-03-10', 'Texas', 'Houston', '6300 Ranchester Dr', 3, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:20,188 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,210 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,213 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,215 INFO sqlalchemy.engine.base.Engine (1948233, '2021-03-08', 'Florida', 'Clearwater', 'US-19 ALT and Drew St', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:20,219 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,240 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,244 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,246 INFO sqlalchemy.engine.base.Engine (1948470, '2021-03-07', 'Mississippi', 'Edwards', '607 Wallace Dr', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:20,258 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,284 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,288 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,291 INFO sqlalchemy.engine.base.Engine (1947241, '2021-03-06', 'California', 'Yuba City', 'Countryside Dr and Littlejohn Dr', 2, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:20,297 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,322 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,323 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,325 INFO sqlalchemy.engine.base.Engine (1945999, '2021-03-06', 'North Carolina', 'Fayetteville', '200 block of Shads Ford Blvd', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:20,332 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,355 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,357 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,358 INFO sqlalchemy.engine.base.Engine (1946991, '2021-03-05', 'California', 'Compton', '600 block of N Long Beach Blvd', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:20,364 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,391 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,394 INFO sqlalchemy.engine.base.Engine (1944507, '2021-03-04', 'District of Columbia', 'Washington', '3900 Martin Luther King Jr Ave SW', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:20,398 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,421 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,424 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,428 INFO sqlalchemy.engine.base.Engine (1943986, '2021-03-03', 'Pennsylvania', 'Erie', '2105 Buffalo Rd', 2, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:20,431 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,454 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,457 INFO sqlalchemy.engine.base.Engine (1941382, '2021-02-28', 'Ohio', 'Cincinnati', '3600 block of Idlewild Ave', 3, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:20,461 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,490 INFO sqlalchemy.engine.base.Engine (1941669, '2021-02-28', 'Indiana', 'East Chicago', '1205 W Chicago Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:20,496 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,519 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,520 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:20,521 INFO sqlalchemy.engine.base.Engine (1940791, '2021-02-28', 'Delaware', 'Dover', '21 S Little Creek Rd', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:20,529 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,550 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,551 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,552 INFO sqlalchemy.engine.base.Engine (1941647, '2021-02-28', 'South Carolina', 'Mccormick', '437 Talbert Rd', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:20,560 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,587 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,590 INFO sqlalchemy.engine.base.Engine (1941444, '2021-02-28', 'Louisiana', 'Shreveport', '4914 Mansfield Rd', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:20,597 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,623 INFO sqlalchemy.engine.base.Engine (1941210, '2021-02-28', 'Texas', 'Houston', '13484 Northwest Fwy', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:20,629 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,660 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,662 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,666 INFO sqlalchemy.engine.base.Engine (1943271, '2021-02-27', 'Mississippi', 'Columbus', '1200 block of 7th St S', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:20,672 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,725 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,729 INFO sqlalchemy.engine.base.Engine (1940190, '2021-02-27', 'Mississippi', 'Pattison', 'Pattison-Tillman Rd', 2, 3, 40.110245, -88.2353849)
2021-05-05 20:51:20,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,760 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,762 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,765 INFO sqlalchemy.engine.base.Engine (1940069, '2021-02-26', 'Texas', 'Houston', '8708 Beechnut St', 1, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:20,770 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,796 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,798 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,800 INFO sqlalchemy.engine.base.Engine (1939789, '2021-02-26', 'Louisiana', 'Baton Rouge', '4700 block of Paige St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:20,807 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,828 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,831 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,832 INFO sqlalchemy.engine.base.Engine (1939958, '2021-02-26', 'California', 'San Diego', '841 S 45th St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:20,836 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,857 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,859 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,861 INFO sqlalchemy.engine.base.Engine (1934704, '2021-02-21', 'Missouri', 'Kennett', '1615 1st St', 1, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:20,865 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,885 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,888 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,890 INFO sqlalchemy.engine.base.Engine (1935235, '2021-02-21', 'North Carolina', 'Teachey', 'Thomas Smith Ln and Bay Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:20,898 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,921 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,924 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,928 INFO sqlalchemy.engine.base.Engine (1934225, '2021-02-20', 'Pennsylvania', 'Norristown (East Norriton)', '2912 Swede Rd', 1, 4, 37.7194881, -122.425285)
2021-05-05 20:51:20,931 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,953 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,957 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,962 INFO sqlalchemy.engine.base.Engine (1933975, '2021-02-20', 'Colorado', 'Grand Junction', '1000 block of Teller Ave', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:20,966 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:20,988 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:20,992 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:20,996 INFO sqlalchemy.engine.base.Engine (1934181, '2021-02-20', 'Illinois', 'Springfield', '1100 block of S Grand Ave W', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:20,999 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,021 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,024 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,027 INFO sqlalchemy.engine.base.Engine (1934077, '2021-02-20', 'Louisiana', 'Metairie', '6719 Airline Dr', 3, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:21,034 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,061 INFO sqlalchemy.engine.base.Engine (1932479, '2021-02-18', 'Louisiana', 'Baton Rouge', '2047 N Foster Dr', 1, 3, 34.027134000000004, -118.35078290000001)

2021-05-05 20:51:21,066 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,087 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,089 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,090 INFO sqlalchemy.engine.base.Engine (1931288, '2021-02-17', 'Pennsylvania', 'Philadelphia', '5597 Old York Rd', 0, 8, 41.88387900000001, -87.7085187)
2021-05-05 20:51:21,096 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,117 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,119 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,120 INFO sqlalchemy.engine.base.Engine (1930463, '2021-02-16', 'Florida', 'Saint Petersburg', '2968 Emerson Ave S', 3, 1, 41.872262, -87.69373)
2021-05-05 20:51:21,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,157 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,159 INFO sqlalchemy.engine.base.Engine (1928557, '2021-02-13', 'California', 'San Francisco', '3rd St and Quesada Ave', 0, 6, 42.91211149999999, -85.62301)
2021-05-05 20:51:21,165 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,189 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,191 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,197 INFO sqlalchemy.engine.base.Engine (1928594, '2021-02-13', 'Indiana', 'Indianapolis', '3800 block of N Sherman Dr', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:21,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,231 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,234 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,236 INFO sqlalchemy.engine.base.Engine (1928149, '2021-02-13', 'California', 'Oakland', '1000 block of Washington St', 0, 6, 40.6327104, -74.0271053)
2021-05-05 20:51:21,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,277 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,279 INFO sqlalchemy.engine.base.Engine (1928205, '2021-02-13', 'North Carolina', 'Cary', '101 Reed St', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:21,284 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,310 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,313 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,315 INFO sqlalchemy.engine.base.Engine (1926742, '2021-02-11', 'Georgia', 'Columbus', '2001 South Lumpkin Rd', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:21,320 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,344 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,347 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,348 INFO sqlalchemy.engine.base.Engine (1926701, '2021-02-10', 'Georgia', 'Atlanta', '62 Harwell Rd NW', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:21,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,377 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,381 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,383 INFO sqlalchemy.engine.base.Engine (1924892, '2021-02-09', 'Texas', 'Houston', '945 W Little York Rd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:21,387 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,413 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,417 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,420 INFO sqlalchemy.engine.base.Engine (1924338, '2021-02-09', 'Minnesota', 'Buffalo', '755 Crossroads Campus Dr', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:21,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,456 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,460 INFO sqlalchemy.engine.base.Engine (1921939, '2021-02-06', 'Tennessee', 'Murfreesboro', 'Ewing Blvd and West St', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:21,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,501 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,510 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,512 INFO sqlalchemy.engine.base.Engine (1923786, '2021-02-06', 'Louisiana', 'Thibodaux', '1100 block of Tiger Dr', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:21,517 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,539 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,543 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,547 INFO sqlalchemy.engine.base.Engine (1921768, '2021-02-06', 'Illinois', 'Bloomingdale', '250 W Schick Rd', 1, 5, 30.0216391, -95.3123538)
2021-05-05 20:51:21,553 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,572 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,577 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,579 INFO sqlalchemy.engine.base.Engine (1922354, '2021-02-06', 'Washington', 'Tacoma', '3634 E McKinley Ave', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:21,583 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,612 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,614 INFO sqlalchemy.engine.base.Engine (1921641, '2021-02-05', 'Pennsylvania', 'Mohnton', '360 E Wyomissing Ave', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:21,619 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,641 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,645 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,646 INFO sqlalchemy.engine.base.Engine (1924951, '2021-02-05', 'Mississippi', 'Benoit', '1017 Lake Bolivar Rd', 3, 1, 39.3048255, -76.6081873)
2021-05-05 20:51:21,650 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,671 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,672 INFO sqlalchemy.engine.base.Engine (1920771, '2021-02-04', 'North Carolina', 'High Point', '2912 W English Rd', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:21,679 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,702 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,705 INFO sqlalchemy.engine.base.Engine (1919399, '2021-02-03', 'Tennessee', 'Memphis', '800 block of Olympic St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:21,711 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,736 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,738 INFO sqlalchemy.engine.base.Engine (1919696, '2021-02-03', 'Colorado', 'Oak Creek', '200 block of Wild Hogg Dr', 3, 2, 36.1450958, -96.0023638)
2021-05-05 20:51:21,744 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,765 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,768 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,772 INFO sqlalchemy.engine.base.Engine (1917918, '2021-02-02', 'Florida', 'Fort Lauderdale (Sunrise)', '10100 Reflections Blvd W', 3, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:21,778 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,798 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,800 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,803 INFO sqlalchemy.engine.base.Engine (1917909, '2021-02-02', 'Oklahoma', 'Muskogee', '903 Indiana St', 6, 1, 37.7194881, -122.425285)
2021-05-05 20:51:21,808 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,833 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,836 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,838 INFO sqlalchemy.engine.base.Engine (1917661, '2021-02-01', 'New York', 'Rochester', '400 block of Lyell Avenue', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:21,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,868 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,870 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,872 INFO sqlalchemy.engine.base.Engine (1916468, '2021-01-31', 'Illinois', 'Chicago', 'W Congress Pkwy and S Independence Blvd', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:21,879 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,903 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,908 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,911 INFO sqlalchemy.engine.base.Engine (1916374, '2021-01-30', 'New York', 'Albany', '200 block of Central Ave', 1, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:21,917 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,960 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,962 INFO sqlalchemy.engine.base.Engine (1914798, '2021-01-29', 'Pennsylvania', 'Mc Kees Rocks (Mckees Rocks)', '824 Island Ave', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:21,967 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:21,988 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:21,994 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:21,998 INFO sqlalchemy.engine.base.Engine (1914942, '2021-01-28', 'Michigan', 'Flint', '1900 block of Tebo St', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:22,013 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,047 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,050 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,052 INFO sqlalchemy.engine.base.Engine (1913708, '2021-01-27', 'California', 'Santa Ana', '1614 S Standard Ave', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:22,057 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,080 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,084 INFO sqlalchemy.engine.base.Engine (1911026, '2021-01-25', 'District of Columbia', 'Washington', '1406 Good Hope Rd SE', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:22,088 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,113 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,117 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,119 INFO sqlalchemy.engine.base.Engine (1910136, '2021-01-24', 'Indiana', 'Indianapolis', '3540 Adams St', 5, 1, 38.5979369, -121.42762739999999)
2021-05-05 20:51:22,122 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,144 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,150 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,151 INFO sqlalchemy.engine.base.Engine (1910619, '2021-01-24', 'Nevada', 'Las Vegas', 'W Wilson Ave and H St', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:22,157 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:22,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,187 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,190 INFO sqlalchemy.engine.base.Engine (1909849, '2021-01-22', 'Kentucky', 'Covington', '217 E Martin Luther King Jr Blvd', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:22,195 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,221 INFO sqlalchemy.engine.base.Engine (1908542, '2021-01-21', 'California', 'Oakland', '107th Ave and Apricot St', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:22,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,254 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,260 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,262 INFO sqlalchemy.engine.base.Engine (1905423, '2021-01-18', 'Pennsylvania', 'Tobyhanna', '960 PA-196', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:22,267 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,309 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,312 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,314 INFO sqlalchemy.engine.base.Engine (1904063, '2021-01-17', 'Arizona', 'Phoenix', '2340 W Northern Ave', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:22,317 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,338 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,341 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,344 INFO sqlalchemy.engine.base.Engine (1904036, '2021-01-17', 'Arizona', 'Phoenix', '2236 E University Dr', 1, 6, 36.7565424, -119.7711186)
2021-05-05 20:51:22,349 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,370 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,372 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,374 INFO sqlalchemy.engine.base.Engine (1905360, '2021-01-16', 'Illinois', 'Kankakee', '600 block of N Evergreen Ave', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:22,379 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,404 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,412 INFO sqlalchemy.engine.base.Engine (1903058, '2021-01-15', 'Pennsylvania', 'Philadelphia', '5000 block of N 10th St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:22,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,440 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,443 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,445 INFO sqlalchemy.engine.base.Engine (1899819, '2021-01-11', 'Florida', 'Miami', '2491 NE 58th St', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:22,449 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,484 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,485 INFO sqlalchemy.engine.base.Engine (1898261, '2021-01-09', 'Illinois', 'Evanston', '100 Asbury Ave', 6, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:51:22,491 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,516 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,517 INFO sqlalchemy.engine.base.Engine (1897878, '2021-01-09', 'Texas', 'Houston', '5828 Martin Luther King Blvd', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:22,522 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,552 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,561 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,563 INFO sqlalchemy.engine.base.Engine (1896774, '2021-01-07', 'District of Columbia', 'Washington', '1300 block of Columbia Rd NW', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:22,568 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,590 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,594 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,596 INFO sqlalchemy.engine.base.Engine (1896384, '2021-01-06', 'Texas', 'Livingston', '201 Maple Ln', 2, 2, 48.461627899999996, -122.3386173)
2021-05-05 20:51:22,601 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,627 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,630 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,631 INFO sqlalchemy.engine.base.Engine (1896252, '2021-01-06', 'Virginia', 'Manassas', '10010 Ellis Rd', 3, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:22,646 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,672 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,675 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,686 INFO sqlalchemy.engine.base.Engine (1894822, '2021-01-04', 'Louisiana', 'New Orleans', '1600 block of N Galvez St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:22,697 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,731 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,734 INFO sqlalchemy.engine.base.Engine (1894979, '2021-01-04', 'Florida', 'Tampa', '1225 S 78th St', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:22,741 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,768 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:22,772 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,777 INFO sqlalchemy.engine.base.Engine (1894941, '2021-01-04', 'Florida', 'Fort Lauderdale (Lauderhill)', '1828 NW 38th Ave', 0, 7, 37.7194881, -122.425285)
2021-05-05 20:51:22,782 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,810 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,812 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,814 INFO sqlalchemy.engine.base.Engine (1893953, '2021-01-03', 'Oregon', 'Gresham', 'NE 181st Ave and NE San Rafael St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:22,818 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,841 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,846 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,850 INFO sqlalchemy.engine.base.Engine (1893327, '2021-01-03', 'Texas', 'Houston', '2900 Travis St', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:22,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,889 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,892 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,895 INFO sqlalchemy.engine.base.Engine (1893754, '2021-01-03', 'Florida', 'Miami', '3632 NW 25th Ave', 0, 6, 42.2699348, -88.96278009999997)
2021-05-05 20:51:22,899 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,925 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,927 INFO sqlalchemy.engine.base.Engine (1893601, '2021-01-03', 'Louisiana', 'Shreveport', '6900 block of Jewella Ave', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:22,937 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:22,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:22,970 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:22,972 INFO sqlalchemy.engine.base.Engine (1893877, '2021-01-03', 'California', 'Santa Barbara', '1200 block of Liberty St', 2, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:22,979 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,012 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,019 INFO sqlalchemy.engine.base.Engine (1893744, '2021-01-03', 'Florida', 'Miami', '10525 NW 24th Ave', 0, 8, 41.872262, -87.69373)
2021-05-05 20:51:23,027 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,051 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,054 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,057 INFO sqlalchemy.engine.base.Engine (1892034, '2021-01-01', 'Arkansas', 'Fort Smith', '3211 Towson Ave', 0, 7, 42.91211149999999, -85.62301)
2021-05-05 20:51:23,063 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,087 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,091 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,093 INFO sqlalchemy.engine.base.Engine (1892704, '2021-01-01', 'Texas', 'Amarillo', '2650 Dumas Dr', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:23,100 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,132 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,134 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,136 INFO sqlalchemy.engine.base.Engine (1892114, '2021-01-01', 'Iowa', 'Sioux City', '2637 S Walker St', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:23,139 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,160 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,165 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,167 INFO sqlalchemy.engine.base.Engine (1891720, '2021-01-01', 'Illinois', 'Galesburg', '1000 block of Monroe St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:23,171 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,197 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,200 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,204 INFO sqlalchemy.engine.base.Engine (1891461, '2020-12-31', 'Indiana', 'Indianapolis', '8215 Center Run Road', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:23,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,236 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,240 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,244 INFO sqlalchemy.engine.base.Engine (1890946, '2020-12-31', 'Oregon', 'Happy Valley', '9200 block of SE Idleman Rd', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:23,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,268 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,271 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,275 INFO sqlalchemy.engine.base.Engine (1886974, '2020-12-26', 'Illinois', 'Rockford', '4007 E State St', 3, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:51:23,281 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,305 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,307 INFO sqlalchemy.engine.base.Engine (1886913, '2020-12-26', 'Florida', 'Tampa', 'N 20th St and E 7th Ave', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:51:23,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,333 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,335 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:23,336 INFO sqlalchemy.engine.base.Engine (1887059, '2020-12-26', 'Massachusetts', 'Lynn', 'Washington St and Quincy Ter', 1, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:23,340 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,362 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,364 INFO sqlalchemy.engine.base.Engine (1886849, '2020-12-26', 'Florida', 'Miami', 'NW 61st St and NW 13th Ave', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:23,381 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,402 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,404 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,405 INFO sqlalchemy.engine.base.Engine (1886372, '2020-12-25', 'Florida', 'Boynton Beach', 'Martin Luther King Jr Blvd and N Seacrest Blvd', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:23,410 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,445 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,451 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,452 INFO sqlalchemy.engine.base.Engine (1886721, '2020-12-25', 'Arkansas', 'Atkins', '5180 Pine Ridge Rd', 5, 0, 29.723582699999998, -95.4421156)
2021-05-05 20:51:23,456 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,478 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,481 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,483 INFO sqlalchemy.engine.base.Engine (1886141, '2020-12-24', 'Florida', 'Lakeland', '1500 block of Amos Ave', 1, 4, 40.110245, -88.2353849)
2021-05-05 20:51:23,488 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,514 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,520 INFO sqlalchemy.engine.base.Engine (1885251, '2020-12-22', 'Mississippi', 'Meridian', 'Jeffrey Acres Rd', 5, 0, 39.3048255, -76.6081873)
2021-05-05 20:51:23,525 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,545 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,547 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,549 INFO sqlalchemy.engine.base.Engine (1882214, '2020-12-20', 'Connecticut', 'Bridgeport', '456 Connecticut Ave', 2, 2, 48.461627899999996, -122.3386173)
2021-05-05 20:51:23,555 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,577 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,579 INFO sqlalchemy.engine.base.Engine (1881213, '2020-12-19', 'Illinois', 'Chicago', '8936 S Cottage Grove Ave', 0, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:51:23,583 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,602 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,605 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,608 INFO sqlalchemy.engine.base.Engine (1876727, '2020-12-13', 'West Virginia', 'Elkview', '1384 Cemetery Hill Dr', 4, 0, 36.1450958, -96.0023638)
2021-05-05 20:51:23,614 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,634 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,638 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,640 INFO sqlalchemy.engine.base.Engine (1877043, '2020-12-12', 'California', 'San Bernardino', '900 block of N Sierra Way', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:23,645 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,668 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,671 INFO sqlalchemy.engine.base.Engine (1876231, '2020-12-12', 'New York', 'Copiague', '2336 Great Neck Rd', 2, 2, 37.7194881, -122.425285)
2021-05-05 20:51:23,678 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,701 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,708 INFO sqlalchemy.engine.base.Engine (1876039, '2020-12-12', 'New York', 'Brooklyn', '574 Warren St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:23,714 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,740 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,745 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,750 INFO sqlalchemy.engine.base.Engine (1876552, '2020-12-12', 'Maryland', 'Hyattsville (Landover)', '8600 block of Old Ardmore Rd', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:51:23,757 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,786 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,791 INFO sqlalchemy.engine.base.Engine (1877628, '2020-12-10', 'Georgia', 'Tifton', '700 block of 17 1/2 St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:23,800 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,830 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,834 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,836 INFO sqlalchemy.engine.base.Engine (1877122, '2020-12-10', 'Mississippi', 'Jackson', '1805 Hospital Dr', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:23,841 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,863 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,866 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,868 INFO sqlalchemy.engine.base.Engine (1908063, '2020-12-08', 'West Virginia', 'Williamsburg', '611 Flynns Creek Rd', 6, 0, 41.88387900000001, -87.7085187)

2021-05-05 20:51:23,872 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,894 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,897 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,899 INFO sqlalchemy.engine.base.Engine (1873798, '2020-12-08', 'Louisiana', 'Lacombe', '28399 Palmer Dr', 2, 3, 41.872262, -87.69373)
2021-05-05 20:51:23,910 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,931 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,934 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,936 INFO sqlalchemy.engine.base.Engine (1870827, '2020-12-06', 'Texas', 'Venus', '6100 N FM 157', 0, 6, 42.91211149999999, -85.62301)
2021-05-05 20:51:23,940 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,965 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,968 INFO sqlalchemy.engine.base.Engine (1871627, '2020-12-05', 'California', 'Hayward', '25000 block of Eldridge Ave', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:23,974 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:23,992 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:23,994 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:23,996 INFO sqlalchemy.engine.base.Engine (1870840, '2020-12-05', 'North Carolina', 'Autryville', '10101 Gip Rd', 0, 6, 40.6327104, -74.0271053)
2021-05-05 20:51:24,004 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,023 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,026 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,029 INFO sqlalchemy.engine.base.Engine (1869748, '2020-12-04', 'Illinois', 'Chicago', '4400 block of W Adams St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:24,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,060 INFO sqlalchemy.engine.base.Engine (1867006, '2020-12-01', 'Pennsylvania', 'Morrisville', '1 Makefield Rd', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:24,064 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,090 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,092 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,094 INFO sqlalchemy.engine.base.Engine (1866100, '2020-11-30', 'Alaska', 'Palmer', '335 N Valley Way', 4, 0, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:24,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,141 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,143 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,145 INFO sqlalchemy.engine.base.Engine (1864683, '2020-11-29', 'Mississippi', 'Grenada', 'Highway 8 East', 0, 11, 41.032132700000005, -87.5381426)
2021-05-05 20:51:24,150 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,260 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,262 INFO sqlalchemy.engine.base.Engine (1865110, '2020-11-29', 'Tennessee', 'Memphis', '3492 W Metropolitan Cir', 2, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:24,269 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,381 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,384 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,387 INFO sqlalchemy.engine.base.Engine (1863726, '2020-11-28', 'South Carolina', 'Aiken', '1695 Richland Ave E', 1, 10, 37.7849319, -122.4129481)
2021-05-05 20:51:24,392 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,439 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,440 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,441 INFO sqlalchemy.engine.base.Engine (1864205, '2020-11-28', 'South Carolina', 'Conway', '3800 block of Golden Key Rd', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:24,447 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,474 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,478 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,480 INFO sqlalchemy.engine.base.Engine (1864177, '2020-11-28', 'Louisiana', 'New Orleans', '7001 Lawrence Rd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:24,485 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,509 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,511 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,514 INFO sqlalchemy.engine.base.Engine (1862947, '2020-11-27', 'Georgia', 'Macon', '425 Cherry St', 1, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:51:24,522 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,548 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,553 INFO sqlalchemy.engine.base.Engine (1863099, '2020-11-27', 'Ohio', 'Toledo', '3257 Stickney Ave', 0, 6, 40.110245, -88.2353849)
2021-05-05 20:51:24,560 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,586 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,587 INFO sqlalchemy.engine.base.Engine (1862603, '2020-11-26', 'Nevada', 'Henderson', '870 E Lake Mead Pkwy', 1, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:24,592 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,616 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:24,619 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,622 INFO sqlalchemy.engine.base.Engine (1859110, '2020-11-22', 'New Jersey', 'Trenton', 'Stuyvesant Ave and Hoffman Ave', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:24,628 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,648 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,651 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,653 INFO sqlalchemy.engine.base.Engine (1859390, '2020-11-22', 'New York', 'Brooklyn', '15 Albany Ave', 1, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:51:24,657 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,677 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,680 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,681 INFO sqlalchemy.engine.base.Engine (1858455, '2020-11-22', 'Illinois', 'Chicago', '700 block of E 101st St', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:24,689 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,712 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,714 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,716 INFO sqlalchemy.engine.base.Engine (1859186, '2020-11-22', 'Louisiana', 'New Orleans', '9232 Chef Menteur Hwy', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:24,720 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,745 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,748 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,749 INFO sqlalchemy.engine.base.Engine (1857439, '2020-11-21', 'Illinois', 'Chicago', 'W 79th St and S Justine St', 0, 6, 37.7194881, -122.425285)
2021-05-05 20:51:24,753 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,773 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,774 INFO sqlalchemy.engine.base.Engine (1857947, '2020-11-21', 'Arizona', 'Phoenix', '35th Ave and Earll Dr', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:24,781 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,802 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,804 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,805 INFO sqlalchemy.engine.base.Engine (1858965, '2020-11-21', 'Nebraska', 'Bellevue', '1307 Cornhusker Rd', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:51:24,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,840 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,843 INFO sqlalchemy.engine.base.Engine (1857040, '2020-11-20', 'Wisconsin', 'Milwaukee (Wauwatosa)', '2500 N Mayfair Rd', 0, 8, 42.2699348, -88.96278009999997)
2021-05-05 20:51:24,849 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,875 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,878 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,881 INFO sqlalchemy.engine.base.Engine (1856417, '2020-11-19', 'Florida', 'Haines City', '422 N 15th St', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:24,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,921 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,923 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,927 INFO sqlalchemy.engine.base.Engine (1855276, '2020-11-18', 'Texas', 'Houston', '11614 Manor Park Dr', 3, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:24,930 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:24,955 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:24,962 INFO sqlalchemy.engine.base.Engine (1856338, '2020-11-18', 'South Carolina', 'Florence', '500 block of Gaillard St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:24,966 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:24,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,005 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,007 INFO sqlalchemy.engine.base.Engine (1854207, '2020-11-17', 'Tennessee', 'Jackson', 'Honey Bear Cove', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:25,013 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,034 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,036 INFO sqlalchemy.engine.base.Engine (1854149, '2020-11-16', 'Florida', 'Miami', '200 block of S Biscayne River Dr', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:25,044 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,073 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,079 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,084 INFO sqlalchemy.engine.base.Engine (1853615, '2020-11-16', 'Illinois', 'Chicago', '700 block of S Pulaski Rd', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:25,089 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,116 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,119 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,121 INFO sqlalchemy.engine.base.Engine (1854076, '2020-11-16', 'Illinois', 'Chicago', '2700 block of S State St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:25,129 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,162 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:25,165 INFO sqlalchemy.engine.base.Engine (1852831, '2020-11-15', 'Louisiana', 'Shreveport', '300 block of Douglas St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:25,169 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,204 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,208 INFO sqlalchemy.engine.base.Engine (1853089, '2020-11-15', 'Georgia', 'Jonesboro', 'Museum Cir', 2, 2, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:25,213 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,237 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,239 INFO sqlalchemy.engine.base.Engine (1852604, '2020-11-14', 'South Carolina', 'Sumter', '1008 Marilyn Ave', 3, 1, 41.032132700000005, -87.5381426)
2021-05-05 20:51:25,243 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,267 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,269 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,271 INFO sqlalchemy.engine.base.Engine (1852853, '2020-11-14', 'Missouri', 'Fulton', '1915 N Bluff St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:25,277 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,310 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,313 INFO sqlalchemy.engine.base.Engine (1852161, '2020-11-14', 'Ohio', 'Cincinnati', '400 block of Kings Run Dr', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:25,319 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,341 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,343 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,348 INFO sqlalchemy.engine.base.Engine (1852363, '2020-11-14', 'California', 'Riverside', 'La Sierra Avenue and Tin Mine Road', 2, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:25,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,382 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,390 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,394 INFO sqlalchemy.engine.base.Engine (1850981, '2020-11-12', 'Florida', 'Tampa', '1200 block of E Palifox St', 2, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:25,398 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,420 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,423 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,428 INFO sqlalchemy.engine.base.Engine (1850693, '2020-11-12', 'North Carolina', 'Gastonia', '1225 Union Rd', 0, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:51:25,435 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,467 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,469 INFO sqlalchemy.engine.base.Engine (1849308, '2020-11-10', 'Florida', 'Tampa', 'N 50th St and Sligh Ave', 1, 7, 40.110245, -88.2353849)
2021-05-05 20:51:25,475 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,495 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,499 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,501 INFO sqlalchemy.engine.base.Engine (1847840, '2020-11-09', 'Texas', 'Fort Worth', '5310 E Rosedale St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:25,504 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,538 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,540 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,542 INFO sqlalchemy.engine.base.Engine (1846712, '2020-11-08', 'Virginia', 'Virginia Beach', '3700 block of Whitney Ct', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:25,547 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,570 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,574 INFO sqlalchemy.engine.base.Engine (1846494, '2020-11-08', 'Tennessee', 'Nashville', '2nd Ave N and Commerce St', 0, 8, 39.9854586, -75.08588999999998)
2021-05-05 20:51:25,584 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,619 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,622 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,624 INFO sqlalchemy.engine.base.Engine (1846764, '2020-11-07', 'Kansas', 'Ogden', '225 Riley Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:25,630 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,658 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,660 INFO sqlalchemy.engine.base.Engine (1845690, '2020-11-07', 'South Carolina', 'Rock Hill', '241 Albright Rd', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:25,664 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,689 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,691 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,693 INFO sqlalchemy.engine.base.Engine (1845477, '2020-11-06', 'Louisiana', 'New Orleans', '8622 Belfast St', 2, 2, 37.7194881, -122.425285)
2021-05-05 20:51:25,697 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,719 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,727 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,729 INFO sqlalchemy.engine.base.Engine (1844573, '2020-11-05', 'Ohio', 'Toledo', '2125 Parkwood Ave', 3, 2, 41.7718443, -87.67278499999998)

2021-05-05 20:51:25,733 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,753 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,756 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,758 INFO sqlalchemy.engine.base.Engine (1843360, '2020-11-04', 'Missouri', 'Jefferson City', '1299 Lafayette St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:25,762 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,786 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,787 INFO sqlalchemy.engine.base.Engine (1842362, '2020-11-03', 'Nevada', 'Henderson', '1445 Stonelake Cove Ave', 4, 1, 42.2699348, -88.96278009999997)
2021-05-05 20:51:25,791 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,811 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,814 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,821 INFO sqlalchemy.engine.base.Engine (1842421, '2020-11-02', 'Ohio', 'Mansfield', '136 Sturges Ave', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:25,826 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,844 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,846 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,848 INFO sqlalchemy.engine.base.Engine (1840534, '2020-11-01', 'South Carolina', 'Hollywood', '7800 block of White Point Rd', 0, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:51:25,852 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,879 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,884 INFO sqlalchemy.engine.base.Engine (1840265, '2020-11-01', 'Indiana', 'Evansville', '664 E Illinois St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:25,888 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,921 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,922 INFO sqlalchemy.engine.base.Engine (1840364, '2020-11-01', 'Oklahoma', 'Oklahoma City', '10601 S Western Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:25,927 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,946 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,948 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,949 INFO sqlalchemy.engine.base.Engine (1841432, '2020-11-01', 'North Carolina', 'Winston Salem (Winston-salem)', '3900 block of Glen Hi Rd', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:25,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:25,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:25,977 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:25,979 INFO sqlalchemy.engine.base.Engine (1840600, '2020-11-01', 'Arizona', 'Tucson', '2500 block of E Aerospace Parkway', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:51:25,984 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,011 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,014 INFO sqlalchemy.engine.base.Engine (1840310, '2020-11-01', 'New Jersey', 'Atlantic City', '2721 Arctic Ave', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:26,018 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,050 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,056 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,058 INFO sqlalchemy.engine.base.Engine (1839628, '2020-10-31', 'California', 'Sacramento', '2800 block of Normington Dr', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:26,062 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,095 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,098 INFO sqlalchemy.engine.base.Engine (1839576, '2020-10-31', 'Washington', 'Sumner', '127th Ave E and Valley Ave E', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:26,104 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,131 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,134 INFO sqlalchemy.engine.base.Engine (1839462, '2020-10-31', 'California', 'Anaheim', '1210 S State College Blvd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:26,140 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,169 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,171 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,172 INFO sqlalchemy.engine.base.Engine (1840544, '2020-10-31', 'Nevada', 'North Las Vegas', '3700 block of Iverson Ln', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:26,179 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,206 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,213 INFO sqlalchemy.engine.base.Engine (1840041, '2020-10-31', 'Maryland', 'College Park', '7700 Baltimore Ave', 0, 7, 37.7849319, -122.4129481)
2021-05-05 20:51:26,219 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,242 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,244 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,246 INFO sqlalchemy.engine.base.Engine (1839112, '2020-10-30', 'Maryland', 'Waldorf', '2177 Crain Hwy', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:26,253 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:26,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,277 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,278 INFO sqlalchemy.engine.base.Engine (1839065, '2020-10-30', 'Illinois', 'Chicago', '11613 S Vincennes Ave', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:26,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,319 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,325 INFO sqlalchemy.engine.base.Engine (1838368, '2020-10-29', 'Florida', 'Winter Garden', 'Center St and 11th St', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:26,333 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,357 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,361 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,364 INFO sqlalchemy.engine.base.Engine (1837146, '2020-10-28', 'Virginia', 'Roanoke', '1400 block of Rorer Ave SW', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:26,377 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,401 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,414 INFO sqlalchemy.engine.base.Engine (1837429, '2020-10-28', 'New Jersey', 'Newark', '381 S 6th St', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:26,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,442 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,444 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,446 INFO sqlalchemy.engine.base.Engine (1834216, '2020-10-25', 'Texas', 'Fort Worth', '1900 block of Carver Ave', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:26,449 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,473 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,477 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,479 INFO sqlalchemy.engine.base.Engine (1835030, '2020-10-25', 'Texas', 'San Antonio', '2800 block of W Hutchins Pl', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:26,483 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,504 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,506 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,509 INFO sqlalchemy.engine.base.Engine (1834280, '2020-10-25', 'North Carolina', 'Raleigh', '1731 Trawick Rd', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:26,514 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,538 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,541 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,544 INFO sqlalchemy.engine.base.Engine (1834617, '2020-10-24', 'Mississippi', 'Greenwood', 'W Martin Luther King Dr', 2, 8, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:26,550 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,580 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,581 INFO sqlalchemy.engine.base.Engine (1832014, '2020-10-22', 'Florida', 'Miami', '1830 NW 50 St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:26,586 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,610 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,612 INFO sqlalchemy.engine.base.Engine (1832977, '2020-10-22', 'Louisiana', 'Rayne', 'I-10', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:26,616 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,639 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,641 INFO sqlalchemy.engine.base.Engine (1831995, '2020-10-22', 'Massachusetts', 'Boston', 'Columbia Rd and Stanwood St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:26,649 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,672 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,675 INFO sqlalchemy.engine.base.Engine (1831091, '2020-10-22', 'Maryland', 'Baltimore', '500 block of W Franklin St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:26,680 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,703 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,705 INFO sqlalchemy.engine.base.Engine (1830875, '2020-10-21', 'New York', 'Brooklyn', 'Nostrand Ave and Hawthorne St', 1, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:26,712 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,732 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,733 INFO sqlalchemy.engine.base.Engine (1830822, '2020-10-21', 'Mississippi', 'Canton', '1427 W Peace St', 2, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:26,737 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,760 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,760 INFO sqlalchemy.engine.base.Engine (1830092, '2020-10-20', 'Texas', 'Houston', '2117 Chenevert St', 3, 1, 41.872262, -87.69373)
2021-05-05 20:51:26,765 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,784 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,786 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:26,787 INFO sqlalchemy.engine.base.Engine (1829132, '2020-10-19', 'Ohio', 'Mansfield', '136 Sturges Ave', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:26,791 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,814 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,818 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,820 INFO sqlalchemy.engine.base.Engine (1828796, '2020-10-19', 'Louisiana', 'New Orleans', '2599 N Prieur St', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:26,823 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,844 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,847 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,850 INFO sqlalchemy.engine.base.Engine (1827437, '2020-10-18', 'Maryland', 'Annapolis', '100 block of Clay St', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:26,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,872 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,874 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,879 INFO sqlalchemy.engine.base.Engine (1828080, '2020-10-18', 'Illinois', 'Chicago', '200 block of N Sacramento Blvd', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:26,889 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,918 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,921 INFO sqlalchemy.engine.base.Engine (1828019, '2020-10-18', 'Tennessee', 'Nashville', '1100 block of W Grove Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:26,928 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,949 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,952 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,957 INFO sqlalchemy.engine.base.Engine (1826680, '2020-10-17', 'New York', 'Lockport', '43 S Niagara St', 1, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:26,964 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:26,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:26,996 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:26,999 INFO sqlalchemy.engine.base.Engine (1826613, '2020-10-17', 'South Carolina', 'Rock Hill', '524 N Anderson Rd', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:27,004 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,026 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,028 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,030 INFO sqlalchemy.engine.base.Engine (1826444, '2020-10-16', 'California', 'San Jose', '175 S Capitol Ave', 2, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:27,034 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,070 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,072 INFO sqlalchemy.engine.base.Engine (1825525, '2020-10-16', 'Florida', 'Orlando', '2000 block of N Forsyth Rd', 3, 1, 37.7849319, -122.4129481)
2021-05-05 20:51:27,077 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,097 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,099 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,102 INFO sqlalchemy.engine.base.Engine (1826655, '2020-10-16', 'Arizona', 'Mesa', '2115 Guadalupe Rd', 1, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:27,107 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,144 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,147 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,149 INFO sqlalchemy.engine.base.Engine (1826675, '2020-10-16', 'California', 'San Francisco', '200 block of Scherwin St', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:27,154 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,197 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,199 INFO sqlalchemy.engine.base.Engine (1824979, '2020-10-15', 'Louisiana', 'Lafayette', '100 block of Laser Ln', 2, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:51:27,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,222 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,225 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,227 INFO sqlalchemy.engine.base.Engine (1825896, '2020-10-15', 'Maryland', 'Baltimore', '2900 block of Westwood Ave', 0, 7, 40.110245, -88.2353849)
2021-05-05 20:51:27,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,262 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,267 INFO sqlalchemy.engine.base.Engine (1824073, '2020-10-14', 'Pennsylvania', 'Philadelphia', '3900 block of Buist Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:27,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,297 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,299 INFO sqlalchemy.engine.base.Engine (1821574, '2020-10-12', 'South Carolina', 'Myrtle Beach', '1012 US-501', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:27,305 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,331 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,338 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,340 INFO sqlalchemy.engine.base.Engine (1821496, '2020-10-11', 'Georgia', 'Atlanta', '330 W Peachtree St NW', 0, 4, 39.9854586, -75.08588999999998)

2021-05-05 20:51:27,346 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,374 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,379 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,380 INFO sqlalchemy.engine.base.Engine (1820156, '2020-10-10', 'Illinois', 'Chicago', '100 block of S Keeler Ave', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:27,384 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,419 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,422 INFO sqlalchemy.engine.base.Engine (1823101, '2020-10-10', 'South Carolina', 'Kingstree', '55 Williamsburg County Hwy', 0, 8, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:27,430 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,449 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,452 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,456 INFO sqlalchemy.engine.base.Engine (1819955, '2020-10-10', 'Missouri', 'Saint Louis (Jennings)', '8800 block of Shannon Fox Cir', 2, 2, 37.7194881, -122.425285)
2021-05-05 20:51:27,464 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,489 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,492 INFO sqlalchemy.engine.base.Engine (1818055, '2020-10-08', 'Pennsylvania', 'Philadelphia', '4935 Frankford Ave', 1, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:51:27,496 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,520 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,521 INFO sqlalchemy.engine.base.Engine (1816799, '2020-10-07', 'Alaska', 'Anchorage', '200 block of McCarrey St', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:27,527 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,548 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,552 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,554 INFO sqlalchemy.engine.base.Engine (1817184, '2020-10-07', 'New York', 'Brooklyn', '181 Hegeman Ave', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:27,564 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,587 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,589 INFO sqlalchemy.engine.base.Engine (1815308, '2020-10-05', 'District of Columbia', 'Washington', '400 block of Orange St SE', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:27,593 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,629 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,630 INFO sqlalchemy.engine.base.Engine (1813872, '2020-10-04', 'Indiana', 'Indianapolis', '5462 Massachusetts Ave', 3, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:27,634 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,656 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,664 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,668 INFO sqlalchemy.engine.base.Engine (1814148, '2020-10-04', 'Georgia', 'Atlanta', '1570 Joseph E Boone Blvd NW', 1, 5, 41.872262, -87.69373)
2021-05-05 20:51:27,677 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,703 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,706 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,708 INFO sqlalchemy.engine.base.Engine (1813306, '2020-10-03', 'Tennessee', 'Clarksville', '100 block of Tiny Town Rd', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:27,712 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,737 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,739 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,740 INFO sqlalchemy.engine.base.Engine (1813583, '2020-10-03', 'California', 'Sacramento', 'Roanoke Ave and Haywood St', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:27,746 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,769 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,772 INFO sqlalchemy.engine.base.Engine (1812972, '2020-10-02', 'California', 'Los Angeles', '51st St and Hoover St', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:27,780 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,809 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,812 INFO sqlalchemy.engine.base.Engine (1812838, '2020-10-02', 'Washington', 'Seattle', '9700 block of 59th Ave S', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:27,819 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,845 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,848 INFO sqlalchemy.engine.base.Engine (1812049, '2020-10-01', 'Michigan', 'Detroit', '15018 Houston Whittier St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:27,853 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,876 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,879 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,880 INFO sqlalchemy.engine.base.Engine (1810696, '2020-09-30', 'North Carolina', 'Greensboro', '700 block of Milton St', 0, 4, 29.398441499999997, -98.50429240000001)

2021-05-05 20:51:27,884 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,909 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,910 INFO sqlalchemy.engine.base.Engine (1810881, '2020-09-30', 'Florida', 'Jacksonville', '12517 Beach Blvd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:27,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,941 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,942 INFO sqlalchemy.engine.base.Engine (1810358, '2020-09-30', 'Wisconsin', 'Milwaukee', '4217 W Fond du Lac Ave', 0, 7, 36.7565424, -119.7711186)
2021-05-05 20:51:27,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:27,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:27,970 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:27,972 INFO sqlalchemy.engine.base.Engine (1809910, '2020-09-29', 'Pennsylvania', 'Philadelphia', '4500 block of N 19th St', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:27,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,001 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,004 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,006 INFO sqlalchemy.engine.base.Engine (1809484, '2020-09-29', 'Ohio', 'Painesville', '100 block of Morse Ave', 2, 2, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:28,011 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,033 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,034 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,035 INFO sqlalchemy.engine.base.Engine (1807325, '2020-09-28', 'Michigan', 'Detroit', '6609 Michigan Ave', 0, 6, 30.0216391, -95.3123538)
2021-05-05 20:51:28,039 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,061 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,062 INFO sqlalchemy.engine.base.Engine (1806806, '2020-09-27', 'Ohio', 'Sandusky', 'Hancock St and Neil St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:28,069 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,089 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,090 INFO sqlalchemy.engine.base.Engine (1808628, '2020-09-27', 'California', 'San Bernardino', '900 block of N Sierra Way', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:28,095 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,122 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,122 INFO sqlalchemy.engine.base.Engine (1807096, '2020-09-27', 'Tennessee', 'Nashville', '619 Millwood Dr', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:28,127 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,153 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,155 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,157 INFO sqlalchemy.engine.base.Engine (1807046, '2020-09-26', 'Pennsylvania', 'Philadelphia', '100 block of N Lindenwood St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:28,162 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,188 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,196 INFO sqlalchemy.engine.base.Engine (1806035, '2020-09-26', 'Alabama', 'Enterprise', '507 Glover Ave', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:28,200 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,231 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,234 INFO sqlalchemy.engine.base.Engine (1806002, '2020-09-26', 'Iowa', 'Waterloo', '501 W 4th St', 2, 6, 36.1450958, -96.0023638)
2021-05-05 20:51:28,248 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,278 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,280 INFO sqlalchemy.engine.base.Engine (1805722, '2020-09-26', 'Illinois', 'Chicago', '2400 block of W Lithuanian Plaza Ct', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:28,313 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,377 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,378 INFO sqlalchemy.engine.base.Engine (1806368, '2020-09-26', 'Missouri', 'Saint Louis', '4700 block of Vernon Ave', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:28,384 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,405 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,410 INFO sqlalchemy.engine.base.Engine (1806500, '2020-09-25', 'Pennsylvania', 'Philadelphia', '1300 block of Sanger St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:28,414 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,436 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,447 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,448 INFO sqlalchemy.engine.base.Engine (1804511, '2020-09-23', 'Georgia', 'Hampton', '1577 Glynn Ct', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:28,455 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,484 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,489 INFO sqlalchemy.engine.base.Engine (1802862, '2020-09-23', 'Minnesota', 'Minneapolis', '200 W Broadway Ave', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:28,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,517 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,518 INFO sqlalchemy.engine.base.Engine (1800886, '2020-09-21', 'Ohio', 'Struthers', '111 Perry St', 1, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:28,522 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,544 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,547 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,548 INFO sqlalchemy.engine.base.Engine (1800549, '2020-09-20', 'New York', 'Corona (Queens)', 'Merrick Blvd and Foch Blvd', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:28,552 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,578 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,580 INFO sqlalchemy.engine.base.Engine (1800514, '2020-09-20', 'Connecticut', 'Stamford', 'Ursula Pl and Dale St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:28,586 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,611 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,612 INFO sqlalchemy.engine.base.Engine (1800026, '2020-09-19', 'New York', 'Buffalo', 'Glenwood Ave and Jefferson Ave', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:28,617 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,645 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,649 INFO sqlalchemy.engine.base.Engine (1799748, '2020-09-19', 'Illinois', 'Chicago', '12200 block of S May St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:28,653 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,675 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,677 INFO sqlalchemy.engine.base.Engine (1799703, '2020-09-19', 'Illinois', 'Chicago', '6900 block of S Claremont Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:28,681 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,704 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,705 INFO sqlalchemy.engine.base.Engine (1800188, '2020-09-19', 'New Jersey', 'Plainfield', '523 W 3rd St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:28,710 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,736 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,738 INFO sqlalchemy.engine.base.Engine (1799307, '2020-09-19', 'New York', 'Rochester', '278 Pennsylvania Ave', 2, 14, 44.98847429999999, -93.2549796)
2021-05-05 20:51:28,745 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,769 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,771 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,772 INFO sqlalchemy.engine.base.Engine (1800192, '2020-09-19', 'New Jersey', 'Paterson', 'Elizabeth St and Getty Ave', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:28,778 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,797 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,799 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,800 INFO sqlalchemy.engine.base.Engine (1800779, '2020-09-19', 'Arkansas', 'West Memphis', '900 block of Winchell St', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:28,806 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,827 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,829 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,830 INFO sqlalchemy.engine.base.Engine (1799160, '2020-09-18', 'Arkansas', 'Little Rock', '5311 Mabelvale Pike', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:28,833 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,857 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,859 INFO sqlalchemy.engine.base.Engine (1797620, '2020-09-16', 'Pennsylvania', 'Philadelphia', '1800 Wallace St', 2, 3, 37.7849319, -122.4129481)
2021-05-05 20:51:28,864 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,892 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,896 INFO sqlalchemy.engine.base.Engine (1796684, '2020-09-15', 'California', 'San Jose', '600 block of S 8th St', 2, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:28,901 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:28,927 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,930 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,934 INFO sqlalchemy.engine.base.Engine (1796638, '2020-09-15', 'Illinois', 'Chicago', '3500 block of W Lawrence Ave', 0, 5, 30.0216391, -95.3123538)
2021-05-05 20:51:28,941 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:28,970 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:28,974 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:28,978 INFO sqlalchemy.engine.base.Engine (1795391, '2020-09-14', 'Louisiana', 'Baker', 'Burgess Dr', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:28,984 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,003 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,006 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,007 INFO sqlalchemy.engine.base.Engine (1794138, '2020-09-13', 'Tennessee', 'Manchester', 'I-24 and McMinnville Hwy', 3, 3, 40.110245, -88.2353849)
2021-05-05 20:51:29,011 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,038 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,041 INFO sqlalchemy.engine.base.Engine (1793826, '2020-09-13', 'Michigan', 'Grand Rapids', '3950 Stahl Dr SE', 0, 7, 39.3048255, -76.6081873)
2021-05-05 20:51:29,047 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,072 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,076 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,077 INFO sqlalchemy.engine.base.Engine (1793559, '2020-09-13', 'Florida', 'Tampa', '5110 N 40th St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:29,081 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,108 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,111 INFO sqlalchemy.engine.base.Engine (1794086, '2020-09-13', 'Illinois', 'Chicago', '6100 block of S Throop St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:29,117 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,140 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,144 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,146 INFO sqlalchemy.engine.base.Engine (1793521, '2020-09-13', 'New Jersey', 'New Brunswick', '32 Delafield St', 2, 7, 36.1450958, -96.0023638)
2021-05-05 20:51:29,151 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,172 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,176 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,177 INFO sqlalchemy.engine.base.Engine (1792650, '2020-09-12', 'Illinois', 'Chicago', '100 block of N Pine Ave', 2, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:29,183 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,232 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,236 INFO sqlalchemy.engine.base.Engine (1793680, '2020-09-12', 'North Carolina', 'Wilson', '200 block of Dewey St', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:29,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,268 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,270 INFO sqlalchemy.engine.base.Engine (1793771, '2020-09-12', 'Pennsylvania', 'Philadelphia', 'N 18th St and Dauphin St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:29,276 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,298 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,301 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,303 INFO sqlalchemy.engine.base.Engine (1792624, '2020-09-11', 'Louisiana', 'Donaldsonville', 'St Elizabeth St and Front St', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:29,307 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,328 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,330 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,334 INFO sqlalchemy.engine.base.Engine (1791482, '2020-09-10', 'Louisiana', 'New Orleans', '4100 block of Rayne Dr', 3, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:29,339 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,361 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,363 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,366 INFO sqlalchemy.engine.base.Engine (1788401, '2020-09-08', 'Maryland', 'Baltimore', '2300 block of Greenmount Ave', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:29,370 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,392 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,397 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,399 INFO sqlalchemy.engine.base.Engine (1788168, '2020-09-07', 'Louisiana', 'New Orleans', '1500 block of Freret St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:29,403 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,430 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,432 INFO sqlalchemy.engine.base.Engine (1787655, '2020-09-07', 'New York', 'Brooklyn', 'Norstrand Ave and Crown St', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:29,436 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,462 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,464 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,465 INFO sqlalchemy.engine.base.Engine (1788352, '2020-09-07', 'California', 'Aguanga', '45125 Highway 371', 7, 0, 42.91211149999999, -85.62301)
2021-05-05 20:51:29,470 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,490 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,492 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,493 INFO sqlalchemy.engine.base.Engine (1787222, '2020-09-07', 'Indiana', 'Indianapolis', 'W 38th St and Graceland Ave', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:29,498 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,532 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,533 INFO sqlalchemy.engine.base.Engine (1786855, '2020-09-06', 'Georgia', 'Sparta', 'Faye St and Lee St', 1, 6, 40.6327104, -74.0271053)
2021-05-05 20:51:29,538 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,560 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,561 INFO sqlalchemy.engine.base.Engine (1786920, '2020-09-06', 'Illinois', 'Chicago', 'S Kingston Ave and E 77th St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:29,565 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,585 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,591 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,595 INFO sqlalchemy.engine.base.Engine (1787977, '2020-09-06', 'Tennessee', 'Memphis', '6555 Lost Oak Dr', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:29,599 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,628 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,638 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,640 INFO sqlalchemy.engine.base.Engine (1786829, '2020-09-06', 'Colorado', 'Commerce City', '6700 block of Birch St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:29,648 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,669 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,671 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,673 INFO sqlalchemy.engine.base.Engine (1787286, '2020-09-06', 'Missouri', 'Kansas City', '3999 Swope Pkwy', 0, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:29,687 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,721 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,725 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,737 INFO sqlalchemy.engine.base.Engine (1786890, '2020-09-06', 'Missouri', 'Saint Louis', '5700 block of Minerva Ave', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:29,747 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,770 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,774 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,777 INFO sqlalchemy.engine.base.Engine (1787006, '2020-09-06', 'Louisiana', 'New Iberia', '1752 Center St', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:29,781 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,809 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,810 INFO sqlalchemy.engine.base.Engine (1787387, '2020-09-06', 'Maryland', 'Baltimore', '4900 block of Reisterstown Rd', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:29,815 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,841 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,843 INFO sqlalchemy.engine.base.Engine (1786488, '2020-09-05', 'Texas', 'Houston', '9940 Fondren Rd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:29,847 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,869 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,871 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,876 INFO sqlalchemy.engine.base.Engine (1786449, '2020-09-05', 'Maryland', 'Baltimore', '2000 block of W Lexington St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:29,881 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,905 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,908 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,910 INFO sqlalchemy.engine.base.Engine (1785713, '2020-09-05', 'Florida', 'Williston', 'Co Rd 318 and US-27 Alt', 0, 6, 40.110245, -88.2353849)
2021-05-05 20:51:29,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,935 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,938 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,939 INFO sqlalchemy.engine.base.Engine (1786806, '2020-09-05', 'Arkansas', 'Little Rock', '400 President Clinton Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:29,945 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,964 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,969 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,970 INFO sqlalchemy.engine.base.Engine (1805455, '2020-09-03', 'South Carolina', 'Anderson', 'R St and Chase Ave', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:29,975 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:29,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:29,997 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:29,999 INFO sqlalchemy.engine.base.Engine (1785358, '2020-09-03', 'Florida', 'Miami', '2000 block of NW 71st St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:30,003 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:30,023 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,027 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,029 INFO sqlalchemy.engine.base.Engine (1784570, '2020-09-03', 'Arkansas', 'Hensley', 'Woodson Lateral Rd and I-530', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:30,033 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,054 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,059 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,061 INFO sqlalchemy.engine.base.Engine (1785108, '2020-09-03', 'Pennsylvania', 'Philadelphia', '700 block of E Chelten Ave', 0, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:30,066 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,092 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,095 INFO sqlalchemy.engine.base.Engine (1785593, '2020-09-03', 'Arkansas', 'Little Rock', '19 Nandina Cir', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:30,102 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,139 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,142 INFO sqlalchemy.engine.base.Engine (1783582, '2020-09-02', 'Pennsylvania', 'Philadelphia', '1800 block of Moore St', 2, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:51:30,148 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,170 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,172 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,173 INFO sqlalchemy.engine.base.Engine (1784141, '2020-09-02', 'Georgia', 'Albany', '1400 block of E Residence Ave', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:30,179 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,205 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,207 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,210 INFO sqlalchemy.engine.base.Engine (1783928, '2020-09-02', 'California', 'Oakland', 'Kerwin Ave and 105th Ave', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:30,215 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,238 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,240 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,242 INFO sqlalchemy.engine.base.Engine (1825993, '2020-08-31', 'Pennsylvania', 'Philadelphia', '1500 block of W Clearfield St', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:30,250 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,277 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,280 INFO sqlalchemy.engine.base.Engine (1782962, '2020-08-31', 'Florida', 'Tallahassee', '2660 Old Bainbridge Rd', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:30,285 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,316 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,318 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,321 INFO sqlalchemy.engine.base.Engine (1780301, '2020-08-30', 'Kentucky', 'Lexington', '545 N Upper St', 0, 7, 41.872262, -87.69373)
2021-05-05 20:51:30,327 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,347 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,352 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,355 INFO sqlalchemy.engine.base.Engine (1780199, '2020-08-30', 'Illinois', 'Zion', '2300 block of Joppa Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:30,361 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,383 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,385 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,387 INFO sqlalchemy.engine.base.Engine (1780266, '2020-08-30', 'Texas', 'San Antonio', 'S Olive St and Aransas Ave', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:51:30,394 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,414 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,417 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,418 INFO sqlalchemy.engine.base.Engine (1779981, '2020-08-30', 'New York', 'Buffalo', '500 block of Fillmore Ave', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:30,422 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,451 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,457 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,464 INFO sqlalchemy.engine.base.Engine (1784122, '2020-08-30', 'Pennsylvania', 'Philadelphia', '5317 Oxford Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:30,470 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,495 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,500 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,503 INFO sqlalchemy.engine.base.Engine (1779718, '2020-08-30', 'Illinois', 'Chicago', '11601 S Western Ave', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:30,510 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,533 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,535 INFO sqlalchemy.engine.base.Engine (1780091, '2020-08-30', 'Kentucky', 'Madisonville', '400 block of Elm St', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:30,539 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,562 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,565 INFO sqlalchemy.engine.base.Engine (1780228, '2020-08-29', 'Nevada', 'Las Vegas', '777 E Twain Ave', 2, 2, 41.032132700000005, -87.5381426)
2021-05-05 20:51:30,570 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,596 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,599 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,601 INFO sqlalchemy.engine.base.Engine (1778571, '2020-08-29', 'Illinois', 'Rock Island', '1800 2nd Ave', 1, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:30,607 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,635 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,637 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,638 INFO sqlalchemy.engine.base.Engine (1778435, '2020-08-28', 'Minnesota', 'Minneapolis', '2400 block of Irving Ave N', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:30,644 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,669 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,672 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,675 INFO sqlalchemy.engine.base.Engine (1778542, '2020-08-28', 'Pennsylvania', 'Chester', '2900 block of W 2nd St', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:30,679 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,698 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,702 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,704 INFO sqlalchemy.engine.base.Engine (1779023, '2020-08-28', 'Texas', 'Dallas', '2600 block of Elm St', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:30,709 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,729 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,732 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,738 INFO sqlalchemy.engine.base.Engine (1777607, '2020-08-27', 'Oregon', 'Portland', '10500 block of NE Halsey St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:30,743 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,763 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,768 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,770 INFO sqlalchemy.engine.base.Engine (1777180, '2020-08-26', 'Michigan', 'Pontiac', '252 Carriage Circle Dr', 3, 1, 40.110245, -88.2353849)
2021-05-05 20:51:30,775 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,796 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,798 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,800 INFO sqlalchemy.engine.base.Engine (1776905, '2020-08-26', 'South Carolina', 'Hilton Head Island', 'Muddy Creek Rd and Spanish Wells Rd', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:30,804 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,830 INFO sqlalchemy.engine.base.Engine (1777400, '2020-08-26', 'Pennsylvania', 'Philadelphia', '5500 block of Chew Ave', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:30,836 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,856 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,858 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,858 INFO sqlalchemy.engine.base.Engine (1776189, '2020-08-25', 'Virginia', 'Norfolk', '800 block of E Princess Anne Rd', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:30,863 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,882 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,885 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,886 INFO sqlalchemy.engine.base.Engine (1775249, '2020-08-25', 'New York', 'Rochester', '70 block of Flower St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:30,891 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,918 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,920 INFO sqlalchemy.engine.base.Engine (1774123, '2020-08-24', 'Michigan', 'Detroit', '11938 E McNichols Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:30,925 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,946 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,949 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,950 INFO sqlalchemy.engine.base.Engine (1773194, '2020-08-24', 'California', 'Sacramento', '1200 block of Helena Ave', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:30,955 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:30,978 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:30,980 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:30,981 INFO sqlalchemy.engine.base.Engine (1774138, '2020-08-24', 'Florida', 'West Palm Beach', '1000 block of 18th St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:30,988 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,015 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,017 INFO sqlalchemy.engine.base.Engine (1773996, '2020-08-24', 'Virginia', 'Richmond', '2300 block of Bethel St', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:31,020 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:31,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,043 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,044 INFO sqlalchemy.engine.base.Engine (1772623, '2020-08-23', 'Arkansas', 'Pine Bluff', '2901 W 28th Ave', 0, 7, 42.2699348, -88.96278009999997)
2021-05-05 20:51:31,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,072 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,075 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,076 INFO sqlalchemy.engine.base.Engine (1772513, '2020-08-23', 'New York', 'Brooklyn', '2946 W 23rd St', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:31,080 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,100 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,102 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,104 INFO sqlalchemy.engine.base.Engine (1772680, '2020-08-23', 'Tennessee', 'Somerville', '1100 block of Brewer Rd', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:31,110 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,132 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,134 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,136 INFO sqlalchemy.engine.base.Engine (1772934, '2020-08-23', 'Colorado', 'Pueblo', '2000 block of Longhorn Point', 0, 6, 41.872262, -87.69373)
2021-05-05 20:51:31,142 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,163 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,166 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,168 INFO sqlalchemy.engine.base.Engine (1772438, '2020-08-23', 'Illinois', 'Champaign', '100 block of Kenwood Rd', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:31,172 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,197 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,199 INFO sqlalchemy.engine.base.Engine (1773006, '2020-08-23', 'Illinois', 'Chicago', '6600 S Halsted St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:31,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,226 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,228 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,236 INFO sqlalchemy.engine.base.Engine (1772764, '2020-08-22', 'Illinois', 'Rockford', '1300 block of 10th St', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:31,243 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,279 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,281 INFO sqlalchemy.engine.base.Engine (1772174, '2020-08-22', 'Alabama', 'Bessemer (Hueytown)', 'Allison Bonnet Memorial Dr and Rutledge Dr', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:31,286 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,308 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,310 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,311 INFO sqlalchemy.engine.base.Engine (1769444, '2020-08-19', 'Pennsylvania', 'Philadelphia', '700 block of S 55th St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:31,316 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,338 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,341 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,342 INFO sqlalchemy.engine.base.Engine (1769489, '2020-08-19', 'Illinois', 'Chicago', '8500 block of S Parnell Ave', 0, 6, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:31,346 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,367 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,369 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,371 INFO sqlalchemy.engine.base.Engine (1768125, '2020-08-18', 'Pennsylvania', 'Philadelphia', '30th St and Cumberland St', 1, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:31,377 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,400 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,402 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,402 INFO sqlalchemy.engine.base.Engine (1767851, '2020-08-18', 'New York', 'Corona (Queens)', '35-35 21st St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:31,409 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,429 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,432 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,434 INFO sqlalchemy.engine.base.Engine (1767747, '2020-08-18', 'Illinois', 'Rockford', '3001 Harney Ct', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:31,438 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,457 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,460 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,461 INFO sqlalchemy.engine.base.Engine (1768683, '2020-08-17', 'Ohio', 'Cleveland', 'Dove Ave and E 102nd St', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:31,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,492 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,494 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,497 INFO sqlalchemy.engine.base.Engine (1766574, '2020-08-17', 'New York', 'Brooklyn', 'Atlantic Ave and Hinsdale St', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:31,501 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,525 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,528 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,529 INFO sqlalchemy.engine.base.Engine (1767402, '2020-08-17', 'Texas', 'Dayton', 'County Rd 4901', 3, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:51:31,533 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,560 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,562 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,564 INFO sqlalchemy.engine.base.Engine (1765624, '2020-08-16', 'Ohio', 'Cincinnati', '700 block of Chalfonte Pl', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:31,569 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,591 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,592 INFO sqlalchemy.engine.base.Engine (1765636, '2020-08-16', 'Ohio', 'Cincinnati', '70 E McMicken Ave', 2, 9, 39.3048255, -76.6081873)
2021-05-05 20:51:31,599 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,621 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,622 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,625 INFO sqlalchemy.engine.base.Engine (1765658, '2020-08-16', 'Kentucky', 'Lexington', '1000 block of Newtown Ct', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:31,630 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,653 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,655 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,658 INFO sqlalchemy.engine.base.Engine (1766423, '2020-08-16', 'Ohio', 'Cincinnati', '700 block of Chalfonte Pl', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:31,662 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,685 INFO sqlalchemy.engine.base.Engine (1766380, '2020-08-16', 'Colorado', 'Denver', 'W Alameda Ave and S Federal Blvd', 2, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:31,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,716 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,718 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,719 INFO sqlalchemy.engine.base.Engine (1765920, '2020-08-16', 'Oklahoma', 'Oklahoma City', 'SW 59th St and Agnew Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:31,724 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,745 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,748 INFO sqlalchemy.engine.base.Engine (1765336, '2020-08-15', 'Michigan', 'Belleville', '24914 Martinsville Rd', 4, 0, 37.7194881, -122.425285)
2021-05-05 20:51:31,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,798 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,808 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,810 INFO sqlalchemy.engine.base.Engine (1765499, '2020-08-15', 'Pennsylvania', 'Philadelphia', 'N 10th St and Brown St', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:31,817 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,841 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,844 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,845 INFO sqlalchemy.engine.base.Engine (1765890, '2020-08-15', 'New York', 'Rochester', '501 Thurston Rd', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:31,849 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,870 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,873 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,875 INFO sqlalchemy.engine.base.Engine (1765705, '2020-08-15', 'Connecticut', 'New Haven', 'Rosette St and Hurlburt St', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:31,879 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,900 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,904 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,906 INFO sqlalchemy.engine.base.Engine (1764756, '2020-08-15', 'Alabama', 'Troy', '4100 US-231 S', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:31,910 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,929 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,931 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,934 INFO sqlalchemy.engine.base.Engine (1764619, '2020-08-14', 'New York', 'New York (Manhattan)', '111 Lenox Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:31,938 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,958 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,959 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,960 INFO sqlalchemy.engine.base.Engine (1762951, '2020-08-12', 'New Jersey', 'Newark', 'N 12th St', 1, 4, 41.872262, -87.69373)
2021-05-05 20:51:31,964 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:31,985 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:31,988 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:31,990 INFO sqlalchemy.engine.base.Engine (1762997, '2020-08-12', 'Ohio', 'Dayton', '2049 Catalpa Dr', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:31,994 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,016 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,018 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:32,020 INFO sqlalchemy.engine.base.Engine (1761557, '2020-08-11', 'California', 'Torrance', '22904 Lockness Ave', 0, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:32,026 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,047 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,050 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,052 INFO sqlalchemy.engine.base.Engine (1759873, '2020-08-09', 'Colorado', 'Denver', '1400 block of W Byers Pl', 0, 9, 40.6327104, -74.0271053)
2021-05-05 20:51:32,057 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,079 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,080 INFO sqlalchemy.engine.base.Engine (1759779, '2020-08-09', 'Ohio', 'Toledo', 'Monroe St and N Detroit Ave', 0, 6, 29.9673972, -90.1018231)
2021-05-05 20:51:32,086 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,107 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,109 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,110 INFO sqlalchemy.engine.base.Engine (1758966, '2020-08-09', 'District of Columbia', 'Washington', '3300 block of Dubois Pl SE', 1, 21, 44.98847429999999, -93.2549796)
2021-05-05 20:51:32,117 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,136 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,137 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,138 INFO sqlalchemy.engine.base.Engine (1760207, '2020-08-09', 'Mississippi', 'Jackson', '3600 block of Cromwell St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:32,144 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,165 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,167 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,168 INFO sqlalchemy.engine.base.Engine (1760261, '2020-08-09', 'Texas', 'Houston', '9700 Homestead Rd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:32,171 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,193 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,195 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,198 INFO sqlalchemy.engine.base.Engine (1759425, '2020-08-08', 'Kentucky', 'Paducah', '900 block of Boyd St', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:32,204 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,222 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,225 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,227 INFO sqlalchemy.engine.base.Engine (1758838, '2020-08-08', 'Pennsylvania', 'Philadelphia', '1101 N 38th St', 0, 6, 37.7849319, -122.4129481)
2021-05-05 20:51:32,231 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,251 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,253 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,256 INFO sqlalchemy.engine.base.Engine (1759439, '2020-08-08', 'Massachusetts', 'Brockton', '124 Laureston St', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:32,261 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,282 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,284 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,285 INFO sqlalchemy.engine.base.Engine (1759237, '2020-08-08', 'Alabama', 'Birmingham (Ensley)', '426 18th St', 1, 5, 30.0216391, -95.3123538)
2021-05-05 20:51:32,291 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,313 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,316 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,320 INFO sqlalchemy.engine.base.Engine (1758774, '2020-08-08', 'New York', 'Albany', 'First St and Quail St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:32,325 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,346 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,348 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,350 INFO sqlalchemy.engine.base.Engine (1757380, '2020-08-06', 'California', 'Oakland', '4500 block of Fairfax Ave', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:32,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,378 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,380 INFO sqlalchemy.engine.base.Engine (1756248, '2020-08-05', 'Illinois', 'Chicago', '700 block of S Karlov Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:32,385 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,411 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,414 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,416 INFO sqlalchemy.engine.base.Engine (1755566, '2020-08-04', 'Wisconsin', 'Madison', '333 S Rosa Rd', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:32,420 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,443 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,445 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,446 INFO sqlalchemy.engine.base.Engine (1755297, '2020-08-04', 'District of Columbia', 'Washington', '5400 block of Georgia Ave NW', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:32,450 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,470 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,473 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,475 INFO sqlalchemy.engine.base.Engine (1754613, '2020-08-04', 'California', 'Beverly Hills', '13200 Mulholland Dr', 1, 4, 36.1450958, -96.0023638)

2021-05-05 20:51:32,479 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,500 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,502 INFO sqlalchemy.engine.base.Engine (1754640, '2020-08-04', 'Missouri', 'Saint Louis', '5300 block of Bircher Blvd', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:32,506 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,525 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,527 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,529 INFO sqlalchemy.engine.base.Engine (1754672, '2020-08-04', 'Connecticut', 'Hartford', '818 Windsor St', 1, 5, 37.7194881, -122.425285)
2021-05-05 20:51:32,532 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,562 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,568 INFO sqlalchemy.engine.base.Engine (1754363, '2020-08-03', 'New York', 'Bronx', "450 St Ann's Ave", 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:32,572 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,596 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,598 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,600 INFO sqlalchemy.engine.base.Engine (1753320, '2020-08-02', 'Pennsylvania', 'Philadelphia', '3100 block of Weymouth St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:32,604 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,631 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,635 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,639 INFO sqlalchemy.engine.base.Engine (1753561, '2020-08-02', 'New Jersey', 'Newark', '200 block of 6th Ave', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:32,645 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,672 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,672 INFO sqlalchemy.engine.base.Engine (1752100, '2020-08-01', 'Illinois', 'Chicago', '100 block of N Laporte Ave', 1, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:32,678 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,703 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,705 INFO sqlalchemy.engine.base.Engine (1753235, '2020-08-01', 'Texas', 'Pointblank', '4411 Counts Rd', 2, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:32,710 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,735 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,736 INFO sqlalchemy.engine.base.Engine (1751949, '2020-08-01', 'Colorado', 'Denver', '3000 block of W Virginia Ave', 1, 4, 41.872262, -87.69373)
2021-05-05 20:51:32,742 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,762 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,764 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,765 INFO sqlalchemy.engine.base.Engine (1752790, '2020-08-01', 'Alabama', 'Montgomery', '1100 block of Eastern Blvd', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:32,772 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,794 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,796 INFO sqlalchemy.engine.base.Engine (1752019, '2020-07-31', 'Pennsylvania', 'Philadelphia', '2500 block of Ingersoll St', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:51:32,802 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,824 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,826 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,827 INFO sqlalchemy.engine.base.Engine (1750548, '2020-07-30', 'Florida', 'Miami Gardens', '16701 NW 42 Ave', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:32,831 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,854 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,855 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,859 INFO sqlalchemy.engine.base.Engine (1750611, '2020-07-30', 'Florida', 'Tampa', 'I-275 and Westshore Blvd', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:32,863 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,884 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,886 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,887 INFO sqlalchemy.engine.base.Engine (1750250, '2020-07-29', 'Michigan', 'Detroit', '5200 block of Canton St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:32,892 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,913 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,915 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,917 INFO sqlalchemy.engine.base.Engine (1749873, '2020-07-29', 'Ohio', 'Elyria', '537 Willow Park Rd', 5, 0, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:32,920 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:32,942 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,943 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,944 INFO sqlalchemy.engine.base.Engine (1749746, '2020-07-29', 'Missouri', 'Saint Louis', '5500 block of Floy Ave', 3, 2, 41.032132700000005, -87.5381426)
2021-05-05 20:51:32,948 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:32,970 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:32,974 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:32,977 INFO sqlalchemy.engine.base.Engine (1749281, '2020-07-28', 'Delaware', 'Wilmington', '1100 block of Beech St', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:51:32,981 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,005 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,008 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,009 INFO sqlalchemy.engine.base.Engine (1749535, '2020-07-28', 'Wisconsin', 'Milwaukee', '2600 block of W Atkinson Ave', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:33,014 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,040 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,042 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,044 INFO sqlalchemy.engine.base.Engine (1748134, '2020-07-27', 'Washington', 'Federal Way', '2410 S 312th St', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:33,048 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,079 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,081 INFO sqlalchemy.engine.base.Engine (1747700, '2020-07-27', 'Illinois', 'Chicago', '705 E 92nd Pl', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:33,097 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,130 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,133 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,135 INFO sqlalchemy.engine.base.Engine (1746441, '2020-07-26', 'Michigan', 'Flint', '4462 Corunna Rd', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:33,151 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,181 INFO sqlalchemy.engine.base.Engine (1746658, '2020-07-26', 'Texas', 'Mount Enterprise', '1039 FM 1798', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:33,185 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,207 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,210 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,213 INFO sqlalchemy.engine.base.Engine (1746282, '2020-07-26', 'Kentucky', 'Louisville', 'I-64', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:33,218 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,248 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,250 INFO sqlalchemy.engine.base.Engine (1746417, '2020-07-26', 'Colorado', 'Commerce City', '6300 block of Ivanhoe St', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:33,253 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,276 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,278 INFO sqlalchemy.engine.base.Engine (1748023, '2020-07-26', 'Arkansas', 'Magnolia', '1000 block of W Monroe St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:33,324 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,344 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,346 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,350 INFO sqlalchemy.engine.base.Engine (1746582, '2020-07-25', 'Michigan', 'Flint', '4813 Clio Rd', 0, 6, 36.1450958, -96.0023638)
2021-05-05 20:51:33,354 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,372 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,374 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,377 INFO sqlalchemy.engine.base.Engine (1745903, '2020-07-25', 'North Carolina', 'Raleigh', '503 Bragg St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:33,380 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,401 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,403 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,405 INFO sqlalchemy.engine.base.Engine (1746160, '2020-07-25', 'Florida', 'Miami', '2900 block of Northwest 51st St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:33,410 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,431 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,434 INFO sqlalchemy.engine.base.Engine (1746430, '2020-07-25', 'Colorado', 'Denver', 'East 33rd Ave and Hudson St', 2, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:33,437 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,460 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,462 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,463 INFO sqlalchemy.engine.base.Engine (1746674, '2020-07-25', 'Texas', 'Dallas', '525 S Riverfront Blvd', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:33,467 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,492 INFO sqlalchemy.engine.base.Engine (1745737, '2020-07-25', 'California', 'Manteca', '4447 Woodward Ave', 0, 7, 42.2699348, -88.96278009999997)
2021-05-05 20:51:33,497 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,516 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:33,518 INFO sqlalchemy.engine.base.Engine (1744407, '2020-07-24', 'Georgia', 'Atlanta', 'Sunset Ave NW and Lester St NW', 2, 2, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:33,526 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,548 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,550 INFO sqlalchemy.engine.base.Engine (1743168, '2020-07-23', 'Virginia', 'Fairfield', '3700 block of Meadowbridge Rd', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:33,554 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,576 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,578 INFO sqlalchemy.engine.base.Engine (1743488, '2020-07-23', 'Virginia', 'Petersburg', 'Wesley St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:33,584 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,604 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,605 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,607 INFO sqlalchemy.engine.base.Engine (1744332, '2020-07-23', 'Illinois', 'Chicago', '120th St and Prairie Ave', 2, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:33,613 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,641 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,642 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,644 INFO sqlalchemy.engine.base.Engine (1743108, '2020-07-22', 'Michigan', 'Warren', '28200 block of Lawson St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:33,649 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,676 INFO sqlalchemy.engine.base.Engine (1741838, '2020-07-21', 'Illinois', 'Chicago', '1018 W 79th St', 0, 15, 40.6327104, -74.0271053)
2021-05-05 20:51:33,680 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,703 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,707 INFO sqlalchemy.engine.base.Engine (1740533, '2020-07-20', 'Virginia', 'Richmond', '6850 Forest Hill Ave', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:33,711 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,729 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,731 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,734 INFO sqlalchemy.engine.base.Engine (1740615, '2020-07-20', 'Illinois', 'Chicago', 'S Lawndale Ave and W Douglas Blvd', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:33,738 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,762 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,765 INFO sqlalchemy.engine.base.Engine (1739920, '2020-07-19', 'Michigan', 'Detroit', 'McKinney St and Meuse St', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:33,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,791 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,793 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,794 INFO sqlalchemy.engine.base.Engine (1739434, '2020-07-19', 'Illinois', 'Peoria', 'NE Water St and Hamilton Blvd', 0, 13, 41.032132700000005, -87.5381426)
2021-05-05 20:51:33,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,817 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,819 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,821 INFO sqlalchemy.engine.base.Engine (1739571, '2020-07-19', 'Nebraska', 'Omaha', '28th St and T Ave', 0, 8, 36.7565424, -119.7711186)
2021-05-05 20:51:33,826 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,858 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,860 INFO sqlalchemy.engine.base.Engine (1740013, '2020-07-19', 'Illinois', 'Chicago', '11300 block of South Carpenter St', 2, 3, 37.7849319, -122.4129481)
2021-05-05 20:51:33,867 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,895 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,898 INFO sqlalchemy.engine.base.Engine (1739658, '2020-07-19', 'District of Columbia', 'Washington', '3600 block of 14th St NW', 1, 8, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:33,902 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,921 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,924 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,926 INFO sqlalchemy.engine.base.Engine (1739917, '2020-07-19', 'Michigan', 'Detroit', '9122 Dexter Ave', 4, 0, 30.0216391, -95.3123538)
2021-05-05 20:51:33,931 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,952 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,954 INFO sqlalchemy.engine.base.Engine (1738635, '2020-07-18', 'Illinois', 'Chicago', '1600 block of S Keeler Ave', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:33,958 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:33,988 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:33,991 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:33,994 INFO sqlalchemy.engine.base.Engine (1739097, '2020-07-17', 'Ohio', 'Columbus', 'E 6th Ave and Summit St', 0, 4, 40.110245, -88.2353849)

2021-05-05 20:51:33,998 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,024 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,027 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,029 INFO sqlalchemy.engine.base.Engine (1739413, '2020-07-17', 'Florida', 'Madison', 'SW Louisiana Terrace', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:34,034 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,055 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,059 INFO sqlalchemy.engine.base.Engine (1736508, '2020-07-16', 'Tennessee', 'Nashville', 'S 7th St and Sylvan St', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:34,066 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,086 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,087 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,088 INFO sqlalchemy.engine.base.Engine (1736383, '2020-07-15', 'Louisiana', 'Shreveport', '6725 Buncombe Rd', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:34,093 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,115 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,117 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,118 INFO sqlalchemy.engine.base.Engine (1735326, '2020-07-15', 'New York', 'Brooklyn', 'President St and Franklin Ave', 1, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:34,124 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,145 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,147 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,150 INFO sqlalchemy.engine.base.Engine (1735573, '2020-07-14', 'Missouri', 'Saint Joseph', 'S 18th St and Charles St', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:34,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,173 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,176 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,178 INFO sqlalchemy.engine.base.Engine (1735470, '2020-07-14', 'North Carolina', 'Durham', '200 Block of S Benjamine St', 0, 8, 37.7194881, -122.425285)
2021-05-05 20:51:34,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,207 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,208 INFO sqlalchemy.engine.base.Engine (1733702, '2020-07-13', 'New York', 'Brooklyn', 'Remsen Ave', 0, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:51:34,212 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,238 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,241 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,243 INFO sqlalchemy.engine.base.Engine (1734064, '2020-07-13', 'Kentucky', 'Louisville', '1200 block of W Hill St', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:34,247 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,269 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,271 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,274 INFO sqlalchemy.engine.base.Engine (1734058, '2020-07-13', 'Washington', 'Kent', '23201 Pacific Hwy South', 0, 6, 42.2699348, -88.96278009999997)
2021-05-05 20:51:34,278 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,298 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,299 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,301 INFO sqlalchemy.engine.base.Engine (1732485, '2020-07-12', 'Louisiana', 'Baton Rouge', '4718 Plank Rd', 1, 7, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:34,305 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,328 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,330 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,331 INFO sqlalchemy.engine.base.Engine (1732993, '2020-07-12', 'New York', 'Brooklyn', 'Madison St and Marcus Garvey Blvd', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:34,335 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,364 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,368 INFO sqlalchemy.engine.base.Engine (1732688, '2020-07-12', 'Michigan', 'Lansing', '3029 BeauJardin Dr', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:34,377 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,412 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,416 INFO sqlalchemy.engine.base.Engine (1732365, '2020-07-12', 'Florida', 'Fort Lauderdale', '3000 block of NW 12th Ct', 2, 2, 42.91211149999999, -85.62301)
2021-05-05 20:51:34,421 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,442 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,448 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,450 INFO sqlalchemy.engine.base.Engine (1733188, '2020-07-12', 'Illinois', 'Chicago', '700 block of W 66th Pl', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:34,454 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,478 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,481 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,483 INFO sqlalchemy.engine.base.Engine (1732229, '2020-07-12', 'Illinois', 'Chicago', '1100 block of N Lawndale Ave', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:34,487 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,511 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,513 INFO sqlalchemy.engine.base.Engine (1732532, '2020-07-12', 'Mississippi', 'Como', '2965 Hunter Chapel Road', 2, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:34,518 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,552 INFO sqlalchemy.engine.base.Engine (1731349, '2020-07-11', 'New York', 'Rochester', '485 N Clinton Ave', 0, 6, 44.98847429999999, -93.2549796)
2021-05-05 20:51:34,556 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,579 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,582 INFO sqlalchemy.engine.base.Engine (1732321, '2020-07-11', 'Delaware', 'Wilmington', '600 block of N Pine St', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:34,586 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,609 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,611 INFO sqlalchemy.engine.base.Engine (1727743, '2020-07-07', 'Virginia', 'Alexandria', '7900 block of Janna Lee Ave', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:34,614 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,635 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,636 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,638 INFO sqlalchemy.engine.base.Engine (1728683, '2020-07-07', 'New Jersey', 'Paterson', 'Harrison St and Carroll St', 4, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:34,643 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,668 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,669 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,670 INFO sqlalchemy.engine.base.Engine (1727567, '2020-07-06', 'Illinois', 'Chicago', '1305 W 76th St', 0, 6, 37.7849319, -122.4129481)
2021-05-05 20:51:34,677 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,698 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,700 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,702 INFO sqlalchemy.engine.base.Engine (1725883, '2020-07-05', 'Illinois', 'Chicago', '3700 block of W Jackson Blvd', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:34,705 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,727 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,729 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,730 INFO sqlalchemy.engine.base.Engine (1725802, '2020-07-05', 'Iowa', 'Davenport', '1000 block of W 3rd St', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:34,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,760 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,763 INFO sqlalchemy.engine.base.Engine (1725167, '2020-07-05', 'New York', 'New York (Manhattan)', '549 Academy St', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:51:34,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,793 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,795 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,797 INFO sqlalchemy.engine.base.Engine (1725108, '2020-07-05', 'South Carolina', 'Greenville', '1701 White Horse Rd', 2, 8, 40.110245, -88.2353849)
2021-05-05 20:51:34,804 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,828 INFO sqlalchemy.engine.base.Engine (1726770, '2020-07-05', 'Arkansas', 'Helena', '1317 Perry St', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:34,833 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,859 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,861 INFO sqlalchemy.engine.base.Engine (1725690, '2020-07-05', 'Georgia', 'Atlanta', '200 block of Auburn Ave', 2, 13, 48.461627899999996, -122.3386173)
2021-05-05 20:51:34,866 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,890 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,894 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,897 INFO sqlalchemy.engine.base.Engine (1725946, '2020-07-05', 'Missouri', 'Columbia', 'Volunteer Dr and Grace Ln', 2, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:34,902 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,931 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,934 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,936 INFO sqlalchemy.engine.base.Engine (1725379, '2020-07-05', 'Wisconsin', 'Milwaukee', '5800 block of W Hope Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:34,940 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:34,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,965 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,968 INFO sqlalchemy.engine.base.Engine (1726446, '2020-07-05', 'Texas', 'Houston', 'Service Rd and Holcombe Blvd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:34,972 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:34,992 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:34,995 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:34,998 INFO sqlalchemy.engine.base.Engine (1725327, '2020-07-05', 'Maryland', 'Cambridge', '700 block of Weaver Ave', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:35,001 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,034 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,035 INFO sqlalchemy.engine.base.Engine (1725145, '2020-07-05', 'Illinois', 'Chicago', '1500 block of S Millard Ave', 1, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:35,040 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,063 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,066 INFO sqlalchemy.engine.base.Engine (1725635, '2020-07-05', 'Pennsylvania', 'Ephrata', '6 Blackberry Ln', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:35,079 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,117 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,120 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,121 INFO sqlalchemy.engine.base.Engine (1726034, '2020-07-05', 'Illinois', 'Freeport', '900 block of S Carroll Ave', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:35,126 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,146 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,148 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,149 INFO sqlalchemy.engine.base.Engine (1727515, '2020-07-05', 'Mississippi', 'Greenville', 'Union St', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:35,154 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,175 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,177 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,178 INFO sqlalchemy.engine.base.Engine (1725571, '2020-07-05', 'Michigan', 'Detroit', 'San Juan Dr and W McNichols Rd', 2, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:35,182 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,203 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,205 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,207 INFO sqlalchemy.engine.base.Engine (1725025, '2020-07-04', 'Maryland', 'Temple Hills (Marlow Heights)', '4600 Dallas Pl', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:35,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,232 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,235 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,237 INFO sqlalchemy.engine.base.Engine (1725670, '2020-07-04', 'Georgia', 'Atlanta', '1600 block of Lakewood Ave', 0, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:35,240 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,268 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,271 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,274 INFO sqlalchemy.engine.base.Engine (1725407, '2020-07-04', 'Massachusetts', 'Lynn', '134 Fayette St', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:35,279 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,302 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,304 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,305 INFO sqlalchemy.engine.base.Engine (1725098, '2020-07-04', 'Illinois', 'Chicago', '8300 block of S Kingston Ave', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:35,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,331 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,332 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,334 INFO sqlalchemy.engine.base.Engine (1725081, '2020-07-04', 'Illinois', 'Chicago', '6100 block of S Carpenter St', 4, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:35,339 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,359 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,361 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,362 INFO sqlalchemy.engine.base.Engine (1724887, '2020-07-04', 'Louisiana', 'Baton Rouge', '11300 block of Greenwell Springs Rd', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:35,367 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,394 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,397 INFO sqlalchemy.engine.base.Engine (1724219, '2020-07-04', 'Mississippi', 'Jackson', '6340 Ridgewood Ct Dr', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:51:35,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,424 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,426 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,428 INFO sqlalchemy.engine.base.Engine (1723897, '2020-07-03', 'Alabama', 'Birmingham (Hoover)', '2000 Riverchase Galleria', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:35,431 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,454 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,457 INFO sqlalchemy.engine.base.Engine (1724273, '2020-07-03', 'Maryland', 'Baltimore', '700 block of S Woodington Rd', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:35,461 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,482 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:35,485 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,488 INFO sqlalchemy.engine.base.Engine (1723184, '2020-07-02', 'California', 'Delano', '2100 block of Oleander St', 2, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:35,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,517 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,518 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,520 INFO sqlalchemy.engine.base.Engine (1723352, '2020-07-02', 'Massachusetts', 'Somerville', '5 River Rd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:35,525 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,545 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,551 INFO sqlalchemy.engine.base.Engine (1722839, '2020-07-02', 'New Jersey', 'Paterson', 'N Main St and Jefferson St', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:35,555 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,579 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,589 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,592 INFO sqlalchemy.engine.base.Engine (1722142, '2020-07-01', 'California', 'Oakland', 'MacArthur Fwy and 106th Ave', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:35,599 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,624 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,628 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,630 INFO sqlalchemy.engine.base.Engine (1729506, '2020-07-01', 'Louisiana', 'Lake Charles', '1600 block of Moss St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:35,638 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,669 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,671 INFO sqlalchemy.engine.base.Engine (1721964, '2020-06-30', 'Iowa', 'Davenport', '1400 block of Pershing Ave', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:35,677 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,705 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,709 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,711 INFO sqlalchemy.engine.base.Engine (1720781, '2020-06-30', 'Georgia', 'Atlanta', 'Parkway Dr', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:35,715 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,738 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,744 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,746 INFO sqlalchemy.engine.base.Engine (1721669, '2020-06-30', 'Massachusetts', 'Boston', '14 Circuit St', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:35,751 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,770 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,778 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,780 INFO sqlalchemy.engine.base.Engine (1720761, '2020-06-30', 'Illinois', 'Chicago', '350 W Chicago Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:35,804 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,841 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,844 INFO sqlalchemy.engine.base.Engine (1721572, '2020-06-30', 'Ohio', 'Dayton', '3500 block of Stanford Pl', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:35,848 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,869 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,871 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,874 INFO sqlalchemy.engine.base.Engine (1722317, '2020-06-30', 'Arkansas', 'Greenbrier', '123 Laramie Rd', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:35,878 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,900 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,902 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,905 INFO sqlalchemy.engine.base.Engine (1720834, '2020-06-29', 'California', 'Sylmar', 'Osborne St and Foothill Blvd', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:35,910 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,931 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,934 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,936 INFO sqlalchemy.engine.base.Engine (1720655, '2020-06-29', 'South Dakota', 'Sioux Falls', '902 N Prairie Ave', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:35,944 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,967 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:35,969 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:35,971 INFO sqlalchemy.engine.base.Engine (1719693, '2020-06-28', 'Pennsylvania', 'Philadelphia', '1900 block of E Somerset St', 2, 2, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:35,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:35,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,001 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,002 INFO sqlalchemy.engine.base.Engine (1719668, '2020-06-28', 'Alabama', 'Akron', 'Co Rd 21', 0, 7, 41.88387900000001, -87.7085187)
2021-05-05 20:51:36,008 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,030 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,032 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:36,033 INFO sqlalchemy.engine.base.Engine (1718966, '2020-06-27', 'Illinois', 'Chicago', '3100 block of S Rhodes Ave', 2, 2, 41.872262, -87.69373)
2021-05-05 20:51:36,040 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,058 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,061 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,064 INFO sqlalchemy.engine.base.Engine (1718847, '2020-06-27', 'California', 'Red Bluff', '10815 State Hwy 99W', 3, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:36,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,085 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,089 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,092 INFO sqlalchemy.engine.base.Engine (1718463, '2020-06-27', 'Illinois', 'Peoria', '1400 block of SW Jefferson St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:36,096 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,120 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,121 INFO sqlalchemy.engine.base.Engine (1718238, '2020-06-27', 'New York', 'Brooklyn', 'Rockaway Pkwy and Ave B', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:36,127 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,147 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,149 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,152 INFO sqlalchemy.engine.base.Engine (1719645, '2020-06-27', 'Arkansas', 'Blytheville', '600 block of Parkway Dr', 3, 1, 29.9673972, -90.1018231)
2021-05-05 20:51:36,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,180 INFO sqlalchemy.engine.base.Engine (1717828, '2020-06-26', 'Colorado', 'Aurora', '698 Peoria St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:36,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,208 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,209 INFO sqlalchemy.engine.base.Engine (1718292, '2020-06-26', 'California', 'Fresno', 'Pico Ave', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:36,214 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,238 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,239 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,240 INFO sqlalchemy.engine.base.Engine (1717173, '2020-06-26', 'Arizona', 'Phoenix', '5035 W McDowell Rd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:36,247 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,267 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,269 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,271 INFO sqlalchemy.engine.base.Engine (1717543, '2020-06-25', 'Pennsylvania', 'Philadelphia', 'Emerald St and E Atlantic St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:36,278 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,309 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,311 INFO sqlalchemy.engine.base.Engine (1716944, '2020-06-25', 'Connecticut', 'Bridgeport', '527 Huntington Rd', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:51:36,319 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,347 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,350 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,352 INFO sqlalchemy.engine.base.Engine (1715616, '2020-06-24', 'Tennessee', 'Jackson', 'Melwood St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:36,359 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,380 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,383 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,385 INFO sqlalchemy.engine.base.Engine (1714504, '2020-06-23', 'Illinois', 'Chicago', '9100 block of South Ellis Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:36,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,414 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,416 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,418 INFO sqlalchemy.engine.base.Engine (1715231, '2020-06-23', 'Florida', 'Lake Worth', 'Lantana Rd and Edgecliff Ave', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:51:36,423 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,445 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,448 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,450 INFO sqlalchemy.engine.base.Engine (1712342, '2020-06-22', 'North Carolina', 'Charlotte', '1800 block of Beatties Ford Rd', 4, 5, 40.110245, -88.2353849)
2021-05-05 20:51:36,457 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,476 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,479 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,481 INFO sqlalchemy.engine.base.Engine (1713075, '2020-06-22', 'California', 'San Francisco', '200 block of Leavenworth St', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:36,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,526 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,528 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,529 INFO sqlalchemy.engine.base.Engine (1713790, '2020-06-22', 'New York', 'Brooklyn', 'Sterling St and Brooklyn Ave', 0, 5, 48.461627899999996, -122.3386173)

2021-05-05 20:51:36,534 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,556 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,559 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,562 INFO sqlalchemy.engine.base.Engine (1712876, '2020-06-22', 'Minnesota', 'Minneapolis', 'N Morgan Ave and N 16th Ave', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:36,565 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,587 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,590 INFO sqlalchemy.engine.base.Engine (1712898, '2020-06-22', 'Minnesota', 'Minneapolis', '627 W Broadway', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:36,595 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,615 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,617 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,619 INFO sqlalchemy.engine.base.Engine (1712408, '2020-06-22', 'Illinois', 'Chicago', '200 S Central Park Blvd', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:36,624 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,650 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,653 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,655 INFO sqlalchemy.engine.base.Engine (1712386, '2020-06-22', 'Illinois', 'Chicago', '5200 block of S Lowe Ave', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:36,660 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,681 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,683 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,685 INFO sqlalchemy.engine.base.Engine (1713668, '2020-06-22', 'Ohio', 'Columbus', '1910 Fountainview Ct', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:36,688 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,709 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,712 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,714 INFO sqlalchemy.engine.base.Engine (1711747, '2020-06-21', 'New York', 'Buffalo', 'W Ferry St and Niagara St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:36,719 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,740 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,743 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,746 INFO sqlalchemy.engine.base.Engine (1711626, '2020-06-21', 'Texas', 'Austin', '500 block of E 7th St', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:36,750 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,771 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,774 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,776 INFO sqlalchemy.engine.base.Engine (1711410, '2020-06-21', 'Minnesota', 'Minneapolis', '2939 Hennepin Ave S', 0, 11, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:36,780 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,802 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,804 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,806 INFO sqlalchemy.engine.base.Engine (1711690, '2020-06-21', 'Alabama', 'Auburn', '600 block of Railroad Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:36,810 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,834 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,836 INFO sqlalchemy.engine.base.Engine (1713493, '2020-06-21', 'Texas', 'Corpus Christi', '5802 Everhart Rd', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:36,841 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,868 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,870 INFO sqlalchemy.engine.base.Engine (1711605, '2020-06-21', 'Wisconsin', 'Milwaukee', 'North 28th St and West Ruby Ave', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:36,875 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,895 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,897 INFO sqlalchemy.engine.base.Engine (1711487, '2020-06-21', 'Illinois', 'Chicago', '2600 block of W Potomac Ave', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:36,900 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,924 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,926 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,927 INFO sqlalchemy.engine.base.Engine (1710537, '2020-06-20', 'New York', 'Bronx', 'Mount Eden Pkwy and Monroe Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:36,931 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,952 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,953 INFO sqlalchemy.engine.base.Engine (1711285, '2020-06-20', 'New York', 'Syracuse', 'Marcellus St and Wyoming St', 1, 8, 29.9673972, -90.1018231)
2021-05-05 20:51:36,957 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:36,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:36,986 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:36,989 INFO sqlalchemy.engine.base.Engine (1711876, '2020-06-20', 'Michigan', 'Detroit', 'Appoline St and Puritan Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:36,998 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:37,022 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,024 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,026 INFO sqlalchemy.engine.base.Engine (1711272, '2020-06-20', 'Michigan', 'Saginaw', 'Livingston Dr and Tausend St', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:37,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,059 INFO sqlalchemy.engine.base.Engine (1710849, '2020-06-20', 'Wisconsin', 'Janesville', '6530 S US-51', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:37,064 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,093 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,094 INFO sqlalchemy.engine.base.Engine (1710920, '2020-06-20', 'North Carolina', 'Pinetops', '715 E Lashley St', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:51:37,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,124 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,126 INFO sqlalchemy.engine.base.Engine (1710680, '2020-06-20', 'New Jersey', 'Jersey City', 'Union St and Ocean Ave', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:37,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,158 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,160 INFO sqlalchemy.engine.base.Engine (1711397, '2020-06-20', 'Kansas', 'Wichita', '3741 N Rock Rd', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:37,164 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,187 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,191 INFO sqlalchemy.engine.base.Engine (1711134, '2020-06-20', 'New York', 'Bronx', 'Mapes Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:37,196 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,219 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,222 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,224 INFO sqlalchemy.engine.base.Engine (1708889, '2020-06-18', 'New York', 'Albany', '8 Albany St', 0, 7, 29.723582699999998, -95.4421156)
2021-05-05 20:51:37,229 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,261 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,269 INFO sqlalchemy.engine.base.Engine (1708432, '2020-06-17', 'Illinois', 'Chicago', '1323 W 76th St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:37,279 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,304 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,305 INFO sqlalchemy.engine.base.Engine (1706994, '2020-06-16', 'Iowa', 'Fort Dodge', '900 block of 10th Ave SW', 2, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:37,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,331 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,333 INFO sqlalchemy.engine.base.Engine (1706710, '2020-06-15', 'Illinois', 'Chicago', 'W Diversey Ave', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:37,336 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,358 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,361 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,363 INFO sqlalchemy.engine.base.Engine (1704879, '2020-06-14', 'Minnesota', 'Minneapolis', '328 W Broadway Ave', 1, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:51:37,366 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,384 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,387 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,390 INFO sqlalchemy.engine.base.Engine (1704862, '2020-06-14', 'Kentucky', 'Louisville', '531 Franklin St', 1, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:37,394 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,411 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,415 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,416 INFO sqlalchemy.engine.base.Engine (1704873, '2020-06-14', 'Louisiana', 'Lafayette', '400 block of Jefferson St', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:37,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,440 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,442 INFO sqlalchemy.engine.base.Engine (1705050, '2020-06-14', 'Louisiana', 'Lake Charles', '3945 US-90', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:37,446 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,469 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,471 INFO sqlalchemy.engine.base.Engine (1705346, '2020-06-14', 'Louisiana', 'New Orleans', '600 block of S Lopez St', 2, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:51:37,475 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,494 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,496 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:37,498 INFO sqlalchemy.engine.base.Engine (1705355, '2020-06-13', 'Arkansas', 'Rison', 'Carver St and Center St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:37,502 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,521 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,523 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,524 INFO sqlalchemy.engine.base.Engine (1705440, '2020-06-13', 'California', 'Hesperia', '8100 block of Julie Ct', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:37,528 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,551 INFO sqlalchemy.engine.base.Engine (1704116, '2020-06-13', 'Missouri', 'Saint Louis', '3103 N Grand Blvd', 2, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:37,556 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,578 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,579 INFO sqlalchemy.engine.base.Engine (1704415, '2020-06-13', 'New York', 'Wyandanch', '76 Grand Blvd', 1, 7, 41.88387900000001, -87.7085187)
2021-05-05 20:51:37,583 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,604 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,607 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,608 INFO sqlalchemy.engine.base.Engine (1704176, '2020-06-13', 'Maryland', 'Baltimore', '700 block of S Broadway St', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:37,612 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,631 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,633 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,634 INFO sqlalchemy.engine.base.Engine (1704580, '2020-06-13', 'Georgia', 'Atlanta', '69 Mason Ave NE', 2, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:37,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,661 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,664 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,665 INFO sqlalchemy.engine.base.Engine (1704727, '2020-06-13', 'District of Columbia', 'Washington', '3100 block of Waclark Pl SE', 2, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:37,668 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,685 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,688 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,690 INFO sqlalchemy.engine.base.Engine (1703509, '2020-06-12', 'Pennsylvania', 'Philadelphia', 'N Broad St and Colwyn St', 0, 6, 40.6327104, -74.0271053)
2021-05-05 20:51:37,694 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,716 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,718 INFO sqlalchemy.engine.base.Engine (1704217, '2020-06-12', 'New York', 'Bronx', 'E 233rd St and Bronx River Pkwy', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:37,722 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,741 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,743 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,744 INFO sqlalchemy.engine.base.Engine (1703985, '2020-06-12', 'Texas', 'San Antonio', '8134 Broadway St', 0, 8, 44.98847429999999, -93.2549796)
2021-05-05 20:51:37,748 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,766 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,769 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,770 INFO sqlalchemy.engine.base.Engine (1702276, '2020-06-11', 'Virginia', 'Richmond', '800 block of N 1st St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:37,775 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,808 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,809 INFO sqlalchemy.engine.base.Engine (1702172, '2020-06-11', 'District of Columbia', 'Washington', '1200 block of Mt Olivet Rd NE', 0, 7, 41.032132700000005, -87.5381426)
2021-05-05 20:51:37,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,830 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,833 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,835 INFO sqlalchemy.engine.base.Engine (1703044, '2020-06-11', 'Louisiana', 'Monroe', '1101 Richwood Road 2', 6, 0, 36.7565424, -119.7711186)
2021-05-05 20:51:37,839 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,858 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,859 INFO sqlalchemy.engine.base.Engine (1703055, '2020-06-11', 'Texas', 'Houston', '5840 Glenmont Dr', 2, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:37,864 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,882 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,884 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,886 INFO sqlalchemy.engine.base.Engine (1702372, '2020-06-10', 'California', 'Sacramento', '68th Avenue and Della Circle', 1, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:37,889 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,909 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,913 INFO sqlalchemy.engine.base.Engine (1701382, '2020-06-10', 'Ohio', 'Toledo', '1100 block of Baker St', 1, 3, 30.0216391, -95.3123538)

2021-05-05 20:51:37,916 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,935 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,937 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,939 INFO sqlalchemy.engine.base.Engine (1701714, '2020-06-10', 'California', 'Paso Robles', '900 Park St', 2, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:37,942 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:37,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:37,970 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:37,973 INFO sqlalchemy.engine.base.Engine (1700864, '2020-06-09', 'North Carolina', 'Scotland Neck', 'E 13th St and Greenwood St', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:37,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,002 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,004 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,007 INFO sqlalchemy.engine.base.Engine (1701426, '2020-06-09', 'Pennsylvania', 'Philadelphia', '600 block N 8th St', 1, 6, 39.3048255, -76.6081873)
2021-05-05 20:51:38,011 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,039 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,051 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,060 INFO sqlalchemy.engine.base.Engine (1701491, '2020-06-09', 'California', 'Vallejo', '100 block of Cynthia Ave', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:38,065 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,085 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,087 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,089 INFO sqlalchemy.engine.base.Engine (1700371, '2020-06-08', 'New York', 'Brooklyn', '512 Bristol St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:38,094 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,125 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,128 INFO sqlalchemy.engine.base.Engine (1700250, '2020-06-08', 'Tennessee', 'Memphis', '1525 E McLemore Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:38,132 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,159 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,161 INFO sqlalchemy.engine.base.Engine (1699577, '2020-06-07', 'Arkansas', 'Hope', '1400 block of East Hickory St', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:38,165 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,187 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,189 INFO sqlalchemy.engine.base.Engine (1700234, '2020-06-07', 'Illinois', 'Robbins', '13600 block of Central Park Ave', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:38,194 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,219 INFO sqlalchemy.engine.base.Engine (1699211, '2020-06-07', 'Missouri', 'Sikeston', '915 Plantation Blvd', 2, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:51:38,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,246 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,248 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,249 INFO sqlalchemy.engine.base.Engine (1699193, '2020-06-07', 'Tennessee', 'Dyersburg', '1305 Grant St', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:38,253 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,276 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,278 INFO sqlalchemy.engine.base.Engine (1698987, '2020-06-07', 'Illinois', 'Chicago', '50 block of S Seeley Ave', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:38,282 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,395 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,397 INFO sqlalchemy.engine.base.Engine (1699667, '2020-06-07', 'Illinois', 'Chicago', '3700 block of S State St', 0, 6, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:38,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,420 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,423 INFO sqlalchemy.engine.base.Engine (1698306, '2020-06-06', 'Missouri', 'Kansas City', 'E 18th St and Vine St', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:38,428 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,448 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,450 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,451 INFO sqlalchemy.engine.base.Engine (1700812, '2020-06-06', 'Mississippi', 'Drew', 'Wilson Ave', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:38,459 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,478 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,480 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,481 INFO sqlalchemy.engine.base.Engine (1698868, '2020-06-06', 'California', 'Sacramento', 'Gardendale Rd and 29th St', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:38,486 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:38,504 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,509 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,511 INFO sqlalchemy.engine.base.Engine (1698276, '2020-06-06', 'Ohio', 'Ironton', '1305 S 3rd St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:38,515 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,534 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,537 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,541 INFO sqlalchemy.engine.base.Engine (1697541, '2020-06-05', 'Colorado', 'Denver', '4900 block of Wheeling St', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:38,547 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,572 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,579 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,590 INFO sqlalchemy.engine.base.Engine (1697453, '2020-06-04', 'Alabama', 'Valhermoso Springs', '522 Talucah Rd', 7, 0, 29.9673972, -90.1018231)
2021-05-05 20:51:38,597 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,623 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,627 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,629 INFO sqlalchemy.engine.base.Engine (1695998, '2020-06-02', 'Texas', 'Dallas', '7460 S Westmoreland Rd', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:38,635 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,687 INFO sqlalchemy.engine.base.Engine (1695586, '2020-06-02', 'Wisconsin', 'Racine', 'Kewaunee St and Michigan Blvd', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:38,692 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,766 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,770 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,774 INFO sqlalchemy.engine.base.Engine (1695645, '2020-06-02', 'Illinois', 'Chicago', '8404 S Colfax Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:38,780 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,807 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,809 INFO sqlalchemy.engine.base.Engine (1694735, '2020-06-01', 'Missouri', 'Saint Louis', '1915 Olive St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:38,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,836 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,837 INFO sqlalchemy.engine.base.Engine (1693340, '2020-05-31', 'Mississippi', 'Gulfport', 'S Carolina Ave and Polk St', 1, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:38,842 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,863 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,866 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,868 INFO sqlalchemy.engine.base.Engine (1693580, '2020-05-31', 'Pennsylvania', 'Philadelphia', '700 block of E Clearfield St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:38,873 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,891 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,893 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,894 INFO sqlalchemy.engine.base.Engine (1692513, '2020-05-30', 'New Jersey', 'Paterson', 'E 23rd St and 10th Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:38,898 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,918 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,921 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,924 INFO sqlalchemy.engine.base.Engine (1692912, '2020-05-30', 'District of Columbia', 'Washington', '300 block of 37th St SE', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:38,927 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,947 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,949 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,950 INFO sqlalchemy.engine.base.Engine (1693064, '2020-05-30', 'Texas', 'Houston', '9635 Scott St', 1, 4, 40.110245, -88.2353849)
2021-05-05 20:51:38,957 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:38,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:38,983 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:38,985 INFO sqlalchemy.engine.base.Engine (1693246, '2020-05-30', 'Florida', 'Altha', '21281 Apachee Rd', 2, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:38,992 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,015 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,016 INFO sqlalchemy.engine.base.Engine (1692496, '2020-05-30', 'North Carolina', 'Gastonia', '3000 block of Earl Ln', 1, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:39,021 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,040 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,042 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,044 INFO sqlalchemy.engine.base.Engine (1692102, '2020-05-29', 'Virginia', 'Portsmouth', '500 block of Edwards St', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:39,048 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:39,070 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,073 INFO sqlalchemy.engine.base.Engine (1691221, '2020-05-28', 'Kentucky', 'Louisville', '601 W Jefferson St', 0, 7, 36.1450958, -96.0023638)
2021-05-05 20:51:39,076 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,094 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,096 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,097 INFO sqlalchemy.engine.base.Engine (1690922, '2020-05-28', 'Tennessee', 'Memphis', 'TN 385 and Kirby Pkwy', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:39,102 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,125 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,126 INFO sqlalchemy.engine.base.Engine (1691440, '2020-05-28', 'Pennsylvania', 'Philadelphia', '300 block of N 55th St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:39,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,150 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,152 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,153 INFO sqlalchemy.engine.base.Engine (1690369, '2020-05-27', 'Massachusetts', 'Boston', '5 Ames St', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:39,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,181 INFO sqlalchemy.engine.base.Engine (1690524, '2020-05-27', 'Ohio', 'Cleveland', '12800 Euclid Ave', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:39,186 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,209 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,211 INFO sqlalchemy.engine.base.Engine (1690439, '2020-05-27', 'California', 'San Jose', '1100 block of William Ct', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:39,215 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,237 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,239 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,241 INFO sqlalchemy.engine.base.Engine (1689419, '2020-05-27', 'Pennsylvania', 'Philadelphia', '1800 block of Hart Ln', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:39,246 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,275 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,276 INFO sqlalchemy.engine.base.Engine (1688610, '2020-05-26', 'Mississippi', 'Vicksburg', '4045 Clay St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:39,280 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,303 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,309 INFO sqlalchemy.engine.base.Engine (1689252, '2020-05-26', 'Pennsylvania', 'Philadelphia', '2700 block of N Darian St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:39,313 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,335 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,339 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,341 INFO sqlalchemy.engine.base.Engine (1688917, '2020-05-26', 'Illinois', 'Chicago', 'W Washington Blvd and N Hamlin Blvd', 2, 2, 42.91211149999999, -85.62301)
2021-05-05 20:51:39,346 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,366 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,369 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,370 INFO sqlalchemy.engine.base.Engine (1689555, '2020-05-26', 'California', 'Los Angeles', '119th St and Berendo Ave', 0, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:39,375 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,397 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,399 INFO sqlalchemy.engine.base.Engine (1688753, '2020-05-26', 'South Carolina', 'Bowman', 'Dibble St and Rail St', 3, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:39,404 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,424 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,426 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,428 INFO sqlalchemy.engine.base.Engine (1687999, '2020-05-25', 'Louisiana', 'Lake Charles', '6780 US-90', 0, 6, 29.9673972, -90.1018231)
2021-05-05 20:51:39,431 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,454 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,458 INFO sqlalchemy.engine.base.Engine (1687219, '2020-05-24', 'Missouri', 'Saint Louis', 'Union Boulevard and Cote Brilliante Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:39,462 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,483 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,484 INFO sqlalchemy.engine.base.Engine (1687414, '2020-05-24', 'Alabama', 'Danville', '70 Flint Creek Pvt Dr', 3, 1, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:39,489 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,509 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:39,510 INFO sqlalchemy.engine.base.Engine (1687037, '2020-05-24', 'South Carolina', 'Myrtle Beach', '12th Ave N and Ocean Blvd', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:39,516 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,543 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,546 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,547 INFO sqlalchemy.engine.base.Engine (1686222, '2020-05-23', 'Texas', 'Houston', '2900 Travis St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:39,553 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,583 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,585 INFO sqlalchemy.engine.base.Engine (1686615, '2020-05-23', 'Illinois', 'Rock Island', '800 14 1/2 St', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:39,591 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,612 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,616 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,618 INFO sqlalchemy.engine.base.Engine (1687027, '2020-05-23', 'South Carolina', 'Jonesville', '100 block of Dover Rd', 2, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:39,624 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,649 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,651 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,653 INFO sqlalchemy.engine.base.Engine (1687108, '2020-05-23', 'North Carolina', 'Charlotte', '4900 Block of Albemarle Rd', 0, 6, 30.0216391, -95.3123538)
2021-05-05 20:51:39,659 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,686 INFO sqlalchemy.engine.base.Engine (1687097, '2020-05-23', 'Michigan', 'Flint', '4100 block of Minerva St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:39,691 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,712 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,716 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,717 INFO sqlalchemy.engine.base.Engine (1686414, '2020-05-23', 'Florida', 'Fort Lauderdale (Lauderhill)', '7776 NW 44th St', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:39,720 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,744 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,748 INFO sqlalchemy.engine.base.Engine (1686747, '2020-05-23', 'Florida', 'Daytona Beach', '13 S Atlantic Ave', 0, 6, 39.3048255, -76.6081873)
2021-05-05 20:51:39,753 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,774 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,776 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,777 INFO sqlalchemy.engine.base.Engine (1686685, '2020-05-23', 'Illinois', 'Chicago', '3911 W Grenshaw St', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:39,782 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,810 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,812 INFO sqlalchemy.engine.base.Engine (1687381, '2020-05-23', 'Mississippi', 'Jackson', '2300 block of Oakhurst Dr', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:39,820 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,848 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,851 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,853 INFO sqlalchemy.engine.base.Engine (1686015, '2020-05-22', 'Ohio', 'Cleveland', '11921 Miles Ave', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:39,859 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,880 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,882 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,883 INFO sqlalchemy.engine.base.Engine (1683810, '2020-05-20', 'Texas', 'Houston', '6918 Landor St', 2, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:39,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,910 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,912 INFO sqlalchemy.engine.base.Engine (1683653, '2020-05-19', 'Illinois', 'Decatur', '300 block of West Leafland Ave', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:39,915 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,934 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,936 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,938 INFO sqlalchemy.engine.base.Engine (1682322, '2020-05-18', 'California', 'Bakersfield', '901 W Columbus St', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:39,942 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,961 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,963 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,966 INFO sqlalchemy.engine.base.Engine (1681602, '2020-05-17', 'South Carolina', 'Charleston', '23 Cannon St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:39,969 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:39,987 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:39,989 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:39,991 INFO sqlalchemy.engine.base.Engine (1681887, '2020-05-17', 'Maryland', 'District Heights', '6800 block of Atwood St', 1, 3, 42.2699348, -88.96278009999997)

2021-05-05 20:51:39,995 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,016 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,018 INFO sqlalchemy.engine.base.Engine (1682233, '2020-05-17', 'South Carolina', 'Saint Matthews', '100 block of Bugleflower Ln', 4, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:40,022 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,039 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,041 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,043 INFO sqlalchemy.engine.base.Engine (1681588, '2020-05-16', 'Louisiana', 'Bogalusa', 'Martin Luther King Dr and E 4th St', 0, 13, 41.88387900000001, -87.7085187)
2021-05-05 20:51:40,046 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,066 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,067 INFO sqlalchemy.engine.base.Engine (1686369, '2020-05-15', 'Florida', 'Gainesville', '2305 SE Hawthorne Rd', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:40,071 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,093 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,095 INFO sqlalchemy.engine.base.Engine (1850080, '2020-05-15', 'Pennsylvania', 'Philadelphia', '4300 block of Germantown Ave', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:40,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,118 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,120 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,121 INFO sqlalchemy.engine.base.Engine (1680027, '2020-05-14', 'New Mexico', 'Albuquerque', '820 Louisiana SE', 0, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:40,125 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,145 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,147 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,148 INFO sqlalchemy.engine.base.Engine (1679086, '2020-05-13', 'Illinois', 'Rockford', '2914 W State St', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:40,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,174 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,176 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,178 INFO sqlalchemy.engine.base.Engine (1678589, '2020-05-13', 'Kentucky', 'Garrison', '6151 Kinney Rd', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:40,183 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,206 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,207 INFO sqlalchemy.engine.base.Engine (1679356, '2020-05-13', 'Tennessee', 'Memphis', '3500 block of Commerce Cir', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:40,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,230 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,232 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,234 INFO sqlalchemy.engine.base.Engine (1677566, '2020-05-11', 'Alabama', 'Montgomery', 'Rosa Parks Ave and Courtland Dr', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:40,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,266 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,269 INFO sqlalchemy.engine.base.Engine (1676515, '2020-05-10', 'Louisiana', 'Baton Rouge', '2944 Plank Rd', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:40,275 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,296 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,298 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,303 INFO sqlalchemy.engine.base.Engine (1676579, '2020-05-10', 'Texas', 'Fort Worth', '4750 Wilbarger St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:40,308 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,330 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,332 INFO sqlalchemy.engine.base.Engine (1676746, '2020-05-10', 'Texas', 'Katy', '18000 block of Bonners Park Cir', 0, 6, 37.7849319, -122.4129481)
2021-05-05 20:51:40,340 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,367 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,369 INFO sqlalchemy.engine.base.Engine (1676121, '2020-05-09', 'Missouri', 'Saint Louis', '3500 block of Arkansas Ave', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:40,376 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,395 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,397 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,399 INFO sqlalchemy.engine.base.Engine (1674802, '2020-05-07', 'Maryland', 'Baltimore', '5100 block of Stafford Rd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:40,402 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,424 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,427 INFO sqlalchemy.engine.base.Engine (1673989, '2020-05-06', 'Texas', 'Houston', '14200 block of Bridgeport Rd', 3, 1, 29.723582699999998, -95.4421156)
2021-05-05 20:51:40,431 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:40,451 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,453 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,457 INFO sqlalchemy.engine.base.Engine (1673633, '2020-05-06', 'Georgia', 'Albany', '1900 block of Meadow Dr', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:40,461 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,484 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,486 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,491 INFO sqlalchemy.engine.base.Engine (1674299, '2020-05-06', 'Tennessee', 'Memphis', 'Barron Ave and Dogwood Dr', 2, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:40,497 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,519 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,522 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,525 INFO sqlalchemy.engine.base.Engine (1671289, '2020-05-03', 'Ohio', 'Columbus', '300 block of S Ashburton Rd', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:40,529 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,550 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,553 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,557 INFO sqlalchemy.engine.base.Engine (1671624, '2020-05-03', 'Florida', 'Jacksonville', '2100 block of Brooklyn Rd', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:40,561 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,586 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,587 INFO sqlalchemy.engine.base.Engine (1671078, '2020-05-03', 'Illinois', 'Chicago', '3700 W 13th St', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:40,593 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,635 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,641 INFO sqlalchemy.engine.base.Engine (1670970, '2020-05-02', 'Pennsylvania', 'Philadelphia', '200 block of S Cecil St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:40,648 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,669 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,671 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,673 INFO sqlalchemy.engine.base.Engine (1668470, '2020-04-29', 'Indiana', 'Indianapolis', '451 E Stop 11 Rd', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:40,679 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,701 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,703 INFO sqlalchemy.engine.base.Engine (1666945, '2020-04-27', 'Wisconsin', 'Milwaukee', '2800 block of N 12th St', 5, 0, 41.7718443, -87.67278499999998)
2021-05-05 20:51:40,712 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,735 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,740 INFO sqlalchemy.engine.base.Engine (1666461, '2020-04-26', 'New York', 'Troy', 'Jefferson St and 3rd St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:40,743 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,763 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,767 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,769 INFO sqlalchemy.engine.base.Engine (1666600, '2020-04-26', 'North Carolina', 'Salisbury', '900 block of E Lafayette St', 1, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:40,774 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,794 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,797 INFO sqlalchemy.engine.base.Engine (1666327, '2020-04-25', 'Florida', 'Orlando', 'Elese St and Deerock Dr', 1, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:40,801 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,822 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,824 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,826 INFO sqlalchemy.engine.base.Engine (1665834, '2020-04-25', 'Tennessee', 'Memphis', '500 block of Josephine St', 0, 7, 41.88387900000001, -87.7085187)
2021-05-05 20:51:40,829 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,853 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,856 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,858 INFO sqlalchemy.engine.base.Engine (1664933, '2020-04-24', 'Texas', 'Houston', '4714 Ward St', 3, 1, 41.872262, -87.69373)
2021-05-05 20:51:40,861 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,882 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,885 INFO sqlalchemy.engine.base.Engine (1665735, '2020-04-24', 'Indiana', 'Fort Wayne', '3233 Diplomat Dr', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:40,889 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,909 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,910 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,912 INFO sqlalchemy.engine.base.Engine (1661537, '2020-04-18', 'Maryland', 'Hyattsville', '7500 block of Courtney Pl', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:51:40,919 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,941 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,942 INFO sqlalchemy.engine.base.Engine (1660797, '2020-04-17', 'North Carolina', 'Greensboro', '4400 block of Beckford Dr', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:40,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,967 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,969 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,970 INFO sqlalchemy.engine.base.Engine (1661218, '2020-04-17', 'Massachusetts', 'Springfield', 'College St', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:40,977 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:40,996 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:40,998 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:40,999 INFO sqlalchemy.engine.base.Engine (1659862, '2020-04-16', 'Pennsylvania', 'Philadelphia', 'Bustleton Ave and St Vincent St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:41,006 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,025 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,027 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,028 INFO sqlalchemy.engine.base.Engine (1659966, '2020-04-15', 'Mississippi', 'Jackson', '1200 block of Wood Village Dr', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:41,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,056 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,057 INFO sqlalchemy.engine.base.Engine (1656873, '2020-04-11', 'California', 'Bakersfield', 'Pioneer Rd and Sterling Rd', 0, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:41,061 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,082 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,083 INFO sqlalchemy.engine.base.Engine (1656265, '2020-04-10', 'Michigan', 'Muskegon', '800 block of Oak St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:41,089 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,114 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,116 INFO sqlalchemy.engine.base.Engine (1655674, '2020-04-08', 'Michigan', 'Detroit', '1200 block of Payton St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:41,120 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,148 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,157 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,166 INFO sqlalchemy.engine.base.Engine (1654971, '2020-04-08', 'South Carolina', 'Greenwood', '1522 Parkway', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:41,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,196 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,199 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,201 INFO sqlalchemy.engine.base.Engine (1656373, '2020-04-08', 'Alaska', 'Anchorage', '10600 block of Elmore Rd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:41,208 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,229 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,231 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,232 INFO sqlalchemy.engine.base.Engine (1654341, '2020-04-07', 'Illinois', 'Chicago', '86th Street and Damen Avenue', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:41,237 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,258 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,260 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,262 INFO sqlalchemy.engine.base.Engine (1652642, '2020-04-05', 'New York', 'Brooklyn', '181 Rockaway Pky', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:41,266 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,290 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,292 INFO sqlalchemy.engine.base.Engine (1652734, '2020-04-05', 'California', 'Los Angeles', '89th St and Hobart Ave', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:41,295 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,317 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,319 INFO sqlalchemy.engine.base.Engine (1653012, '2020-04-05', 'South Carolina', 'Lancaster', 'Mahaffey Line Dr', 1, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:41,327 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,348 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,350 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,351 INFO sqlalchemy.engine.base.Engine (1652601, '2020-04-04', 'Texas', 'Vidor', '100 block of Hebert St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:41,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,379 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,381 INFO sqlalchemy.engine.base.Engine (1652073, '2020-04-04', 'Texas', 'Lubbock', '2107 49th St', 2, 2, 36.1450958, -96.0023638)
2021-05-05 20:51:41,387 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:41,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,413 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,415 INFO sqlalchemy.engine.base.Engine (1652328, '2020-04-04', 'Florida', 'Hialeah', 'W 69th St and 24th Ave', 1, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:41,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,441 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,443 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,444 INFO sqlalchemy.engine.base.Engine (1651742, '2020-04-03', 'Kentucky', 'Louisville', '1000 block of Cecil Ave', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:41,451 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,472 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,474 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,476 INFO sqlalchemy.engine.base.Engine (1649473, '2020-03-31', 'Georgia', 'Macon', '571 Moreland Ave', 3, 1, 41.7718443, -87.67278499999998)
2021-05-05 20:51:41,483 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,503 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,506 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,507 INFO sqlalchemy.engine.base.Engine (1648832, '2020-03-30', 'Pennsylvania', 'Philadelphia', '2000 block of W Harold St', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:41,511 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,535 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,536 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,537 INFO sqlalchemy.engine.base.Engine (1648205, '2020-03-29', 'Georgia', 'Atlanta', 'Ponce de Leon Ave and Parkway Dr', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:41,542 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,562 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,565 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,566 INFO sqlalchemy.engine.base.Engine (1647661, '2020-03-28', 'Maryland', 'Baltimore', '1100 block of Washington Blvd', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:41,569 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,593 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,594 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,597 INFO sqlalchemy.engine.base.Engine (1644111, '2020-03-23', 'Texas', 'San Antonio', '6700 block of Hickory Springs Dr', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:41,603 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,621 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,623 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,625 INFO sqlalchemy.engine.base.Engine (1643775, '2020-03-22', 'South Carolina', 'Hanahan', 'Edinburgh Drive', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:41,635 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,657 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,660 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,662 INFO sqlalchemy.engine.base.Engine (1643157, '2020-03-20', 'Virginia', 'Norfolk', '800 block of Lincoln St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:41,670 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,693 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,695 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,697 INFO sqlalchemy.engine.base.Engine (1642826, '2020-03-20', 'Missouri', 'Saint Louis', '1923 Prairie Ave', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:41,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,721 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,723 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,726 INFO sqlalchemy.engine.base.Engine (1641923, '2020-03-18', 'Florida', 'Jacksonville', '11501 Harts Rd', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:41,729 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,751 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,753 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,756 INFO sqlalchemy.engine.base.Engine (1641216, '2020-03-17', 'Maryland', 'Baltimore', '300 block of McMechen St', 0, 7, 29.9673972, -90.1018231)
2021-05-05 20:51:41,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,779 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,781 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,782 INFO sqlalchemy.engine.base.Engine (1640295, '2020-03-15', 'North Carolina', 'Moncure', '842 Moncure Flatwood Rd', 7, 0, 44.98847429999999, -93.2549796)
2021-05-05 20:51:41,787 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,809 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,811 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,812 INFO sqlalchemy.engine.base.Engine (1640317, '2020-03-15', 'Missouri', 'Springfield', '3264 E Battlefield Rd', 5, 2, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:41,816 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,837 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,840 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,841 INFO sqlalchemy.engine.base.Engine (1640007, '2020-03-14', 'Michigan', 'Saginaw', '4100 block of Gallagher St', 2, 2, 41.032132700000005, -87.5381426)
2021-05-05 20:51:41,846 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,871 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,874 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,876 INFO sqlalchemy.engine.base.Engine (1639542, '2020-03-14', 'New Mexico', 'Albuquerque', '620 block of Arno SE', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:41,880 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,903 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,907 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,909 INFO sqlalchemy.engine.base.Engine (1639413, '2020-03-13', 'Illinois', 'Rockford', '4104 Auburn St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:41,913 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,951 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,956 INFO sqlalchemy.engine.base.Engine (1640278, '2020-03-13', 'Louisiana', 'New Orleans (Algiers)', 'Wagner St and Hero Blvd', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:41,961 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:41,985 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:41,990 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:41,991 INFO sqlalchemy.engine.base.Engine (1637520, '2020-03-10', 'Pennsylvania', 'Chester', '200 block of Broomall Street', 2, 2, 30.0216391, -95.3123538)
2021-05-05 20:51:41,995 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,021 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,026 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,028 INFO sqlalchemy.engine.base.Engine (1635796, '2020-03-08', 'Maryland', 'Rosedale', '6247 Kenwood Ave', 1, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:51:42,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,058 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,061 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,063 INFO sqlalchemy.engine.base.Engine (1636471, '2020-03-08', 'Illinois', 'South Holland', 'I 94 and E 162nd St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:42,071 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,090 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,092 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,094 INFO sqlalchemy.engine.base.Engine (1636564, '2020-03-08', 'California', 'Ceres', '3600 block of Spruce Ave', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:42,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,121 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,123 INFO sqlalchemy.engine.base.Engine (1635750, '2020-03-07', 'Ohio', 'Cleveland', '3804 E 93rd St', 1, 18, 48.461627899999996, -122.3386173)
2021-05-05 20:51:42,127 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,146 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,148 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,149 INFO sqlalchemy.engine.base.Engine (1635570, '2020-03-07', 'New Mexico', 'Albuquerque', '1700 block of Rayo Del Sol Dr SW', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:42,154 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,175 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,176 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,177 INFO sqlalchemy.engine.base.Engine (1635411, '2020-03-07', 'Illinois', 'Chicago', '900 block of E 79th St', 0, 7, 36.1450958, -96.0023638)
2021-05-05 20:51:42,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,203 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,204 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,206 INFO sqlalchemy.engine.base.Engine (1635118, '2020-03-06', 'District of Columbia', 'Washington', '6219 Dix St NE', 0, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:42,210 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,233 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,238 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,240 INFO sqlalchemy.engine.base.Engine (1634128, '2020-03-04', 'California', 'Tulare', '111 W Tulare Ave', 1, 5, 37.7194881, -122.425285)
2021-05-05 20:51:42,244 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,268 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,271 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,274 INFO sqlalchemy.engine.base.Engine (1631040, '2020-02-29', 'Missouri', 'Kansas City', '510 Westport Rd', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:42,278 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,302 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,310 INFO sqlalchemy.engine.base.Engine (1631831, '2020-02-29', 'Colorado', 'Brighton', 'Starr Ln and County Rd 2', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:42,315 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,341 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,343 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,344 INFO sqlalchemy.engine.base.Engine (1629488, '2020-02-26', 'Wisconsin', 'Milwaukee', '3939 W Highland Blvd', 6, 0, 42.2699348, -88.96278009999997)
2021-05-05 20:51:42,348 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:42,368 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,371 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,374 INFO sqlalchemy.engine.base.Engine (1629042, '2020-02-25', 'Illinois', 'Chicago', '1238 E 79th St', 1, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:42,380 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,401 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,403 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,407 INFO sqlalchemy.engine.base.Engine (1627335, '2020-02-23', 'North Carolina', 'Clarkton', '71 Tina Ln', 3, 1, 41.88387900000001, -87.7085187)
2021-05-05 20:51:42,411 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,431 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,434 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,437 INFO sqlalchemy.engine.base.Engine (1627713, '2020-02-23', 'Texas', 'Houston', '8712 Airline Dr', 0, 7, 41.872262, -87.69373)
2021-05-05 20:51:42,446 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,469 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,478 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,481 INFO sqlalchemy.engine.base.Engine (1625553, '2020-02-20', 'Idaho', 'Caldwell', '4321 S 10th Ave', 2, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:42,486 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,507 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,509 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,510 INFO sqlalchemy.engine.base.Engine (1625787, '2020-02-20', 'North Carolina', 'Greensboro', 'Martin Luther King Jr Ave and Randolph Dr', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:42,514 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,536 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,547 INFO sqlalchemy.engine.base.Engine (1623696, '2020-02-17', 'Mississippi', 'Port Gibson', '8027 Hwy 61', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:51:42,557 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,578 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,580 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,581 INFO sqlalchemy.engine.base.Engine (1622406, '2020-02-16', 'Connecticut', 'Hartford', '451 Franklin Ave', 1, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:42,585 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,608 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,609 INFO sqlalchemy.engine.base.Engine (1622962, '2020-02-16', 'Florida', 'Pensacola', '517 W Gadsden St', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:42,613 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,635 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,636 INFO sqlalchemy.engine.base.Engine (1622340, '2020-02-15', 'Louisiana', 'New Orleans', 'Dryades St and 2nd St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:42,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,661 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,663 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,666 INFO sqlalchemy.engine.base.Engine (1622233, '2020-02-15', 'Tennessee', 'Memphis', '2800 block of Riverport Rd', 0, 7, 41.032132700000005, -87.5381426)
2021-05-05 20:51:42,671 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,692 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,695 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,698 INFO sqlalchemy.engine.base.Engine (1621821, '2020-02-14', 'Illinois', 'Chicago', '6500 block of S King Dr', 0, 6, 36.7565424, -119.7711186)
2021-05-05 20:51:42,703 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,728 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,732 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,738 INFO sqlalchemy.engine.base.Engine (1619064, '2020-02-10', 'Delaware', 'Dover', '200 block of W Reed St', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:42,742 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,763 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,766 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,767 INFO sqlalchemy.engine.base.Engine (1616964, '2020-02-08', 'Texas', 'Houston', '1000 block of Calvin St', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:42,774 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,795 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,798 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,800 INFO sqlalchemy.engine.base.Engine (1615155, '2020-02-05', 'Indiana', 'Indianapolis', '4100 block of Shady Oak Dr', 4, 0, 30.0216391, -95.3123538)
2021-05-05 20:51:42,803 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,824 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,825 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,826 INFO sqlalchemy.engine.base.Engine (1613020, '2020-02-03', 'Maine', 'Machias', '323 Kennebec Rd', 3, 1, 29.723582699999998, -95.4421156)
2021-05-05 20:51:42,830 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,849 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,851 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:42,856 INFO sqlalchemy.engine.base.Engine (1612716, '2020-02-03', 'California', 'Lebec', '8968 Grapevine Rd', 1, 5, 40.110245, -88.2353849)
2021-05-05 20:51:42,860 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,882 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,883 INFO sqlalchemy.engine.base.Engine (1612597, '2020-02-01', 'Mississippi', 'Philadelphia', '257 W Beacon St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:42,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,910 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,911 INFO sqlalchemy.engine.base.Engine (1611563, '2020-01-31', 'California', 'Delano', 'Hiett Ave and County Line Rd', 1, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:42,915 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,934 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,937 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,939 INFO sqlalchemy.engine.base.Engine (1610782, '2020-01-31', 'Louisiana', 'Shreveport', '2000 Grimmett Dr', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:42,943 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,966 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,968 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,971 INFO sqlalchemy.engine.base.Engine (1611037, '2020-01-31', 'Florida', 'Boynton Beach', '200 block of NE 1st Ct', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:42,976 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:42,995 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:42,997 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:42,999 INFO sqlalchemy.engine.base.Engine (1610240, '2020-01-30', 'California', 'Merced', '100 block of W 18th St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:43,005 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,028 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,032 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,035 INFO sqlalchemy.engine.base.Engine (1606554, '2020-01-27', 'Connecticut', 'Bridgeport', '172 Golden Hill St', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:43,040 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,068 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,071 INFO sqlalchemy.engine.base.Engine (1605948, '2020-01-26', 'Missouri', 'Cape Girardeau', '631 S Sprigg St', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:43,077 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,098 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,100 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,105 INFO sqlalchemy.engine.base.Engine (1605798, '2020-01-26', 'New York', 'Newburgh', '1571 NY-300', 3, 1, 30.702997600000003, -88.0786828)
2021-05-05 20:51:43,109 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,133 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,135 INFO sqlalchemy.engine.base.Engine (1605770, '2020-01-26', 'North Carolina', 'Salisbury', '1935 Jake Alexander Blvd', 0, 6, 42.2699348, -88.96278009999997)
2021-05-05 20:51:43,140 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,164 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,169 INFO sqlalchemy.engine.base.Engine (1605752, '2020-01-26', 'South Carolina', 'Hartsville', '115 W Camden Ave', 3, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:43,178 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,203 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,207 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,210 INFO sqlalchemy.engine.base.Engine (1606476, '2020-01-24', 'North Carolina', 'Vanceboro', '107 Kinshaw Ct', 5, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:51:43,217 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,250 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,253 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,255 INFO sqlalchemy.engine.base.Engine (1603241, '2020-01-22', 'Washington', 'Seattle', '1530 3rd Ave', 1, 7, 41.872262, -87.69373)
2021-05-05 20:51:43,260 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,283 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,285 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,290 INFO sqlalchemy.engine.base.Engine (1600787, '2020-01-19', 'Missouri', 'Kansas City', '4802 Noland Rd', 2, 15, 42.91211149999999, -85.62301)
2021-05-05 20:51:43,340 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,376 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,377 INFO sqlalchemy.engine.base.Engine (1600221, '2020-01-19', 'Tennessee', 'Memphis', '6761 Winchester Rd', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:43,381 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,401 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,402 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,403 INFO sqlalchemy.engine.base.Engine (1600522, '2020-01-19', 'Texas', 'San Antonio', '1011 Avenue B', 2, 5, 40.6327104, -74.0271053)

2021-05-05 20:51:43,411 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,429 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,430 INFO sqlalchemy.engine.base.Engine (1600350, '2020-01-18', 'Texas', 'South Houston', '700 block of Virginia St', 2, 2, 29.9673972, -90.1018231)
2021-05-05 20:51:43,438 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,458 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,459 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,462 INFO sqlalchemy.engine.base.Engine (1599331, '2020-01-17', 'Utah', 'Grantsville', '93 Eastmoor Dr', 4, 1, 44.98847429999999, -93.2549796)
2021-05-05 20:51:43,467 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,489 INFO sqlalchemy.engine.base.Engine (1598447, '2020-01-16', 'Illinois', 'Chicago', '234 N Pulaski Rd', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:43,494 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,518 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,519 INFO sqlalchemy.engine.base.Engine (1594173, '2020-01-11', 'Colorado', 'Aurora', '17158 E Adriatic Place', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:51:43,524 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,548 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,550 INFO sqlalchemy.engine.base.Engine (1592655, '2020-01-08', 'Mississippi', 'Bay Saint Louis', '10 Bay Park Way', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:51:43,555 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,576 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,578 INFO sqlalchemy.engine.base.Engine (1588919, '2020-01-05', 'Georgia', 'Atlanta', '1008 Brady Ave NW', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:43,584 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,608 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,609 INFO sqlalchemy.engine.base.Engine (1588308, '2020-01-04', 'Florida', 'Ocala', '800 block of NW 6th Ter', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:43,613 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,634 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,636 INFO sqlalchemy.engine.base.Engine (1586839, '2020-01-02', 'New York', 'Brooklyn', '6120 3rd Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:43,640 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,667 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,668 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,669 INFO sqlalchemy.engine.base.Engine (1585746, '2020-01-01', 'Ohio', 'Cleveland', '1437 St Clair Ave NE', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:43,674 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,698 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,700 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,706 INFO sqlalchemy.engine.base.Engine (1585394, '2020-01-01', 'West Virginia', 'Huntington', '1113 4th Ave', 0, 7, 40.110245, -88.2353849)
2021-05-05 20:51:43,711 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,730 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,733 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,736 INFO sqlalchemy.engine.base.Engine (1585894, '2020-01-01', 'Missouri', 'Saint Louis', '3000 block of S Jefferson Ave', 3, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:43,742 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,763 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,766 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,768 INFO sqlalchemy.engine.base.Engine (1582816, '2019-12-29', 'Illinois', 'Danville', '1803 block of Westview Ave', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:43,774 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,793 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,795 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,797 INFO sqlalchemy.engine.base.Engine (1582197, '2019-12-29', 'New York', 'Buffalo', '50 block of Henrietta Ave', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:43,801 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,823 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,825 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,827 INFO sqlalchemy.engine.base.Engine (1583444, '2019-12-29', 'California', 'Ceres', '800 block of Allacante Dr', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:43,831 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,850 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,855 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,857 INFO sqlalchemy.engine.base.Engine (1581590, '2019-12-27', 'California', 'Modesto', '1900 block of Vernon Ave', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:43,860 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,878 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,880 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,881 INFO sqlalchemy.engine.base.Engine (1581476, '2019-12-27', 'Georgia', 'Kennesaw', '1575 Ridenour Pkwy NW', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:43,885 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,913 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,918 INFO sqlalchemy.engine.base.Engine (1581103, '2019-12-27', 'Texas', 'Houston', '500 block of Smart St', 2, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:51:43,926 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,954 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,959 INFO sqlalchemy.engine.base.Engine (1580308, '2019-12-26', 'Florida', 'Saint Petersburg', '4300 6th St S', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:43,963 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:43,985 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:43,989 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:43,990 INFO sqlalchemy.engine.base.Engine (1579889, '2019-12-25', 'California', 'Oakland', '2100 block of 34th Ave', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:43,994 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,017 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,022 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,025 INFO sqlalchemy.engine.base.Engine (1579970, '2019-12-25', 'Iowa', 'Coralville', '954 Boston Way', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:44,029 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,057 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,060 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,062 INFO sqlalchemy.engine.base.Engine (1579856, '2019-12-25', 'Virginia', 'Richmond', '1800 E Main St', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:44,067 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,089 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,091 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,092 INFO sqlalchemy.engine.base.Engine (1579266, '2019-12-24', 'Louisiana', 'New Orleans', '6400 block of General Meyer Ave', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:44,096 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,121 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,123 INFO sqlalchemy.engine.base.Engine (1594317, '2019-12-24', 'Illinois', 'Joliet', '1200 block of Cutter Ave', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:44,127 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,147 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,149 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,150 INFO sqlalchemy.engine.base.Engine (1579220, '2019-12-24', 'North Carolina', 'High Point', '1226 Montlieu Ave', 0, 6, 38.5979369, -121.42762739999999)
2021-05-05 20:51:44,155 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,174 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,176 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,178 INFO sqlalchemy.engine.base.Engine (1577577, '2019-12-22', 'Maryland', 'Baltimore', '225 Park Ave', 0, 7, 40.6327104, -74.0271053)
2021-05-05 20:51:44,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,205 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,208 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,209 INFO sqlalchemy.engine.base.Engine (1577688, '2019-12-22', 'Minnesota', 'Minneapolis (Spring Lake Park)', '8407 Plaza Blvd NE', 1, 7, 29.9673972, -90.1018231)
2021-05-05 20:51:44,213 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,234 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,238 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,240 INFO sqlalchemy.engine.base.Engine (1577518, '2019-12-22', 'Illinois', 'Chicago', '5700 block of S May St', 0, 13, 44.98847429999999, -93.2549796)
2021-05-05 20:51:44,244 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,266 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,267 INFO sqlalchemy.engine.base.Engine (1578711, '2019-12-21', 'Louisiana', 'Edgard', '2555 LA-18', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:44,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,294 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,295 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,296 INFO sqlalchemy.engine.base.Engine (1577046, '2019-12-20', 'Mississippi', 'Waynesboro', 'Turner St', 1, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:44,301 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,326 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,328 INFO sqlalchemy.engine.base.Engine (1577438, '2019-12-20', 'Alabama', 'Tuskegee', '2900 block of Davison St', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:51:44,331 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,352 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,358 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:44,360 INFO sqlalchemy.engine.base.Engine (1575175, '2019-12-18', 'Texas', 'San Antonio', '2418 SW Military Dr', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:44,364 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,383 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,386 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,388 INFO sqlalchemy.engine.base.Engine (1573754, '2019-12-17', 'Montana', 'Great Falls', '1701 10th Ave S', 4, 1, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:44,392 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,423 INFO sqlalchemy.engine.base.Engine (1572275, '2019-12-15', 'Georgia', 'Columbus', '600 block of 32nd St', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:44,429 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,450 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,453 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,463 INFO sqlalchemy.engine.base.Engine (1573471, '2019-12-14', 'California', 'Ivanhoe', '15700 block of Paradise Ave', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:44,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,498 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,500 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,501 INFO sqlalchemy.engine.base.Engine (1571348, '2019-12-12', 'Missouri', 'Saint Louis (Moline Acres)', '9900 block of Lewis and Clark Blvd', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:44,509 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,534 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,538 INFO sqlalchemy.engine.base.Engine (1568230, '2019-12-10', 'New Jersey', 'Jersey City', '223 Martin Luther King Dr', 6, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:44,542 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,562 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,564 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,567 INFO sqlalchemy.engine.base.Engine (1567932, '2019-12-08', 'Texas', 'Desoto', '200 block of W Wintergreen Rd', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:44,573 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,593 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,595 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,597 INFO sqlalchemy.engine.base.Engine (1567231, '2019-12-08', 'Louisiana', 'New Orleans', '3801 Washington Ave', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:44,601 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,623 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,630 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,634 INFO sqlalchemy.engine.base.Engine (1565216, '2019-12-06', 'Florida', 'Pensacola', '280 Taylor Rd', 4, 8, 36.1450958, -96.0023638)
2021-05-05 20:51:44,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,664 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,667 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,669 INFO sqlalchemy.engine.base.Engine (1564524, '2019-12-04', 'Alabama', 'Montgomery', '500 Eastdale Rd S', 2, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:44,673 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,698 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,699 INFO sqlalchemy.engine.base.Engine (1562043, '2019-12-01', 'Louisiana', 'Cotton Valley', '116 Hawthorne Loop', 2, 3, 37.7194881, -122.425285)
2021-05-05 20:51:44,704 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,725 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,728 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,730 INFO sqlalchemy.engine.base.Engine (1561966, '2019-12-01', 'Louisiana', 'New Orleans', '2000 block of N Dorgenois St', 2, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:51:44,739 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,764 INFO sqlalchemy.engine.base.Engine (1561813, '2019-12-01', 'Illinois', 'Aurora', '700 block of S 5th St', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:44,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,794 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,797 INFO sqlalchemy.engine.base.Engine (1562685, '2019-12-01', 'Michigan', 'Kalamazoo', '6300 block of Proctor St', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:44,800 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,819 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,822 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,823 INFO sqlalchemy.engine.base.Engine (1561734, '2019-12-01', 'Louisiana', 'New Orleans', '700 block of Canal St', 0, 12, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:44,829 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,851 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,857 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,859 INFO sqlalchemy.engine.base.Engine (1561398, '2019-11-30', 'Arkansas', 'Hensley', '6500 block of E Sardis Rd', 0, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:51:44,864 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,889 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,890 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,892 INFO sqlalchemy.engine.base.Engine (1560645, '2019-11-29', 'Texas', 'Amarillo', '2650 Dumas Dr', 0, 7, 41.872262, -87.69373)
2021-05-05 20:51:44,896 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,916 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,918 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,919 INFO sqlalchemy.engine.base.Engine (1559257, '2019-11-27', 'New York', 'Bronx', 'E 153rd St and Courtlandt Ave', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:44,925 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,948 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,950 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,951 INFO sqlalchemy.engine.base.Engine (1558067, '2019-11-25', 'Florida', 'Brownsville', 'NW 29th Ave and 44th St', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:51:44,956 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:44,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:44,983 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:44,984 INFO sqlalchemy.engine.base.Engine (1557006, '2019-11-24', 'Alabama', 'Birmingham', '7 15th St W', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:44,988 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,010 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,012 INFO sqlalchemy.engine.base.Engine (1556633, '2019-11-24', 'California', 'Los Angeles', '100 block of E 11th St', 0, 6, 29.9673972, -90.1018231)
2021-05-05 20:51:45,018 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,042 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,043 INFO sqlalchemy.engine.base.Engine (1556984, '2019-11-24', 'Louisiana', 'Cottonport', '3846 LA-29', 2, 2, 44.98847429999999, -93.2549796)
2021-05-05 20:51:45,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,073 INFO sqlalchemy.engine.base.Engine (1555879, '2019-11-23', 'California', 'Los Angeles', '833 S Spring St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:45,079 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,101 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,104 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,106 INFO sqlalchemy.engine.base.Engine (1556002, '2019-11-23', 'Louisiana', 'Tallulah', 'Depot St', 1, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:45,110 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,135 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,139 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,141 INFO sqlalchemy.engine.base.Engine (1555135, '2019-11-21', 'California', 'Long Beach', '1100 block of 10th St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:45,151 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,181 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,183 INFO sqlalchemy.engine.base.Engine (1554807, '2019-11-21', 'Washington', 'Everett', '120 West Casino Rd', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:45,187 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,213 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,215 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,216 INFO sqlalchemy.engine.base.Engine (1554446, '2019-11-20', 'California', 'Richmond', '20th St and Roosevelt Ave', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:45,223 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,244 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,246 INFO sqlalchemy.engine.base.Engine (1552068, '2019-11-18', 'New Jersey', 'Newark', '139 S 8th St', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:45,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,272 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,274 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,276 INFO sqlalchemy.engine.base.Engine (1551531, '2019-11-17', 'California', 'Fresno', '5361 E Lamona Ave', 4, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:51:45,280 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,300 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,301 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,302 INFO sqlalchemy.engine.base.Engine (1551162, '2019-11-17', 'Ohio', 'Cleveland', '7100 block of Lawn Ave', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:45,307 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,331 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,333 INFO sqlalchemy.engine.base.Engine (1550546, '2019-11-16', 'California', 'San Diego', '2152 Flintridge Dr', 6, 0, 39.3048255, -76.6081873)

2021-05-05 20:51:45,338 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,362 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,364 INFO sqlalchemy.engine.base.Engine (1548689, '2019-11-14', 'California', 'Santa Clarita', '21900 Centurion Way', 3, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:45,368 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,399 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,406 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,409 INFO sqlalchemy.engine.base.Engine (1547021, '2019-11-11', 'Florida', 'Belle Glade', 'SW 7th St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:45,414 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,439 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,441 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,442 INFO sqlalchemy.engine.base.Engine (1546102, '2019-11-10', 'Missouri', 'Kansas City', '4704 Independence Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:45,446 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,469 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,473 INFO sqlalchemy.engine.base.Engine (1546038, '2019-11-10', 'Tennessee', 'Memphis', '2080 E. Brooks Rd', 1, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:45,477 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,498 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,500 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,502 INFO sqlalchemy.engine.base.Engine (1546155, '2019-11-10', 'Arkansas', 'Little Rock', '3000 block of W 12th St', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:45,508 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,539 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,540 INFO sqlalchemy.engine.base.Engine (1545955, '2019-11-09', 'Michigan', 'Detroit', '3800 block of E McNichols Rd', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:45,545 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,570 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,571 INFO sqlalchemy.engine.base.Engine (1546508, '2019-11-09', 'Georgia', 'Vidalia', 'Wiggins St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:45,575 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,594 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,596 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,597 INFO sqlalchemy.engine.base.Engine (1545027, '2019-11-08', 'North Carolina', 'Raleigh', '503 Bragg St', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:45,601 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,622 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,624 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,626 INFO sqlalchemy.engine.base.Engine (1543835, '2019-11-07', 'Georgia', 'Conyers', '1800 block of Green St', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:45,629 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,651 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,656 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,658 INFO sqlalchemy.engine.base.Engine (1541774, '2019-11-04', 'Texas', 'Houston', '5000 block of Northridge Dr', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:45,661 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,685 INFO sqlalchemy.engine.base.Engine (1540863, '2019-11-03', 'Ohio', 'Toledo', '600 block of Magnolia St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:45,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,714 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,717 INFO sqlalchemy.engine.base.Engine (1540841, '2019-11-03', 'Texas', 'Nacogdoches', 'Sandyland Cir and CR 823', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:45,724 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,745 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,748 INFO sqlalchemy.engine.base.Engine (1540280, '2019-11-02', 'Louisiana', 'Baton Rouge', '137 Taylor St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:45,752 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,773 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,775 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,776 INFO sqlalchemy.engine.base.Engine (1540240, '2019-11-02', 'Michigan', 'Detroit', '7000 block of E. Kirby', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:45,779 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,798 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,800 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,801 INFO sqlalchemy.engine.base.Engine (1539572, '2019-11-01', 'Arizona', 'Tolleson', '2434 S 86th Ln', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:45,806 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,828 INFO sqlalchemy.engine.base.Engine (1539557, '2019-11-01', 'Texas', 'San Angelo', '1616 S Chadbourne St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:45,833 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,854 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,856 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,859 INFO sqlalchemy.engine.base.Engine (1539347, '2019-10-31', 'California', 'Orinda', '114 Lucille Way', 5, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:45,864 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,882 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,883 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,885 INFO sqlalchemy.engine.base.Engine (1537992, '2019-10-30', 'Pennsylvania', 'Philadelphia', '5026 Walton Ave', 4, 0, 41.032132700000005, -87.5381426)
2021-05-05 20:51:45,893 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,921 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,925 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,928 INFO sqlalchemy.engine.base.Engine (1537044, '2019-10-29', 'Maryland', 'Baltimore', '4700 block of Liberty Heights Ave', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:45,940 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,970 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:45,973 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:45,974 INFO sqlalchemy.engine.base.Engine (1537672, '2019-10-29', 'California', 'Long Beach', '2709 E 7th St', 3, 9, 37.7849319, -122.4129481)
2021-05-05 20:51:45,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:45,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,000 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,002 INFO sqlalchemy.engine.base.Engine (1536787, '2019-10-28', 'Maryland', 'Baltimore', '4160 Pimlico Rd', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:46,006 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,026 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,028 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,029 INFO sqlalchemy.engine.base.Engine (1536706, '2019-10-27', 'Michigan', 'Detroit', 'East Outer Dr and Helen St', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:46,033 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,055 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,057 INFO sqlalchemy.engine.base.Engine (1535629, '2019-10-27', 'Michigan', 'Lansing', 'Balfour Dr and W Miller Rd', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:46,060 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,080 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,083 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,084 INFO sqlalchemy.engine.base.Engine (1535478, '2019-10-26', 'Texas', 'Greenville', '2275 US-380', 2, 6, 40.110245, -88.2353849)
2021-05-05 20:51:46,089 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,109 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,111 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,112 INFO sqlalchemy.engine.base.Engine (1534704, '2019-10-24', 'Oklahoma', 'Oklahoma City', '1900 block of NW 12th St', 2, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:46,116 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,135 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,138 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,139 INFO sqlalchemy.engine.base.Engine (1533166, '2019-10-22', 'Oklahoma', 'Oklahoma City (Midwest City)', '7020 E Green Ave', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:46,144 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,165 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,167 INFO sqlalchemy.engine.base.Engine (1531326, '2019-10-21', 'South Carolina', 'Sumter', '29 Wesmark Blvd', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:46,170 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,190 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,192 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,193 INFO sqlalchemy.engine.base.Engine (1530965, '2019-10-20', 'Texas', 'Port Arthur', '1100 block of Vicksburg Ave', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:46,197 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,216 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,221 INFO sqlalchemy.engine.base.Engine (1530407, '2019-10-19', 'Pennsylvania', 'Duquesne', '600 block of Priscilla Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:46,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,244 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,246 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,247 INFO sqlalchemy.engine.base.Engine (1530276, '2019-10-19', 'Texas', 'El Paso', '3812 Truman Ave', 1, 4, 37.7194881, -122.425285)
2021-05-05 20:51:46,250 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:46,271 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,273 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,275 INFO sqlalchemy.engine.base.Engine (1527528, '2019-10-15', 'Ohio', 'Columbus', '1600 block of Manchester Ave', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:46,279 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,299 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,302 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,305 INFO sqlalchemy.engine.base.Engine (1525999, '2019-10-13', 'Pennsylvania', 'Philadelphia', 'W Clearfield St and N 8th St', 0, 6, 30.702997600000003, -88.0786828)
2021-05-05 20:51:46,309 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,331 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,332 INFO sqlalchemy.engine.base.Engine (1526952, '2019-10-13', 'Ohio', 'Akron', 'Main St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:46,338 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,361 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,364 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,366 INFO sqlalchemy.engine.base.Engine (1525062, '2019-10-12', 'New York', 'Brooklyn', '75 Utica Ave', 4, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:46,371 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,392 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,395 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,397 INFO sqlalchemy.engine.base.Engine (1525476, '2019-10-12', 'Illinois', 'Chicago', '6733 W Irving Park Rd', 5, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:51:46,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,421 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,423 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,428 INFO sqlalchemy.engine.base.Engine (1525408, '2019-10-12', 'Pennsylvania', 'Philadelphia', '700 block of W Russell St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:46,435 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,454 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,460 INFO sqlalchemy.engine.base.Engine (1525628, '2019-10-12', 'Maryland', 'Baltimore', '800 block of W Lexington St', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:46,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,491 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,492 INFO sqlalchemy.engine.base.Engine (1525265, '2019-10-12', 'Michigan', 'Eastpointe', '15163 E 10 Mile Rd', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:46,496 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,516 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,517 INFO sqlalchemy.engine.base.Engine (1523606, '2019-10-10', 'Florida', 'Tampa', '5410 N Falkenburg Rd', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:51:46,522 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,544 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,547 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,550 INFO sqlalchemy.engine.base.Engine (1524264, '2019-10-10', 'Pennsylvania', 'Philadelphia', '900 block of S 5th St', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:46,555 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,579 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,580 INFO sqlalchemy.engine.base.Engine (1522979, '2019-10-09', 'Massachusetts', 'Lowell', '149 Ennell Street', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:46,587 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,608 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,610 INFO sqlalchemy.engine.base.Engine (1523204, '2019-10-09', 'Maryland', 'Baltimore', '1600 block of W North Ave', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:46,618 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,640 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,642 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,645 INFO sqlalchemy.engine.base.Engine (1521226, '2019-10-07', 'Massachusetts', 'Abington', '135 Centre Ave', 5, 0, 41.032132700000005, -87.5381426)
2021-05-05 20:51:46,649 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,668 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,686 INFO sqlalchemy.engine.base.Engine (1520425, '2019-10-06', 'Indiana', 'Evansville', '1127 Chestnut St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:46,698 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,718 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,722 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,724 INFO sqlalchemy.engine.base.Engine (1520499, '2019-10-06', 'Colorado', 'Denver', '7100 block of Ruth Way', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:46,728 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,749 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:46,751 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,757 INFO sqlalchemy.engine.base.Engine (1520330, '2019-10-06', 'Kansas', 'Kansas City', '1013 Central Ave', 4, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:46,761 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,785 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,788 INFO sqlalchemy.engine.base.Engine (1520547, '2019-10-05', 'Missouri', 'Saint Louis', '10035 Crown Point Dr', 0, 5, 30.0216391, -95.3123538)
2021-05-05 20:51:46,792 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,812 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,814 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,817 INFO sqlalchemy.engine.base.Engine (1519090, '2019-10-03', 'North Carolina', 'Roxboro', '700 South Foushee St', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:46,823 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,843 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,849 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,850 INFO sqlalchemy.engine.base.Engine (1518859, '2019-10-03', 'Missouri', 'Marshall', 'S Olson Ave', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:46,855 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,880 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,882 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,883 INFO sqlalchemy.engine.base.Engine (1517804, '2019-10-01', 'Missouri', 'Saint Louis', 'Leonor K. Sullivan Blvd and Poplar St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:46,888 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,910 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,914 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,916 INFO sqlalchemy.engine.base.Engine (1515312, '2019-09-29', 'Illinois', 'Round Lake (Round Lake Park)', '500 block of Fairlawn Ave', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:46,921 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,941 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,943 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,946 INFO sqlalchemy.engine.base.Engine (1515242, '2019-09-29', 'Wisconsin', 'Milwaukee', '1500 block of N 29th St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:46,951 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:46,975 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:46,977 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:46,978 INFO sqlalchemy.engine.base.Engine (1515128, '2019-09-29', 'Florida', 'Jacksonville', '2200 block of Clemente Dr', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:46,983 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,008 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,009 INFO sqlalchemy.engine.base.Engine (1517360, '2019-09-29', 'Kansas', 'Claflin', '1500 block of NE 100th Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:47,013 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,034 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,037 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,039 INFO sqlalchemy.engine.base.Engine (1515327, '2019-09-29', 'Texas', 'Beaumont', '4100 block of Highland Ave', 4, 0, 37.7194881, -122.425285)
2021-05-05 20:51:47,043 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,068 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,071 INFO sqlalchemy.engine.base.Engine (1511999, '2019-09-24', 'Illinois', 'Chicago', '2000 block of South Hoyne Ave', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:47,076 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,099 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,100 INFO sqlalchemy.engine.base.Engine (1510411, '2019-09-23', 'Indiana', 'Gary', '1600 block of Connecticut St', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:51:47,106 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,125 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,126 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,127 INFO sqlalchemy.engine.base.Engine (1509721, '2019-09-22', 'Missouri', 'Kansas City', '2111 Television Plaza', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:47,131 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,149 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,151 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,152 INFO sqlalchemy.engine.base.Engine (1509411, '2019-09-21', 'Louisiana', 'New Orleans', 'Poland Ave and St. Claude Ave', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:47,157 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,179 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,181 INFO sqlalchemy.engine.base.Engine (1508804, '2019-09-21', 'South Carolina', 'Lancaster', '1399 Old Charlotte Rd', 2, 8, 41.88387900000001, -87.7085187)
2021-05-05 20:51:47,188 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,213 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:47,223 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,225 INFO sqlalchemy.engine.base.Engine (1509510, '2019-09-21', 'Indiana', 'Indianapolis', '101 W Maryland St', 0, 6, 41.872262, -87.69373)
2021-05-05 20:51:47,232 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,254 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,259 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,261 INFO sqlalchemy.engine.base.Engine (1512486, '2019-09-21', 'Ohio', 'Cleveland', '3616 East 144th St', 4, 0, 42.91211149999999, -85.62301)
2021-05-05 20:51:47,266 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,286 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,288 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,289 INFO sqlalchemy.engine.base.Engine (1508859, '2019-09-20', 'Louisiana', 'New Orleans', 'Canal Blvd and City Park Ave', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:47,294 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,313 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,315 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,317 INFO sqlalchemy.engine.base.Engine (1507939, '2019-09-19', 'District of Columbia', 'Washington', '1300 block of Columbia Rd NW', 1, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:47,322 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,342 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,346 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,350 INFO sqlalchemy.engine.base.Engine (1507156, '2019-09-18', 'Illinois', 'Chicago', '4200 block of W Madison St', 3, 1, 29.9673972, -90.1018231)
2021-05-05 20:51:47,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,374 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,379 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,381 INFO sqlalchemy.engine.base.Engine (1507092, '2019-09-18', 'California', 'Wilmington', '800 block of Bayview Ave', 2, 2, 44.98847429999999, -93.2549796)
2021-05-05 20:51:47,386 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,409 INFO sqlalchemy.engine.base.Engine (1505354, '2019-09-16', 'Wyoming', 'Cheyenne', '3436 E 11th St', 2, 2, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:47,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,434 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,437 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,441 INFO sqlalchemy.engine.base.Engine (1504030, '2019-09-14', 'Missouri', 'Saint Louis', '5200 block of Tennessee Ave', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:51:47,445 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,466 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,468 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,470 INFO sqlalchemy.engine.base.Engine (1504012, '2019-09-14', 'California', 'Oakland', '38th Ave and MacArthur Blvd', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:47,477 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,499 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,501 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,506 INFO sqlalchemy.engine.base.Engine (1504387, '2019-09-14', 'Georgia', 'Lagrange', '1400 block of Elm St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:47,510 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,535 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,538 INFO sqlalchemy.engine.base.Engine (1503207, '2019-09-12', 'New Mexico', 'Albuquerque', '1919 Ladera Dr NW', 1, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:47,542 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,564 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,566 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,570 INFO sqlalchemy.engine.base.Engine (1503192, '2019-09-12', 'New Mexico', 'Albuquerque', '1028 Lura Pl SW', 4, 2, 30.0216391, -95.3123538)
2021-05-05 20:51:47,574 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,593 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,594 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,595 INFO sqlalchemy.engine.base.Engine (1501350, '2019-09-10', 'Illinois', 'Chicago', '2200 block of W Maypole Ave', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:47,599 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,622 INFO sqlalchemy.engine.base.Engine (1499460, '2019-09-08', 'South Carolina', 'Sumter', '1083 Broad St', 2, 2, 40.110245, -88.2353849)
2021-05-05 20:51:47,626 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,646 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,648 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,648 INFO sqlalchemy.engine.base.Engine (1500098, '2019-09-08', 'Louisiana', 'Alexandria', '2900 block of Cypress St', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:47,653 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,672 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,673 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:47,674 INFO sqlalchemy.engine.base.Engine (1499300, '2019-09-07', 'North Carolina', 'Whiteville', 'Brittany Ln', 3, 1, 48.461627899999996, -122.3386173)
2021-05-05 20:51:47,678 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,697 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,698 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,700 INFO sqlalchemy.engine.base.Engine (1497702, '2019-09-04', 'Louisiana', 'Marrero', '3044 Sorbonne Dr', 2, 2, 39.9854586, -75.08588999999998)
2021-05-05 20:51:47,704 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,729 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,731 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,733 INFO sqlalchemy.engine.base.Engine (1497180, '2019-09-04', 'Florida', 'Jacksonville', '400 W 62nd St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:47,740 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,769 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,771 INFO sqlalchemy.engine.base.Engine (1494697, '2019-09-02', 'North Carolina', 'Greensboro', '5528 W Market St', 2, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:47,775 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,805 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,808 INFO sqlalchemy.engine.base.Engine (1495141, '2019-09-02', 'Illinois', 'Chicago', '6200 block of S King Dr', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:47,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,834 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,838 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,840 INFO sqlalchemy.engine.base.Engine (1495192, '2019-09-02', 'Alabama', 'Elkmont', '25019 Ridge Road', 5, 0, 41.7718443, -87.67278499999998)
2021-05-05 20:51:47,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,866 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,868 INFO sqlalchemy.engine.base.Engine (1494113, '2019-09-01', 'Connecticut', 'Hartford', '80 Edgewood St', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:47,872 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,892 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,894 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,895 INFO sqlalchemy.engine.base.Engine (1494669, '2019-09-01', 'North Carolina', 'Rocky Mount', '521 Country Club Road', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:47,899 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,922 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,924 INFO sqlalchemy.engine.base.Engine (1494548, '2019-09-01', 'Alabama', 'Valley', '502 Boulevard', 0, 7, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:47,928 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,949 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,956 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,960 INFO sqlalchemy.engine.base.Engine (1493374, '2019-09-01', 'Ohio', 'Toledo', '3257 Stickney Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:47,967 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:47,987 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:47,989 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:47,990 INFO sqlalchemy.engine.base.Engine (1492778, '2019-08-31', 'North Carolina', 'Charlotte', '10035 Dabney Dr', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:47,994 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,012 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,015 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,018 INFO sqlalchemy.engine.base.Engine (1492377, '2019-08-31', 'South Carolina', 'Moncks Corner', '336 Maplewood Rd', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:48,022 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,046 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,048 INFO sqlalchemy.engine.base.Engine (1492441, '2019-08-31', 'Texas', 'Odessa', '8250 TX 191', 8, 23, 38.5979369, -121.42762739999999)
2021-05-05 20:51:48,052 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,076 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,077 INFO sqlalchemy.engine.base.Engine (1492264, '2019-08-31', 'Pennsylvania', 'Philadelphia', '4600 block of 4th St', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:51:48,081 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,100 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,103 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,105 INFO sqlalchemy.engine.base.Engine (1493429, '2019-08-31', 'Maryland', 'Baltimore', '900 block of N Monroe St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:48,110 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,130 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,133 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,137 INFO sqlalchemy.engine.base.Engine (1492297, '2019-08-31', 'Maryland', 'Frederick', '600 block of N Market St', 0, 4, 44.98847429999999, -93.2549796)

2021-05-05 20:51:48,147 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,169 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,173 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,177 INFO sqlalchemy.engine.base.Engine (1493038, '2019-08-31', 'Illinois', 'Chicago', '7100 block of S Paulina St', 2, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:48,181 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,200 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,202 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,206 INFO sqlalchemy.engine.base.Engine (1492087, '2019-08-30', 'Alabama', 'Mobile', '1621 Virginia St', 0, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:48,209 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,228 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,231 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,235 INFO sqlalchemy.engine.base.Engine (1491495, '2019-08-30', 'Maryland', 'Baltimore', '1600 block of E 29th St', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:48,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,264 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,266 INFO sqlalchemy.engine.base.Engine (1490466, '2019-08-29', 'Maryland', 'Baltimore', '2500 block of E Monument St', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:51:48,271 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,296 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,298 INFO sqlalchemy.engine.base.Engine (1487729, '2019-08-25', 'New Mexico', 'Hobbs', '1700 block of E Bond St', 3, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:48,338 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,411 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,414 INFO sqlalchemy.engine.base.Engine (1487573, '2019-08-25', 'Illinois', 'Chicago', '8200 block of S Maryland Ave', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:48,418 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,441 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,443 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,444 INFO sqlalchemy.engine.base.Engine (1487356, '2019-08-24', 'Maryland', 'Temple Hills (Camp Springs)', '6200 block of Maxwell Dr', 0, 7, 29.723582699999998, -95.4421156)
2021-05-05 20:51:48,451 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,474 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,478 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,484 INFO sqlalchemy.engine.base.Engine (1487224, '2019-08-24', 'Massachusetts', 'Lynn', 'Warren Street', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:48,490 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,522 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,524 INFO sqlalchemy.engine.base.Engine (1486232, '2019-08-23', 'Texas', 'Houston', '4900 block of Southwind St', 3, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:48,529 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,549 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,551 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,554 INFO sqlalchemy.engine.base.Engine (1489373, '2019-08-23', 'Georgia', 'Dublin', '200 Riverview Park Dr', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:48,563 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,587 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,589 INFO sqlalchemy.engine.base.Engine (1486675, '2019-08-23', 'Missouri', 'Saint Louis', '1122 Union Blvd', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:48,592 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,612 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,615 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,617 INFO sqlalchemy.engine.base.Engine (1485340, '2019-08-22', 'South Carolina', 'Columbia', '851 Bush River Rd', 2, 2, 36.1450958, -96.0023638)
2021-05-05 20:51:48,623 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,649 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,650 INFO sqlalchemy.engine.base.Engine (1485548, '2019-08-22', 'California', 'Los Angeles', '300 block of West Fifth St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:48,655 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,676 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,678 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,680 INFO sqlalchemy.engine.base.Engine (1484335, '2019-08-20', 'Georgia', 'Atlanta', '111 James P Brawley Dr SW', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:48,684 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,707 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,710 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,713 INFO sqlalchemy.engine.base.Engine (1482199, '2019-08-18', 'Missouri', 'Kansas City', '770 W 47th St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:48,718 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:48,739 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,741 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,744 INFO sqlalchemy.engine.base.Engine (1481989, '2019-08-17', 'Texas', 'Houston', '12500 block of Mylla St', 0, 6, 30.702997600000003, -88.0786828)
2021-05-05 20:51:48,749 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,769 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,770 INFO sqlalchemy.engine.base.Engine (1480326, '2019-08-15', 'Alabama', 'Montgomery', '847 N University Dr', 2, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:48,776 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,797 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,799 INFO sqlalchemy.engine.base.Engine (1479894, '2019-08-15', 'Pennsylvania', 'Philadelphia', '1400 block of W Conlyn St', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:48,803 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,823 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,825 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,827 INFO sqlalchemy.engine.base.Engine (1478869, '2019-08-14', 'Pennsylvania', 'Philadelphia', '3716 N 15th St', 0, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:51:48,832 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,852 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,855 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,857 INFO sqlalchemy.engine.base.Engine (1479395, '2019-08-13', 'Washington', 'Tacoma', 'E 38th St and E Roosevelt Ave', 2, 3, 41.872262, -87.69373)
2021-05-05 20:51:48,861 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,883 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,885 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,888 INFO sqlalchemy.engine.base.Engine (1478480, '2019-08-12', 'Mississippi', 'Greenwood', '200 Young St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:48,892 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,915 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,916 INFO sqlalchemy.engine.base.Engine (1475924, '2019-08-11', 'Illinois', 'Chicago', '3500 block of W Lake St', 0, 6, 38.5979369, -121.42762739999999)
2021-05-05 20:51:48,922 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,945 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,947 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,949 INFO sqlalchemy.engine.base.Engine (1475361, '2019-08-10', 'Virginia', 'Richmond', '6346 Midlothian Turnpike', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:48,954 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:48,977 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:48,979 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:48,980 INFO sqlalchemy.engine.base.Engine (1476271, '2019-08-10', 'California', 'San Francisco', '1100 Fillmore St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:48,985 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,007 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,009 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,011 INFO sqlalchemy.engine.base.Engine (1475208, '2019-08-09', 'Illinois', 'Chicago', '7300 block of S Artesian Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:49,016 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,043 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,044 INFO sqlalchemy.engine.base.Engine (1472641, '2019-08-07', 'Missouri', 'Saint Louis', '4900 block of Plover Ave', 3, 1, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:49,048 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,073 INFO sqlalchemy.engine.base.Engine (1469344, '2019-08-05', 'New York', 'Brooklyn', '216 Buffalo Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:49,077 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,098 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,100 INFO sqlalchemy.engine.base.Engine (1527721, '2019-08-04', 'Louisiana', 'Lake Charles', '110 Pryce St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:49,104 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,125 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,127 INFO sqlalchemy.engine.base.Engine (1468190, '2019-08-04', 'Illinois', 'Chicago', '1800 S Kildare Ave', 1, 7, 37.7849319, -122.4129481)
2021-05-05 20:51:49,131 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,153 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,157 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,159 INFO sqlalchemy.engine.base.Engine (1468799, '2019-08-04', 'Tennessee', 'Memphis', '443 E Shelby Dr', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:49,163 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,183 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:49,185 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,189 INFO sqlalchemy.engine.base.Engine (1468091, '2019-08-04', 'Illinois', 'Chicago', '2900 block of W Roosevelt Rd', 0, 7, 30.0216391, -95.3123538)
2021-05-05 20:51:49,193 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,217 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,222 INFO sqlalchemy.engine.base.Engine (1467828, '2019-08-04', 'Ohio', 'Dayton', '419 E 5th St', 10, 17, 29.723582699999998, -95.4421156)
2021-05-05 20:51:49,226 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,246 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,250 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,253 INFO sqlalchemy.engine.base.Engine (1466705, '2019-08-03', 'Texas', 'El Paso', '7101 Gateway Blvd', 23, 23, 40.110245, -88.2353849)
2021-05-05 20:51:49,261 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,297 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,301 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,304 INFO sqlalchemy.engine.base.Engine (1467157, '2019-08-02', 'Virginia', 'Suffolk', '200 block of N Broad St', 2, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:49,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,331 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,333 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,336 INFO sqlalchemy.engine.base.Engine (1462317, '2019-07-30', 'Ohio', 'Columbus', '1280 E Long St', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:49,342 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,366 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,367 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,370 INFO sqlalchemy.engine.base.Engine (1460630, '2019-07-28', 'Pennsylvania', 'Philadelphia', '2600 block of Carroll St', 1, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:49,374 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,397 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,399 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,400 INFO sqlalchemy.engine.base.Engine (1460448, '2019-07-28', 'California', 'Gilroy', '7050 Miller Ave', 4, 17, 36.1450958, -96.0023638)
2021-05-05 20:51:49,407 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,429 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,431 INFO sqlalchemy.engine.base.Engine (1461352, '2019-07-28', 'Wisconsin', 'Chippewa Falls', '16964 54th Ave', 5, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:49,435 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,459 INFO sqlalchemy.engine.base.Engine (1459941, '2019-07-28', 'District of Columbia', 'Washington', '637 T St NW', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:49,462 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,489 INFO sqlalchemy.engine.base.Engine (1460726, '2019-07-28', 'Illinois', 'Chicago', '3938 W Roosevelt Rd', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:51:49,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,518 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,520 INFO sqlalchemy.engine.base.Engine (1459389, '2019-07-27', 'Kansas', 'Wichita', '505 N Rock Rd', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:49,526 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,550 INFO sqlalchemy.engine.base.Engine (1459718, '2019-07-27', 'New York', 'Brooklyn', '1555 Linden Blvd', 1, 11, 42.2699348, -88.96278009999997)
2021-05-05 20:51:49,556 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,578 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,579 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,580 INFO sqlalchemy.engine.base.Engine (1459201, '2019-07-26', 'Washington', 'Kennewick', 'E 10th Ave', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:49,588 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,609 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,610 INFO sqlalchemy.engine.base.Engine (1457165, '2019-07-25', 'California', 'Canoga Park', '21901 Roscoe Boulevard', 4, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:49,614 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,640 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,641 INFO sqlalchemy.engine.base.Engine (1453327, '2019-07-21', 'Illinois', 'Chicago', '3900 block of Roosevelt Rd', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:49,646 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,668 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:49,671 INFO sqlalchemy.engine.base.Engine (1453884, '2019-07-21', 'District of Columbia', 'Washington', '2300 block of 15th St NE', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:49,676 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,699 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,701 INFO sqlalchemy.engine.base.Engine (1452654, '2019-07-20', 'Pennsylvania', 'Clairton', '501 Waddell Ave', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:49,708 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,728 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,730 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,732 INFO sqlalchemy.engine.base.Engine (1453350, '2019-07-20', 'Maryland', 'Baltimore', '2800 block of Boarman Ave', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:49,742 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,770 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,773 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,776 INFO sqlalchemy.engine.base.Engine (1452617, '2019-07-20', 'Illinois', 'Chicago', '2401 N Lake Shore Dr', 0, 7, 29.9673972, -90.1018231)
2021-05-05 20:51:49,789 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,811 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,815 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,817 INFO sqlalchemy.engine.base.Engine (1450767, '2019-07-18', 'Illinois', 'Chicago', '3427 W Fulton Blvd', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:51:49,822 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,844 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,851 INFO sqlalchemy.engine.base.Engine (1450124, '2019-07-17', 'Texas', 'Lubbock', 'N Elder Ave and E Colgate St', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:49,859 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,881 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,883 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,886 INFO sqlalchemy.engine.base.Engine (1449602, '2019-07-16', 'Texas', 'San Antonio', '6989 San Pedro Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:49,890 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,913 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,915 INFO sqlalchemy.engine.base.Engine (1448578, '2019-07-15', 'Georgia', 'Atlanta', '1572 Hardee St NE', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:49,919 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,940 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,943 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,944 INFO sqlalchemy.engine.base.Engine (1447456, '2019-07-14', 'Illinois', 'Chicago', '4600 block of W Erie St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:49,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,972 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:49,973 INFO sqlalchemy.engine.base.Engine (1446611, '2019-07-13', 'Illinois', 'Chicago', '7900 block of S Loomis Blvd', 1, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:49,977 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:49,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:49,999 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,001 INFO sqlalchemy.engine.base.Engine (1447057, '2019-07-13', 'Pennsylvania', 'Philadelphia', '5433 Lansdowne Ave', 0, 7, 30.0216391, -95.3123538)
2021-05-05 20:51:50,006 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,023 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,025 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,029 INFO sqlalchemy.engine.base.Engine (1445066, '2019-07-11', 'Texas', 'Houston', '5901 Royal Palms St', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:50,033 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,054 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,056 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,058 INFO sqlalchemy.engine.base.Engine (1441967, '2019-07-08', 'District of Columbia', 'Washington', '3900 Martin Luther King Jr Ave SW', 2, 2, 40.110245, -88.2353849)
2021-05-05 20:51:50,061 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,080 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,083 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,088 INFO sqlalchemy.engine.base.Engine (1441565, '2019-07-07', 'Michigan', 'Flint', 'Clio Rd and Myrtle St', 0, 6, 39.3048255, -76.6081873)
2021-05-05 20:51:50,092 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,118 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,124 INFO sqlalchemy.engine.base.Engine (1441613, '2019-07-07', 'Missouri', 'Saint Louis', 'N Tucker Blvd and Convention Plaza', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:51:50,129 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,147 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,150 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,151 INFO sqlalchemy.engine.base.Engine (1441396, '2019-07-07', 'Illinois', 'Chicago', '5600 block of S Paulina St', 0, 4, 39.9854586, -75.08588999999998)

2021-05-05 20:51:50,156 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,183 INFO sqlalchemy.engine.base.Engine (1441296, '2019-07-07', 'Illinois', 'Chicago', '600 block of W 61st Pl', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:50,190 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,211 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,212 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,213 INFO sqlalchemy.engine.base.Engine (1441317, '2019-07-07', 'New Mexico', 'Albuquerque', '211 Gold Ave SW', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:50,218 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,241 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,243 INFO sqlalchemy.engine.base.Engine (1441427, '2019-07-06', 'California', 'San Jose', '3036 Quinto Way', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:50,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,266 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,268 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,270 INFO sqlalchemy.engine.base.Engine (1441721, '2019-07-06', 'Missouri', 'Saint Louis', '1921 Chambers Rd', 5, 0, 41.7718443, -87.67278499999998)
2021-05-05 20:51:50,274 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,298 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,300 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,304 INFO sqlalchemy.engine.base.Engine (1440510, '2019-07-05', 'Massachusetts', 'Boston', 'Maple St', 0, 6, 30.702997600000003, -88.0786828)
2021-05-05 20:51:50,311 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,341 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,343 INFO sqlalchemy.engine.base.Engine (1440879, '2019-07-05', 'Nevada', 'Reno', '600 block of Spokane St', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:51:50,351 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,377 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,378 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,379 INFO sqlalchemy.engine.base.Engine (1439593, '2019-07-05', 'Illinois', 'Chicago', '1600 block of E 67th St', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:50,383 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,409 INFO sqlalchemy.engine.base.Engine (1440257, '2019-07-05', 'New York', 'Brooklyn', 'Elton St and Belmont Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:50,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,440 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,441 INFO sqlalchemy.engine.base.Engine (1440765, '2019-07-04', 'Illinois', 'Rockford', '1100 block of Preston St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:50,446 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,470 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,472 INFO sqlalchemy.engine.base.Engine (1439737, '2019-07-04', 'California', 'Los Angeles', '1900 block of Adair St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:50,479 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,499 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,501 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,506 INFO sqlalchemy.engine.base.Engine (1438971, '2019-07-04', 'Illinois', 'Chicago', '800 block of N Homan Ave', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:50,510 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,535 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,548 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,551 INFO sqlalchemy.engine.base.Engine (1439765, '2019-07-04', 'California', 'Fresno', '4700 block of E Hamilton Ave', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:50,558 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,578 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,580 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,581 INFO sqlalchemy.engine.base.Engine (1439042, '2019-07-03', 'Texas', 'Katy', '5507 Everhart Manor Ln', 2, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:50,587 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,611 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,612 INFO sqlalchemy.engine.base.Engine (1438602, '2019-07-02', 'Missouri', 'Saint Louis (Wellston)', '6250 Page Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:50,616 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,641 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,645 INFO sqlalchemy.engine.base.Engine (1437094, '2019-07-01', 'Maryland', 'Baltimore', '1200 block of N Luzerne Ave', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:50,653 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,675 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,678 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,679 INFO sqlalchemy.engine.base.Engine (1435804, '2019-06-30', 'California', 'Oakland', '3000 block of Brookdale Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:50,683 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,705 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,709 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,711 INFO sqlalchemy.engine.base.Engine (1436545, '2019-06-30', 'California', 'Yucaipa', '12700 block of California St', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:50,715 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,739 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,742 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,744 INFO sqlalchemy.engine.base.Engine (1436254, '2019-06-30', 'Texas', 'Dallas', '3535 Munger Ave', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:51:50,749 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,775 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,777 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,779 INFO sqlalchemy.engine.base.Engine (1435578, '2019-06-30', 'New York', 'Bay Shore', 'Farragut Ave', 0, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:50,782 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,806 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,808 INFO sqlalchemy.engine.base.Engine (1435041, '2019-06-29', 'Connecticut', 'Hartford', 'Judson St and Martin St', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:50,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,833 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,835 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,836 INFO sqlalchemy.engine.base.Engine (1435297, '2019-06-29', 'Louisiana', 'Gray', '2700 block of W Park Ave', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:50,840 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,860 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,862 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,863 INFO sqlalchemy.engine.base.Engine (1434931, '2019-06-29', 'Illinois', 'Chicago', '2400 block of W Jackson Blvd', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:50,867 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,890 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,892 INFO sqlalchemy.engine.base.Engine (1435028, '2019-06-29', 'Louisiana', 'Baton Rouge', '7132 Florida Blvd', 0, 7, 39.3048255, -76.6081873)
2021-05-05 20:51:50,900 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,923 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,925 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,926 INFO sqlalchemy.engine.base.Engine (1434882, '2019-06-28', 'New Jersey', 'Paterson', '50 block of Jefferson St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:50,930 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,954 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,956 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,957 INFO sqlalchemy.engine.base.Engine (1434602, '2019-06-28', 'Connecticut', 'Hamden', '937 Choate Ave', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:50,961 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:50,982 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:50,984 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:50,989 INFO sqlalchemy.engine.base.Engine (1434971, '2019-06-28', 'Georgia', 'Atlanta', 'Ira St and Bass St SW', 0, 7, 36.1450958, -96.0023638)
2021-05-05 20:51:50,992 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,017 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,023 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,028 INFO sqlalchemy.engine.base.Engine (1434893, '2019-06-28', 'New Jersey', 'Jersey City', '167 Armstrong Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:51,033 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,059 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,061 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,063 INFO sqlalchemy.engine.base.Engine (1435217, '2019-06-28', 'Minnesota', 'Saint Paul', '909 Desoto St', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:51,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,094 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,097 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,099 INFO sqlalchemy.engine.base.Engine (1432989, '2019-06-27', 'Georgia', 'Atlanta', '600 block of Parkway Dr', 0, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:51:51,105 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,126 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,127 INFO sqlalchemy.engine.base.Engine (1432930, '2019-06-26', 'Ohio', 'Akron', '900 block of Rowe St', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:51,131 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,154 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,156 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:51,158 INFO sqlalchemy.engine.base.Engine (1433857, '2019-06-26', 'Wisconsin', 'Milwaukee', '2800 block of N 34th St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:51,162 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,181 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,183 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,184 INFO sqlalchemy.engine.base.Engine (1429475, '2019-06-23', 'California', 'La Jolla', '7500 block of Draper Ave', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:51,189 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,214 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,215 INFO sqlalchemy.engine.base.Engine (1429810, '2019-06-23', 'California', 'San Jose', '568 Habbitts Court', 5, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:51:51,221 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,246 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,247 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,249 INFO sqlalchemy.engine.base.Engine (1429047, '2019-06-23', 'Indiana', 'South Bend', '1150 E Mishawaka Ave', 1, 10, 41.872262, -87.69373)
2021-05-05 20:51:51,254 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,280 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,282 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,287 INFO sqlalchemy.engine.base.Engine (1429480, '2019-06-23', 'Ohio', 'Columbus', '1767 Genessee Ave', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:51,298 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,332 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,336 INFO sqlalchemy.engine.base.Engine (1429338, '2019-06-23', 'South Carolina', 'Abbeville', '1108 Cambridge St', 3, 1, 38.5979369, -121.42762739999999)
2021-05-05 20:51:51,341 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,364 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,366 INFO sqlalchemy.engine.base.Engine (1429399, '2019-06-22', 'Virginia', 'Hampton', '1st St and E Pembroke Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:51,372 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,392 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,395 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,396 INFO sqlalchemy.engine.base.Engine (1429022, '2019-06-22', 'Pennsylvania', 'Philadelphia', '2400 block of Moore St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:51,400 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,419 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,422 INFO sqlalchemy.engine.base.Engine (1428595, '2019-06-22', 'Maryland', 'Baltimore', '800 block of N Port St', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:51,427 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,450 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,451 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,455 INFO sqlalchemy.engine.base.Engine (1428788, '2019-06-21', 'Michigan', 'Saginaw', '1506 N Charles St', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:51,459 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,480 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,482 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,483 INFO sqlalchemy.engine.base.Engine (1427483, '2019-06-21', 'Illinois', 'Chicago', '6300 block of S King Dr', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:51,488 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,510 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,513 INFO sqlalchemy.engine.base.Engine (1428047, '2019-06-21', 'California', 'Santa Maria', '519 West Taylor St', 5, 0, 36.7565424, -119.7711186)
2021-05-05 20:51:51,518 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,542 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,544 INFO sqlalchemy.engine.base.Engine (1428229, '2019-06-21', 'California', 'Richmond', '700 block of 14th St', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:51,548 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,571 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,573 INFO sqlalchemy.engine.base.Engine (1426537, '2019-06-20', 'Pennsylvania', 'Allentown', '343 Hamilton St', 0, 10, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:51,577 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,598 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,599 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,600 INFO sqlalchemy.engine.base.Engine (1425193, '2019-06-18', 'New Jersey', 'Newark', '700 block of Dr Martin Luther King Jr Blvd', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:51,606 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,626 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,627 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,628 INFO sqlalchemy.engine.base.Engine (1425161, '2019-06-17', 'Texas', 'San Antonio', 'E Market St and Tower of the Americas Way', 0, 4, 29.723582699999998, -95.4421156)

2021-05-05 20:51:51,633 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,654 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,657 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,660 INFO sqlalchemy.engine.base.Engine (1424957, '2019-06-17', 'Tennessee', 'Memphis', '2872 Coach Dr', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:51,663 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,681 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,683 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,684 INFO sqlalchemy.engine.base.Engine (1423697, '2019-06-16', 'Pennsylvania', 'Philadelphia', '6900 block of Reedbird Pl', 1, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:51,689 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,716 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,722 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,725 INFO sqlalchemy.engine.base.Engine (1423330, '2019-06-16', 'Kentucky', 'Louisville', 'Dixie Highway and Ormsby Ave', 1, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:51:51,729 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,750 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,751 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,754 INFO sqlalchemy.engine.base.Engine (1423435, '2019-06-16', 'Iowa', 'Des Moines', '1200 block of Sampson St', 0, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:51:51,759 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,786 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,794 INFO sqlalchemy.engine.base.Engine (1422981, '2019-06-15', 'Louisiana', 'Shreveport', '2500 block of Hollywood Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:51,806 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,836 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,840 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,843 INFO sqlalchemy.engine.base.Engine (1420933, '2019-06-12', 'North Carolina', 'Charlotte', '305 N Graham St', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:51,848 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,877 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,878 INFO sqlalchemy.engine.base.Engine (1419305, '2019-06-11', 'Colorado', 'Aurora', '12500 block of E Kansas Pl', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:51,882 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,908 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,909 INFO sqlalchemy.engine.base.Engine (1420432, '2019-06-11', 'Georgia', 'Savannah', '6900 Block of Damascus Rd', 2, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:51:51,913 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,934 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,937 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,939 INFO sqlalchemy.engine.base.Engine (1418533, '2019-06-09', 'Ohio', 'Cleveland', '17218 Tarkington Ave', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:51:51,944 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:51,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:51,976 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:51,977 INFO sqlalchemy.engine.base.Engine (1418548, '2019-06-09', 'New York', 'Buffalo', '2081 Niagara St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:51,981 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,004 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,008 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,009 INFO sqlalchemy.engine.base.Engine (1418457, '2019-06-09', 'Tennessee', 'Henning', '265 N Main St', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:52,013 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,037 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,039 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,040 INFO sqlalchemy.engine.base.Engine (1418180, '2019-06-08', 'Washington', 'White Swan', '5151 Medicine Valley Rd', 5, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:52,044 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,066 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,068 INFO sqlalchemy.engine.base.Engine (1417570, '2019-06-08', 'Illinois', 'Chicago', '3500 block of W North Ave', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:52,072 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,126 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,127 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,128 INFO sqlalchemy.engine.base.Engine (1417716, '2019-06-07', 'Texas', 'Austin', '8220 TX-71', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:52,132 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,275 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,276 INFO sqlalchemy.engine.base.Engine (1416374, '2019-06-06', 'Illinois', 'Chicago', '2500 block of N Lake Shore Dr', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:51:52,282 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,314 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,316 INFO sqlalchemy.engine.base.Engine (1415399, '2019-06-05', 'California', 'Santa Rosa', '828 W 9th Street', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:52,324 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,348 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,350 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,353 INFO sqlalchemy.engine.base.Engine (1412419, '2019-06-01', 'South Carolina', 'Allendale', '473 Main St S', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:52,358 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,381 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,383 INFO sqlalchemy.engine.base.Engine (1411598, '2019-06-01', 'Illinois', 'Chicago', '300 block of East Chicago Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:52,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,409 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,412 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,415 INFO sqlalchemy.engine.base.Engine (1411408, '2019-06-01', 'Virginia', 'Portsmouth', '1100 block of Mt Vernon Ave', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:52,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,440 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,441 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,443 INFO sqlalchemy.engine.base.Engine (1412243, '2019-06-01', 'Illinois', 'Chicago', '5600 block of West Madison St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:52,446 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,466 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,467 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,470 INFO sqlalchemy.engine.base.Engine (1411963, '2019-06-01', 'Georgia', 'Atlanta', '12 Broad Street', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:51:52,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,497 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,500 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,504 INFO sqlalchemy.engine.base.Engine (1412430, '2019-06-01', 'Georgia', 'Macon', 'Suzanne Dr and Robinson Dr', 2, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:52,511 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,544 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,548 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,549 INFO sqlalchemy.engine.base.Engine (1410442, '2019-05-31', 'Virginia', 'Virginia Beach', '2405 Courthouse Drive', 13, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:52,554 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,578 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,580 INFO sqlalchemy.engine.base.Engine (1411661, '2019-05-31', 'California', 'West Covina', '306 N Hollow Ave', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:52,590 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,610 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,616 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,619 INFO sqlalchemy.engine.base.Engine (1410329, '2019-05-30', 'Illinois', 'Robbins', '14000 block of Grace Ave', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:51:52,623 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,643 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,648 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,650 INFO sqlalchemy.engine.base.Engine (1408289, '2019-05-29', 'Texas', 'Cleveland', '26311 TX-321', 3, 2, 40.110245, -88.2353849)
2021-05-05 20:51:52,656 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,677 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,680 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,683 INFO sqlalchemy.engine.base.Engine (1409255, '2019-05-29', 'Louisiana', 'Reserve', '300 block of Homewood Place', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:52,692 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,719 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,721 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,723 INFO sqlalchemy.engine.base.Engine (1407941, '2019-05-27', 'Missouri', 'Saint Louis', '5900 block of Goodfellow Blvd', 2, 2, 48.461627899999996, -122.3386173)
2021-05-05 20:51:52,727 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,749 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,754 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,756 INFO sqlalchemy.engine.base.Engine (1406330, '2019-05-27', 'District of Columbia', 'Washington', '1200 block of Sumner Rd SE', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:52,759 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,780 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,781 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,783 INFO sqlalchemy.engine.base.Engine (1407189, '2019-05-27', 'New Jersey', 'Trenton', '100 block of Walnut St', 1, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:52,788 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,808 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:52,809 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,810 INFO sqlalchemy.engine.base.Engine (1405445, '2019-05-26', 'District of Columbia', 'Washington', '3509 Wheeler Rd SE', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:52,816 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,841 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,844 INFO sqlalchemy.engine.base.Engine (1405749, '2019-05-26', 'Virginia', 'La Crosse', '800 block of Alvis Road', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:52,848 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,867 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,868 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,872 INFO sqlalchemy.engine.base.Engine (1406070, '2019-05-26', 'California', 'Stockton', '600 block of E Oak St', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:52,877 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,898 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,899 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,900 INFO sqlalchemy.engine.base.Engine (1404417, '2019-05-25', 'New Jersey', 'Trenton', '225 Brunswick Ave', 0, 9, 30.702997600000003, -88.0786828)
2021-05-05 20:51:52,908 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,929 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,931 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,931 INFO sqlalchemy.engine.base.Engine (1404580, '2019-05-25', 'Michigan', 'Detroit', '3400 block of Devonshire', 3, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:52,938 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,957 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,958 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,960 INFO sqlalchemy.engine.base.Engine (1405196, '2019-05-25', 'Virginia', 'Chesapeake', 'Holly Cove Dr and Schooner Trail', 1, 9, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:52,964 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:52,983 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:52,984 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:52,987 INFO sqlalchemy.engine.base.Engine (1405317, '2019-05-25', 'Maryland', 'Baltimore', '500 block of N Belnord Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:52,991 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,011 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,013 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,015 INFO sqlalchemy.engine.base.Engine (1405221, '2019-05-25', 'Oklahoma', 'Oklahoma City', 'N Kelley Ave and NE 26th St', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:53,021 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,048 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,050 INFO sqlalchemy.engine.base.Engine (1400095, '2019-05-20', 'Oklahoma', 'Tulsa', '8118 E 16th St', 2, 2, 42.91211149999999, -85.62301)
2021-05-05 20:51:53,054 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,079 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,085 INFO sqlalchemy.engine.base.Engine (1400146, '2019-05-20', 'Louisiana', 'Alexandria', '1900 block of Bacon Street', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:53,091 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,116 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,117 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,120 INFO sqlalchemy.engine.base.Engine (1400561, '2019-05-20', 'Ohio', 'Columbus', '2424 Sullivant Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:53,124 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,146 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,147 INFO sqlalchemy.engine.base.Engine (1399820, '2019-05-19', 'Oregon', 'Portland', '226 SE Madison St', 0, 5, 29.9673972, -90.1018231)
2021-05-05 20:51:53,151 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,170 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,172 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,175 INFO sqlalchemy.engine.base.Engine (1399017, '2019-05-18', 'Mississippi', 'Cascilla', '700 Leverette Ln', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:53,179 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,201 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,202 INFO sqlalchemy.engine.base.Engine (1398553, '2019-05-18', 'Alabama', 'Atmore', '100 Martin Luther King Avenue', 1, 8, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:53,207 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,226 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,228 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,230 INFO sqlalchemy.engine.base.Engine (1398538, '2019-05-18', 'Indiana', 'Muncie', '2410 W. Euclid Ave', 1, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:53,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,255 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,257 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:53,259 INFO sqlalchemy.engine.base.Engine (1398593, '2019-05-18', 'California', 'Long Beach', '1616 West Pacific Coast Highway', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:53,262 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,280 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,282 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,284 INFO sqlalchemy.engine.base.Engine (1398584, '2019-05-18', 'Iowa', 'Cedar Rapids', '70 Kirkwood Ct SW', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:51:53,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,310 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,317 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,323 INFO sqlalchemy.engine.base.Engine (1400934, '2019-05-18', 'Nebraska', 'Omaha', '2825 Y St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:53,353 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,392 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,395 INFO sqlalchemy.engine.base.Engine (1399346, '2019-05-18', 'North Carolina', 'Winston Salem (Winston-salem)', '4252 Cody Drive', 2, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:53,401 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,423 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,425 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,430 INFO sqlalchemy.engine.base.Engine (1398876, '2019-05-17', 'California', 'Sacramento', '7326 Stockton Blvd', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:51:53,434 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,454 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,456 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,457 INFO sqlalchemy.engine.base.Engine (1397521, '2019-05-16', 'Ohio', 'Cleveland', '9500 Cardwell Ave', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:53,463 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,482 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,489 INFO sqlalchemy.engine.base.Engine (1396491, '2019-05-15', 'Louisiana', 'Saint Rose', '100 block of St. Rose Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:53,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,514 INFO sqlalchemy.engine.base.Engine (1395560, '2019-05-14', 'California', 'Los Angeles', '1248 W 47th St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:53,520 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,542 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,544 INFO sqlalchemy.engine.base.Engine (1393960, '2019-05-13', 'Louisiana', 'New Orleans', '2100 block of 4th St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:53,548 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,571 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,573 INFO sqlalchemy.engine.base.Engine (1394330, '2019-05-13', 'Missouri', 'Saint Louis', '4047 Shreve Ave', 4, 1, 36.1450958, -96.0023638)
2021-05-05 20:51:53,577 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,597 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,600 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,603 INFO sqlalchemy.engine.base.Engine (1392923, '2019-05-11', 'Pennsylvania', 'Effort', 'Toll Rd and Bayberry Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:53,607 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,628 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,630 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,632 INFO sqlalchemy.engine.base.Engine (1391971, '2019-05-10', 'Pennsylvania', 'Philadelphia', '1900 block of N Croskey St', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:53,638 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,659 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,660 INFO sqlalchemy.engine.base.Engine (1392313, '2019-05-10', 'Missouri', 'Saint Louis', '4000 block of Ashland Ave', 0, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:51:53,665 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,684 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,687 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,688 INFO sqlalchemy.engine.base.Engine (1390764, '2019-05-08', 'Indiana', 'Indianapolis', 'Roache St and Rader St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:53,691 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,720 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,722 INFO sqlalchemy.engine.base.Engine (1389220, '2019-05-07', 'Colorado', 'Littleton (Highlands Ranch)', '8773 S Ridgeline Blvd', 1, 8, 42.2699348, -88.96278009999997)
2021-05-05 20:51:53,727 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,747 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,749 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,750 INFO sqlalchemy.engine.base.Engine (1386962, '2019-05-05', 'New Jersey', 'North Bergen', '2033 45th Street', 1, 4, 34.027134000000004, -118.35078290000001)

2021-05-05 20:51:53,758 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,778 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,779 INFO sqlalchemy.engine.base.Engine (1387170, '2019-05-05', 'California', 'Oceano', '1001 Cabrillo Hwy', 0, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:51:53,788 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,809 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,810 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,812 INFO sqlalchemy.engine.base.Engine (1386510, '2019-05-04', 'Missouri', 'Saint Louis', 'Union Blvd and Northland Ave', 1, 4, 41.872262, -87.69373)
2021-05-05 20:51:53,818 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,853 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,857 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,861 INFO sqlalchemy.engine.base.Engine (1386929, '2019-05-04', 'Indiana', 'Indianapolis', '101 W Maryland St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:53,872 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,900 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,903 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,907 INFO sqlalchemy.engine.base.Engine (1387245, '2019-05-04', 'California', 'Stockton', '5105 Holiday Dr', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:53,912 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,940 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,941 INFO sqlalchemy.engine.base.Engine (1386575, '2019-05-04', 'Delaware', 'Wilmington', 'W 27th St and Tatnall St', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:53,945 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:53,966 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:53,972 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:53,975 INFO sqlalchemy.engine.base.Engine (1386481, '2019-05-03', 'Texas', 'Dallas', '5400 Cedar Springs Rd', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:53,979 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,001 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,003 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,006 INFO sqlalchemy.engine.base.Engine (1386085, '2019-05-03', 'Maryland', 'Baltimore', '1900 block of Ramsay St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:54,010 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,034 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,037 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,038 INFO sqlalchemy.engine.base.Engine (1385642, '2019-05-03', 'Maryland', 'Baltimore', '2500 block of E Biddle St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:54,041 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,062 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,064 INFO sqlalchemy.engine.base.Engine (1384553, '2019-05-01', 'Massachusetts', 'Boston', '32 Windermere Rd', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:51:54,069 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,089 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,090 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,091 INFO sqlalchemy.engine.base.Engine (1383752, '2019-04-30', 'North Carolina', 'Charlotte', '9214 South Library Ln', 2, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:54,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,122 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,124 INFO sqlalchemy.engine.base.Engine (1381857, '2019-04-28', 'Tennessee', 'Nashville', '1407 Dr DB Todd Jr Blvd', 0, 7, 37.7849319, -122.4129481)
2021-05-05 20:51:54,131 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,150 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,152 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,154 INFO sqlalchemy.engine.base.Engine (1382099, '2019-04-28', 'Alabama', 'Birmingham', '514 19th St Ensley', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:54,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,180 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,183 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,187 INFO sqlalchemy.engine.base.Engine (1381979, '2019-04-28', 'Maryland', 'Baltimore', '2544 Edmondson Ave', 1, 7, 30.0216391, -95.3123538)
2021-05-05 20:51:54,191 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,211 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,213 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,214 INFO sqlalchemy.engine.base.Engine (1382711, '2019-04-28', 'Ohio', 'West Chester', '4637 Wyndtree Dr', 4, 0, 29.723582699999998, -95.4421156)
2021-05-05 20:51:54,219 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,240 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,242 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,243 INFO sqlalchemy.engine.base.Engine (1381771, '2019-04-27', 'Mississippi', 'Jackson', '700 block of Monterey St', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:51:54,247 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:54,266 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,267 INFO sqlalchemy.engine.base.Engine (1381273, '2019-04-27', 'California', 'Poway', '16934 Chabad Way', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:51:54,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,292 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,293 INFO sqlalchemy.engine.base.Engine (1381734, '2019-04-27', 'California', 'Los Angeles', '700 N San Fernando Rd', 0, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:51:54,297 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,321 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,323 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,324 INFO sqlalchemy.engine.base.Engine (1377519, '2019-04-21', 'Pennsylvania', 'Philadelphia', '1500 block of South 31st St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:54,328 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,350 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,357 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,359 INFO sqlalchemy.engine.base.Engine (1376873, '2019-04-20', 'Tennessee', 'Memphis', '761 Chestnut Ave', 0, 6, 36.1450958, -96.0023638)
2021-05-05 20:51:54,369 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,398 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,400 INFO sqlalchemy.engine.base.Engine (1376883, '2019-04-19', 'Kansas', 'Wichita', '1628 S George Washington Blvd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:54,409 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,434 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,437 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,438 INFO sqlalchemy.engine.base.Engine (1375235, '2019-04-18', 'Kentucky', 'Louisville', '4000 block of Bells Ln', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:51:54,444 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,466 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,468 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,470 INFO sqlalchemy.engine.base.Engine (1373557, '2019-04-16', 'Maryland', 'Germantown', '18700 block of Curry Powder Ln', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:51:54,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,495 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,498 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,500 INFO sqlalchemy.engine.base.Engine (1370795, '2019-04-14', 'Florida', 'Miami', 'NW 19th Ave and 60th St', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:51:54,508 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,526 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,528 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,529 INFO sqlalchemy.engine.base.Engine (1371024, '2019-04-14', 'California', 'Vallejo', '100 block of Princeton Ave', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:51:54,533 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,554 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,557 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,559 INFO sqlalchemy.engine.base.Engine (1371065, '2019-04-14', 'California', 'Stockton', '2539 E Main St', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:54,562 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,590 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,593 INFO sqlalchemy.engine.base.Engine (1374920, '2019-04-13', 'California', 'Moreno Valley', '23500 block of Alessandro Blvd', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:54,599 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,624 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,627 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,628 INFO sqlalchemy.engine.base.Engine (1370269, '2019-04-12', 'Illinois', 'Carbondale', '119 N Washington St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:54,632 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,654 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,657 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,659 INFO sqlalchemy.engine.base.Engine (1368597, '2019-04-11', 'Maryland', 'Baltimore', '2200 block of Ruskin Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:54,663 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,686 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,688 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,690 INFO sqlalchemy.engine.base.Engine (1369109, '2019-04-11', 'California', 'Los Angeles', 'E 103rd St and S Main St', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:54,694 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,715 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,720 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,723 INFO sqlalchemy.engine.base.Engine (1369148, '2019-04-11', 'Arizona', 'Phoenix', '7112 W Minnezona Ave', 3, 2, 40.6327104, -74.0271053)
2021-05-05 20:51:54,727 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,747 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,749 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:54,750 INFO sqlalchemy.engine.base.Engine (1367011, '2019-04-09', 'Missouri', 'Kansas City', '5339 Michigan Ave', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:54,757 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,775 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,777 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,778 INFO sqlalchemy.engine.base.Engine (1365052, '2019-04-07', 'North Carolina', 'Winston Salem (Winston-salem)', '515 N Cherry St', 0, 7, 44.98847429999999, -93.2549796)
2021-05-05 20:51:54,783 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,805 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,808 INFO sqlalchemy.engine.base.Engine (1365077, '2019-04-07', 'Indiana', 'Indianapolis', '3600 block of Roosevelt Ave', 2, 2, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:54,813 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,837 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,838 INFO sqlalchemy.engine.base.Engine (1365173, '2019-04-07', 'Delaware', 'Wilmington', '940 N Pine St', 0, 6, 41.032132700000005, -87.5381426)
2021-05-05 20:51:54,843 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,869 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,870 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,871 INFO sqlalchemy.engine.base.Engine (1365100, '2019-04-07', 'Louisiana', 'Shreveport', '433 Flournoy Lucas Rd', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:54,876 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,899 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,901 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,903 INFO sqlalchemy.engine.base.Engine (1364443, '2019-04-06', 'Florida', 'Tallahassee', '500 block of Kissimmee St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:54,907 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,926 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,927 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,928 INFO sqlalchemy.engine.base.Engine (1364540, '2019-04-06', 'Illinois', 'Chicago', '6300 block of S Seeley Ave', 0, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:54,932 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,953 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,955 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,956 INFO sqlalchemy.engine.base.Engine (1363737, '2019-04-04', 'Florida', 'Panama City', '100 block of Allen Ave', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:51:54,960 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:54,978 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:54,981 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:54,982 INFO sqlalchemy.engine.base.Engine (1362715, '2019-04-04', 'Georgia', 'Stockbridge', '300 block of Eagle Ct', 3, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:51:54,987 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,010 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,012 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,015 INFO sqlalchemy.engine.base.Engine (1362364, '2019-04-02', 'Mississippi', 'Hermanville', '13195 MS 18', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:55,020 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,042 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,044 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,045 INFO sqlalchemy.engine.base.Engine (1362182, '2019-04-02', 'Kentucky', 'Covington', '337 E 13th St', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:55,050 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,073 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,074 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,077 INFO sqlalchemy.engine.base.Engine (1360333, '2019-03-31', 'Georgia', 'Atlanta', '3041 Landrum Dr SW', 1, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:55,083 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,103 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,109 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,113 INFO sqlalchemy.engine.base.Engine (1359599, '2019-03-31', 'South Carolina', 'North Charleston', '1900 block of Jacksonville Rd', 0, 7, 39.9854586, -75.08588999999998)
2021-05-05 20:51:55,119 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,146 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,148 INFO sqlalchemy.engine.base.Engine (1359455, '2019-03-31', 'Illinois', 'Chicago', '500 block of N Hamlin Ave', 1, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:55,153 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,175 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,177 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,179 INFO sqlalchemy.engine.base.Engine (1357591, '2019-03-28', 'Maryland', 'Baltimore', '6200 block of Boston St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:55,183 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,203 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,206 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,208 INFO sqlalchemy.engine.base.Engine (1355275, '2019-03-25', 'Nevada', 'North Las Vegas', '2400 block of W San Miguel St', 0, 5, 37.7194881, -122.425285)

2021-05-05 20:51:55,212 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,236 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,243 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,246 INFO sqlalchemy.engine.base.Engine (1353714, '2019-03-24', 'California', 'San Francisco', '1300 Fillmore St', 1, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:55,253 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,278 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,280 INFO sqlalchemy.engine.base.Engine (1354049, '2019-03-24', 'Arizona', 'Phoenix', '2202 W McDowell Rd', 0, 7, 30.702997600000003, -88.0786828)
2021-05-05 20:51:55,286 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,310 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,313 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,314 INFO sqlalchemy.engine.base.Engine (1350494, '2019-03-19', 'Arizona', 'Phoenix', '8526 N 27th Ave', 2, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:55,319 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,341 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,343 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,345 INFO sqlalchemy.engine.base.Engine (1348844, '2019-03-17', 'Georgia', 'Augusta', '900 block of Broad St', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:55,353 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,384 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,387 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,389 INFO sqlalchemy.engine.base.Engine (1349256, '2019-03-17', 'Georgia', 'Rochelle', 'Dennis St', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:51:55,393 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,420 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,422 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,423 INFO sqlalchemy.engine.base.Engine (1348793, '2019-03-17', 'Nevada', 'Las Vegas', '600 E Fremont St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:55,428 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,450 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,453 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,458 INFO sqlalchemy.engine.base.Engine (1347974, '2019-03-16', 'New Jersey', 'Camden', '619 Ferry Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:51:55,462 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,489 INFO sqlalchemy.engine.base.Engine (1348291, '2019-03-15', 'Alabama', 'Mobile', '515 Dauphin Island Pkwy', 2, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:55,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,517 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,520 INFO sqlalchemy.engine.base.Engine (1347894, '2019-03-14', 'Montana', 'Missoula', '5145 Airway Blvd', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:55,524 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,548 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,550 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,551 INFO sqlalchemy.engine.base.Engine (1344488, '2019-03-11', 'New Jersey', 'Paterson', '291 12th Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:55,555 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,577 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,579 INFO sqlalchemy.engine.base.Engine (1343330, '2019-03-10', 'Louisiana', 'Shreveport', '2700 block of San Jacinto Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:55,582 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,604 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,606 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,607 INFO sqlalchemy.engine.base.Engine (1343274, '2019-03-10', 'Colorado', 'Denver', '15th St and Market St', 1, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:55,611 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,637 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,639 INFO sqlalchemy.engine.base.Engine (1338860, '2019-03-03', 'California', 'Oakland', '316 14th St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:55,643 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,662 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,664 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,666 INFO sqlalchemy.engine.base.Engine (1338765, '2019-03-03', 'Illinois', 'Chicago', '2900 block of E 79th St', 0, 6, 36.7565424, -119.7711186)
2021-05-05 20:51:55,670 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,692 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,695 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,697 INFO sqlalchemy.engine.base.Engine (1338790, '2019-03-02', 'Arkansas', 'Pine Bluff', '723 East 25th Ave', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:55,702 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:51:55,725 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,728 INFO sqlalchemy.engine.base.Engine (1337498, '2019-02-28', 'California', 'Oakland', '9755 Edes Ave', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:55,732 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,752 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,754 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,755 INFO sqlalchemy.engine.base.Engine (1333480, '2019-02-22', 'Alabama', 'Birmingham', '1100 block of Carnation Dr', 2, 2, 30.0216391, -95.3123538)
2021-05-05 20:51:55,763 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,785 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,788 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,790 INFO sqlalchemy.engine.base.Engine (1331974, '2019-02-21', 'Maryland', 'Baltimore', '500 block of Bloom St', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:55,797 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,827 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,831 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,833 INFO sqlalchemy.engine.base.Engine (1332507, '2019-02-21', 'Kentucky', 'Elizabethtown', '600 N Miles St', 2, 2, 40.110245, -88.2353849)
2021-05-05 20:51:55,840 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,869 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,872 INFO sqlalchemy.engine.base.Engine (1332429, '2019-02-21', 'Texas', 'Houston', '12800 block of Eastbrook Dr', 2, 2, 39.3048255, -76.6081873)
2021-05-05 20:51:55,878 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,904 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,907 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,909 INFO sqlalchemy.engine.base.Engine (1332181, '2019-02-20', 'Tennessee', 'Covington', '529 N College St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:55,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,941 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,943 INFO sqlalchemy.engine.base.Engine (1329144, '2019-02-17', 'Texas', 'Henderson', '504 S Van Buren St', 2, 2, 39.9854586, -75.08588999999998)
2021-05-05 20:51:55,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:55,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:55,970 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:55,973 INFO sqlalchemy.engine.base.Engine (1328792, '2019-02-17', 'Indiana', 'Evansville', '664 E Illinois St', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:51:55,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,002 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,004 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,007 INFO sqlalchemy.engine.base.Engine (1329075, '2019-02-17', 'Louisiana', 'New Orleans', 'Tulane Ave and Elk Pl', 1, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:56,011 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,036 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,038 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,039 INFO sqlalchemy.engine.base.Engine (1328562, '2019-02-16', 'Mississippi', 'Clinton', '1214 Foxhill Dr', 5, 0, 37.7194881, -122.425285)
2021-05-05 20:51:56,043 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,064 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,066 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,069 INFO sqlalchemy.engine.base.Engine (1327321, '2019-02-15', 'Illinois', 'Aurora', '641 Archer Ave', 6, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:51:56,073 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,095 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,097 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,098 INFO sqlalchemy.engine.base.Engine (1324279, '2019-02-11', 'Texas', 'Livingston', '3628 FM 3126', 5, 0, 30.702997600000003, -88.0786828)
2021-05-05 20:51:56,103 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,127 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,129 INFO sqlalchemy.engine.base.Engine (1323448, '2019-02-09', 'Virginia', 'Petersburg', '109 Perry St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:56,134 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,157 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,161 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,164 INFO sqlalchemy.engine.base.Engine (1321021, '2019-02-06', 'New York', 'Brooklyn', '1778 Fulton St', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:56,171 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,191 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,193 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,194 INFO sqlalchemy.engine.base.Engine (1321093, '2019-02-05', 'Texas', 'San Antonio', '538 Hot Wells Blvd', 2, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:51:56,200 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,223 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,226 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:56,228 INFO sqlalchemy.engine.base.Engine (1319333, '2019-02-04', 'District of Columbia', 'Washington', '2341 Pennsylvania Ave SE', 0, 5, 41.872262, -87.69373)
2021-05-05 20:51:56,232 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,255 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,257 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,258 INFO sqlalchemy.engine.base.Engine (1319325, '2019-02-04', 'Louisiana', 'Baton Rouge', '4000 block of Topeka St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:51:56,263 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,284 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,286 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,287 INFO sqlalchemy.engine.base.Engine (1318391, '2019-02-03', 'Illinois', 'Chicago', '938 E 75th St', 2, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:51:56,294 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,316 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,319 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,320 INFO sqlalchemy.engine.base.Engine (1320286, '2019-02-03', 'California', 'Palm Springs', 'E Sunny Dunes Rd and El Placer Rd', 4, 0, 40.6327104, -74.0271053)
2021-05-05 20:51:56,326 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,353 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,357 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,359 INFO sqlalchemy.engine.base.Engine (1318187, '2019-02-01', 'California', 'San Diego', '6800 block of Springfield St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:56,364 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,390 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,392 INFO sqlalchemy.engine.base.Engine (1314289, '2019-01-28', 'Texas', 'Houston', '7815 Harding St', 2, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:56,400 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,426 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,427 INFO sqlalchemy.engine.base.Engine (1314253, '2019-01-27', 'Alabama', 'Birmingham', 'Avenue O and Warrior Rd', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:56,437 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,458 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,460 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,463 INFO sqlalchemy.engine.base.Engine (1312391, '2019-01-26', 'Georgia', 'Albany', '300 block of W Roosevelt', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:56,471 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,495 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,498 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,502 INFO sqlalchemy.engine.base.Engine (1312284, '2019-01-26', 'Louisiana', 'Gonzales', '42350 Church Point Rd', 5, 0, 36.7565424, -119.7711186)
2021-05-05 20:51:56,506 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,527 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,529 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,530 INFO sqlalchemy.engine.base.Engine (1312463, '2019-01-26', 'Indiana', 'Indianapolis', '2957 N Sherman Dr', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:51:56,536 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,559 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,561 INFO sqlalchemy.engine.base.Engine (1313291, '2019-01-26', 'New Jersey', 'Newark', '612 Bergen St', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:56,566 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,591 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,592 INFO sqlalchemy.engine.base.Engine (1310775, '2019-01-24', 'Pennsylvania', 'State College', '1450 S Atherton St', 4, 1, 30.0216391, -95.3123538)
2021-05-05 20:51:56,597 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,622 INFO sqlalchemy.engine.base.Engine (1310397, '2019-01-24', 'Georgia', 'Rockmart', '319 Williamson St', 4, 1, 29.723582699999998, -95.4421156)
2021-05-05 20:51:56,627 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,656 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,659 INFO sqlalchemy.engine.base.Engine (1309114, '2019-01-23', 'Florida', 'Sebring', '1901 US 27 S', 5, 0, 40.110245, -88.2353849)
2021-05-05 20:51:56,663 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,687 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,691 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,699 INFO sqlalchemy.engine.base.Engine (1306920, '2019-01-20', 'Florida', 'Miami', '26133 SW 139th Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:56,709 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,731 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,733 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,735 INFO sqlalchemy.engine.base.Engine (1305563, '2019-01-19', 'Pennsylvania', 'Lebanon', '1140 Church St', 0, 4, 48.461627899999996, -122.3386173)

2021-05-05 20:51:56,738 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,758 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,762 INFO sqlalchemy.engine.base.Engine (1305679, '2019-01-19', 'South Carolina', 'Gaffney', '1435 Wilcox Ave', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:56,766 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,785 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,787 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,788 INFO sqlalchemy.engine.base.Engine (1305516, '2019-01-19', 'Illinois', 'Chicago', '4400 block of W Madison St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:51:56,791 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,809 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,811 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,812 INFO sqlalchemy.engine.base.Engine (1305538, '2019-01-19', 'Florida', 'Jacksonville', '11445 Brian Lakes Drive', 3, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:56,815 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,835 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,837 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,839 INFO sqlalchemy.engine.base.Engine (1305294, '2019-01-19', 'Texas', 'Houston', '7041 Sherman St', 3, 2, 37.7194881, -122.425285)
2021-05-05 20:51:56,842 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,861 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,864 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,865 INFO sqlalchemy.engine.base.Engine (1303486, '2019-01-17', 'Kentucky', 'Owensboro', '940 Audubon Ave', 3, 1, 41.7718443, -87.67278499999998)
2021-05-05 20:51:56,870 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,890 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,892 INFO sqlalchemy.engine.base.Engine (1302060, '2019-01-16', 'Florida', 'Jacksonville', 'Emerson St and Spring Park Rd', 1, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:56,896 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,915 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,919 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,920 INFO sqlalchemy.engine.base.Engine (1303303, '2019-01-16', 'California', 'Palmdale', 'Ranch Center Dr and 40th St W', 3, 1, 42.2699348, -88.96278009999997)
2021-05-05 20:51:56,924 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,942 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,944 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,945 INFO sqlalchemy.engine.base.Engine (1301778, '2019-01-15', 'Arkansas', 'Little Rock', '5420 Baseline Rd', 1, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:56,949 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,971 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,972 INFO sqlalchemy.engine.base.Engine (1299680, '2019-01-13', 'Arizona', 'Phoenix', '2445 E Van Buren St', 1, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:51:56,976 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:56,994 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:56,996 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:56,998 INFO sqlalchemy.engine.base.Engine (1295294, '2019-01-06', 'New Mexico', 'Roswell', '1300 block of W College Blvd', 0, 4, 41.872262, -87.69373)
2021-05-05 20:51:57,001 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,022 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,024 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,025 INFO sqlalchemy.engine.base.Engine (1292684, '2019-01-04', 'Virginia', 'Hurt', '3197 Shula Dr', 3, 2, 42.91211149999999, -85.62301)
2021-05-05 20:51:57,029 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,049 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,052 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,054 INFO sqlalchemy.engine.base.Engine (1293054, '2019-01-04', 'California', 'Torrance', '22501 Hawthorne Blvd', 3, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:57,058 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,080 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,081 INFO sqlalchemy.engine.base.Engine (1292941, '2019-01-03', 'Arizona', 'Yuma', '3800 block of E County 18 St', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:51:57,086 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,109 INFO sqlalchemy.engine.base.Engine (1291779, '2019-01-02', 'Arkansas', 'Jonesboro', '3516 Galaxy St', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:57,113 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,136 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,139 INFO sqlalchemy.engine.base.Engine (1289877, '2019-01-01', 'South Carolina', 'Columbia', '1709 Decker Blvd', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:51:57,146 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,167 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,170 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,171 INFO sqlalchemy.engine.base.Engine (1289618, '2019-01-01', 'Florida', 'Tallahassee', '2020 W Pensacola St', 0, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:57,177 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,206 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,208 INFO sqlalchemy.engine.base.Engine (1289686, '2018-12-31', 'Ohio', 'Cleveland', '4462 Denison Ave', 3, 2, 41.032132700000005, -87.5381426)
2021-05-05 20:51:57,214 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,243 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,245 INFO sqlalchemy.engine.base.Engine (1288376, '2018-12-29', 'Ohio', 'Lima', '904 S Main St', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:51:57,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,272 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,274 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,276 INFO sqlalchemy.engine.base.Engine (1287286, '2018-12-28', 'Missouri', 'Saint Charles', '150 Whetstone Dr', 4, 1, 37.7849319, -122.4129481)
2021-05-05 20:51:57,282 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,305 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,307 INFO sqlalchemy.engine.base.Engine (1284586, '2018-12-24', 'Louisiana', 'Lutcher', '2176 Main St', 2, 2, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:57,310 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,332 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,335 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,337 INFO sqlalchemy.engine.base.Engine (1283229, '2018-12-23', 'Missouri', 'Springfield', '1042 W College St', 1, 6, 30.0216391, -95.3123538)
2021-05-05 20:51:57,341 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,363 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,365 INFO sqlalchemy.engine.base.Engine (1282704, '2018-12-22', 'Nevada', 'Las Vegas', '3528 S Maryland Pkwy', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:57,370 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,390 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,391 INFO sqlalchemy.engine.base.Engine (1279617, '2018-12-18', 'Maryland', 'Baltimore', '3942 Park Heights Ave', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:57,395 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,415 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,417 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,420 INFO sqlalchemy.engine.base.Engine (1277327, '2018-12-15', 'Florida', 'Miami', '239 NW 16th St', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:51:57,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,446 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,452 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,458 INFO sqlalchemy.engine.base.Engine (1277411, '2018-12-14', 'Colorado', 'Colorado Springs', '700 block of Geiger Ct', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:51:57,464 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,487 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,489 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,490 INFO sqlalchemy.engine.base.Engine (1276091, '2018-12-13', 'Pennsylvania', 'Philadelphia', '4505 N Broad St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:57,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,517 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,520 INFO sqlalchemy.engine.base.Engine (1276298, '2018-12-11', 'Louisiana', 'Natchitoches', 'Caspari St and University Pkwy', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:51:57,524 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,545 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,547 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,550 INFO sqlalchemy.engine.base.Engine (1272855, '2018-12-09', 'Wisconsin', 'Madison', '3554 E Washington Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:57,556 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,587 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,590 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,591 INFO sqlalchemy.engine.base.Engine (1273161, '2018-12-08', 'California', 'Inglewood', '801 S Inglewood Ave', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:51:57,596 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,622 INFO sqlalchemy.engine.base.Engine (1272106, '2018-12-08', 'New York', 'Corona (Queens)', '89-25 130th St', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:57,628 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,654 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,658 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:57,660 INFO sqlalchemy.engine.base.Engine (1267682, '2018-12-01', 'Florida', 'Miami', 'NW Fifth Ave and NW Eighth St', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:51:57,665 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,690 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,692 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,693 INFO sqlalchemy.engine.base.Engine (1266937, '2018-11-26', 'Tennessee', 'Powell', 'Tammy Dr', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:51:57,698 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,719 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,721 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,723 INFO sqlalchemy.engine.base.Engine (1262814, '2018-11-25', 'Alabama', 'Demopolis', 'Floyd St and Field St', 2, 2, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:57,728 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,750 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,753 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,755 INFO sqlalchemy.engine.base.Engine (1263332, '2018-11-25', 'California', 'Oakland', '1000 block of 24th St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:57,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,785 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,787 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,788 INFO sqlalchemy.engine.base.Engine (1263086, '2018-11-25', 'Texas', 'Houston', '4500 block of Yale St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:57,793 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,814 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,815 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,818 INFO sqlalchemy.engine.base.Engine (1262013, '2018-11-23', 'Florida', 'Miami', '5801 NW 27th Ave', 2, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:57,824 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,846 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,849 INFO sqlalchemy.engine.base.Engine (1261351, '2018-11-22', 'Indiana', 'Fort Wayne', '6100 block of Downingtown Dr', 3, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:51:57,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,878 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,881 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,884 INFO sqlalchemy.engine.base.Engine (1260525, '2018-11-21', 'Missouri', 'Saint Louis', '4200 block of Shreve Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:57,889 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,910 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,911 INFO sqlalchemy.engine.base.Engine (1258777, '2018-11-19', 'Colorado', 'Denver', '1200 21st Street', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:57,919 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,940 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,942 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,943 INFO sqlalchemy.engine.base.Engine (1258804, '2018-11-19', 'Pennsylvania', 'Philadelphia', '5100 block of Malcolm St', 4, 0, 44.98847429999999, -93.2549796)
2021-05-05 20:51:57,948 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:57,971 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:57,973 INFO sqlalchemy.engine.base.Engine (1258009, '2018-11-18', 'California', 'Los Angeles (Watts)', '95th St and Defiance Ave', 1, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:57,977 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:57,998 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,000 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,003 INFO sqlalchemy.engine.base.Engine (1257508, '2018-11-16', 'Arkansas', 'Little Rock', '4405 W 14th St', 3, 1, 41.032132700000005, -87.5381426)
2021-05-05 20:51:58,007 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,028 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,030 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,031 INFO sqlalchemy.engine.base.Engine (1256435, '2018-11-14', 'Louisiana', 'Baton Rouge', '4896 Gus Young Ave', 3, 1, 36.7565424, -119.7711186)
2021-05-05 20:51:58,036 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,060 INFO sqlalchemy.engine.base.Engine (1254225, '2018-11-13', 'New Mexico', 'Gallup', 'CR 1 and Defiance Draw Rd', 4, 1, 37.7849319, -122.4129481)
2021-05-05 20:51:58,066 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,087 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,089 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,093 INFO sqlalchemy.engine.base.Engine (1254084, '2018-11-12', 'North Carolina', 'Dunn', '4640 Woods Crossroads Rd', 3, 1, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:58,098 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,123 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,125 INFO sqlalchemy.engine.base.Engine (1253361, '2018-11-11', 'Arizona', 'Globe', '598 N Broad St', 3, 1, 30.0216391, -95.3123538)

2021-05-05 20:51:58,129 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,152 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,158 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,159 INFO sqlalchemy.engine.base.Engine (1249561, '2018-11-07', 'California', 'Thousand Oaks', '99 Rolling Oaks Dr', 13, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:51:58,163 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,185 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,188 INFO sqlalchemy.engine.base.Engine (1246727, '2018-11-03', 'New York', 'Watertown', '136 Franklin St', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:51:58,192 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,216 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,221 INFO sqlalchemy.engine.base.Engine (1247019, '2018-11-02', 'California', 'Long Beach (North Long Beach)', '5800 block of Brayton Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:58,224 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,251 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,252 INFO sqlalchemy.engine.base.Engine (1246489, '2018-11-02', 'Florida', 'Tallahassee', '1950 Thomasville Rd', 3, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:58,257 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,278 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,280 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,281 INFO sqlalchemy.engine.base.Engine (1245703, '2018-11-01', 'Minnesota', 'Minneapolis', '3400 block of Girard Ave N', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:51:58,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,311 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,316 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,319 INFO sqlalchemy.engine.base.Engine (1245274, '2018-11-01', 'Missouri', 'Springfield', '906 E Locust St', 3, 2, 36.1450958, -96.0023638)
2021-05-05 20:51:58,354 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,418 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,420 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,422 INFO sqlalchemy.engine.base.Engine (1244754, '2018-10-31', 'Michigan', 'Detroit', '19000 block of Langholm St', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:58,427 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,447 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,449 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,453 INFO sqlalchemy.engine.base.Engine (1246059, '2018-10-30', 'California', 'Vallejo', 'Woodrow Ave and Reis Ave', 2, 3, 37.7194881, -122.425285)
2021-05-05 20:51:58,463 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,491 INFO sqlalchemy.engine.base.Engine (1244424, '2018-10-30', 'California', 'Los Angeles', '65th Place and Vermont Avenue', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:51:58,502 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,526 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,529 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,531 INFO sqlalchemy.engine.base.Engine (1243331, '2018-10-29', 'California', 'Riverside', '3252 Mission Inn Ave', 0, 7, 30.702997600000003, -88.0786828)
2021-05-05 20:51:58,537 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,557 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,559 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,561 INFO sqlalchemy.engine.base.Engine (1243010, '2018-10-28', 'Arkansas', 'El Dorado', '2 Whites Quarters', 2, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:58,565 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,586 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,588 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,589 INFO sqlalchemy.engine.base.Engine (1242807, '2018-10-27', 'Tennessee', 'Memphis', '4275 Lady Slipper Ln', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:58,593 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,615 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,618 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,619 INFO sqlalchemy.engine.base.Engine (1241819, '2018-10-27', 'Pennsylvania', 'Pittsburgh', '5898 Wilkins Ave', 11, 7, 41.88387900000001, -87.7085187)
2021-05-05 20:51:58,625 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,646 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,648 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,650 INFO sqlalchemy.engine.base.Engine (1242443, '2018-10-26', 'New Jersey', 'Jersey City', '77 Brinkerhoff St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:51:58,657 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,676 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,678 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,680 INFO sqlalchemy.engine.base.Engine (1240751, '2018-10-24', 'Illinois', 'Chicago', '6200 block of S King Dr', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:51:58,684 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:51:58,704 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,707 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,708 INFO sqlalchemy.engine.base.Engine (1238603, '2018-10-22', 'Illinois', 'Chicago', '9231 S Cottage Grove Av', 0, 6, 38.5979369, -121.42762739999999)
2021-05-05 20:51:58,712 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,736 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,739 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,740 INFO sqlalchemy.engine.base.Engine (1237930, '2018-10-21', 'Florida', 'Jacksonville', '900 block of A Philip Randolph Blvd', 1, 5, 40.6327104, -74.0271053)
2021-05-05 20:51:58,745 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,770 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,772 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,773 INFO sqlalchemy.engine.base.Engine (1238052, '2018-10-21', 'Washington', 'Lakewood', '8722 S Tacoma Way', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:51:58,778 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,808 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,809 INFO sqlalchemy.engine.base.Engine (1234087, '2018-10-16', 'Georgia', 'Atlanta', 'Broad St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:58,813 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,842 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,845 INFO sqlalchemy.engine.base.Engine (1233663, '2018-10-15', 'Tennessee', 'Columbia', '1075 Carters Creek Pike', 5, 0, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:58,852 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,871 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,874 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,876 INFO sqlalchemy.engine.base.Engine (1232554, '2018-10-14', 'Texas', 'Fort Worth', '5310 E Rosedale St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:51:58,880 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,903 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,909 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,910 INFO sqlalchemy.engine.base.Engine (1233563, '2018-10-14', 'Nevada', 'Las Vegas', '2815 W Lake Mead Blvd', 3, 1, 36.7565424, -119.7711186)
2021-05-05 20:51:58,914 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,936 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,939 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,940 INFO sqlalchemy.engine.base.Engine (1233068, '2018-10-14', 'California', 'Palo Alto (East Palo Alto)', '2500 block of Pulgas Ave', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:51:58,945 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:58,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:58,972 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:58,975 INFO sqlalchemy.engine.base.Engine (1232288, '2018-10-13', 'Texas', 'Taft', '511 Wilburn St', 4, 1, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:58,979 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,003 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,010 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,012 INFO sqlalchemy.engine.base.Engine (1232018, '2018-10-13', 'Missouri', 'Saint Louis', '400 block of Midlothian Road', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:59,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,042 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,049 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,052 INFO sqlalchemy.engine.base.Engine (1232044, '2018-10-12', 'South Carolina', 'Spartanburg', '1620 John B White Sr Blvd', 0, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:51:59,057 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,078 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,082 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,085 INFO sqlalchemy.engine.base.Engine (1231385, '2018-10-12', 'Nevada', 'Las Vegas', '6500 block of W Charleston Blvd', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:51:59,090 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,110 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,112 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,113 INFO sqlalchemy.engine.base.Engine (1229738, '2018-10-08', 'Alabama', 'Birmingham', 'Joppa Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:59,119 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,140 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,142 INFO sqlalchemy.engine.base.Engine (1226923, '2018-10-06', 'Oklahoma', 'Tulsa', '9453 E 31st St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:51:59,146 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,164 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,167 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,170 INFO sqlalchemy.engine.base.Engine (1226853, '2018-10-06', 'Texas', 'Houston', '6802 Cullen Blvd', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:51:59,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,195 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,197 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:51:59,198 INFO sqlalchemy.engine.base.Engine (1226384, '2018-10-06', 'California', 'Oakland', 'Williams St and Telegraph Ave', 0, 6, 36.1450958, -96.0023638)
2021-05-05 20:51:59,202 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,223 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,225 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,227 INFO sqlalchemy.engine.base.Engine (1225631, '2018-10-04', 'Georgia', 'Swainsboro', 'Lucky St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:51:59,231 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,252 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,253 INFO sqlalchemy.engine.base.Engine (1226179, '2018-10-04', 'New Mexico', 'Espanola (Espaola)', '1813 N Riverside Dr', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:51:59,257 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,277 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,288 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,294 INFO sqlalchemy.engine.base.Engine (1223865, '2018-10-03', 'South Carolina', 'Florence', '932 Ashton Dr', 2, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:51:59,300 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,328 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,331 INFO sqlalchemy.engine.base.Engine (1223755, '2018-10-03', 'Pennsylvania', 'Philadelphia', '5101 Germantown Ave', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:51:59,336 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,355 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,357 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,359 INFO sqlalchemy.engine.base.Engine (1221758, '2018-10-01', 'Illinois', 'Chicago', '500 block of S Michigan Ave', 2, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:51:59,368 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,389 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,391 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,393 INFO sqlalchemy.engine.base.Engine (1221794, '2018-09-30', 'California', 'Compton', '1300 E Palmer St', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:51:59,398 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,421 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,423 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,426 INFO sqlalchemy.engine.base.Engine (1220912, '2018-09-29', 'Florida', 'Orlando', '1700 block of 24th St', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:51:59,429 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,460 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,462 INFO sqlalchemy.engine.base.Engine (1220331, '2018-09-28', 'Pennsylvania', 'Philadelphia', '5100 block of Haverford Ave', 2, 2, 41.872262, -87.69373)
2021-05-05 20:51:59,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,488 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,490 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,491 INFO sqlalchemy.engine.base.Engine (1217150, '2018-09-24', 'Tennessee', 'Memphis', '1528 Ragan St', 3, 2, 42.91211149999999, -85.62301)
2021-05-05 20:51:59,496 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,519 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,523 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,525 INFO sqlalchemy.engine.base.Engine (1215987, '2018-09-23', 'California', 'Bakersfield', '2600 block of Chandler Court', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:51:59,530 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,550 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,553 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,554 INFO sqlalchemy.engine.base.Engine (1215954, '2018-09-23', 'California', 'Baldwin Park', '3700 block of Loma Lane', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:51:59,558 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,577 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,580 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,581 INFO sqlalchemy.engine.base.Engine (1215904, '2018-09-22', 'New York', 'Hempstead', 'Dolan St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:51:59,588 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,608 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,610 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,613 INFO sqlalchemy.engine.base.Engine (1215739, '2018-09-21', 'District of Columbia', 'Washington', '1800 block of Benning Rd NE', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:51:59,619 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,645 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,649 INFO sqlalchemy.engine.base.Engine (1213926, '2018-09-20', 'Maryland', 'Aberdeen', '1501 Perryman Rd', 4, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:51:59,654 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,675 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,677 INFO sqlalchemy.engine.base.Engine (1214298, '2018-09-20', 'New York', 'Syracuse', '1317 Midland Ave', 0, 5, 41.032132700000005, -87.5381426)

2021-05-05 20:51:59,682 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,702 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,706 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,708 INFO sqlalchemy.engine.base.Engine (1213223, '2018-09-19', 'Wisconsin', 'Middleton', '1850 Deming Way', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:51:59,712 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,735 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,737 INFO sqlalchemy.engine.base.Engine (1213293, '2018-09-19', 'Pennsylvania', 'Masontown', '1 E Church St', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:51:59,740 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,761 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,764 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,768 INFO sqlalchemy.engine.base.Engine (1213836, '2018-09-19', 'Illinois', 'Chicago', 'W Cermak Rd and S State St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:51:59,773 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,795 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,803 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,806 INFO sqlalchemy.engine.base.Engine (1212984, '2018-09-18', 'Louisiana', 'New Orleans (Algiers)', '1100 block of Sumner St', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:51:59,811 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,842 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,852 INFO sqlalchemy.engine.base.Engine (1212567, '2018-09-18', 'Tennessee', 'Memphis', '4622 Faronia Rd', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:51:59,859 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,879 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,881 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,883 INFO sqlalchemy.engine.base.Engine (1211659, '2018-09-17', 'Maryland', 'Silver Spring', '123 Amberleigh Dr', 4, 1, 40.110245, -88.2353849)
2021-05-05 20:51:59,890 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,914 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,917 INFO sqlalchemy.engine.base.Engine (1210742, '2018-09-15', 'Wisconsin', 'Milwaukee', '820 S 21st St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:51:59,922 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,946 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,947 INFO sqlalchemy.engine.base.Engine (1209006, '2018-09-12', 'California', 'Bakersfield', '660 Manwell Blvd', 6, 0, 48.461627899999996, -122.3386173)
2021-05-05 20:51:59,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:51:59,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:51:59,977 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:51:59,978 INFO sqlalchemy.engine.base.Engine (1208397, '2018-09-11', 'Illinois', 'Chicago', '10600 block of S Bensley Avenue', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:51:59,982 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,008 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,011 INFO sqlalchemy.engine.base.Engine (1206828, '2018-09-10', 'Tennessee', 'Memphis', '140 Lt George W Lee Ave', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:52:00,016 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,037 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,039 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,040 INFO sqlalchemy.engine.base.Engine (1206409, '2018-09-09', 'Illinois', 'Elgin', '550 S McLean Blvd', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:00,045 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,071 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,074 INFO sqlalchemy.engine.base.Engine (1206375, '2018-09-09', 'Alabama', 'Auburn', '224 W Magnolia St', 1, 4, 37.7194881, -122.425285)
2021-05-05 20:52:00,081 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,104 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,106 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,107 INFO sqlalchemy.engine.base.Engine (1206050, '2018-09-07', 'Minnesota', 'Minneapolis', '2024 N Washington Ave', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:52:00,111 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,137 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,139 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,141 INFO sqlalchemy.engine.base.Engine (1204538, '2018-09-06', 'Ohio', 'Cincinnati', '511 Walnut St', 4, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:52:00,145 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,168 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,170 INFO sqlalchemy.engine.base.Engine (1204486, '2018-09-04', 'Georgia', 'Albany', '1200 block of Gillespie Ave', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:00,173 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,220 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,223 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,227 INFO sqlalchemy.engine.base.Engine (1202134, '2018-09-02', 'Texas', 'San Antonio', '600 block of Morningview St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:00,231 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,258 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,260 INFO sqlalchemy.engine.base.Engine (1202274, '2018-09-02', 'New Jersey', 'Paterson', '43 12th Ave', 2, 2, 41.872262, -87.69373)
2021-05-05 20:52:00,265 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,292 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,293 INFO sqlalchemy.engine.base.Engine (1202318, '2018-09-02', 'Alabama', 'Birmingham', '500 23rd St S', 0, 7, 42.91211149999999, -85.62301)
2021-05-05 20:52:00,298 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,325 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,327 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,330 INFO sqlalchemy.engine.base.Engine (1201885, '2018-09-02', 'Arkansas', 'Fort Smith', '801 Garrison Ave', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:00,337 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,363 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,365 INFO sqlalchemy.engine.base.Engine (1202332, '2018-09-02', 'California', 'San Bernardino', '1277 East Lynwood Drive', 0, 8, 40.6327104, -74.0271053)
2021-05-05 20:52:00,371 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,391 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,392 INFO sqlalchemy.engine.base.Engine (1202437, '2018-09-02', 'New Jersey', 'Trenton', 'Stuyvesant Ave and Bryn Mawr Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:00,396 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,419 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,421 INFO sqlalchemy.engine.base.Engine (1201973, '2018-09-01', 'Florida', 'Fort Lauderdale (Lauderhill)', '5225 NW 24th Ct', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:52:00,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,444 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,446 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,447 INFO sqlalchemy.engine.base.Engine (1201135, '2018-09-01', 'Ohio', 'Cleveland', '3232 Lakeside Ave East', 1, 7, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:00,452 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,471 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,473 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,475 INFO sqlalchemy.engine.base.Engine (1200904, '2018-08-31', 'Colorado', 'Aurora', '1900 block of Peoria St', 2, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:52:00,479 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,497 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,499 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,500 INFO sqlalchemy.engine.base.Engine (1197278, '2018-08-27', 'Arkansas', 'Pine Bluff', '2600 block of W 34th Ave', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:52:00,504 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,522 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,525 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,527 INFO sqlalchemy.engine.base.Engine (1196028, '2018-08-26', 'Florida', 'Jacksonville', '2 Independent Dr', 3, 9, 37.7849319, -122.4129481)
2021-05-05 20:52:00,532 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,553 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,556 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,558 INFO sqlalchemy.engine.base.Engine (1195537, '2018-08-25', 'Virginia', 'Richmond', '4 N 18th St', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:00,562 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,580 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,583 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,584 INFO sqlalchemy.engine.base.Engine (1196051, '2018-08-25', 'Tennessee', 'Nashville', '1564 9th Ave N', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:00,588 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,611 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,615 INFO sqlalchemy.engine.base.Engine (1194315, '2018-08-23', 'Pennsylvania', 'Philadelphia', '5800 block of Oakland St', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:00,620 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,642 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,645 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,648 INFO sqlalchemy.engine.base.Engine (1194598, '2018-08-23', 'Maryland', 'Baltimore', '1700 block of Homestead St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:00,653 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:00,674 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,677 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,678 INFO sqlalchemy.engine.base.Engine (1194057, '2018-08-22', 'Missouri', 'Saint Louis', 'I-64 and Jefferson Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:00,681 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,700 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,702 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,703 INFO sqlalchemy.engine.base.Engine (1192788, '2018-08-21', 'Tennessee', 'Memphis', '2119 E Alcy Rd', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:00,708 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,728 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,729 INFO sqlalchemy.engine.base.Engine (1191368, '2018-08-20', 'Tennessee', 'Jackson', '60 Heritage Square', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:00,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,756 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,758 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,759 INFO sqlalchemy.engine.base.Engine (1192036, '2018-08-20', 'Ohio', 'Cleveland', 'E 94th St and Kinsman Rd', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:00,763 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,781 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,784 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,785 INFO sqlalchemy.engine.base.Engine (1191279, '2018-08-19', 'Illinois', 'Chicago', '7400 block of S Dante Ave', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:00,789 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,809 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,811 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,813 INFO sqlalchemy.engine.base.Engine (1190035, '2018-08-18', 'New York', 'Bronx', '925 Allerton Ave', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:00,817 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,838 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,840 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,842 INFO sqlalchemy.engine.base.Engine (1189717, '2018-08-17', 'Illinois', 'Chicago', '1600 block of W 65th St', 0, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:52:00,845 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,868 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,869 INFO sqlalchemy.engine.base.Engine (1188597, '2018-08-15', 'South Carolina', 'Greenwood', '104 Mimosa Ct', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:52:00,873 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,891 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,893 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,894 INFO sqlalchemy.engine.base.Engine (1186888, '2018-08-14', 'Pennsylvania', 'Wyncote', '1000 S Easton Rd', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:00,898 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,918 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,921 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,922 INFO sqlalchemy.engine.base.Engine (1185520, '2018-08-12', 'California', 'Clearlake', '4786 Yarrington Ct', 4, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:00,926 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,947 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,948 INFO sqlalchemy.engine.base.Engine (1185622, '2018-08-12', 'Pennsylvania', 'Pittsburgh (East Liberty)', '5600 block of Broad St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:00,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:00,974 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:00,975 INFO sqlalchemy.engine.base.Engine (1186061, '2018-08-11', 'California', 'San Francisco', 'Geneva St and Mission St', 1, 4, 41.872262, -87.69373)
2021-05-05 20:52:00,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:00,997 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,000 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,001 INFO sqlalchemy.engine.base.Engine (1184607, '2018-08-11', 'Colorado', 'Thornton', '4050 E 100th Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:52:01,005 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,025 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,027 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,028 INFO sqlalchemy.engine.base.Engine (1185040, '2018-08-11', 'Ohio', 'Columbus', '1280 Summit St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:01,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,052 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,055 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,056 INFO sqlalchemy.engine.base.Engine (1184992, '2018-08-10', 'Missouri', 'Saint Louis', '1515 N 13th St', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:01,060 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,079 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,081 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:01,083 INFO sqlalchemy.engine.base.Engine (1184206, '2018-08-10', 'Michigan', 'Detroit', '6300 block of Vinewood St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:01,087 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,108 INFO sqlalchemy.engine.base.Engine (1182893, '2018-08-08', 'New Jersey', 'Paterson', 'Mercer St and Franklin St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:01,112 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,130 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,135 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,136 INFO sqlalchemy.engine.base.Engine (1182717, '2018-08-08', 'Pennsylvania', 'Philadelphia', 'North 12th Street and West Huntingdon Street', 2, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:01,140 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,159 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,162 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,167 INFO sqlalchemy.engine.base.Engine (1179935, '2018-08-05', 'Illinois', 'Chicago', '50 block of N Leclaire Ave', 1, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:01,170 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,189 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,191 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,192 INFO sqlalchemy.engine.base.Engine (1179619, '2018-08-05', 'Illinois', 'Chicago', '1300 block of S Millard Ave', 1, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:01,196 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,214 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,217 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,218 INFO sqlalchemy.engine.base.Engine (1179607, '2018-08-05', 'Illinois', 'Chicago', '1300 block of W 76th St', 0, 8, 37.7849319, -122.4129481)
2021-05-05 20:52:01,223 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,278 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,279 INFO sqlalchemy.engine.base.Engine (1179677, '2018-08-05', 'Illinois', 'Chicago', '900 block of S Karlov Ave', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:01,284 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,306 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,308 INFO sqlalchemy.engine.base.Engine (1179644, '2018-08-05', 'Illinois', 'Chicago', '1600 block of S Avers Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:01,314 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,334 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,337 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,338 INFO sqlalchemy.engine.base.Engine (1179810, '2018-08-04', 'Nevada', 'Las Vegas', '3400 block of Coran Ln', 0, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:52:01,342 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,364 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,367 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,369 INFO sqlalchemy.engine.base.Engine (1180161, '2018-08-04', 'Missouri', 'Kansas City', 'E 18th St and Highland Ave', 0, 6, 40.110245, -88.2353849)
2021-05-05 20:52:01,375 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,401 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,406 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,409 INFO sqlalchemy.engine.base.Engine (1179805, '2018-08-04', 'Illinois', 'Chicago', '1600 block of N Leclaire Ave', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:52:01,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,437 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,440 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,442 INFO sqlalchemy.engine.base.Engine (1179589, '2018-08-04', 'Wisconsin', 'Milwaukee', '40th St and Vliet St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:01,447 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,470 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,471 INFO sqlalchemy.engine.base.Engine (1176169, '2018-07-31', 'California', 'Gardena', '1212 West 135th Street', 2, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:01,476 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,497 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,499 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,502 INFO sqlalchemy.engine.base.Engine (1177024, '2018-07-30', 'Georgia', 'Savannah', '12328 Largo Dr', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:01,506 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,527 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,534 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,536 INFO sqlalchemy.engine.base.Engine (1175571, '2018-07-30', 'Illinois', 'Chicago', '1200 block of S Avers Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:01,540 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,563 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,565 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,567 INFO sqlalchemy.engine.base.Engine (1174423, '2018-07-29', 'Pennsylvania', 'York', '100 block of E Maple St', 0, 4, 37.7194881, -122.425285)

2021-05-05 20:52:01,570 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,591 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,592 INFO sqlalchemy.engine.base.Engine (1174960, '2018-07-29', 'Arizona', 'Phoenix', '2501 E Van Buren St', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:01,596 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,621 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,623 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,625 INFO sqlalchemy.engine.base.Engine (1174990, '2018-07-29', 'Michigan', 'Lansing', 'Spring and River Street', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:01,630 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,649 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,651 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,653 INFO sqlalchemy.engine.base.Engine (1174190, '2018-07-28', 'Louisiana', 'New Orleans', '3400 S Claiborne Ave', 3, 7, 42.2699348, -88.96278009999997)
2021-05-05 20:52:01,662 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,681 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,686 INFO sqlalchemy.engine.base.Engine (1174527, '2018-07-28', 'California', 'Los Angeles', '8801 S Vermont Ave', 2, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:01,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,709 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,711 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,712 INFO sqlalchemy.engine.base.Engine (1173476, '2018-07-27', 'Texas', 'Robstown', '603 East Ave J', 5, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:52:01,717 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,737 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,739 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,741 INFO sqlalchemy.engine.base.Engine (1173637, '2018-07-27', 'Illinois', 'Chicago', '1100 block of S Troy St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:01,745 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,769 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,771 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,772 INFO sqlalchemy.engine.base.Engine (1172224, '2018-07-26', 'Ohio', 'Cleveland', '18416 St Clair Ave', 1, 6, 42.91211149999999, -85.62301)
2021-05-05 20:52:01,776 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,793 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,795 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,797 INFO sqlalchemy.engine.base.Engine (1173069, '2018-07-26', 'California', 'Oakland', '73rd Ave and Bancroft Ave', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:52:01,801 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,819 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,821 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,822 INFO sqlalchemy.engine.base.Engine (1172403, '2018-07-26', 'Texas', 'Dallas', '3019 South Blvd', 0, 6, 40.6327104, -74.0271053)
2021-05-05 20:52:01,826 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,848 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,850 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,852 INFO sqlalchemy.engine.base.Engine (1172333, '2018-07-25', 'Louisiana', 'New Orleans', '7000 block of Bullard Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:01,856 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,879 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,881 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,883 INFO sqlalchemy.engine.base.Engine (1170482, '2018-07-23', 'Illinois', 'Chicago', '6400 block of S May St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:52:01,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:01,923 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:01,940 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:01,942 INFO sqlalchemy.engine.base.Engine (1168828, '2018-07-21', 'Maryland', 'Baltimore', '1000 block of Dundalk Ave', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:01,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,018 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,020 INFO sqlalchemy.engine.base.Engine (1169103, '2018-07-21', 'Illinois', 'Chicago', '3100 block of W Fulton St', 2, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:02,025 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,049 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,051 INFO sqlalchemy.engine.base.Engine (1169656, '2018-07-20', 'Washington', 'Sunnyside', '500 block of S 15th St', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:02,056 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,086 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,088 INFO sqlalchemy.engine.base.Engine (1167806, '2018-07-20', 'New Jersey', 'Elizabeth', '323 Irvington Ave', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:02,092 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,114 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,117 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,118 INFO sqlalchemy.engine.base.Engine (1166302, '2018-07-18', 'Oklahoma', 'Oklahoma City', '7201 Melrose Ln', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:02,122 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,147 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,149 INFO sqlalchemy.engine.base.Engine (1165214, '2018-07-16', 'Florida', 'Palm Beach Gardens (Riviera Beach)', '2100 block of W 28th St', 2, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:02,154 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,178 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,180 INFO sqlalchemy.engine.base.Engine (1165183, '2018-07-16', 'District of Columbia', 'Washington', '300 block of 53rd St NE', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:02,185 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,206 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,210 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,215 INFO sqlalchemy.engine.base.Engine (1165299, '2018-07-16', 'Pennsylvania', 'Philadelphia', '2100 block of N 4th St', 1, 4, 40.110245, -88.2353849)
2021-05-05 20:52:02,220 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,243 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,248 INFO sqlalchemy.engine.base.Engine (1164167, '2018-07-15', 'Colorado', 'Denver', '50th Ave and Grant St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:02,253 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,277 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,279 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,284 INFO sqlalchemy.engine.base.Engine (1164110, '2018-07-15', 'Tennessee', 'Chattanooga', '1400 Cowart St', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:02,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,309 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,311 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,312 INFO sqlalchemy.engine.base.Engine (1163947, '2018-07-14', 'Maryland', 'Fort Washington', '9500 block of Fort Foote Rd', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:02,318 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,342 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,351 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,353 INFO sqlalchemy.engine.base.Engine (1162785, '2018-07-13', 'Virginia', 'Richmond', '1401 Roseneath Rd', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:02,358 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,381 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,384 INFO sqlalchemy.engine.base.Engine (1162687, '2018-07-12', 'Tennessee', 'Memphis', '3678 Powers Rd', 0, 5, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:02,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,415 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,418 INFO sqlalchemy.engine.base.Engine (1162437, '2018-07-11', 'Texas', 'Houston', '9550 Bissonnet St', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:02,422 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,444 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,454 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,458 INFO sqlalchemy.engine.base.Engine (1161230, '2018-07-11', 'Florida', 'Reddick', '16300 block of NW Gainesville Rd', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:02,463 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,490 INFO sqlalchemy.engine.base.Engine (1159820, '2018-07-09', 'Florida', 'Orlando', 'Southland Blvd and Orange Blossom Trail', 1, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:02,494 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,515 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,521 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,523 INFO sqlalchemy.engine.base.Engine (1160253, '2018-07-09', 'Delaware', 'Wilmington', '2709 Ferris Rd', 5, 0, 42.2699348, -88.96278009999997)
2021-05-05 20:52:02,528 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,549 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,551 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,552 INFO sqlalchemy.engine.base.Engine (1160418, '2018-07-08', 'Alabama', 'Brandon', '565 US-80', 0, 6, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:02,558 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,578 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,580 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,582 INFO sqlalchemy.engine.base.Engine (1159528, '2018-07-08', 'Tennessee', 'Memphis', 'Mount Moriah Rd and Mendenhall Rd', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:02,586 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:02,606 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,609 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,610 INFO sqlalchemy.engine.base.Engine (1158826, '2018-07-07', 'Alabama', 'Wetumpka', '135 Granite Way', 3, 2, 41.872262, -87.69373)
2021-05-05 20:52:02,617 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,651 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,653 INFO sqlalchemy.engine.base.Engine (1156480, '2018-07-05', 'New York', 'Brooklyn', '280 Herkimer St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:02,658 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,685 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,686 INFO sqlalchemy.engine.base.Engine (1157073, '2018-07-05', 'New York', 'Albany', 'First St and Lexington Ave', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:02,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,710 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,712 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,713 INFO sqlalchemy.engine.base.Engine (1156528, '2018-07-05', 'California', 'Los Angeles', '1600 block of W. 2nd Street', 3, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:02,719 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,740 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,742 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,744 INFO sqlalchemy.engine.base.Engine (1156638, '2018-07-05', 'Virginia', 'Virginia Beach', '1800 block of Atlantic Ave', 0, 6, 29.9673972, -90.1018231)
2021-05-05 20:52:02,748 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,771 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,773 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,776 INFO sqlalchemy.engine.base.Engine (1157733, '2018-07-05', 'Ohio', 'Lima', '1440 Bellefontaine Ave', 1, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:52:02,780 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,804 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,807 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,809 INFO sqlalchemy.engine.base.Engine (1155906, '2018-07-04', 'Georgia', 'Atlanta', '5456 E Fayetteville Rd', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:02,813 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,838 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,840 INFO sqlalchemy.engine.base.Engine (1155567, '2018-07-03', 'Missouri', 'Saint Louis', '1700 block of Billups Ave', 1, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:02,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,867 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,869 INFO sqlalchemy.engine.base.Engine (1154998, '2018-07-03', 'District of Columbia', 'Washington', '1700 block of Benning Rd NE', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:02,872 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,892 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,895 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,897 INFO sqlalchemy.engine.base.Engine (1154558, '2018-07-02', 'New York', 'Buffalo', 'Grape St', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:52:02,901 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,920 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,923 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,925 INFO sqlalchemy.engine.base.Engine (1153997, '2018-07-01', 'Illinois', 'Chicago', '3400 block of W Walnut Ave', 0, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:02,929 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,949 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,951 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,953 INFO sqlalchemy.engine.base.Engine (1153531, '2018-06-30', 'Maryland', 'Baltimore', '4000 block of Penhurst Ave', 0, 6, 30.0216391, -95.3123538)
2021-05-05 20:52:02,958 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:02,979 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:02,981 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:02,985 INFO sqlalchemy.engine.base.Engine (1153134, '2018-06-30', 'Georgia', 'Ashburn', '800 Block of W. Washington', 1, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:52:02,990 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,011 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,013 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,014 INFO sqlalchemy.engine.base.Engine (1153471, '2018-06-30', 'New Jersey', 'Jersey City', 'Lexington Ave and John F Kennedy Blvd', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:52:03,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,044 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,045 INFO sqlalchemy.engine.base.Engine (1151584, '2018-06-28', 'Maryland', 'Annapolis', '888 Bestgate Rd', 5, 0, 39.3048255, -76.6081873)
2021-05-05 20:52:03,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,070 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:03,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,074 INFO sqlalchemy.engine.base.Engine (1151355, '2018-06-27', 'California', 'Oakland', '8901 MacArthur Boulevard', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:03,078 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,098 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,101 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,102 INFO sqlalchemy.engine.base.Engine (1151527, '2018-06-27', 'Texas', 'San Antonio', '100 block of Holly Street', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:03,107 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,126 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,129 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,130 INFO sqlalchemy.engine.base.Engine (1151373, '2018-06-27', 'Connecticut', 'Hartford', '124 Hillside Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:03,135 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,158 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,161 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,163 INFO sqlalchemy.engine.base.Engine (1149910, '2018-06-25', 'Illinois', 'Chicago', '3900 block of S Vincennes Ave', 0, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:03,170 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,192 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,195 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,197 INFO sqlalchemy.engine.base.Engine (1148468, '2018-06-24', 'North Carolina', 'Sanford', '109 S Steele St', 1, 6, 37.7194881, -122.425285)
2021-05-05 20:52:03,202 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,225 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,228 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,229 INFO sqlalchemy.engine.base.Engine (1148678, '2018-06-24', 'Florida', 'Punta Gorda', '2450 Harbour Dr', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:03,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,260 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,267 INFO sqlalchemy.engine.base.Engine (1148647, '2018-06-24', 'Florida', 'Indiantown', '17068 SW Palm Beach St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:03,273 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,299 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,301 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,303 INFO sqlalchemy.engine.base.Engine (1149173, '2018-06-24', 'Florida', 'Palm Beach Gardens (Riviera Beach)', '1200 block of W 35th St', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:52:03,307 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,365 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,368 INFO sqlalchemy.engine.base.Engine (1149463, '2018-06-24', 'Indiana', 'Gary', '2500 block of Harrison Street', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:03,372 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,394 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,396 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,401 INFO sqlalchemy.engine.base.Engine (1148596, '2018-06-24', 'Ohio', 'Sandusky', '1504 Milan Rd', 0, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:52:03,405 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,427 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,430 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,431 INFO sqlalchemy.engine.base.Engine (1148042, '2018-06-23', 'Kansas', 'Wichita', '1403 Harding St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:03,436 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,457 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,459 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,460 INFO sqlalchemy.engine.base.Engine (1147720, '2018-06-23', 'Illinois', 'Chicago', '100 block of East 51st St', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:03,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,491 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,492 INFO sqlalchemy.engine.base.Engine (1161366, '2018-06-23', 'Tennessee', 'Covington', '319 N High St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:03,497 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,517 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,519 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,521 INFO sqlalchemy.engine.base.Engine (1147323, '2018-06-22', 'Pennsylvania', 'Homestead (Munhall)', '1324 Margaret St', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:03,526 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,550 INFO sqlalchemy.engine.base.Engine (1146968, '2018-06-21', 'California', 'San Bernardino', '279 W Base Line', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:52:03,554 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,578 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:03,580 INFO sqlalchemy.engine.base.Engine (1146760, '2018-06-21', 'Louisiana', 'Morganza', 'Deaton Ln', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:03,586 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,608 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,610 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,612 INFO sqlalchemy.engine.base.Engine (1146547, '2018-06-21', 'Illinois', 'Chicago', '6500 block of S Claremont Ave', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:03,618 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,651 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,652 INFO sqlalchemy.engine.base.Engine (1145709, '2018-06-20', 'California', 'Modesto', '2300 block of West Hatch Road', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:03,665 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,686 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,689 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,690 INFO sqlalchemy.engine.base.Engine (1145881, '2018-06-19', 'Alabama', 'Huntsville', '905 Lee Dr NW', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:03,695 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,718 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,720 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,722 INFO sqlalchemy.engine.base.Engine (1144852, '2018-06-18', 'Illinois', 'Bloomington', '311 Riley Dr', 3, 1, 37.7849319, -122.4129481)
2021-05-05 20:52:03,726 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,747 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,750 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,753 INFO sqlalchemy.engine.base.Engine (1143558, '2018-06-18', 'Illinois', 'Chicago', '1300 block of S Loomis St', 2, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:03,759 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,791 INFO sqlalchemy.engine.base.Engine (1143135, '2018-06-17', 'North Carolina', 'Charlotte', '3215 Queen City Dr', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:03,796 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,824 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,829 INFO sqlalchemy.engine.base.Engine (1142789, '2018-06-17', 'New Jersey', 'Trenton', '635 S Clinton Ave', 1, 19, 29.723582699999998, -95.4421156)
2021-05-05 20:52:03,833 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,875 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,879 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,881 INFO sqlalchemy.engine.base.Engine (1143081, '2018-06-17', 'Georgia', 'Macon', '325 Edgewood Ln', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:52:03,889 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:03,989 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:03,991 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:03,993 INFO sqlalchemy.engine.base.Engine (1143524, '2018-06-17', 'Illinois', 'Chicago', '2200 block of S Sacramento Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:03,999 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,021 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,023 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,025 INFO sqlalchemy.engine.base.Engine (1141645, '2018-06-14', 'California', 'Union City', '32992 Mission Blvd', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:04,031 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,051 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,055 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,057 INFO sqlalchemy.engine.base.Engine (1141745, '2018-06-14', 'New York', 'Buffalo', 'Marigold Ave', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:04,061 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,086 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,088 INFO sqlalchemy.engine.base.Engine (1141943, '2018-06-14', 'California', 'Tracy', 'West 6th Street', 1, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:04,091 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,114 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,117 INFO sqlalchemy.engine.base.Engine (1141108, '2018-06-14', 'Colorado', 'Westminster', '5150 W 80th Ave', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:04,121 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,141 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,143 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,144 INFO sqlalchemy.engine.base.Engine (1142145, '2018-06-14', 'Pennsylvania', 'Philadelphia', '400 block of Penn St', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:04,149 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,170 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,171 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,173 INFO sqlalchemy.engine.base.Engine (1139320, '2018-06-12', 'New York', 'Bronx', 'W 166th St and Summit Ave', 0, 4, 41.7718443, -87.67278499999998)

2021-05-05 20:52:04,178 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,198 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,200 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,201 INFO sqlalchemy.engine.base.Engine (1139176, '2018-06-11', 'Alabama', 'Montgomery', '3220 block of Virginia Pines Ln', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:04,206 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,228 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,229 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,230 INFO sqlalchemy.engine.base.Engine (1138324, '2018-06-11', 'Florida', 'Orlando', '4932 Eaglesmere Dr', 6, 0, 42.2699348, -88.96278009999997)
2021-05-05 20:52:04,237 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,263 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,264 INFO sqlalchemy.engine.base.Engine (1137435, '2018-06-10', 'California', 'Valley Village', '12719 Tiara St', 0, 6, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:04,271 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,287 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,289 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,292 INFO sqlalchemy.engine.base.Engine (1137586, '2018-06-10', 'Indiana', 'Indianapolis (Lawrence)', '4745 N Richardt Ave', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:04,297 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,317 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,319 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,320 INFO sqlalchemy.engine.base.Engine (1137547, '2018-06-10', 'Illinois', 'Aurora', '300 block of W Park Ave', 0, 7, 41.872262, -87.69373)
2021-05-05 20:52:04,324 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,349 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,352 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,355 INFO sqlalchemy.engine.base.Engine (1137600, '2018-06-10', 'Florida', 'Bradenton', '5627 14th St W', 1, 5, 42.91211149999999, -85.62301)
2021-05-05 20:52:04,361 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,389 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,391 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,393 INFO sqlalchemy.engine.base.Engine (1137473, '2018-06-10', 'Illinois', 'Chicago', '6400 block of S Eberhart Ave', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:04,397 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,423 INFO sqlalchemy.engine.base.Engine (1137848, '2018-06-10', 'Illinois', 'Bloomington', '1200 block of Orchard Rd', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:52:04,428 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,447 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,450 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,451 INFO sqlalchemy.engine.base.Engine (1137737, '2018-06-09', 'North Carolina', 'Kannapolis', '1709 S Cannon Blvd', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:04,455 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,475 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,479 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,482 INFO sqlalchemy.engine.base.Engine (1136928, '2018-06-09', 'Massachusetts', 'Boston', '14 Copeland St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:04,490 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,515 INFO sqlalchemy.engine.base.Engine (1137402, '2018-06-09', 'Pennsylvania', 'Philadelphia', '2000 block of 20th St', 1, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:04,519 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,539 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,541 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,542 INFO sqlalchemy.engine.base.Engine (1134378, '2018-06-05', 'Florida', 'Jacksonville', 'Town Center Pkwy', 3, 1, 41.032132700000005, -87.5381426)
2021-05-05 20:52:04,546 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,569 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,579 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,585 INFO sqlalchemy.engine.base.Engine (1132408, '2018-06-03', 'Texas', 'Dallas', '4500 Spring Ave', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:04,590 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,613 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,615 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,618 INFO sqlalchemy.engine.base.Engine (1131909, '2018-06-03', 'Illinois', 'Chicago', '1200 block of W 73rd Pl', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:52:04,623 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,646 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,648 INFO sqlalchemy.engine.base.Engine (1131855, '2018-06-02', 'Nebraska', 'Omaha', 'S 11th St and Farnam St', 1, 6, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:04,652 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:04,672 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,675 INFO sqlalchemy.engine.base.Engine (1132050, '2018-06-02', 'New York', 'Buffalo', 'Strauss Street', 0, 5, 30.0216391, -95.3123538)
2021-05-05 20:52:04,679 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,698 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,701 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,702 INFO sqlalchemy.engine.base.Engine (1129432, '2018-05-31', 'South Carolina', 'Timmonsville', '544 Chaney Grove Rd', 3, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:52:04,707 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,725 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,728 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,729 INFO sqlalchemy.engine.base.Engine (1126712, '2018-05-27', 'Louisiana', 'Shreveport', '857 E Stoner Ave', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:04,736 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,756 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,764 INFO sqlalchemy.engine.base.Engine (1126434, '2018-05-27', 'Colorado', 'Aurora', '15373 E 6th Ave', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:52:04,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,791 INFO sqlalchemy.engine.base.Engine (1124777, '2018-05-25', 'Ohio', 'Cincinnati', '1000 block of Ross Avenue', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:04,797 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,821 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,823 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,826 INFO sqlalchemy.engine.base.Engine (1122728, '2018-05-20', 'Indiana', 'Anderson', '1604 Madison Ave', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:04,829 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,854 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,856 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,858 INFO sqlalchemy.engine.base.Engine (1121111, '2018-05-20', 'Mississippi', 'Hazlehurst', '513 Monticello St', 1, 7, 36.1450958, -96.0023638)
2021-05-05 20:52:04,864 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,883 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,885 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,886 INFO sqlalchemy.engine.base.Engine (1118785, '2018-05-18', 'Texas', 'Santa Fe', '16000 Hwy 6', 10, 13, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:04,891 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,917 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,918 INFO sqlalchemy.engine.base.Engine (1116705, '2018-05-16', 'Texas', 'Ponder', '610 Lone Star Park Ln', 5, 1, 37.7194881, -122.425285)
2021-05-05 20:52:04,923 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,947 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,950 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,951 INFO sqlalchemy.engine.base.Engine (1115110, '2018-05-14', 'Maryland', 'Baltimore', '2020 Etting St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:04,956 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:04,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:04,985 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:04,986 INFO sqlalchemy.engine.base.Engine (1114725, '2018-05-13', 'California', 'Los Angeles', '365 W Manchester Avenue', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:52:04,990 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,013 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,017 INFO sqlalchemy.engine.base.Engine (1115051, '2018-05-13', 'California', 'Stockton', '2436 Belleview St', 3, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:52:05,021 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,040 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,044 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,046 INFO sqlalchemy.engine.base.Engine (1114402, '2018-05-13', 'Mississippi', 'Byhalia', 'French Rd and Berta Rd', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:05,050 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,070 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,074 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,077 INFO sqlalchemy.engine.base.Engine (1114276, '2018-05-12', 'Nebraska', 'Omaha', '3201 Decatur St', 0, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:52:05,082 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,108 INFO sqlalchemy.engine.base.Engine (1113538, '2018-05-12', 'New Jersey', 'Paulsboro', '275 W Buck St', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:05,112 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,133 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:05,134 INFO sqlalchemy.engine.base.Engine (1113737, '2018-05-11', 'Missouri', 'Saint Louis', '4800 block of Farlin Ave', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:05,138 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,157 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,160 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,161 INFO sqlalchemy.engine.base.Engine (1112948, '2018-05-11', 'Oklahoma', 'Talihina', '2nd St and Dallas St', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:05,165 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,184 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,186 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,187 INFO sqlalchemy.engine.base.Engine (1111950, '2018-05-09', 'Missouri', 'Saint Louis', '5200 block of Minerva Avenue', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:05,190 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,278 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,283 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,287 INFO sqlalchemy.engine.base.Engine (1111649, '2018-05-09', 'Nebraska', 'Omaha', 'Sahler St and N 48th St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:05,293 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,388 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,389 INFO sqlalchemy.engine.base.Engine (1110399, '2018-05-07', 'California', 'San Diego', '15th St and J St', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:52:05,394 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,428 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,429 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,430 INFO sqlalchemy.engine.base.Engine (1108856, '2018-05-06', 'Oklahoma', 'Stillwater', '2020 East Lakeview Road', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:05,436 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,462 INFO sqlalchemy.engine.base.Engine (1109322, '2018-05-06', 'Tennessee', 'Memphis', '499 N Watkins St', 2, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:05,467 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,491 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,495 INFO sqlalchemy.engine.base.Engine (1108879, '2018-05-05', 'Georgia', 'Columbus', '4944 Sentry Street', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:05,500 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,522 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,524 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,528 INFO sqlalchemy.engine.base.Engine (1110773, '2018-05-04', 'North Carolina', 'Henderson', '519 Hilliard St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:05,533 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,552 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,554 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,556 INFO sqlalchemy.engine.base.Engine (1109928, '2018-05-04', 'Illinois', 'Chicago Heights', '200 block of E 23rd St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:05,563 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,584 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,586 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,587 INFO sqlalchemy.engine.base.Engine (1106451, '2018-05-02', 'Illinois', 'Chicago', '3500 block of W Grenshaw St', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:05,590 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,612 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,617 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,618 INFO sqlalchemy.engine.base.Engine (1106557, '2018-05-02', 'Minnesota', 'Minneapolis', '2400 block of Ogema Place', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:52:05,622 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,645 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,647 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,650 INFO sqlalchemy.engine.base.Engine (1106432, '2018-05-02', 'New York', 'Brooklyn', '333 Bristol St', 1, 4, 40.110245, -88.2353849)
2021-05-05 20:52:05,653 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,677 INFO sqlalchemy.engine.base.Engine (1105061, '2018-05-01', 'Louisiana', 'New Orleans', '3200 block of Saint Claude Ave', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:52:05,680 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,702 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,704 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,705 INFO sqlalchemy.engine.base.Engine (1103454, '2018-04-30', 'Florida', 'Pompano Beach', '4251 N Dixie Hwy', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:05,709 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,730 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,733 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,735 INFO sqlalchemy.engine.base.Engine (1103465, '2018-04-30', 'District of Columbia', 'Washington', '3600 block of New York Ave NE', 0, 4, 39.9854586, -75.08588999999998)

2021-05-05 20:52:05,738 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,762 INFO sqlalchemy.engine.base.Engine (1103423, '2018-04-29', 'Tennessee', 'Wartburg', '519 South Kingston St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:05,769 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,791 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,793 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,793 INFO sqlalchemy.engine.base.Engine (1102808, '2018-04-29', 'Washington', 'Seattle (Skyway)', '12603 Renton Ave S', 2, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:05,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,820 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,822 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,823 INFO sqlalchemy.engine.base.Engine (1103045, '2018-04-29', 'North Carolina', 'Monroe', '1500 block of Massey St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:52:05,827 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,853 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,858 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,862 INFO sqlalchemy.engine.base.Engine (1102900, '2018-04-29', 'Florida', 'West Palm Beach', '1969 S Military Trail', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:52:05,871 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,895 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,898 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,901 INFO sqlalchemy.engine.base.Engine (1102559, '2018-04-28', 'North Carolina', 'Maxton', 'Modest Rd', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:52:05,906 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,931 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,938 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,940 INFO sqlalchemy.engine.base.Engine (1100691, '2018-04-25', 'Arkansas', 'Pine Bluff', '300 block of West 24th Street', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:05,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:05,970 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:05,974 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:05,978 INFO sqlalchemy.engine.base.Engine (1100852, '2018-04-25', 'Missouri', 'Saint Louis', '1151 Northdale Dr', 3, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:05,984 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,008 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,010 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,012 INFO sqlalchemy.engine.base.Engine (1099516, '2018-04-24', 'Michigan', 'Flint', '2200 block of Ave A', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:06,017 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,035 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,037 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,038 INFO sqlalchemy.engine.base.Engine (1096826, '2018-04-22', 'Tennessee', 'Antioch', '3571 Murfreesboro Pike', 4, 3, 41.872262, -87.69373)
2021-05-05 20:52:06,041 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,062 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,064 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,068 INFO sqlalchemy.engine.base.Engine (1097700, '2018-04-22', 'Louisiana', 'New Orleans', '1900 block of St Roch Ave', 2, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:06,072 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,092 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,094 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,097 INFO sqlalchemy.engine.base.Engine (1096232, '2018-04-21', 'Pennsylvania', 'Philadelphia', '1800 block of W Diamond St', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:52:06,103 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,130 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,139 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,141 INFO sqlalchemy.engine.base.Engine (1096388, '2018-04-20', 'California', 'San Francisco', '3rd Street and Quesada Ave', 1, 5, 40.6327104, -74.0271053)
2021-05-05 20:52:06,147 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,167 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,169 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,170 INFO sqlalchemy.engine.base.Engine (1095043, '2018-04-18', 'North Carolina', 'Asheville', '73 Hansel Ave', 4, 3, 29.9673972, -90.1018231)
2021-05-05 20:52:06,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,215 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,218 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,222 INFO sqlalchemy.engine.base.Engine (1092279, '2018-04-15', 'Louisiana', 'Shreveport', '6956 Jewella Ave', 0, 6, 44.98847429999999, -93.2549796)
2021-05-05 20:52:06,226 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,253 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,255 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,258 INFO sqlalchemy.engine.base.Engine (1088778, '2018-04-09', 'California', 'Vallejo', '201 Maine St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:06,262 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:06,285 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,288 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,290 INFO sqlalchemy.engine.base.Engine (1087153, '2018-04-08', 'North Carolina', 'Hickory', '247 1st Ave NW', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:52:06,294 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,317 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,319 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,320 INFO sqlalchemy.engine.base.Engine (1087021, '2018-04-08', 'Florida', 'Miami', '1300 block of NW 63rd Terrace', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:52:06,328 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,350 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,353 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,354 INFO sqlalchemy.engine.base.Engine (1086773, '2018-04-06', 'Florida', 'Jacksonville', '6100 block of Transylvania Ave', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:06,359 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,387 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,390 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,391 INFO sqlalchemy.engine.base.Engine (1086966, '2018-04-06', 'Virginia', 'Virginia Beach', '5800 block of Pickering St', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:06,394 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,414 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,418 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,421 INFO sqlalchemy.engine.base.Engine (1084847, '2018-04-04', 'Louisiana', 'New Orleans', '3300 Garden Oaks Drive', 2, 2, 30.0216391, -95.3123538)
2021-05-05 20:52:06,425 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,450 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,451 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,452 INFO sqlalchemy.engine.base.Engine (1083552, '2018-04-02', 'Texas', 'Houston', '8500 block of Redcliff Rd', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:52:06,458 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,480 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,483 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,486 INFO sqlalchemy.engine.base.Engine (1083011, '2018-04-01', 'Alabama', 'Mobile', '3556 Halls Mill Rd', 1, 4, 40.110245, -88.2353849)
2021-05-05 20:52:06,489 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,509 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,511 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,514 INFO sqlalchemy.engine.base.Engine (1082835, '2018-04-01', 'Michigan', 'Saginaw', '600 block of Yale St', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:52:06,519 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,542 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,544 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,547 INFO sqlalchemy.engine.base.Engine (1082273, '2018-03-31', 'New Jersey', 'Asbury Park', 'Atlantic Ave and Monmouth Ave', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:06,551 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,577 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,579 INFO sqlalchemy.engine.base.Engine (1080234, '2018-03-29', 'Texas', 'Plano', '7401 Alma Dr', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:06,585 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,609 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,610 INFO sqlalchemy.engine.base.Engine (1080442, '2018-03-29', 'New Jersey', 'Camden', 'Kaighn Ave and Haddon Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:06,618 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,643 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,645 INFO sqlalchemy.engine.base.Engine (1077180, '2018-03-24', 'Utah', 'Salt Lake City (West Valley City)', '3180 South 5600 West', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:06,651 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,678 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,682 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,685 INFO sqlalchemy.engine.base.Engine (1074886, '2018-03-21', 'California', 'San Francisco', '949 Geneva Ave', 1, 5, 37.7194881, -122.425285)
2021-05-05 20:52:06,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,718 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,720 INFO sqlalchemy.engine.base.Engine (1071427, '2018-03-17', 'Kentucky', 'Louisville', '2928 W Kentucky St', 0, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:52:06,724 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,746 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,749 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,750 INFO sqlalchemy.engine.base.Engine (1071381, '2018-03-17', 'Illinois', 'Harvey', '16700 S Halsted St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:06,754 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,775 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,778 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,780 INFO sqlalchemy.engine.base.Engine (1078612, '2018-03-13', 'Florida', 'Macclenny', 'South Blvd', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:06,785 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,805 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,807 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,808 INFO sqlalchemy.engine.base.Engine (1068615, '2018-03-12', 'California', 'Modesto', '2000 block of Robertson Rd', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:06,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,837 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,839 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,840 INFO sqlalchemy.engine.base.Engine (1067061, '2018-03-11', 'Indiana', 'South Bend', '800 block of E Dayton St', 0, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:52:06,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,866 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,869 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,870 INFO sqlalchemy.engine.base.Engine (1067264, '2018-03-11', 'Illinois', 'Champaign', '700 block of N Hickory St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:06,874 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,901 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,903 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,906 INFO sqlalchemy.engine.base.Engine (1067296, '2018-03-11', 'Michigan', 'Saginaw', 'Cumberland Ave and Hess St', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:06,911 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,939 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,941 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,942 INFO sqlalchemy.engine.base.Engine (1066594, '2018-03-09', 'North Carolina', 'Wadesboro', '1300 E Caswell St', 3, 1, 38.5979369, -121.42762739999999)
2021-05-05 20:52:06,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:06,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:06,972 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:06,974 INFO sqlalchemy.engine.base.Engine (1064514, '2018-03-07', 'Alabama', 'Hurtsboro', '531 Main Street', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:52:06,978 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,003 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,004 INFO sqlalchemy.engine.base.Engine (1062466, '2018-03-04', 'Illinois', 'Rockford', '426 Howard Ave', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:07,009 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,033 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,034 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,036 INFO sqlalchemy.engine.base.Engine (1061748, '2018-03-03', 'New York', 'Brooklyn', 'Kings Highway and Utica Avenue', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:52:07,039 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,062 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,064 INFO sqlalchemy.engine.base.Engine (1062123, '2018-03-03', 'Florida', 'Miami', '1300 Block of NW 62nd Ln', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:07,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,088 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,090 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,092 INFO sqlalchemy.engine.base.Engine (1059559, '2018-02-27', 'Connecticut', 'Bridgeport', '1306 Stratford Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:07,096 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,122 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,125 INFO sqlalchemy.engine.base.Engine (1057518, '2018-02-26', 'Michigan', 'Detroit', '22700 Fenkell Ave', 5, 0, 36.7565424, -119.7711186)
2021-05-05 20:52:07,129 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,150 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,154 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,156 INFO sqlalchemy.engine.base.Engine (1056240, '2018-02-23', 'Florida', 'Palm Beach Gardens (Riviera Beach)', 'W 23rd St', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:52:07,160 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,184 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,187 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,189 INFO sqlalchemy.engine.base.Engine (1052372, '2018-02-18', 'Texas', 'San Antonio', '2893 Cinema Ridge', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:07,192 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,215 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,218 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,219 INFO sqlalchemy.engine.base.Engine (1052035, '2018-02-17', 'Kansas', 'Kansas City', '1615 Minnesota', 1, 7, 30.0216391, -95.3123538)
2021-05-05 20:52:07,223 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,242 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:07,245 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,246 INFO sqlalchemy.engine.base.Engine (1051407, '2018-02-17', 'Tennessee', 'Memphis', '3188 N Watkins Ave', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:52:07,251 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,270 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,272 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,273 INFO sqlalchemy.engine.base.Engine (1051291, '2018-02-16', 'Oklahoma', 'Oklahoma City', '1700 block of SW 15', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:52:07,277 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,299 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,301 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,303 INFO sqlalchemy.engine.base.Engine (1049217, '2018-02-14', 'Florida', 'Pompano Beach (Parkland)', '5901 Pine Island Rd', 17, 17, 39.3048255, -76.6081873)
2021-05-05 20:52:07,306 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,325 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,328 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,330 INFO sqlalchemy.engine.base.Engine (1049024, '2018-02-13', 'Louisiana', 'New Orleans', '5400 block of Andry St', 2, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:07,335 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,358 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,362 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,364 INFO sqlalchemy.engine.base.Engine (1047761, '2018-02-11', 'Michigan', 'Detroit', '19432 Lamont St', 4, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:07,370 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,392 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,394 INFO sqlalchemy.engine.base.Engine (1046961, '2018-02-10', 'Kentucky', 'Paintsville', '413 Mill St', 5, 0, 36.1450958, -96.0023638)
2021-05-05 20:52:07,398 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,419 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,421 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,422 INFO sqlalchemy.engine.base.Engine (1044234, '2018-02-07', 'Florida', 'Lake Worth (Lantana)', 'I-95 and Lantana Ave', 3, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:07,427 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,453 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,459 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,462 INFO sqlalchemy.engine.base.Engine (1043447, '2018-02-05', 'Colorado', 'Colorado Springs', '4225 Galley Rd', 2, 4, 37.7194881, -122.425285)
2021-05-05 20:52:07,469 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,490 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,492 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,495 INFO sqlalchemy.engine.base.Engine (1042280, '2018-02-03', 'Ohio', 'Cleveland (Garfield Heights)', '11321 Broadway Ave', 1, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:52:07,499 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,517 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,521 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,523 INFO sqlalchemy.engine.base.Engine (1040815, '2018-01-31', 'Missouri', 'Saint Louis', 'Goodfellow Blvd and Dr Martin Luther King Dr', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:07,527 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,549 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,550 INFO sqlalchemy.engine.base.Engine (1037529, '2018-01-28', 'Pennsylvania', 'Melcroft', '1301 Indian Creek Valley Rd', 5, 0, 42.2699348, -88.96278009999997)
2021-05-05 20:52:07,553 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,571 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,575 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,577 INFO sqlalchemy.engine.base.Engine (1037515, '2018-01-28', 'Indiana', 'Indianapolis', '1313 N Sherman Dr', 2, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:07,583 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,602 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,606 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,609 INFO sqlalchemy.engine.base.Engine (1038429, '2018-01-28', 'Pennsylvania', 'Reading', '123 S 3rd St', 4, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:52:07,613 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,636 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,638 INFO sqlalchemy.engine.base.Engine (1037438, '2018-01-27', 'Kentucky', 'Bowling Green', '645 Pearl Street', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:07,643 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,666 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,668 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,669 INFO sqlalchemy.engine.base.Engine (1037541, '2018-01-27', 'California', 'Los Angeles', '243 East 119th St', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:52:07,676 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,697 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:07,699 INFO sqlalchemy.engine.base.Engine (1035803, '2018-01-25', 'District of Columbia', 'Washington', '1600 block of Kenilworth Ave NE', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:07,702 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,725 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,726 INFO sqlalchemy.engine.base.Engine (1033262, '2018-01-23', 'Kentucky', 'Benton', '416 High School Rd', 2, 14, 40.6327104, -74.0271053)
2021-05-05 20:52:07,730 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,749 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,752 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,755 INFO sqlalchemy.engine.base.Engine (1034205, '2018-01-23', 'Pennsylvania', 'Philadelphia', 'N 24th St and Ridge Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:07,759 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,778 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,780 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,781 INFO sqlalchemy.engine.base.Engine (1032393, '2018-01-21', 'Florida', 'Orlando', '3101 Willow Bend Blvd', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:07,786 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,807 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,811 INFO sqlalchemy.engine.base.Engine (1031851, '2018-01-21', 'Illinois', 'Chicago', '3200 W Division St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:07,818 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,841 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,843 INFO sqlalchemy.engine.base.Engine (1029095, '2018-01-17', 'District of Columbia', 'Washington', '2000 block of 16th St SE', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:52:07,847 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,871 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,873 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,874 INFO sqlalchemy.engine.base.Engine (1042072, '2018-01-15', 'Florida', 'Alachua', '14223 NW 156th Pl', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:07,883 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,909 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,912 INFO sqlalchemy.engine.base.Engine (1026804, '2018-01-14', 'Alabama', 'Eutaw', '809 Mesopotamia St', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:07,918 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,937 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,939 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,940 INFO sqlalchemy.engine.base.Engine (1027013, '2018-01-14', 'Alabama', 'Madison', '101 Westchester Dr', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:07,947 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:07,969 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:07,972 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:07,974 INFO sqlalchemy.engine.base.Engine (1025673, '2018-01-12', 'Tennessee', 'Nashville', '2614 Jenkins Ct', 3, 2, 30.0216391, -95.3123538)
2021-05-05 20:52:07,984 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,018 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,021 INFO sqlalchemy.engine.base.Engine (1025272, '2018-01-11', 'Missouri', 'Saint Robert (St Robert)', 'St Robert Outer Road and Houston Road', 2, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:52:08,027 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,051 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,056 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,062 INFO sqlalchemy.engine.base.Engine (1022067, '2018-01-07', 'Alabama', 'Union Springs', 'US-29', 1, 5, 40.110245, -88.2353849)
2021-05-05 20:52:08,070 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,093 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,095 INFO sqlalchemy.engine.base.Engine (1022055, '2018-01-07', 'Florida', 'Plantation', '5225 W Broward Blvd', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:08,100 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,120 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,123 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,126 INFO sqlalchemy.engine.base.Engine (1021788, '2018-01-05', 'Mississippi', 'Hattiesburg', '6168 US 49', 0, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:52:08,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,154 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,156 INFO sqlalchemy.engine.base.Engine (1020574, '2018-01-04', 'Arkansas', 'Brinkley', '615 W 6th St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:08,160 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,183 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,186 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,188 INFO sqlalchemy.engine.base.Engine (1018295, '2018-01-01', 'Alabama', 'Huntsville', '2025 Sparkman Dr NW', 1, 3, 36.1450958, -96.0023638)

2021-05-05 20:52:08,192 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,208 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,212 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,216 INFO sqlalchemy.engine.base.Engine (1017372, '2017-12-31', 'Colorado', 'Littleton (Highlands Ranch)', '3404 E County Line Rd', 2, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:08,219 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,240 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,242 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,244 INFO sqlalchemy.engine.base.Engine (1017422, '2017-12-31', 'Illinois', 'Chicago', '2335 Howard St', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:08,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,269 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,271 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,275 INFO sqlalchemy.engine.base.Engine (1018118, '2017-12-31', 'New Jersey', 'Long Branch', '635 Wall St', 4, 0, 41.7718443, -87.67278499999998)
2021-05-05 20:52:08,279 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,303 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,304 INFO sqlalchemy.engine.base.Engine (1015666, '2017-12-27', 'Nevada', 'Las Vegas', '3750 E Bonanza Rd', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:52:08,308 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,329 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,330 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,333 INFO sqlalchemy.engine.base.Engine (1015336, '2017-12-26', 'Florida', 'Miami', 'NW 18th Ave and 86th Ter', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:08,337 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,356 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,358 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,361 INFO sqlalchemy.engine.base.Engine (1013983, '2017-12-24', 'Mississippi', 'Vicksburg', '1111 Mulberry Street', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:08,368 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,392 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,394 INFO sqlalchemy.engine.base.Engine (1014052, '2017-12-24', 'Alabama', 'Troy', '100 block of Chapman St', 1, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:08,400 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,422 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,425 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,426 INFO sqlalchemy.engine.base.Engine (1014971, '2017-12-23', 'Louisiana', 'Eunice', '100 block of City Avenue', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:08,430 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,455 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,456 INFO sqlalchemy.engine.base.Engine (1013377, '2017-12-23', 'Alabama', 'Birmingham', '3rd Ave N and 9th St N', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:08,463 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,484 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,486 INFO sqlalchemy.engine.base.Engine (1011953, '2017-12-21', 'Pennsylvania', 'Philadelphia', '6600 block of Dorel St', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:52:08,490 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,512 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,514 INFO sqlalchemy.engine.base.Engine (1012704, '2017-12-21', 'Louisiana', 'Lafayette', '1500 block of N University Avenue', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:08,519 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,539 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,541 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,546 INFO sqlalchemy.engine.base.Engine (1009629, '2017-12-16', 'Mississippi', 'Mc Cool (Mccool)', 'Ferguson Rd', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:08,551 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,571 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,577 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,579 INFO sqlalchemy.engine.base.Engine (1008310, '2017-12-15', 'California', 'Pacoima', '13041 Jouett Street', 0, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:52:08,584 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,602 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,605 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,606 INFO sqlalchemy.engine.base.Engine (1007054, '2017-12-13', 'Ohio', 'Columbus', '200 block of E Barthman Ave', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:08,609 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,630 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,633 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,634 INFO sqlalchemy.engine.base.Engine (1006150, '2017-12-12', 'Kentucky', 'Louisville', '17th and Gallagher Streets', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:08,638 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:08,672 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,674 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,676 INFO sqlalchemy.engine.base.Engine (1006446, '2017-12-12', 'Texas', 'Garland', '1301 Rivercrest Ln', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:08,680 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,701 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,706 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,710 INFO sqlalchemy.engine.base.Engine (1004454, '2017-12-09', 'Massachusetts', 'Boston', 'Proctor St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:08,720 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,751 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,753 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,755 INFO sqlalchemy.engine.base.Engine (1002514, '2017-12-06', 'Illinois', 'Chicago', '4620 N Broadway', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:08,758 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,779 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,780 INFO sqlalchemy.engine.base.Engine (1001566, '2017-12-04', 'Pennsylvania', 'Pittsburgh', '7200 block of Everton St', 2, 2, 30.0216391, -95.3123538)
2021-05-05 20:52:08,784 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,805 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,807 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,808 INFO sqlalchemy.engine.base.Engine (1000479, '2017-12-03', 'Tennessee', 'Memphis', '656 Marshall Ave', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:52:08,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,836 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,839 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,841 INFO sqlalchemy.engine.base.Engine (999969, '2017-12-02', 'Michigan', 'Detroit', '5200 Woodward Avenue', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:08,851 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,877 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,878 INFO sqlalchemy.engine.base.Engine (998843, '2017-11-30', 'Michigan', 'Detroit', '11000 block of Gunston', 1, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:08,885 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:08,908 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:08,910 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:08,913 INFO sqlalchemy.engine.base.Engine (994323, '2017-11-24', 'Mississippi', 'Brookhaven', '119 Martin Street', 1, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:52:08,945 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,015 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,016 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,017 INFO sqlalchemy.engine.base.Engine (995015, '2017-11-24', 'Ohio', 'Cleveland', '11618 Buckeye Rd', 1, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:52:09,021 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,037 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,040 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,042 INFO sqlalchemy.engine.base.Engine (991017, '2017-11-18', 'Minnesota', 'Minneapolis', '3600 block of N Emerson Ave', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:09,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,068 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,070 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,071 INFO sqlalchemy.engine.base.Engine (990974, '2017-11-17', 'Louisiana', 'New Iberia', '900 Block of Mississippi St', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:09,075 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,096 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,099 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,101 INFO sqlalchemy.engine.base.Engine (989838, '2017-11-16', 'Georgia', 'Columbus', '1400 block of 15th Street', 0, 7, 37.7194881, -122.425285)
2021-05-05 20:52:09,105 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,125 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,125 INFO sqlalchemy.engine.base.Engine (988824, '2017-11-14', 'California', 'Richmond', '900 Block of View Dr', 2, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:52:09,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,153 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,155 INFO sqlalchemy.engine.base.Engine (987611, '2017-11-14', 'California', 'Corning', '17357 Stagecoach Rd', 6, 12, 30.702997600000003, -88.0786828)
2021-05-05 20:52:09,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,179 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,184 INFO sqlalchemy.engine.base.Engine (986236, '2017-11-12', 'Indiana', 'Gary', '4601 Melton Rd', 0, 7, 42.2699348, -88.96278009999997)
2021-05-05 20:52:09,188 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,211 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,214 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:09,219 INFO sqlalchemy.engine.base.Engine (987134, '2017-11-12', 'California', 'Fresno', 'S Calvin Ave', 0, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:09,223 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,250 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,252 INFO sqlalchemy.engine.base.Engine (986816, '2017-11-12', 'Georgia', 'Atlanta', '50 Lower Alabama St', 2, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:52:09,258 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,282 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,286 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,288 INFO sqlalchemy.engine.base.Engine (985582, '2017-11-11', 'Texas', 'Dallas', '2532 Martin Luther King Jr Blvd', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:09,292 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,310 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,311 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,313 INFO sqlalchemy.engine.base.Engine (985832, '2017-11-11', 'North Carolina', 'Fayetteville', '2835 Bragg Blvd', 1, 5, 42.91211149999999, -85.62301)
2021-05-05 20:52:09,321 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,342 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,345 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,346 INFO sqlalchemy.engine.base.Engine (986092, '2017-11-11', 'Louisiana', 'New Orleans', 'Forstall St and Burgundy St', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:09,351 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,372 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,376 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,378 INFO sqlalchemy.engine.base.Engine (984822, '2017-11-10', 'Ohio', 'Dayton (Trotwood)', '193 Olive Rd', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:09,383 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,404 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,406 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,407 INFO sqlalchemy.engine.base.Engine (984455, '2017-11-09', 'Pennsylvania', 'Philadelphia', '1800 block of Ringgold', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:09,411 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,434 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,435 INFO sqlalchemy.engine.base.Engine (980577, '2017-11-05', 'Texas', 'Sutherland Springs', '216 4th St', 27, 20, 44.98847429999999, -93.2549796)
2021-05-05 20:52:09,439 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,457 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,460 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,461 INFO sqlalchemy.engine.base.Engine (980269, '2017-11-04', 'Texas', 'Austin', 'N Lamar Blvd and Masterson Pass', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:09,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,484 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,487 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,488 INFO sqlalchemy.engine.base.Engine (980192, '2017-11-04', 'Ohio', 'Youngstown', '2810 Market St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:09,491 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,510 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,515 INFO sqlalchemy.engine.base.Engine (980060, '2017-11-04', 'California', 'Santa Monica', '1515 Ocean Avenue', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:52:09,518 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,537 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,540 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,541 INFO sqlalchemy.engine.base.Engine (979651, '2017-11-03', 'Minnesota', 'Minneapolis', '10th Ave S and E 24th St', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:09,545 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,564 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,566 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,567 INFO sqlalchemy.engine.base.Engine (980258, '2017-11-03', 'California', 'Gardena', 'E 163rd St and S Main St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:09,571 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,590 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,592 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,594 INFO sqlalchemy.engine.base.Engine (980004, '2017-11-03', 'New York', 'Buffalo', '147 Roosevelt Ave', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:09,598 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,620 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,621 INFO sqlalchemy.engine.base.Engine (980401, '2017-11-03', 'Louisiana', 'Lacombe', '27600 block of Mirmar Street', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:09,625 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,646 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,648 INFO sqlalchemy.engine.base.Engine (975600, '2017-10-29', 'Texas', 'Austin', '5500 block of Ave F', 1, 3, 40.110245, -88.2353849)

2021-05-05 20:52:09,651 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,673 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,674 INFO sqlalchemy.engine.base.Engine (975817, '2017-10-28', 'Ohio', 'Toledo', '1327 N Huron St', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:09,677 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,696 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,699 INFO sqlalchemy.engine.base.Engine (974704, '2017-10-28', 'Virginia', 'Petersburg', 'N Sycamore St and Franklin', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:09,706 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,728 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,730 INFO sqlalchemy.engine.base.Engine (974051, '2017-10-27', 'Kentucky', 'Louisville', '1716 Prentice St', 0, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:52:09,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,753 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,754 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,757 INFO sqlalchemy.engine.base.Engine (974411, '2017-10-27', 'California', 'San Francisco', '1100 block of Fillmore', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:09,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,780 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,782 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,784 INFO sqlalchemy.engine.base.Engine (966895, '2017-10-23', 'California', 'Clearlake Oaks', '13000 block of Anchor Village', 2, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:09,789 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,809 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,810 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,811 INFO sqlalchemy.engine.base.Engine (966153, '2017-10-22', 'Connecticut', 'Hartford', 'Wethersfield Avenue and Elliott Street', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:09,817 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,840 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,842 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,845 INFO sqlalchemy.engine.base.Engine (966178, '2017-10-22', 'Alabama', 'Lanett', '1606 19th St Sw', 2, 7, 41.7718443, -87.67278499999998)
2021-05-05 20:52:09,851 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,871 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,873 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,874 INFO sqlalchemy.engine.base.Engine (965066, '2017-10-21', 'Florida', 'Tampa', '400 block of E Nordica St', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:09,878 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,900 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,903 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,905 INFO sqlalchemy.engine.base.Engine (965077, '2017-10-21', 'Florida', 'Jacksonville', '164 E Eubanks St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:09,909 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,935 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,938 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,941 INFO sqlalchemy.engine.base.Engine (965756, '2017-10-21', 'Tennessee', 'Nashville', '1277 12th Ave S', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:09,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:09,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:09,970 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:09,973 INFO sqlalchemy.engine.base.Engine (965251, '2017-10-21', 'Pennsylvania', 'Chester', '1200 block of W Carlas Ln', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:09,983 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,005 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,013 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,017 INFO sqlalchemy.engine.base.Engine (962359, '2017-10-18', 'Maryland', 'Edgewood', '2111 Emmorton Park Rd', 3, 3, 41.872262, -87.69373)
2021-05-05 20:52:10,022 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,047 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,049 INFO sqlalchemy.engine.base.Engine (962155, '2017-10-17', 'New York', 'Brooklyn', '181 Martense St', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:10,053 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,073 INFO sqlalchemy.engine.base.Engine (962623, '2017-10-16', 'Mississippi', 'Meridian', '5th Street', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:52:10,078 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,103 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,108 INFO sqlalchemy.engine.base.Engine (960036, '2017-10-15', 'Texas', 'Houston', '6233 Gulfton St', 2, 2, 40.6327104, -74.0271053)
2021-05-05 20:52:10,111 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,135 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,137 INFO sqlalchemy.engine.base.Engine (959126, '2017-10-15', 'Arizona', 'Phoenix', '107th Ave and Camelback Rd', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:52:10,141 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,160 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,166 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,168 INFO sqlalchemy.engine.base.Engine (957980, '2017-10-12', 'California', 'Aliso Viejo', '6 Asbury Ct', 2, 2, 44.98847429999999, -93.2549796)
2021-05-05 20:52:10,172 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,193 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,196 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,198 INFO sqlalchemy.engine.base.Engine (957562, '2017-10-11', 'Ohio', 'Pedro', '15497 SR 93', 4, 0, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:10,201 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,223 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,224 INFO sqlalchemy.engine.base.Engine (956942, '2017-10-10', 'California', 'San Francisco', '25th St and Treat Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:10,230 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,250 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,251 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,252 INFO sqlalchemy.engine.base.Engine (955268, '2017-10-09', 'Texas', 'Houston', '3352 Old Spanish Trail', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:10,259 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,280 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,283 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,284 INFO sqlalchemy.engine.base.Engine (954428, '2017-10-07', 'Arizona', 'Phoenix', '87th Ave and Thomas Rd', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:10,289 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,310 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,312 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,313 INFO sqlalchemy.engine.base.Engine (953156, '2017-10-06', 'Illinois', 'Chicago', '8000 block of S Marshfield', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:10,320 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,341 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,343 INFO sqlalchemy.engine.base.Engine (952720, '2017-10-05', 'Arizona', 'Casa Grande', '400 block of W 13th Street', 4, 0, 30.0216391, -95.3123538)
2021-05-05 20:52:10,351 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,373 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,375 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,376 INFO sqlalchemy.engine.base.Engine (952220, '2017-10-03', 'Florida', 'Miami', '2051 NW 65th St', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:10,383 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,405 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,407 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,408 INFO sqlalchemy.engine.base.Engine (945990, '2017-10-01', 'Kansas', 'Lawrence', '1000 block of Massachusetts St', 3, 2, 40.110245, -88.2353849)
2021-05-05 20:52:10,414 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,435 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,436 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,437 INFO sqlalchemy.engine.base.Engine (946496, '2017-10-01', 'Nevada', 'Las Vegas', '3950 Las Vegas Blvd S', 59, 441, 39.3048255, -76.6081873)
2021-05-05 20:52:10,441 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,463 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,464 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,467 INFO sqlalchemy.engine.base.Engine (946138, '2017-09-30', 'Tennessee', 'Memphis', '800 block of Kerr Avenue', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:10,471 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,493 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,495 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,499 INFO sqlalchemy.engine.base.Engine (944448, '2017-09-28', 'Louisiana', 'New Orleans', '2001 N Rocheblave St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:10,503 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,523 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,525 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,527 INFO sqlalchemy.engine.base.Engine (942628, '2017-09-26', 'Pennsylvania', 'Philadelphia', '100 block of Pastorius St', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:10,535 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,554 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,555 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,557 INFO sqlalchemy.engine.base.Engine (942522, '2017-09-26', 'Tennessee', 'Memphis', '2531 Chelsea Ave', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:10,560 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,579 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,582 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:10,584 INFO sqlalchemy.engine.base.Engine (942830, '2017-09-26', 'Maryland', 'Baltimore', '3200 block of Lyndale Ave', 2, 2, 37.7194881, -122.425285)
2021-05-05 20:52:10,589 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,611 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,612 INFO sqlalchemy.engine.base.Engine (941144, '2017-09-24', 'Maryland', 'Baltimore', '500 block of E. Patapsco Avenue', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:10,616 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,639 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,640 INFO sqlalchemy.engine.base.Engine (940554, '2017-09-24', 'Tennessee', 'Antioch', '3890 Pin Hook Rd', 1, 8, 30.702997600000003, -88.0786828)
2021-05-05 20:52:10,645 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,667 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,669 INFO sqlalchemy.engine.base.Engine (940644, '2017-09-24', 'New York', 'Syracuse', '1226 E Fayette St', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:10,673 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,701 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,708 INFO sqlalchemy.engine.base.Engine (1974755, '2017-09-24', 'Pennsylvania', 'Philadelphia', '3400 block of H St', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:10,725 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,751 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,754 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,756 INFO sqlalchemy.engine.base.Engine (941257, '2017-09-24', 'New Jersey', 'Mays Landing', '6000 block of Hoover Dr', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:52:10,760 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,792 INFO sqlalchemy.engine.base.Engine (939834, '2017-09-23', 'California', 'Bakersfield', '818 Real Rd', 1, 4, 41.872262, -87.69373)
2021-05-05 20:52:10,801 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,828 INFO sqlalchemy.engine.base.Engine (940068, '2017-09-23', 'Illinois', 'Danville', 'Seminary St and Jackson St', 0, 5, 42.91211149999999, -85.62301)
2021-05-05 20:52:10,834 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,856 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,858 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,859 INFO sqlalchemy.engine.base.Engine (940142, '2017-09-23', 'Connecticut', 'Hartford', '1164 Albany Ave', 2, 2, 38.5979369, -121.42762739999999)
2021-05-05 20:52:10,863 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,885 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,887 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,889 INFO sqlalchemy.engine.base.Engine (939482, '2017-09-20', 'Indiana', 'Gary', '4300 block of 23rd Ct', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:52:10,895 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,917 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,919 INFO sqlalchemy.engine.base.Engine (936028, '2017-09-17', 'Michigan', 'Detroit', '5000 block of Stanton Street', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:52:10,927 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,948 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,950 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,951 INFO sqlalchemy.engine.base.Engine (935928, '2017-09-17', 'Virginia', 'Petersburg', '300 Mistletoe St', 1, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:10,956 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:10,979 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:10,985 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:10,987 INFO sqlalchemy.engine.base.Engine (934036, '2017-09-16', 'South Carolina', 'Columbia', '920 Lady Street', 0, 8, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:10,990 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,016 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,018 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,020 INFO sqlalchemy.engine.base.Engine (932526, '2017-09-13', 'Tennessee', 'Memphis', '1000 block of Morehead St', 1, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:11,024 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,046 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,048 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,050 INFO sqlalchemy.engine.base.Engine (932181, '2017-09-13', 'Washington', 'Rockford', '14626 S Jackson Rd', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:52:11,054 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,075 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,077 INFO sqlalchemy.engine.base.Engine (932906, '2017-09-13', 'Pennsylvania', 'York', '400 block of S Duke St', 0, 4, 37.7849319, -122.4129481)

2021-05-05 20:52:11,084 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,106 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,108 INFO sqlalchemy.engine.base.Engine (932619, '2017-09-13', 'Pennsylvania', 'Philadelphia', '3100 block of N 2nd St', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:11,112 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,130 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,133 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,134 INFO sqlalchemy.engine.base.Engine (930569, '2017-09-10', 'Texas', 'Plano', '1712 West Spring Creek Parkway', 9, 1, 30.0216391, -95.3123538)
2021-05-05 20:52:11,139 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,159 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,160 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,161 INFO sqlalchemy.engine.base.Engine (930266, '2017-09-10', 'Louisiana', 'New Orleans', '2101 N Claiborne Ave', 1, 3, 29.723582699999998, -95.4421156)
2021-05-05 20:52:11,167 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,187 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,189 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,190 INFO sqlalchemy.engine.base.Engine (931139, '2017-09-09', 'Alabama', 'Selma', 'Kings Bend Road', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:11,194 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,223 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,226 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,227 INFO sqlalchemy.engine.base.Engine (928380, '2017-09-06', 'Illinois', 'Chicago', '2700 block of Madison', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:11,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,267 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,272 INFO sqlalchemy.engine.base.Engine (927277, '2017-09-04', 'Illinois', 'Bellwood', '1000 block of Bellwood Ave', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:11,280 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,299 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,302 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,304 INFO sqlalchemy.engine.base.Engine (926766, '2017-09-03', 'California', 'Inglewood', '10100 block of S Firmona Ave', 2, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:11,309 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,330 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,334 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,336 INFO sqlalchemy.engine.base.Engine (925809, '2017-09-02', 'Kentucky', 'Louisville', '8008 Watterson Trl', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:11,340 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,366 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,367 INFO sqlalchemy.engine.base.Engine (925436, '2017-09-02', 'Illinois', 'Chicago', '8300 block of S Hermitage', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:11,372 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,399 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,401 INFO sqlalchemy.engine.base.Engine (922184, '2017-08-28', 'New Mexico', 'Clovis', '701 N Main St', 2, 4, 37.7194881, -122.425285)
2021-05-05 20:52:11,406 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,426 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,429 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,432 INFO sqlalchemy.engine.base.Engine (921733, '2017-08-27', 'California', 'Sacramento', '7760 24th St', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:11,437 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,457 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,459 INFO sqlalchemy.engine.base.Engine (921653, '2017-08-27', 'Indiana', 'Evansville', '1127 Chestnut St', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:52:11,466 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,484 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,489 INFO sqlalchemy.engine.base.Engine (921289, '2017-08-25', 'Florida', 'Gainesville', '1600 NE 8th Ave', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:11,493 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,513 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,516 INFO sqlalchemy.engine.base.Engine (920513, '2017-08-24', 'Missouri', 'Saint Louis', '10400 block of Balmoral Dr', 4, 0, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:11,520 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,541 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,543 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,547 INFO sqlalchemy.engine.base.Engine (918204, '2017-08-22', 'Illinois', 'Chicago', '300 block of N Central Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:11,552 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,570 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:11,574 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,587 INFO sqlalchemy.engine.base.Engine (917793, '2017-08-21', 'New Jersey', 'Newark', 'Fabyan Place', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:11,593 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,610 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,614 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,617 INFO sqlalchemy.engine.base.Engine (917820, '2017-08-21', 'North Carolina', 'Whitakers', '980 Fishing Creek Rd', 4, 0, 42.91211149999999, -85.62301)
2021-05-05 20:52:11,621 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,651 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,652 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,653 INFO sqlalchemy.engine.base.Engine (918061, '2017-08-21', 'New Jersey', 'Newark', '700 block of S 19th St', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:52:11,658 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,678 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,680 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,682 INFO sqlalchemy.engine.base.Engine (917713, '2017-08-21', 'Maryland', 'Baltimore', 'Cottage Avenue and Park Heights Avenue', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:11,686 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,707 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,710 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,711 INFO sqlalchemy.engine.base.Engine (917838, '2017-08-21', 'Tennessee', 'Memphis', '262 Decatur St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:11,717 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,736 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,738 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,739 INFO sqlalchemy.engine.base.Engine (916808, '2017-08-20', 'New York', 'Brooklyn', '100th St and Ave M', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:11,745 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,774 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,775 INFO sqlalchemy.engine.base.Engine (916848, '2017-08-20', 'Illinois', 'Chicago', '11901 S Loomis St', 2, 5, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:11,779 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,801 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,804 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,806 INFO sqlalchemy.engine.base.Engine (916551, '2017-08-19', 'Ohio', 'Cleveland', '11143 Superior Ave', 1, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:11,812 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,834 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,835 INFO sqlalchemy.engine.base.Engine (914819, '2017-08-16', 'New York', 'Wyandanch', 'Merritt Ave and 15th St', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:11,842 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,861 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,864 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,867 INFO sqlalchemy.engine.base.Engine (913924, '2017-08-14', 'California', 'North Hollywood', 'Morrison St and Klump Ave', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:52:11,870 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,889 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,894 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,896 INFO sqlalchemy.engine.base.Engine (912805, '2017-08-13', 'Pennsylvania', 'Philadelphia', '39th St and Melon St', 0, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:11,901 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,922 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,924 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,926 INFO sqlalchemy.engine.base.Engine (912322, '2017-08-13', 'California', 'Sacramento', '4000 Block of Martin Luther King Jr Blvd', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:11,930 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,953 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,955 INFO sqlalchemy.engine.base.Engine (912375, '2017-08-13', 'Virginia', 'Suffolk', '8700 block of Quay Rd', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:11,959 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:11,980 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:11,984 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:11,987 INFO sqlalchemy.engine.base.Engine (912093, '2017-08-12', 'Missouri', 'Saint Louis', '12310 Bellefontaine Rd', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:52:11,991 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,012 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,015 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,016 INFO sqlalchemy.engine.base.Engine (909423, '2017-08-08', 'Illinois', 'Chicago', '50 block of E 37th St', 1, 6, 39.3048255, -76.6081873)
2021-05-05 20:52:12,024 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,075 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:12,077 INFO sqlalchemy.engine.base.Engine (907555, '2017-08-06', 'New York', 'Bronx', 'Wickham Ave', 0, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:52:12,084 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,112 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,115 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,117 INFO sqlalchemy.engine.base.Engine (907546, '2017-08-06', 'New York', 'Bronx', 'Unionport Rd', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:12,121 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,141 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,144 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,145 INFO sqlalchemy.engine.base.Engine (907857, '2017-08-06', 'California', 'Oakland', '1000 block of 106th Avenue', 0, 7, 36.1450958, -96.0023638)
2021-05-05 20:52:12,150 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,171 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,174 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,176 INFO sqlalchemy.engine.base.Engine (907247, '2017-08-05', 'New Jersey', 'Lakewood', '900 block of Brook Road', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:12,181 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,204 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,206 INFO sqlalchemy.engine.base.Engine (907611, '2017-08-05', 'South Carolina', 'Allendale', '300 block of Ellis St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:52:12,210 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,231 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,234 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,236 INFO sqlalchemy.engine.base.Engine (906568, '2017-08-05', 'Florida', 'Tallahassee', '1939 W Tennessee St', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:52:12,242 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,264 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,267 INFO sqlalchemy.engine.base.Engine (906509, '2017-08-04', 'Montana', 'Lodge Grass', '200 block of North Helen Street', 3, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:52:12,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,293 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,294 INFO sqlalchemy.engine.base.Engine (906126, '2017-08-03', 'District of Columbia', 'Washington', '3426 18th St NE', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:52:12,300 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,323 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,326 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,328 INFO sqlalchemy.engine.base.Engine (904329, '2017-08-02', 'Maryland', 'Baltimore', '900 block of N Broadway', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:12,334 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,354 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,356 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,359 INFO sqlalchemy.engine.base.Engine (903853, '2017-08-01', 'Illinois', 'Chicago', '800 block of N Monticello Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:12,366 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,389 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,390 INFO sqlalchemy.engine.base.Engine (904106, '2017-08-01', 'Washington', 'Toppenish', '8000 Block of Lateral C Rd', 0, 6, 41.872262, -87.69373)
2021-05-05 20:52:12,396 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,419 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,420 INFO sqlalchemy.engine.base.Engine (904026, '2017-08-01', 'California', 'Fresno', 'Mariposa St and A St', 0, 7, 42.91211149999999, -85.62301)
2021-05-05 20:52:12,424 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,450 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,452 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,453 INFO sqlalchemy.engine.base.Engine (903090, '2017-07-31', 'Illinois', 'Decatur', 'Jasper St and Main St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:12,458 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,479 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,480 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,482 INFO sqlalchemy.engine.base.Engine (902187, '2017-07-30', 'Texas', 'El Paso', '1810 George Dieter Dr', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:12,486 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,507 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,508 INFO sqlalchemy.engine.base.Engine (901549, '2017-07-30', 'Virginia', 'Norfolk', '1500 block of Azalea Garden Rd', 1, 5, 29.9673972, -90.1018231)
2021-05-05 20:52:12,513 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,534 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,537 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,539 INFO sqlalchemy.engine.base.Engine (901083, '2017-07-29', 'New York', 'Buffalo', '200 block of Carl St', 1, 4, 44.98847429999999, -93.2549796)

2021-05-05 20:52:12,542 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,570 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,571 INFO sqlalchemy.engine.base.Engine (901000, '2017-07-29', 'North Carolina', 'Salisbury', '115 W Fisher St', 2, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:12,576 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,600 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,604 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,606 INFO sqlalchemy.engine.base.Engine (900963, '2017-07-28', 'Delaware', 'Wilmington', '400 block of N Washington St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:12,611 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,633 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,635 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,638 INFO sqlalchemy.engine.base.Engine (900387, '2017-07-27', 'Illinois', 'Chicago', '2000 block of E 71st St', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:12,643 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,664 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,668 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,670 INFO sqlalchemy.engine.base.Engine (898631, '2017-07-26', 'North Carolina', 'High Point', '2111 E. Green Drive', 1, 6, 37.7849319, -122.4129481)
2021-05-05 20:52:12,675 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,698 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,700 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,702 INFO sqlalchemy.engine.base.Engine (898448, '2017-07-25', 'Florida', 'Jacksonville', '1040 Golfair Boulevard', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:12,706 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,728 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,732 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,734 INFO sqlalchemy.engine.base.Engine (896444, '2017-07-23', 'Illinois', 'Chicago', '1500 block of East 82nd St', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:52:12,738 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,761 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,762 INFO sqlalchemy.engine.base.Engine (896889, '2017-07-23', 'Louisiana', 'Baton Rouge', '10360 Ave H', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:12,768 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,789 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,791 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,792 INFO sqlalchemy.engine.base.Engine (896149, '2017-07-22', 'Ohio', 'Cincinnati', '130 E Clifton Ave', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:52:12,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,821 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,827 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,829 INFO sqlalchemy.engine.base.Engine (893690, '2017-07-19', 'Virginia', 'Richmond', '2300 block of Bethel St', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:52:12,836 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,860 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,862 INFO sqlalchemy.engine.base.Engine (894504, '2017-07-19', 'California', 'Los Angeles', 'Imperial Hwy and Broadway', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:12,866 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,888 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,891 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,893 INFO sqlalchemy.engine.base.Engine (893726, '2017-07-18', 'Wisconsin', 'Milwaukee', '3000 block of N 39th St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:12,899 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,921 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,923 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,925 INFO sqlalchemy.engine.base.Engine (893712, '2017-07-18', 'New Jersey', 'Trenton', 'Hewitt St and Division St', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:12,929 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,949 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,952 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,953 INFO sqlalchemy.engine.base.Engine (893752, '2017-07-18', 'Arizona', 'El Mirage', 'NW Grand Ave and W Thunderbird Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:12,958 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:12,975 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:12,976 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:12,978 INFO sqlalchemy.engine.base.Engine (891291, '2017-07-15', 'Pennsylvania', 'Philadelphia', '21st and Fitzwater', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:52:12,983 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,004 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,006 INFO sqlalchemy.engine.base.Engine (891092, '2017-07-15', 'Illinois', 'Chicago', '12200 block of S Throop St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:13,011 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:13,029 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,032 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,035 INFO sqlalchemy.engine.base.Engine (886564, '2017-07-09', 'Virginia', 'Lawrenceville', '500 block of Sturgeon Rd', 0, 7, 30.702997600000003, -88.0786828)
2021-05-05 20:52:13,039 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,062 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,063 INFO sqlalchemy.engine.base.Engine (886002, '2017-07-08', 'Illinois', 'Alton', '700 block of Oakwood Ave', 0, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:13,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,091 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,093 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,094 INFO sqlalchemy.engine.base.Engine (886220, '2017-07-08', 'Ohio', 'Cincinnati', '9917 Capstan Dr', 1, 8, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:13,103 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,127 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,130 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,133 INFO sqlalchemy.engine.base.Engine (884764, '2017-07-06', 'Mississippi', 'Meridian', 'Eighth Ave', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:13,137 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,157 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,159 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,160 INFO sqlalchemy.engine.base.Engine (883052, '2017-07-05', 'Georgia', 'Savannah', 'Jefferson Street and West St. Julian Street', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:13,165 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,183 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,186 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,188 INFO sqlalchemy.engine.base.Engine (883282, '2017-07-05', 'Illinois', 'Chicago (Roseland)', '11000 block of S Eberhart', 2, 2, 42.91211149999999, -85.62301)
2021-05-05 20:52:13,193 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,212 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,216 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,219 INFO sqlalchemy.engine.base.Engine (883058, '2017-07-05', 'Maine', 'Madison', '300 block of Russell Rd', 4, 1, 38.5979369, -121.42762739999999)
2021-05-05 20:52:13,223 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,242 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,245 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,247 INFO sqlalchemy.engine.base.Engine (882665, '2017-07-04', 'Florida', 'Orlando (Pine Castle)', '501 W Lancaster Rd', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:13,251 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,275 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,279 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,282 INFO sqlalchemy.engine.base.Engine (882321, '2017-07-04', 'Virginia', 'Hampton', '500 block of Patterson Ave', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:13,286 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,306 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,308 INFO sqlalchemy.engine.base.Engine (883489, '2017-07-04', 'North Carolina', 'Raleigh', '105 E South St', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:52:13,313 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,342 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,348 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,351 INFO sqlalchemy.engine.base.Engine (882422, '2017-07-03', 'Alabama', 'Prattville', '112 US 82', 3, 1, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:13,356 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,381 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,383 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,384 INFO sqlalchemy.engine.base.Engine (881921, '2017-07-03', 'Michigan', 'Pontiac', '50 block of Thorpe St', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:52:13,388 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,410 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,411 INFO sqlalchemy.engine.base.Engine (881700, '2017-07-02', 'New Jersey', 'Jersey City', 'Wilkinson Avenue', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:13,417 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,436 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,438 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,439 INFO sqlalchemy.engine.base.Engine (880738, '2017-07-02', 'South Carolina', 'Greenwood', 'SC 72 Bypass', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:13,443 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,467 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,469 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,471 INFO sqlalchemy.engine.base.Engine (879953, '2017-07-01', 'Arkansas', 'Little Rock', '220 W 6th St', 0, 25, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:13,476 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,499 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,501 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,505 INFO sqlalchemy.engine.base.Engine (883656, '2017-07-01', 'Illinois', 'Momence', '2727 S 13000 Rd E', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:13,510 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,529 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,531 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,532 INFO sqlalchemy.engine.base.Engine (880808, '2017-07-01', 'New Jersey', 'Newark', 'Lincoln Park and Pennsylvania Avenue', 2, 2, 29.723582699999998, -95.4421156)
2021-05-05 20:52:13,537 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,555 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,559 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,561 INFO sqlalchemy.engine.base.Engine (880813, '2017-07-01', 'California', 'Oakland', '3200 Humboldt Ave', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:13,566 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,587 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,588 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,590 INFO sqlalchemy.engine.base.Engine (879412, '2017-06-30', 'New York', 'Bronx', '1650 Grand Concourse', 2, 6, 39.3048255, -76.6081873)
2021-05-05 20:52:13,595 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,623 INFO sqlalchemy.engine.base.Engine (877295, '2017-06-27', 'Illinois', 'Chicago', '200 block of S Lotus', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:13,630 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,650 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,652 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,655 INFO sqlalchemy.engine.base.Engine (876010, '2017-06-25', 'District of Columbia', 'Washington', '5900 block of Southern Ave SE', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:13,661 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,684 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,685 INFO sqlalchemy.engine.base.Engine (875886, '2017-06-25', 'Missouri', 'Saint Louis', '5000 block of Thekla Ave', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:13,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,717 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,719 INFO sqlalchemy.engine.base.Engine (874613, '2017-06-24', 'Florida', 'Fort Lauderdale', '2335 NW 16th Ct', 1, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:13,722 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,745 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,751 INFO sqlalchemy.engine.base.Engine (875322, '2017-06-24', 'New York', 'New York (Manhattan)', '114th St and Manhattan Ave', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:52:13,757 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,779 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,783 INFO sqlalchemy.engine.base.Engine (876076, '2017-06-24', 'New Jersey', 'Willingboro', 'Pastoral Lane', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:13,787 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,807 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,809 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,810 INFO sqlalchemy.engine.base.Engine (873847, '2017-06-22', 'Georgia', 'Atlanta', '1100 block of Osborne Street', 1, 6, 30.702997600000003, -88.0786828)
2021-05-05 20:52:13,814 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,837 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,838 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,840 INFO sqlalchemy.engine.base.Engine (870095, '2017-06-18', 'Missouri', 'Saint Louis', '1900 block of N 14th St', 3, 2, 42.2699348, -88.96278009999997)
2021-05-05 20:52:13,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,867 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,868 INFO sqlalchemy.engine.base.Engine (870222, '2017-06-18', 'District of Columbia', 'Washington', '3100 block of Buena Vista Terrace SE', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:13,870 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,890 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,893 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,899 INFO sqlalchemy.engine.base.Engine (869877, '2017-06-18', 'Illinois', 'Chicago', '3300 block of W Crystal St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:13,948 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:13,991 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:13,993 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:13,994 INFO sqlalchemy.engine.base.Engine (869968, '2017-06-18', 'South Carolina', 'Myrtle Beach', '311 N Ocean Blvd', 0, 7, 41.872262, -87.69373)
2021-05-05 20:52:13,998 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,019 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:14,020 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,021 INFO sqlalchemy.engine.base.Engine (869838, '2017-06-17', 'Illinois', 'Chicago', '50 block of N Latrobe Ave', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:14,025 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,045 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,046 INFO sqlalchemy.engine.base.Engine (869357, '2017-06-17', 'Ohio', 'Columbus', '6252 Busch Blvd', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:14,050 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,070 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,071 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,072 INFO sqlalchemy.engine.base.Engine (868042, '2017-06-15', 'Virginia', 'Richmond', '4053 Old Brook Road', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:14,076 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,097 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,099 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,100 INFO sqlalchemy.engine.base.Engine (868363, '2017-06-15', 'New Mexico', 'La Madera', '491 NM-111', 5, 0, 29.9673972, -90.1018231)
2021-05-05 20:52:14,105 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,124 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,126 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,127 INFO sqlalchemy.engine.base.Engine (866739, '2017-06-14', 'Virginia', 'Alexandria', '420 E Monroe Ave', 1, 5, 44.98847429999999, -93.2549796)
2021-05-05 20:52:14,132 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,155 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,159 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,161 INFO sqlalchemy.engine.base.Engine (868147, '2017-06-14', 'Ohio', 'Canton', '14th St NE and Gibbs Ave NE', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:14,167 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,185 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,187 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,188 INFO sqlalchemy.engine.base.Engine (866933, '2017-06-14', 'California', 'San Francisco', '720 San Bruno', 4, 2, 41.032132700000005, -87.5381426)
2021-05-05 20:52:14,195 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,218 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,219 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,221 INFO sqlalchemy.engine.base.Engine (866412, '2017-06-13', 'Maryland', 'Baltimore', '3300 block of Ayrdale Avenue', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:14,227 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,251 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,252 INFO sqlalchemy.engine.base.Engine (866448, '2017-06-13', 'Maryland', 'Baltimore', '1200 block of Bonaparte Avenue', 2, 2, 37.7849319, -122.4129481)
2021-05-05 20:52:14,258 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,282 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,283 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,284 INFO sqlalchemy.engine.base.Engine (869474, '2017-06-13', 'Missouri', 'Saint Louis (University City)', 'Ferguson Ave and Plymouth Ave', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:14,288 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,309 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,309 INFO sqlalchemy.engine.base.Engine (864743, '2017-06-11', 'Illinois', 'Chicago', '3300 block of W Douglas Blvd', 0, 9, 30.0216391, -95.3123538)
2021-05-05 20:52:14,315 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,343 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,345 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,349 INFO sqlalchemy.engine.base.Engine (864852, '2017-06-11', 'Tennessee', 'Chattanooga', '4272 Bonny Oaks Drive', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:14,354 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,384 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,387 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,389 INFO sqlalchemy.engine.base.Engine (865371, '2017-06-11', 'Texas', 'Houston', '505 Cypress Station Dr', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:14,394 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,433 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,435 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,437 INFO sqlalchemy.engine.base.Engine (865186, '2017-06-10', 'Tennessee', 'Memphis', '571 East Street', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:14,441 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,463 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,466 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,467 INFO sqlalchemy.engine.base.Engine (864370, '2017-06-09', 'Texas', 'Fort Worth', 'East Davis Avenue and New York Avenue', 2, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:14,472 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,493 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,498 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:14,500 INFO sqlalchemy.engine.base.Engine (863075, '2017-06-08', 'Louisiana', 'New Orleans', '3650 Franklin Ave', 0, 6, 39.9854586, -75.08588999999998)
2021-05-05 20:52:14,504 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,537 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,538 INFO sqlalchemy.engine.base.Engine (861307, '2017-06-06', 'Utah', 'Sandy', '2232 Alta Canyon Drive', 3, 2, 36.1450958, -96.0023638)
2021-05-05 20:52:14,543 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,562 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,565 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,567 INFO sqlalchemy.engine.base.Engine (859875, '2017-06-05', 'Florida', 'Orlando', '2427 Forsyth Rd', 6, 0, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:14,571 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,592 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,594 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,596 INFO sqlalchemy.engine.base.Engine (858810, '2017-06-03', 'Missouri', 'Saint Louis', '1600 Block of Union Blvd', 2, 2, 37.7194881, -122.425285)
2021-05-05 20:52:14,600 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,621 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,623 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,628 INFO sqlalchemy.engine.base.Engine (858719, '2017-06-03', 'Louisiana', 'New Orleans', '3717 Tulane Ave', 3, 2, 41.7718443, -87.67278499999998)
2021-05-05 20:52:14,632 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,652 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,655 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,659 INFO sqlalchemy.engine.base.Engine (858877, '2017-06-02', 'California', 'Los Angeles', '89th St and Broadway', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:52:14,662 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,684 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,686 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,688 INFO sqlalchemy.engine.base.Engine (858378, '2017-06-02', 'Texas', 'Laredo', '5301 McPherson Rd', 2, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:52:14,694 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,716 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,718 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,718 INFO sqlalchemy.engine.base.Engine (857443, '2017-06-01', 'Missouri', 'Saint Louis', 'Beacon Ave and Lillian Ave', 3, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:14,722 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,743 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,746 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,748 INFO sqlalchemy.engine.base.Engine (855764, '2017-05-30', 'Ohio', 'Middletown', '1200 Elliott Dr', 1, 3, 41.88387900000001, -87.7085187)
2021-05-05 20:52:14,752 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,781 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,784 INFO sqlalchemy.engine.base.Engine (855113, '2017-05-29', 'Kentucky', 'Louisville', '231 Witherspoon St', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:14,788 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,808 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,809 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,811 INFO sqlalchemy.engine.base.Engine (853901, '2017-05-28', 'Alabama', 'Phenix City', '100 block of 6th Street South', 0, 12, 42.91211149999999, -85.62301)
2021-05-05 20:52:14,816 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,833 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,839 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,841 INFO sqlalchemy.engine.base.Engine (853796, '2017-05-28', 'New Jersey', 'Paterson', '86 Main Street', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:14,844 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,868 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,870 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,872 INFO sqlalchemy.engine.base.Engine (853920, '2017-05-28', 'Mississippi', 'Moss Point', '6103 Hwy. 63', 0, 5, 40.6327104, -74.0271053)
2021-05-05 20:52:14,884 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,909 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,911 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,914 INFO sqlalchemy.engine.base.Engine (853032, '2017-05-27', 'New York', 'New York (Manhattan)', '318 W 14th St', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:14,921 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,943 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,945 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,949 INFO sqlalchemy.engine.base.Engine (853119, '2017-05-27', 'District of Columbia', 'Washington', '100 block of Q St NW', 1, 7, 44.98847429999999, -93.2549796)
2021-05-05 20:52:14,954 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:14,977 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:14,980 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:14,982 INFO sqlalchemy.engine.base.Engine (853756, '2017-05-27', 'Mississippi', 'Bogue Chitto', '2871 Lee Dr', 8, 1, 29.398441499999997, -98.50429240000001)

2021-05-05 20:52:14,987 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,012 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,014 INFO sqlalchemy.engine.base.Engine (852676, '2017-05-26', 'Florida', 'Miami', '2730 NW 167th St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:15,019 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,042 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,044 INFO sqlalchemy.engine.base.Engine (848680, '2017-05-21', 'Iowa', 'Des Moines', '4300 Beaver Dr', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:52:15,049 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,076 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,079 INFO sqlalchemy.engine.base.Engine (849215, '2017-05-21', 'Arizona', 'Mesa', '441 N Val Vista Dr', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:15,083 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,109 INFO sqlalchemy.engine.base.Engine (848292, '2017-05-20', 'Pennsylvania', 'Philadelphia', '2100 block of W Huntingdon St', 0, 10, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:15,117 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,140 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,149 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,154 INFO sqlalchemy.engine.base.Engine (845364, '2017-05-16', 'South Carolina', 'Ruffin', '21785 Lowcountry Hwy', 3, 1, 30.0216391, -95.3123538)
2021-05-05 20:52:15,160 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,184 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,186 INFO sqlalchemy.engine.base.Engine (843078, '2017-05-14', 'Arkansas', 'Jonesboro', '311 S Main St', 1, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:52:15,191 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,215 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,217 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,218 INFO sqlalchemy.engine.base.Engine (843045, '2017-05-14', 'Illinois', 'Dolton', '14112 Chicago Road', 0, 5, 40.110245, -88.2353849)
2021-05-05 20:52:15,222 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,244 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,248 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,250 INFO sqlalchemy.engine.base.Engine (843172, '2017-05-14', 'Florida', 'Avon Park', 'Hal McRae Blvd and Delaney Ave', 0, 5, 39.3048255, -76.6081873)
2021-05-05 20:52:15,254 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,277 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,279 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,282 INFO sqlalchemy.engine.base.Engine (843590, '2017-05-14', 'Texas', 'Fort Worth', '8600 block of Calmont Ave', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:15,287 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,307 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,310 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,313 INFO sqlalchemy.engine.base.Engine (840339, '2017-05-10', 'New Jersey', 'Trenton', '300 block of Centre St', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:15,317 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,339 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,341 INFO sqlalchemy.engine.base.Engine (839846, '2017-05-09', 'Kansas', 'Kansas City', '1900 block of S. Boeke', 3, 1, 36.1450958, -96.0023638)
2021-05-05 20:52:15,348 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,382 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,384 INFO sqlalchemy.engine.base.Engine (838272, '2017-05-07', 'Illinois', 'Chicago', '2600 block of 46th Pl', 2, 8, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:15,388 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,410 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,411 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,414 INFO sqlalchemy.engine.base.Engine (835961, '2017-05-04', 'Michigan', 'Flint', '600 block of Copeman Boulevard', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:52:15,417 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,437 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,439 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,443 INFO sqlalchemy.engine.base.Engine (834832, '2017-05-02', 'Florida', 'Jacksonville', '1566 West 24th Street', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:52:15,447 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,469 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,470 INFO sqlalchemy.engine.base.Engine (833152, '2017-05-01', 'Texas', 'Dallas', '3200 block of Reynolds Ave', 2, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:52:15,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,493 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,495 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,499 INFO sqlalchemy.engine.base.Engine (832679, '2017-04-30', 'California', 'San Diego', '9080 Judicial Dr', 2, 6, 42.2699348, -88.96278009999997)
2021-05-05 20:52:15,502 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,524 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,526 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,528 INFO sqlalchemy.engine.base.Engine (832528, '2017-04-30', 'Kansas', 'Topeka', '4104 SW 28th', 4, 1, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:15,535 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,553 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,555 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,557 INFO sqlalchemy.engine.base.Engine (833128, '2017-04-30', 'Florida', 'Jacksonville', '1200 Ken Knight Dr N', 0, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:52:15,560 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,581 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,583 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,585 INFO sqlalchemy.engine.base.Engine (832309, '2017-04-30', 'South Carolina', 'Loris', '268 N Sea Green Rd', 1, 5, 41.872262, -87.69373)
2021-05-05 20:52:15,589 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,614 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,616 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,618 INFO sqlalchemy.engine.base.Engine (835459, '2017-04-29', 'California', 'Los Angeles (Boyle Heights)', 'Murchison St and Lancaster Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:52:15,622 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,646 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,650 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,652 INFO sqlalchemy.engine.base.Engine (832290, '2017-04-29', 'California', 'Sacramento', '3800 block of 26th Avenue', 0, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:15,659 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,686 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,688 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,689 INFO sqlalchemy.engine.base.Engine (831800, '2017-04-29', 'California', 'Whittier', '10000 block of Carmentia Rd', 1, 5, 40.6327104, -74.0271053)
2021-05-05 20:52:15,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,725 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,727 INFO sqlalchemy.engine.base.Engine (831667, '2017-04-29', 'Maryland', 'Germantown', '12839 Kitchen House Way', 1, 3, 29.9673972, -90.1018231)
2021-05-05 20:52:15,732 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,755 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,758 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,761 INFO sqlalchemy.engine.base.Engine (834788, '2017-04-29', 'California', 'Compton', '2000 Block of N Nestor Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:15,765 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,790 INFO sqlalchemy.engine.base.Engine (832063, '2017-04-29', 'Virginia', 'Virginia Beach', '200 block of 18th St', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:15,794 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,820 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,822 INFO sqlalchemy.engine.base.Engine (831201, '2017-04-28', 'Pennsylvania', 'Chester', '5 E 21st St', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:15,825 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,846 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,850 INFO sqlalchemy.engine.base.Engine (830984, '2017-04-27', 'New Jersey', 'Newark', '1100 block of S Orange Ave', 1, 3, 36.7565424, -119.7711186)
2021-05-05 20:52:15,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,877 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,881 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,882 INFO sqlalchemy.engine.base.Engine (829073, '2017-04-26', 'Florida', 'Miami', 'SW 264th St and 139th Ave', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:15,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,907 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,912 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,915 INFO sqlalchemy.engine.base.Engine (825694, '2017-04-21', 'Florida', 'Palm Bay', '2500 block of Vernon Dr', 2, 2, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:15,919 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,939 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,940 INFO sqlalchemy.engine.base.Engine (825111, '2017-04-20', 'Kentucky', 'Louisville', '700 block of East Jacob Street', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:15,944 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:15,965 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,967 INFO sqlalchemy.engine.base.Engine (821667, '2017-04-16', 'California', 'Vallejo', '110 Calhoun Street', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:15,971 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:15,990 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:15,992 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:15,993 INFO sqlalchemy.engine.base.Engine (821723, '2017-04-16', 'North Carolina', 'Elizabeth City', '611 S Martin St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:15,998 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,019 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,020 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,021 INFO sqlalchemy.engine.base.Engine (821371, '2017-04-16', 'Ohio', 'Columbus', '1710 Cleveland Av', 0, 9, 39.3048255, -76.6081873)
2021-05-05 20:52:16,025 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,043 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,045 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,047 INFO sqlalchemy.engine.base.Engine (821640, '2017-04-15', 'Illinois', 'Rock Falls', '311 W 2nd St', 0, 4, 48.461627899999996, -122.3386173)
2021-05-05 20:52:16,051 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,074 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,076 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,078 INFO sqlalchemy.engine.base.Engine (821055, '2017-04-15', 'Pennsylvania', 'Philadelphia', '5900 block of Hammond St', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:16,083 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,107 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,111 INFO sqlalchemy.engine.base.Engine (820565, '2017-04-15', 'Indiana', 'Indianapolis', '300 block of S Meridian St', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:16,117 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,136 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,138 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,139 INFO sqlalchemy.engine.base.Engine (821400, '2017-04-15', 'Alabama', 'Birmingham', '1480 Center Point Pkwy', 0, 6, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:16,143 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,164 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,165 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,166 INFO sqlalchemy.engine.base.Engine (821651, '2017-04-15', 'Illinois', 'Harvey', '14600 block of Myrtle Avenue', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:16,170 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,190 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,191 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,193 INFO sqlalchemy.engine.base.Engine (822750, '2017-04-15', 'California', 'Banning', '900 block of N Allen St', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:16,201 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,226 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,228 INFO sqlalchemy.engine.base.Engine (818932, '2017-04-13', 'Georgia', 'Atlanta', '30 Anderson Ave SW', 1, 3, 30.702997600000003, -88.0786828)
2021-05-05 20:52:16,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,259 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,260 INFO sqlalchemy.engine.base.Engine (815227, '2017-04-09', 'Texas', 'San Antonio', '4000 block of Moss Spring Dr', 1, 3, 42.2699348, -88.96278009999997)
2021-05-05 20:52:16,264 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,289 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,291 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,293 INFO sqlalchemy.engine.base.Engine (815246, '2017-04-09', 'Indiana', 'Fort Wayne', '9439 Lima Rd', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:16,300 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,327 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,332 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,334 INFO sqlalchemy.engine.base.Engine (813877, '2017-04-07', 'North Carolina', 'Hickory', '1423 29th Ave Dr NE', 3, 1, 41.88387900000001, -87.7085187)
2021-05-05 20:52:16,337 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,357 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,362 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,365 INFO sqlalchemy.engine.base.Engine (813821, '2017-04-07', 'Texas', 'Houston', '3829 Mount Pleasant St', 5, 0, 41.872262, -87.69373)
2021-05-05 20:52:16,371 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,398 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,400 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,402 INFO sqlalchemy.engine.base.Engine (813943, '2017-04-07', 'Minnesota', 'Saint Paul', '1600 block of English St', 4, 1, 42.91211149999999, -85.62301)
2021-05-05 20:52:16,406 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,426 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,428 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:16,430 INFO sqlalchemy.engine.base.Engine (814094, '2017-04-07', 'Illinois', 'Chicago', '5600 block of W Lake St', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:16,435 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,458 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,460 INFO sqlalchemy.engine.base.Engine (813028, '2017-04-06', 'Louisiana', 'Lake Charles', '2000 block of Tulip St', 1, 3, 40.6327104, -74.0271053)
2021-05-05 20:52:16,466 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,490 INFO sqlalchemy.engine.base.Engine (810756, '2017-04-03', 'Pennsylvania', 'Philadelphia', '1100 block of W Stiles St', 3, 1, 29.9673972, -90.1018231)
2021-05-05 20:52:16,494 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,512 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,514 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,517 INFO sqlalchemy.engine.base.Engine (811089, '2017-04-03', 'Texas', 'Lubbock', '5401 Ave Q', 0, 7, 44.98847429999999, -93.2549796)
2021-05-05 20:52:16,521 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,543 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,546 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,549 INFO sqlalchemy.engine.base.Engine (809978, '2017-04-02', 'Illinois', 'Chicago', '3500 block of W Van Buren St', 2, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:16,552 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,576 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,578 INFO sqlalchemy.engine.base.Engine (809683, '2017-04-02', 'Iowa', 'Des Moines', '2500 Martin Luther King Jr. Parkway', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:16,584 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,603 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,604 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,607 INFO sqlalchemy.engine.base.Engine (809815, '2017-04-01', 'California', 'Pittsburg', '100 block of Madoline Street', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:16,613 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,633 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,634 INFO sqlalchemy.engine.base.Engine (809048, '2017-04-01', 'Florida', 'Tampa', '219 S Howard Ave', 1, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:16,639 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,662 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,665 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,666 INFO sqlalchemy.engine.base.Engine (809499, '2017-04-01', 'Oklahoma', 'Oklahoma City', '1200 block of N Woodward Avenue', 2, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:16,669 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,691 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,693 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,694 INFO sqlalchemy.engine.base.Engine (807618, '2017-03-30', 'Illinois', 'Chicago', '2704 E 75th St', 4, 0, 30.0216391, -95.3123538)
2021-05-05 20:52:16,700 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,720 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,721 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,722 INFO sqlalchemy.engine.base.Engine (804115, '2017-03-27', 'Florida', 'Sanford', '209 Hays Dr', 2, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:16,726 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,749 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,751 INFO sqlalchemy.engine.base.Engine (803689, '2017-03-26', 'Ohio', 'Cleveland', 'E 75th St', 2, 2, 40.110245, -88.2353849)
2021-05-05 20:52:16,755 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,777 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,779 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,781 INFO sqlalchemy.engine.base.Engine (803822, '2017-03-26', 'Texas', 'Houston', '5619 Aldine Bender Rd', 2, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:16,786 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,808 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,809 INFO sqlalchemy.engine.base.Engine (803054, '2017-03-26', 'Ohio', 'Cincinnati', '4601 Kellogg Ave', 2, 15, 48.461627899999996, -122.3386173)
2021-05-05 20:52:16,816 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,836 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,838 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,840 INFO sqlalchemy.engine.base.Engine (802926, '2017-03-25', 'Tennessee', 'Knoxville', 'Minnesota Ave', 1, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:16,848 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,867 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,869 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,871 INFO sqlalchemy.engine.base.Engine (803460, '2017-03-25', 'Michigan', 'Detroit', '8443 Grand River Ave', 1, 3, 36.1450958, -96.0023638)

2021-05-05 20:52:16,875 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,896 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,899 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,901 INFO sqlalchemy.engine.base.Engine (802837, '2017-03-25', 'Ohio', 'Cleveland', 'E 79th St and Woodland Ave', 2, 2, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:16,904 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,925 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,930 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,932 INFO sqlalchemy.engine.base.Engine (802425, '2017-03-24', 'California', 'Fresno', '300 block of South Villa Avenue', 1, 4, 37.7194881, -122.425285)
2021-05-05 20:52:16,938 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,956 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,960 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,961 INFO sqlalchemy.engine.base.Engine (802240, '2017-03-24', 'Missouri', 'Saint Louis', '5100 block of Palm St', 1, 6, 41.7718443, -87.67278499999998)
2021-05-05 20:52:16,966 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:16,984 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:16,986 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:16,988 INFO sqlalchemy.engine.base.Engine (800363, '2017-03-22', 'Wisconsin', 'Rothschild', '1133 E Grand Ave', 5, 0, 30.702997600000003, -88.0786828)
2021-05-05 20:52:16,991 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,032 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,038 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,040 INFO sqlalchemy.engine.base.Engine (797553, '2017-03-19', 'Kentucky', 'Louisville', '1512 Portland Avenue', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:17,048 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,069 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,072 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,074 INFO sqlalchemy.engine.base.Engine (797125, '2017-03-18', 'Michigan', 'Detroit', '16000 block of Rutherford', 3, 2, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:17,078 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,100 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,102 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,104 INFO sqlalchemy.engine.base.Engine (794468, '2017-03-15', 'Louisiana', 'Metairie', '2508 Pasadena Ave', 3, 1, 41.88387900000001, -87.7085187)
2021-05-05 20:52:17,108 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,131 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,136 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,138 INFO sqlalchemy.engine.base.Engine (791298, '2017-03-10', 'Illinois', 'Chicago', '123 E 51st St', 2, 2, 41.872262, -87.69373)
2021-05-05 20:52:17,142 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,170 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,172 INFO sqlalchemy.engine.base.Engine (791274, '2017-03-10', 'Louisiana', 'New Orleans (Gentilly)', '4200 block of Touro St', 3, 1, 42.91211149999999, -85.62301)
2021-05-05 20:52:17,178 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,199 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,201 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,203 INFO sqlalchemy.engine.base.Engine (789798, '2017-03-07', 'Illinois', 'Chicago', 'W 76th St and S May St', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:17,208 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,232 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,233 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,234 INFO sqlalchemy.engine.base.Engine (789424, '2017-03-05', 'Georgia', 'Columbus', '600 block of 32nd Street', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:17,238 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,263 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,266 INFO sqlalchemy.engine.base.Engine (787875, '2017-03-04', 'Kansas', 'Topeka', 'SE Bellview Ave and SE 23rd St', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:17,270 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,292 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,292 INFO sqlalchemy.engine.base.Engine (787801, '2017-03-04', 'California', 'Sacramento', '2500 block of 33rd St', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:17,298 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,320 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,321 INFO sqlalchemy.engine.base.Engine (786876, '2017-03-03', 'Pennsylvania', 'Philadelphia', '7165 Germantown Ave', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:17,326 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,351 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,353 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,354 INFO sqlalchemy.engine.base.Engine (787435, '2017-03-03', 'California', 'Riverside', '8300 block of Trey Ave', 0, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:17,358 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:17,376 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,380 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,381 INFO sqlalchemy.engine.base.Engine (785262, '2017-02-28', 'Ohio', 'Cincinnati', '1700 of Casey Dr', 0, 6, 36.7565424, -119.7711186)
2021-05-05 20:52:17,385 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,404 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,405 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,406 INFO sqlalchemy.engine.base.Engine (783963, '2017-02-27', 'Virginia', 'Newport News', '11810 Fountain Way', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:17,410 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,432 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,432 INFO sqlalchemy.engine.base.Engine (783623, '2017-02-26', 'Indiana', 'Gary', '1700 Grant St', 1, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:17,438 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,460 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,461 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,464 INFO sqlalchemy.engine.base.Engine (783102, '2017-02-25', 'Ohio', 'Warren', '1564 Niles Cortland Rd SE', 2, 3, 30.0216391, -95.3123538)
2021-05-05 20:52:17,469 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,494 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,497 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,499 INFO sqlalchemy.engine.base.Engine (783090, '2017-02-25', 'Florida', 'Jacksonville', '3604 Moncrief Rd', 1, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:17,503 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,527 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,528 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,530 INFO sqlalchemy.engine.base.Engine (780792, '2017-02-22', 'New York', 'Rochester', '191 Genesee St', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:17,536 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,564 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,569 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,570 INFO sqlalchemy.engine.base.Engine (780036, '2017-02-21', 'Ohio', 'Cleveland', '16700 Lorain Ave', 0, 4, 39.3048255, -76.6081873)
2021-05-05 20:52:17,575 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,597 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,600 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,605 INFO sqlalchemy.engine.base.Engine (779582, '2017-02-21', 'Mississippi', 'Toomsuba', 'Butts Road', 4, 0, 48.461627899999996, -122.3386173)
2021-05-05 20:52:17,609 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,632 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,634 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,635 INFO sqlalchemy.engine.base.Engine (778941, '2017-02-20', 'Ohio', 'Cleveland', '1082 East 105th Street', 0, 5, 39.9854586, -75.08588999999998)
2021-05-05 20:52:17,638 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,658 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,660 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,663 INFO sqlalchemy.engine.base.Engine (778182, '2017-02-19', 'Virginia', 'Norfolk', 'Church Street and East Virginia Beach Blvd', 1, 3, 36.1450958, -96.0023638)
2021-05-05 20:52:17,667 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,688 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,690 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,691 INFO sqlalchemy.engine.base.Engine (777876, '2017-02-18', 'Pennsylvania', 'Philadelphia', '1 block of N Conestoga', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:17,697 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,724 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,726 INFO sqlalchemy.engine.base.Engine (777410, '2017-02-18', 'Indiana', 'South Bend', '1000 block of Yukon St', 1, 3, 37.7194881, -122.425285)
2021-05-05 20:52:17,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,754 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,757 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,759 INFO sqlalchemy.engine.base.Engine (775903, '2017-02-15', 'California', 'Salinas', '30 Soledad Street', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:17,765 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,792 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,797 INFO sqlalchemy.engine.base.Engine (775531, '2017-02-15', 'Illinois', 'Chicago', '3949 South Albany Avenue', 3, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:52:17,804 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,830 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,832 INFO sqlalchemy.engine.base.Engine (773002, '2017-02-12', 'Missouri', 'Caruthersville', '908 Truman Blvd', 1, 6, 42.2699348, -88.96278009999997)
2021-05-05 20:52:17,836 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,855 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,861 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:17,864 INFO sqlalchemy.engine.base.Engine (773162, '2017-02-12', 'New York', 'Newburgh', '253 South William Street', 1, 3, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:17,869 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,897 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,899 INFO sqlalchemy.engine.base.Engine (773908, '2017-02-12', 'Florida', 'Greenville', 'Church Ave and Obadiah St', 0, 5, 41.88387900000001, -87.7085187)
2021-05-05 20:52:17,903 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,922 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,924 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,926 INFO sqlalchemy.engine.base.Engine (772753, '2017-02-11', 'Illinois', 'Chicago', '100 block of N Mayfield', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:17,930 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,953 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,954 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,959 INFO sqlalchemy.engine.base.Engine (772989, '2017-02-11', 'Tennessee', 'Savannah', 'Clifton Road and Midway Drive', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:17,964 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:17,987 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:17,989 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:17,992 INFO sqlalchemy.engine.base.Engine (772067, '2017-02-10', 'Louisiana', 'New Orleans', '2nd St and Dryades St', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:17,999 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,020 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,023 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,027 INFO sqlalchemy.engine.base.Engine (771826, '2017-02-09', 'Mississippi', 'Jackson', '3150 Robinson Road', 4, 0, 40.6327104, -74.0271053)
2021-05-05 20:52:18,032 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,049 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,058 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,060 INFO sqlalchemy.engine.base.Engine (769889, '2017-02-08', 'Ohio', 'Cleveland', '16379 Euclid Ave', 1, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:18,067 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,089 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,090 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,092 INFO sqlalchemy.engine.base.Engine (769511, '2017-02-07', 'South Carolina', 'Columbia', '5500 block of Fairfield Road', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:18,096 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,116 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,123 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,125 INFO sqlalchemy.engine.base.Engine (769859, '2017-02-07', 'Arkansas', 'Little Rock', '25 Par Drive', 1, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:18,130 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,148 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,152 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,154 INFO sqlalchemy.engine.base.Engine (768243, '2017-02-06', 'Mississippi', 'Yazoo City', '11th Street', 4, 0, 41.032132700000005, -87.5381426)
2021-05-05 20:52:18,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,179 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,181 INFO sqlalchemy.engine.base.Engine (765559, '2017-01-31', 'Tennessee', 'Memphis', '1576 S White Station Rd', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:18,184 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,202 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,205 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,207 INFO sqlalchemy.engine.base.Engine (765153, '2017-01-31', 'District of Columbia', 'Washington', '2900 block of Martin Luther King Jr Ave SE', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:18,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,231 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,234 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,235 INFO sqlalchemy.engine.base.Engine (764020, '2017-01-30', 'Minnesota', 'Minneapolis (Crystal)', '5410 Lakeland Ave N', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:18,239 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,266 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,267 INFO sqlalchemy.engine.base.Engine (763313, '2017-01-29', 'Louisiana', 'Shreveport', '6363 Hearne Ave', 1, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:18,271 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,297 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,300 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,303 INFO sqlalchemy.engine.base.Engine (1025158, '2017-01-27', 'Washington', 'Bremerton', 'Tenino Dr W', 4, 0, 29.723582699999998, -95.4421156)
2021-05-05 20:52:18,309 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,346 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,349 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,350 INFO sqlalchemy.engine.base.Engine (761973, '2017-01-27', 'Tennessee', 'Brownsville', '221 Morgan St', 0, 10, 40.110245, -88.2353849)

2021-05-05 20:52:18,358 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,411 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,413 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,415 INFO sqlalchemy.engine.base.Engine (760482, '2017-01-26', 'Georgia', 'Albany', '1510 Maryland Drive', 2, 3, 39.3048255, -76.6081873)
2021-05-05 20:52:18,419 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,521 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,523 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,524 INFO sqlalchemy.engine.base.Engine (760259, '2017-01-25', 'Illinois', 'Chicago', '500 block of E 75th St', 0, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:52:18,530 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,630 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,632 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,637 INFO sqlalchemy.engine.base.Engine (757158, '2017-01-22', 'Texas', 'Manvel', '200 block of Oak Shore Dr', 3, 2, 39.9854586, -75.08588999999998)
2021-05-05 20:52:18,645 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,668 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,670 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,671 INFO sqlalchemy.engine.base.Engine (757032, '2017-01-22', 'Illinois', 'Chicago (Englewood)', '1800 block of W 63rd', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:18,675 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,695 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,697 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,699 INFO sqlalchemy.engine.base.Engine (757001, '2017-01-22', 'Georgia', 'Atlanta', '2841 Greenbriar Pkwy SW', 3, 1, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:18,703 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,727 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,729 INFO sqlalchemy.engine.base.Engine (756801, '2017-01-21', 'Georgia', 'Jonesboro', '6510 Tara Blvd', 0, 6, 37.7194881, -122.425285)
2021-05-05 20:52:18,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,756 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,759 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,760 INFO sqlalchemy.engine.base.Engine (756526, '2017-01-21', 'Florida', 'Boynton Beach', '500 NE 2nd St', 0, 5, 41.7718443, -87.67278499999998)
2021-05-05 20:52:18,765 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,786 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,788 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,789 INFO sqlalchemy.engine.base.Engine (756504, '2017-01-21', 'Tennessee', 'Memphis', '500 block of Delta Road', 2, 2, 30.702997600000003, -88.0786828)
2021-05-05 20:52:18,798 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,818 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,821 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,823 INFO sqlalchemy.engine.base.Engine (757955, '2017-01-20', 'Mississippi', 'Como', 'Smart Road', 1, 4, 42.2699348, -88.96278009999997)
2021-05-05 20:52:18,834 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,859 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,861 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,864 INFO sqlalchemy.engine.base.Engine (756015, '2017-01-20', 'California', 'Fresno', '4700 block of E Montecito Ave', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:18,869 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,890 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,893 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,896 INFO sqlalchemy.engine.base.Engine (752756, '2017-01-16', 'Texas', 'Houston', '8535 Martin Luther King Boulevard', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:18,900 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:18,922 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:18,924 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:18,926 INFO sqlalchemy.engine.base.Engine (752222, '2017-01-16', 'Florida', 'Miami', '6011 NW 32nd Ave', 0, 8, 41.872262, -87.69373)
2021-05-05 20:52:18,950 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,020 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,021 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,024 INFO sqlalchemy.engine.base.Engine (752249, '2017-01-15', 'Colorado', 'Capulin', 'County Road Y', 3, 1, 42.91211149999999, -85.62301)
2021-05-05 20:52:19,030 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,055 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,056 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,059 INFO sqlalchemy.engine.base.Engine (751367, '2017-01-15', 'Mississippi', 'Magnolia', '6000 block of Church Road', 1, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:19,067 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,087 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,088 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,090 INFO sqlalchemy.engine.base.Engine (749361, '2017-01-12', 'Missouri', 'Kansas City', '8607 E 61st Terrace', 3, 2, 40.6327104, -74.0271053)
2021-05-05 20:52:19,094 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,115 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,118 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,119 INFO sqlalchemy.engine.base.Engine (749769, '2017-01-12', 'California', 'Salinas', '500 block of Sunrise St', 2, 2, 29.9673972, -90.1018231)
2021-05-05 20:52:19,124 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,143 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,145 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,146 INFO sqlalchemy.engine.base.Engine (748152, '2017-01-11', 'New Jersey', 'Newark', 'Hawkins Street and Christie Street', 1, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:52:19,150 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,183 INFO sqlalchemy.engine.base.Engine (748348, '2017-01-11', 'Illinois', 'Chicago', '4200 block of S Talman', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:19,189 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,208 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,209 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,210 INFO sqlalchemy.engine.base.Engine (745236, '2017-01-07', 'Michigan', 'Flint', '2500 block of Churchill Ave', 1, 3, 41.032132700000005, -87.5381426)
2021-05-05 20:52:19,216 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,237 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,239 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,240 INFO sqlalchemy.engine.base.Engine (744799, '2017-01-06', 'California', 'Pasadena', '100 block of W Claremont St', 2, 2, 36.7565424, -119.7711186)
2021-05-05 20:52:19,244 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,265 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,267 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,268 INFO sqlalchemy.engine.base.Engine (743995, '2017-01-06', 'Florida', 'Fort Lauderdale', '100 Terminal Dr', 5, 6, 37.7849319, -122.4129481)
2021-05-05 20:52:19,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,298 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,300 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,301 INFO sqlalchemy.engine.base.Engine (742542, '2017-01-04', 'California', 'Fontana', '14520 Village Drive', 3, 1, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:19,305 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,326 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,327 INFO sqlalchemy.engine.base.Engine (742001, '2017-01-03', 'Texas', 'Allen', '500 block of Hawthorne Drive', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:19,331 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,352 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,354 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,356 INFO sqlalchemy.engine.base.Engine (743282, '2017-01-01', 'Mississippi', 'Winstonville', '114 North Greyer Street', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:52:19,361 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,380 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,382 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,385 INFO sqlalchemy.engine.base.Engine (739451, '2017-01-01', 'Texas', 'Dallas', '9220 Skillman Street', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:52:19,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,409 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,411 INFO sqlalchemy.engine.base.Engine (739766, '2017-01-01', 'Florida', 'Miami', '8000 block of NW 14th Ave', 0, 7, 39.3048255, -76.6081873)
2021-05-05 20:52:19,416 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,436 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,438 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,439 INFO sqlalchemy.engine.base.Engine (740447, '2016-12-31', 'Georgia', 'Lenox (El Dorado)', '27 Briarwood Ct', 2, 2, 48.461627899999996, -122.3386173)
2021-05-05 20:52:19,444 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,468 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,470 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,473 INFO sqlalchemy.engine.base.Engine (738749, '2016-12-31', 'Texas', 'Houston', '3704 Fannin Street', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:19,477 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,501 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,503 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,505 INFO sqlalchemy.engine.base.Engine (738041, '2016-12-30', 'Ohio', 'Mansfield', '3230 Possum Run Rd', 0, 5, 36.1450958, -96.0023638)
2021-05-05 20:52:19,509 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,531 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,532 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,534 INFO sqlalchemy.engine.base.Engine (738576, '2016-12-30', 'Connecticut', 'Wallingford', '95 S Turnpike Rd', 2, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:19,538 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,558 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,560 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:19,561 INFO sqlalchemy.engine.base.Engine (736690, '2016-12-28', 'Georgia', 'Columbus', '2914 10th Street', 1, 4, 37.7194881, -122.425285)
2021-05-05 20:52:19,567 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,590 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,593 INFO sqlalchemy.engine.base.Engine (734157, '2016-12-25', 'Illinois', 'Chicago', '8600 block of S Maryland Ave', 3, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:19,598 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,622 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,623 INFO sqlalchemy.engine.base.Engine (735947, '2016-12-25', 'Alabama', 'Ozark', '858 US-231', 0, 4, 30.702997600000003, -88.0786828)
2021-05-05 20:52:19,628 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,650 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,652 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,653 INFO sqlalchemy.engine.base.Engine (733599, '2016-12-25', 'New York', 'Mount Vernon', '4 North 3rd Avenue', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:19,660 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,687 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,690 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,697 INFO sqlalchemy.engine.base.Engine (732927, '2016-12-24', 'North Carolina', 'Madison', '490 K Ford Rd', 0, 7, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:19,703 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,728 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,731 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,732 INFO sqlalchemy.engine.base.Engine (733176, '2016-12-24', 'North Carolina', 'Wilson', '2241 Banks Lane East', 4, 0, 41.88387900000001, -87.7085187)
2021-05-05 20:52:19,736 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,760 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,763 INFO sqlalchemy.engine.base.Engine (732263, '2016-12-23', 'Alabama', 'Birmingham', '3813 Richard Arrington Boulevard North', 1, 3, 41.872262, -87.69373)
2021-05-05 20:52:19,767 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,787 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,789 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,790 INFO sqlalchemy.engine.base.Engine (732574, '2016-12-23', 'Illinois', 'Chicago', '4900 block of W Hubbard', 0, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:19,795 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,817 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,821 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,824 INFO sqlalchemy.engine.base.Engine (727759, '2016-12-17', 'Illinois', 'Chicago (Roseland)', '100 block of W 105th St', 5, 0, 38.5979369, -121.42762739999999)
2021-05-05 20:52:19,828 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,849 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,851 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,852 INFO sqlalchemy.engine.base.Engine (728286, '2016-12-17', 'North Carolina', 'Charlotte', '4115 N. Tryon Street', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:19,857 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,879 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,881 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,883 INFO sqlalchemy.engine.base.Engine (727555, '2016-12-16', 'Illinois', 'Chicago', '13th and South Kedzie', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:19,887 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,906 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,909 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,913 INFO sqlalchemy.engine.base.Engine (727544, '2016-12-16', 'Illinois', 'Chicago', '4300 block of South Rockwell', 2, 2, 44.98847429999999, -93.2549796)
2021-05-05 20:52:19,918 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,940 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,943 INFO sqlalchemy.engine.base.Engine (724667, '2016-12-12', 'California', 'Sacramento', '4800 block of Myrtle Avenue', 1, 3, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:19,948 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,966 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,968 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,970 INFO sqlalchemy.engine.base.Engine (723649, '2016-12-11', 'New York', 'Brooklyn', '192 Knickerbocker Ave', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:19,976 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:19,992 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:19,995 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:19,997 INFO sqlalchemy.engine.base.Engine (723643, '2016-12-11', 'Florida', 'Orlando (Pine Hills)', '4305 N Pine Hills Rd', 1, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:20,001 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,021 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,022 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,026 INFO sqlalchemy.engine.base.Engine (723292, '2016-12-11', 'Maryland', 'Baltimore', '3916 South Hanover Street', 0, 5, 37.7849319, -122.4129481)

2021-05-05 20:52:20,031 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,052 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,053 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,054 INFO sqlalchemy.engine.base.Engine (725338, '2016-12-11', 'North Carolina', 'Rocky Mount', '1200 block of East Highland Ave', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:20,058 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,076 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,078 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,081 INFO sqlalchemy.engine.base.Engine (725323, '2016-12-09', 'Texas', 'Channelview', '15300 block of Market', 4, 0, 30.0216391, -95.3123538)
2021-05-05 20:52:20,085 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,104 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,105 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,106 INFO sqlalchemy.engine.base.Engine (722452, '2016-12-09', 'California', 'Fresno', '842 Fresno Street', 0, 4, 29.723582699999998, -95.4421156)
2021-05-05 20:52:20,110 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,136 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,137 INFO sqlalchemy.engine.base.Engine (719128, '2016-12-05', 'New Mexico', 'Albuquerque', '1532 Stagecoach Lane', 4, 1, 40.110245, -88.2353849)
2021-05-05 20:52:20,143 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,165 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,166 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,167 INFO sqlalchemy.engine.base.Engine (717873, '2016-12-03', 'California', 'Los Angeles', '91st Street and Western Avenue', 0, 6, 39.3048255, -76.6081873)
2021-05-05 20:52:20,172 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,196 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,200 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,202 INFO sqlalchemy.engine.base.Engine (717616, '2016-12-02', 'New Jersey', 'Bloomfield', '3 1st Ave', 0, 6, 48.461627899999996, -122.3386173)
2021-05-05 20:52:20,207 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,231 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,233 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,234 INFO sqlalchemy.engine.base.Engine (715101, '2016-11-30', 'Maryland', 'Baltimore', '2901 Garrison Blvd', 2, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:20,238 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,259 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,260 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,263 INFO sqlalchemy.engine.base.Engine (712796, '2016-11-28', 'Texas', 'Mission (Palmview)', '1840 West Palma Vista Drive', 1, 3, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:20,267 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,293 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,295 INFO sqlalchemy.engine.base.Engine (712776, '2016-11-28', 'California', 'Wilmington', '1067 McDonald Avenue', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:20,300 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,321 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,323 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,325 INFO sqlalchemy.engine.base.Engine (713445, '2016-11-28', 'California', 'San Pedro', '300 block of West 2nd Street', 0, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:20,328 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,348 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,350 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,352 INFO sqlalchemy.engine.base.Engine (711597, '2016-11-27', 'Louisiana', 'New Orleans', '100 block of Bourbon Street', 1, 9, 30.702997600000003, -88.0786828)
2021-05-05 20:52:20,356 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,379 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,381 INFO sqlalchemy.engine.base.Engine (711744, '2016-11-27', 'Missouri', 'Kansas City', 'Gregory and Prospect', 0, 7, 42.2699348, -88.96278009999997)
2021-05-05 20:52:20,385 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,403 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,406 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,408 INFO sqlalchemy.engine.base.Engine (710732, '2016-11-26', 'Illinois', 'Chicago', '8800 block of S Exchange Ave', 1, 5, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:20,412 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,434 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,436 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,437 INFO sqlalchemy.engine.base.Engine (710467, '2016-11-25', 'Louisiana', 'New Orleans', 'Magnolia St and Felicity St', 0, 4, 41.88387900000001, -87.7085187)
2021-05-05 20:52:20,441 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,461 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,466 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,468 INFO sqlalchemy.engine.base.Engine (709370, '2016-11-24', 'Kentucky', 'Louisville', '4501 W Broadway', 2, 4, 41.872262, -87.69373)
2021-05-05 20:52:20,472 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:52:20,491 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,494 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,497 INFO sqlalchemy.engine.base.Engine (709276, '2016-11-24', 'New York', 'Albany', '77 Central Ave', 1, 3, 42.91211149999999, -85.62301)
2021-05-05 20:52:20,501 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,523 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,527 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,530 INFO sqlalchemy.engine.base.Engine (708777, '2016-11-23', 'Mississippi', 'Olive Branch', '928 Cross Road', 0, 4, 38.5979369, -121.42762739999999)
2021-05-05 20:52:20,539 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,558 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,561 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,564 INFO sqlalchemy.engine.base.Engine (708392, '2016-11-22', 'Florida', 'Clewiston', '1068 Harlem Academy Ave', 1, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:20,568 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,587 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,589 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,591 INFO sqlalchemy.engine.base.Engine (704568, '2016-11-18', 'Illinois', 'Chicago', '5000 block of W Wabansia', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:20,596 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,616 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,618 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,619 INFO sqlalchemy.engine.base.Engine (703245, '2016-11-17', 'Tennessee', 'Dyersburg', '160 Longfellow', 1, 7, 44.98847429999999, -93.2549796)
2021-05-05 20:52:20,623 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,643 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,647 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,649 INFO sqlalchemy.engine.base.Engine (699605, '2016-11-13', 'Florida', 'Jacksonville', '5105 Cleveland Rd', 3, 2, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:20,654 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,673 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,676 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,678 INFO sqlalchemy.engine.base.Engine (699332, '2016-11-13', 'Texas', 'San Antonio', '8000 Midcrown', 0, 4, 41.032132700000005, -87.5381426)
2021-05-05 20:52:20,682 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,703 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,705 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,708 INFO sqlalchemy.engine.base.Engine (700232, '2016-11-13', 'California', 'San Diego', '3800 block of Marlborough Avenue', 3, 2, 36.7565424, -119.7711186)
2021-05-05 20:52:20,714 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,734 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,736 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,737 INFO sqlalchemy.engine.base.Engine (699316, '2016-11-13', 'Florida', 'Orlando', 'Conley Street and South Ivey Lane', 0, 4, 37.7849319, -122.4129481)
2021-05-05 20:52:20,740 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,760 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,768 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,770 INFO sqlalchemy.engine.base.Engine (699033, '2016-11-12', 'California', 'Sacramento', '8600 block of Ardith Drive', 1, 5, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:20,774 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,798 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,800 INFO sqlalchemy.engine.base.Engine (700363, '2016-11-12', 'Missouri', 'Kansas City', '21st St and Cleveland Ave', 1, 3, 30.0216391, -95.3123538)
2021-05-05 20:52:20,807 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,829 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,832 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,834 INFO sqlalchemy.engine.base.Engine (699303, '2016-11-12', 'Connecticut', 'Bridgeport', '2500 Park Avenue', 0, 5, 29.723582699999998, -95.4421156)
2021-05-05 20:52:20,838 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,860 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,863 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,864 INFO sqlalchemy.engine.base.Engine (699863, '2016-11-11', 'Texas', 'Houston', '7705 Channelside Street', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:20,868 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,887 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,890 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,893 INFO sqlalchemy.engine.base.Engine (698383, '2016-11-10', 'Texas', 'Houston', '6610 S Sam Houston Pkwy W', 1, 3, 39.3048255, -76.6081873)
2021-05-05 20:52:20,898 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,921 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,923 INFO sqlalchemy.engine.base.Engine (696917, '2016-11-09', 'Washington', 'Seattle', '1524 3rd Ave', 0, 5, 48.461627899999996, -122.3386173)
2021-05-05 20:52:20,930 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,953 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,956 INFO sqlalchemy.engine.base.Engine (697377, '2016-11-09', 'Illinois', 'Chicago', '3400 block of W Monroe', 1, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:20,959 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:20,981 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:20,984 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:20,985 INFO sqlalchemy.engine.base.Engine (696352, '2016-11-09', 'Tennessee', 'Memphis', '1800 block of East Brooks Road', 0, 4, 36.1450958, -96.0023638)
2021-05-05 20:52:20,989 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,010 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,011 INFO sqlalchemy.engine.base.Engine (693438, '2016-11-05', 'Texas', 'San Antonio', '10726 Perrin Beitel Rd', 0, 4, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:21,018 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,049 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,051 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,053 INFO sqlalchemy.engine.base.Engine (693401, '2016-11-05', 'South Carolina', 'Myrtle Beach', '803 Main St', 0, 5, 37.7194881, -122.425285)
2021-05-05 20:52:21,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,097 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,099 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,100 INFO sqlalchemy.engine.base.Engine (693624, '2016-11-05', 'Florida', 'Fort Lauderdale (Lauderhill)', '3135 W Broward Blvd', 1, 3, 41.7718443, -87.67278499999998)
2021-05-05 20:52:21,104 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,123 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,126 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,128 INFO sqlalchemy.engine.base.Engine (693374, '2016-11-05', 'California', 'Oakland', '420 14th Street', 0, 8, 30.702997600000003, -88.0786828)
2021-05-05 20:52:21,132 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,153 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,154 INFO sqlalchemy.engine.base.Engine (693290, '2016-11-05', 'Illinois', 'Chicago', '4800 block of North Winthrop', 0, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:21,158 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,178 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,180 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,182 INFO sqlalchemy.engine.base.Engine (693307, '2016-11-04', 'Pennsylvania', 'Philadelphia', '5451 Springfield Ave', 0, 4, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:21,186 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,206 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,208 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,210 INFO sqlalchemy.engine.base.Engine (692020, '2016-11-03', 'Illinois', 'Chicago', '8000 block of S Shore Dr', 2, 2, 41.88387900000001, -87.7085187)
2021-05-05 20:52:21,214 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,233 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,236 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,238 INFO sqlalchemy.engine.base.Engine (692315, '2016-11-03', 'New Jersey', 'Orange', '234 Cleveland Street', 2, 2, 41.872262, -87.69373)
2021-05-05 20:52:21,241 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,265 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,266 INFO sqlalchemy.engine.base.Engine (692025, '2016-11-02', 'Arkansas', 'Little Rock', '2111 Bragg Street', 1, 4, 42.91211149999999, -85.62301)
2021-05-05 20:52:21,270 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,293 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,295 INFO sqlalchemy.engine.base.Engine (691113, '2016-11-01', 'Tennessee', 'Memphis', '5200 block of Zodiac Rd', 1, 5, 38.5979369, -121.42762739999999)
2021-05-05 20:52:21,299 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,319 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,321 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,323 INFO sqlalchemy.engine.base.Engine (689518, '2016-10-31', 'Louisiana', 'Shreveport', '700 Block of W 68th St', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:21,327 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,347 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,350 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,351 INFO sqlalchemy.engine.base.Engine (688979, '2016-10-30', 'Ohio', 'Toledo', '742 Junction Ave', 0, 4, 29.9673972, -90.1018231)
2021-05-05 20:52:21,355 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,377 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,379 INFO sqlalchemy.engine.base.Engine (689020, '2016-10-30', 'Maryland', 'Capitol Heights', '6862 Walker Mill Rd', 3, 3, 44.98847429999999, -93.2549796)
2021-05-05 20:52:21,383 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:52:21,408 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,409 INFO sqlalchemy.engine.base.Engine (688841, '2016-10-30', 'New York', 'New York (Manhattan)', '135 Ridge Street', 0, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:21,414 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,432 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,435 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,436 INFO sqlalchemy.engine.base.Engine (688577, '2016-10-30', 'New York', 'Newburgh', '119 First Street', 2, 5, 41.032132700000005, -87.5381426)
2021-05-05 20:52:21,440 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,458 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,460 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,461 INFO sqlalchemy.engine.base.Engine (688592, '2016-10-30', 'Texas', 'San Antonio', '2900 block of Aspen Meadow', 0, 5, 36.7565424, -119.7711186)
2021-05-05 20:52:21,465 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,485 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,488 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,490 INFO sqlalchemy.engine.base.Engine (689009, '2016-10-29', 'California', 'Los Angeles', '1600 block of Century Boulevard', 0, 5, 37.7849319, -122.4129481)
2021-05-05 20:52:21,494 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,516 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,518 INFO sqlalchemy.engine.base.Engine (687940, '2016-10-29', 'Ohio', 'Dayton', '2010 Cornell Ridge Dr', 1, 3, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:21,521 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,543 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,544 INFO sqlalchemy.engine.base.Engine (688210, '2016-10-29', 'California', 'Riverside', '3500 block of Madison Street', 0, 4, 30.0216391, -95.3123538)
2021-05-05 20:52:21,549 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,570 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,571 INFO sqlalchemy.engine.base.Engine (688429, '2016-10-28', 'Mississippi', 'Jackson', '200 block of Lorenz Blvd', 0, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:52:21,575 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,592 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,596 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,597 INFO sqlalchemy.engine.base.Engine (687375, '2016-10-28', 'Florida', 'Miami Gardens', 'Northwest 173rd Terrace and 27th Avenue', 0, 4, 40.110245, -88.2353849)
2021-05-05 20:52:21,600 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,619 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,621 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,622 INFO sqlalchemy.engine.base.Engine (686312, '2016-10-27', 'Georgia', 'Jackson', '600 block of Moccasin Gap Road', 4, 0, 39.3048255, -76.6081873)
2021-05-05 20:52:21,626 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,644 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,646 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,648 INFO sqlalchemy.engine.base.Engine (685379, '2016-10-25', 'Ohio', 'Dayton', '3300 block of Riverside Dr', 1, 3, 48.461627899999996, -122.3386173)
2021-05-05 20:52:21,652 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,671 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,673 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,674 INFO sqlalchemy.engine.base.Engine (684130, '2016-10-25', 'Virginia', 'Roanoke', '830 Campbell Avenue Southeast', 2, 3, 39.9854586, -75.08588999999998)
2021-05-05 20:52:21,678 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,696 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,698 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,699 INFO sqlalchemy.engine.base.Engine (683142, '2016-10-23', 'Oklahoma', 'Wellston', 'Highway 66 and N 3310 Rd', 1, 5, 36.1450958, -96.0023638)
2021-05-05 20:52:21,705 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,724 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,726 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,728 INFO sqlalchemy.engine.base.Engine (682298, '2016-10-22', 'California', 'Oakland', '77th and Bancroft Avenues', 0, 7, 37.764028100000004, -122.17439350000001)
2021-05-05 20:52:21,732 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,750 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,752 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,754 INFO sqlalchemy.engine.base.Engine (679290, '2016-10-18', 'California', 'San Francisco', '325 La Grande Ave', 0, 4, 37.7194881, -122.425285)
2021-05-05 20:52:21,758 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,779 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,781 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,784 INFO sqlalchemy.engine.base.Engine (678438, '2016-10-17', 'Illinois', 'Chicago (Englewood)', '6700 block of South Winchester', 1, 4, 41.7718443, -87.67278499999998)
2021-05-05 20:52:21,787 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,810 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2021-05-05 20:52:21,813 INFO sqlalchemy.engine.base.Engine (677293, '2016-10-15', 'Alabama', 'Mobile', '1800 block of St Stephens Road', 0, 5, 30.702997600000003, -88.0786828)
2021-05-05 20:52:21,818 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,839 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,848 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,851 INFO sqlalchemy.engine.base.Engine (676686, '2016-10-15', 'Illinois', 'Rockford', '7801 East State St', 1, 5, 42.2699348, -88.96278009999997)
2021-05-05 20:52:21,855 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,874 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,876 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,877 INFO sqlalchemy.engine.base.Engine (676663, '2016-10-15', 'California', 'Los Angeles', '2918 Rimpau Blvd', 4, 11, 34.027134000000004, -118.35078290000001)
2021-05-05 20:52:21,884 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,904 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,906 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,907 INFO sqlalchemy.engine.base.Engine (676376, '2016-10-14', 'Illinois', 'Chicago', '3300 block of W Maypole Ave', 1, 6, 41.88387900000001, -87.7085187)
2021-05-05 20:52:21,911 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,933 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,936 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,937 INFO sqlalchemy.engine.base.Engine (675993, '2016-10-13', 'Illinois', 'Chicago', '2700 block of West Lexington', 0, 4, 41.872262, -87.69373)
2021-05-05 20:52:21,941 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,963 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:21,966 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:21,969 INFO sqlalchemy.engine.base.Engine (672203, '2016-10-09', 'Michigan', 'Grand Rapids', '1850 28th Street SE', 1, 8, 42.91211149999999, -85.62301)
2021-05-05 20:52:21,973 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:21,993 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,002 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,004 INFO sqlalchemy.engine.base.Engine (672217, '2016-10-09', 'California', 'Sacramento', '1696 Arden Way', 1, 3, 38.5979369, -121.42762739999999)
2021-05-05 20:52:22,009 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,029 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,032 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,034 INFO sqlalchemy.engine.base.Engine (671717, '2016-10-08', 'New York', 'Brooklyn', '7301 3rd Ave', 0, 4, 40.6327104, -74.0271053)
2021-05-05 20:52:22,038 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,061 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,063 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,065 INFO sqlalchemy.engine.base.Engine (669777, '2016-10-04', 'Louisiana', 'New Orleans', '3727 Ulloa Street', 3, 2, 29.9673972, -90.1018231)
2021-05-05 20:52:22,068 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,089 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,091 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,094 INFO sqlalchemy.engine.base.Engine (668407, '2016-10-03', 'Minnesota', 'Minneapolis', 'Fourth St and Hennepin Ave', 0, 4, 44.98847429999999, -93.2549796)
2021-05-05 20:52:22,099 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,122 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,125 INFO sqlalchemy.engine.base.Engine (667984, '2016-10-02', 'Texas', 'San Antonio', '2600 South Flores Street', 1, 4, 29.398441499999997, -98.50429240000001)
2021-05-05 20:52:22,129 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,152 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,156 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,159 INFO sqlalchemy.engine.base.Engine (668279, '2016-10-01', 'Illinois', 'Pembroke Township', '17250E Road', 4, 0, 41.032132700000005, -87.5381426)
2021-05-05 20:52:22,164 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,186 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,188 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,189 INFO sqlalchemy.engine.base.Engine (668352, '2016-10-01', 'California', 'Fresno', '3200 block of East Clay Avenue', 0, 4, 36.7565424, -119.7711186)
2021-05-05 20:52:22,196 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,216 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,218 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,219 INFO sqlalchemy.engine.base.Engine (665995, '2016-09-29', 'California', 'San Francisco', '400 block of Ellis St', 1, 3, 37.7849319, -122.4129481)
2021-05-05 20:52:22,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,248 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,251 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,253 INFO sqlalchemy.engine.base.Engine (663624, '2016-09-26', 'North Carolina', 'Winston Salem (Winston-salem)', '100 block of 5 Royales Dr', 0, 4, 36.11446289999999, -80.24526589999998)
2021-05-05 20:52:22,257 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,279 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,280 INFO sqlalchemy.engine.base.Engine (663789, '2016-09-26', 'Texas', 'Humble', '21219 Grand Linden Ct', 0, 4, 30.0216391, -95.3123538)

2021-05-05 20:52:22,284 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,306 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,308 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,309 INFO sqlalchemy.engine.base.Engine (663106, '2016-09-26', 'Texas', 'Houston', '5450 Weslayan St', 1, 6, 29.723582699999998, -95.4421156)
2021-05-05 20:52:22,314 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,332 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,337 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,339 INFO sqlalchemy.engine.base.Engine (662548, '2016-09-25', 'Illinois', 'Champaign', '300 block of E. Green St', 1, 3, 40.110245, -88.2353849)
2021-05-05 20:52:22,343 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,365 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,367 INFO sqlalchemy.engine.base.Engine (662342, '2016-09-24', 'Maryland', 'Baltimore', 'Greenmount Ave and Preston St', 0, 8, 39.3048255, -76.6081873)
2021-05-05 20:52:22,372 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,391 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,394 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,397 INFO sqlalchemy.engine.base.Engine (661703, '2016-09-23', 'Washington', 'Burlington', '201 Cascade Mall Dr', 5, 0, 48.461627899999996, -122.3386173)
2021-05-05 20:52:22,400 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:52:22,425 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:52:22,429 INFO sqlalchemy.engine.base.Engine INSERT INTO shooting_data (incident_id, incident_date, state, city_county, address, number_killed, number_injured, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-05-05 20:52:22,431 INFO sqlalchemy.engine.base.Engine (657854, '2016-09-18', 'Pennsylvania', 'Philadelphia', '3001 Castor Avenue', 0, 4, 39.9854586, -75.08588999999998)
2021-05-05 20:52:22,440 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
for index, row in df2.iterrows():
    
    new_gun = Guns(state = df2.loc[index, 'state'],
                           number_per_capita = df2.loc[index, 'number_per_capita'],
                      number_registered = df2.loc[index, 'number_registered'])   
    
    # Add these objects to the session
    session.add(new_gun)
    
    # Commit the objects to the database
    session.commit()

2021-05-05 20:53:40,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,244 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,245 INFO sqlalchemy.engine.base.Engine ('Wyoming', 229.24, '132,806')
2021-05-05 20:53:40,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,266 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,267 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,268 INFO sqlalchemy.engine.base.Engine ('District of Columbia', 68.05, '47,228')
2021-05-05 20:53:40,272 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,290 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,292 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,293 INFO sqlalchemy.engine.base.Engine ('New Hampshire', 46.76, '64,135')
2021-05-05 20:53:40,296 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,318 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,320 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,322 INFO sqlalchemy.engine.base.Engine ('New Mexico', 46.73, '97,580')
2021-05-05 20:53:40,326 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,345 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,348 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,350 INFO sqlalchemy.engine.base.Engine ('Virginia', 36.34, '307,822')
2021-05-05 20:53:40,354 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,379 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,381 INFO sqlalchemy.engine.base.Engine ('Alabama', 33.15, '161,641')
2021-05-05 20:53:40,386 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,410 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,412 INFO sqlalchemy.engine.base.Engine ('Idaho', 28.86, '49,566')
2021-05-05 20:53:40,416 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,436 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,438 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,439 INFO sqlalchemy.engine.base.Engine ('Arkansas', 26.57, '79,841')
2021-05-05 20:53:40,444 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,468 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,469 INFO sqlalchemy.engine.base.Engine ('Nevada', 25.64, '76,888')
2021-05-05 20:53:40,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,499 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,501 INFO sqlalchemy.engine.base.Engine ('Arizona', 25.61, '179,738')
2021-05-05 20:53:40,505 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,525 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,528 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,529 INFO sqlalchemy.engine.base.Engine ('Louisiana', 24.94, '116,831')
2021-05-05 20:53:40,533 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,549 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,551 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,552 INFO sqlalchemy.engine.base.Engine ('South Dakota', 24.29, '21,130')
2021-05-05 20:53:40,557 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,577 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,579 INFO sqlalchemy.engine.base.Engine ('Utah', 23.48, '72,856')
2021-05-05 20:53:40,583 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,602 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,604 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,607 INFO sqlalchemy.engine.base.Engine ('Connecticut', 22.96, '82,400')
2021-05-05 20:53:40,611 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,630 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,633 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,635 INFO sqlalchemy.engine.base.Engine ('Alaska', 21.38, '15,824')
2021-05-05 20:53:40,638 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,656 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,659 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,660 INFO sqlalchemy.engine.base.Engine ('Montana', 21.06, '22,133')
2021-05-05 20:53:40,665 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,684 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,686 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,687 INFO sqlalchemy.engine.base.Engine ('South Carolina', 21.01, '105,601')
2021-05-05 20:53:40,690 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,711 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,713 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,714 INFO sqlalchemy.engine.base.Engine ('Texas', 20.79, '588,696')
2021-05-05 20:53:40,717 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,739 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,740 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,741 INFO sqlalchemy.engine.base.Engine ('West Virginia', 19.42, '35,264')
2021-05-05 20:53:40,746 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,767 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,769 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,770 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', 18.45, '236,377')
2021-05-05 20:53:40,774 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,794 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,799 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,802 INFO sqlalchemy.engine.base.Engine ('Georgia', 18.22, '190,050')
2021-05-05 20:53:40,806 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,828 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,830 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)

2021-05-05 20:53:40,832 INFO sqlalchemy.engine.base.Engine ('Kentucky', 18.2, '81,068')
2021-05-05 20:53:40,840 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,866 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,867 INFO sqlalchemy.engine.base.Engine ('Oklahoma', 18.13, '71,269')
2021-05-05 20:53:40,871 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,895 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,896 INFO sqlalchemy.engine.base.Engine ('Kansas', 18.06, '52,634')
2021-05-05 20:53:40,900 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,922 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,923 INFO sqlalchemy.engine.base.Engine ('North Dakota', 17.56, '13,272')
2021-05-05 20:53:40,928 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,945 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,947 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,948 INFO sqlalchemy.engine.base.Engine ('Indiana', 17.1, '114,019')
2021-05-05 20:53:40,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:40,974 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:40,977 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:40,979 INFO sqlalchemy.engine.base.Engine ('Maryland', 17.03, '103,109')
2021-05-05 20:53:40,986 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,012 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,015 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,018 INFO sqlalchemy.engine.base.Engine ('Colorado', 16.48, '92,435')
2021-05-05 20:53:41,023 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,045 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,047 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,048 INFO sqlalchemy.engine.base.Engine ('Florida', 16.35, '343,288')
2021-05-05 20:53:41,054 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,073 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,075 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,078 INFO sqlalchemy.engine.base.Engine ('Ohio', 14.87, '173,405')
2021-05-05 20:53:41,082 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,104 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,106 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,107 INFO sqlalchemy.engine.base.Engine ('North Carolina', 14.818, '152,238')
2021-05-05 20:53:41,113 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,133 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,135 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,137 INFO sqlalchemy.engine.base.Engine ('Oregon', 14.816, '61,383')
2021-05-05 20:53:41,141 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,163 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,166 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,169 INFO sqlalchemy.engine.base.Engine ('Tennessee', 14.76, '99,159')
2021-05-05 20:53:41,173 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,196 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,198 INFO sqlalchemy.engine.base.Engine ('Minnesota', 14.22, '79,307')
2021-05-05 20:53:41,204 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,227 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,228 INFO sqlalchemy.engine.base.Engine ('Washington', 12.4, '91,835')
2021-05-05 20:53:41,233 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,255 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,257 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,260 INFO sqlalchemy.engine.base.Engine ('Missouri', 11.94, '72,996')
2021-05-05 20:53:41,265 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,287 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,289 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,290 INFO sqlalchemy.engine.base.Engine ('Mississippi', 11.89, '35,494')
2021-05-05 20:53:41,295 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,317 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,318 INFO sqlalchemy.engine.base.Engine ('Nebraska', 11.57, '22,234')
2021-05-05 20:53:41,322 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,343 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,346 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,348 INFO sqlalchemy.engine.base.Engine ('Maine', 11.5, '15,371')
2021-05-05 20:53:41,351 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,371 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,373 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,376 INFO sqlalchemy.engine.base.Engine ('Illinois', 11.44, '146,487')
2021-05-05 20:53:41,380 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,402 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,403 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,404 INFO sqlalchemy.engine.base.Engine ('Wisconsin', 11.19, '64,878')
2021-05-05 20:53:41,409 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,432 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,434 INFO sqlalchemy.engine.base.Engine ('Vermont', 9.41, '5,872')
2021-05-05 20:53:41,437 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,458 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,463 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,464 INFO sqlalchemy.engine.base.Engine ('Iowa', 9.05, '28,494')
2021-05-05 20:53:41,468 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,486 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2021-05-05 20:53:41,489 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,491 INFO sqlalchemy.engine.base.Engine ('California', 8.71, '344,622')
2021-05-05 20:53:41,495 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,518 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,519 INFO sqlalchemy.engine.base.Engine ('Michigan', 6.59, '65,742')
2021-05-05 20:53:41,523 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,545 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,547 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,548 INFO sqlalchemy.engine.base.Engine ('New Jersey', 6.38, '57,507')
2021-05-05 20:53:41,554 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,575 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,578 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,579 INFO sqlalchemy.engine.base.Engine ('Hawaii', 5.5, '7,859')
2021-05-05 20:53:41,588 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,613 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,616 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,617 INFO sqlalchemy.engine.base.Engine ('Massachusetts', 5.41, '37,152')
2021-05-05 20:53:41,623 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,654 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,657 INFO sqlalchemy.engine.base.Engine ('Delaware', 5.04, '4,852')
2021-05-05 20:53:41,662 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,684 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,687 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,689 INFO sqlalchemy.engine.base.Engine ('Rhode Island', 3.98, '37,152')
2021-05-05 20:53:41,694 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:41,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:41,716 INFO sqlalchemy.engine.base.Engine INSERT INTO ownership_data (state, number_per_capita, number_registered) VALUES (?, ?, ?)
2021-05-05 20:53:41,719 INFO sqlalchemy.engine.base.Engine ('New York', 3.83, '76,207')
2021-05-05 20:53:41,724 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
for index, row in df3.iterrows():
    
    new_poverty = Poverty(state = df3.loc[index, 'state'],
                          poverty_rate = df3.loc[index, '2019_poverty'])
      
    # Add these objects to the session
    session.add(new_poverty)
    
    # Commit the objects to the database
    session.commit()

2021-05-05 20:53:52,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,834 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,836 INFO sqlalchemy.engine.base.Engine ('New Hampshire', '7.30%')
2021-05-05 20:53:52,840 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:52,861 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,863 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,865 INFO sqlalchemy.engine.base.Engine ('Utah', '8.90%')
2021-05-05 20:53:52,868 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:52,889 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,893 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,895 INFO sqlalchemy.engine.base.Engine ('Maryland', '9.00%')
2021-05-05 20:53:52,898 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:52,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,920 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,921 INFO sqlalchemy.engine.base.Engine ('Minnesota', '9.00%')
2021-05-05 20:53:52,926 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:52,943 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,945 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,947 INFO sqlalchemy.engine.base.Engine ('New Jersey', '9.20%')
2021-05-05 20:53:52,952 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:52,973 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:52,976 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:52,977 INFO sqlalchemy.engine.base.Engine ('Colorado', '9.30%')
2021-05-05 20:53:52,981 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,000 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,002 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,004 INFO sqlalchemy.engine.base.Engine ('Hawaii', '9.30%')
2021-05-05 20:53:53,009 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,029 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,032 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,034 INFO sqlalchemy.engine.base.Engine ('Massachusetts', '9.40%')
2021-05-05 20:53:53,037 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,056 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,058 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,059 INFO sqlalchemy.engine.base.Engine ('Washington', '9.80%')
2021-05-05 20:53:53,063 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,083 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,085 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,086 INFO sqlalchemy.engine.base.Engine ('Virginia', '9.90%')
2021-05-05 20:53:53,089 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,111 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,113 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,114 INFO sqlalchemy.engine.base.Engine ('Nebraska', '9.90%')
2021-05-05 20:53:53,118 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,139 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,142 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,143 INFO sqlalchemy.engine.base.Engine ('Connecticut', '10.00%')
2021-05-05 20:53:53,146 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,166 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,169 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,170 INFO sqlalchemy.engine.base.Engine ('Alaska', '10.10%')
2021-05-05 20:53:53,175 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,194 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,196 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,197 INFO sqlalchemy.engine.base.Engine ('Wyoming', '10.10%')
2021-05-05 20:53:53,200 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,222 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,224 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,225 INFO sqlalchemy.engine.base.Engine ('Vermont', '10.20%')
2021-05-05 20:53:53,229 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,247 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,249 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,250 INFO sqlalchemy.engine.base.Engine ('Wisconsin', '10.40%')
2021-05-05 20:53:53,254 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,271 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,274 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,277 INFO sqlalchemy.engine.base.Engine ('North Dakota', '10.60%')
2021-05-05 20:53:53,281 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,299 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,301 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,302 INFO sqlalchemy.engine.base.Engine ('Rhode Island', '10.80%')
2021-05-05 20:53:53,306 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,326 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,328 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,329 INFO sqlalchemy.engine.base.Engine ('Maine', '10.90%')
2021-05-05 20:53:53,332 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,353 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,355 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,358 INFO sqlalchemy.engine.base.Engine ('Idaho', '11.20%')
2021-05-05 20:53:53,361 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,381 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,384 INFO sqlalchemy.engine.base.Engine ('Iowa', '11.20%')
2021-05-05 20:53:53,388 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,408 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,409 INFO sqlalchemy.engine.base.Engine ('Delaware', '11.30%')
2021-05-05 20:53:53,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,431 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,433 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,434 INFO sqlalchemy.engine.base.Engine ('Kansas', '11.40%')
2021-05-05 20:53:53,438 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,459 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,461 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,463 INFO sqlalchemy.engine.base.Engine ('Oregon', '11.40%')
2021-05-05 20:53:53,466 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-05 20:53:53,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,487 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,488 INFO sqlalchemy.engine.base.Engine ('Illinois', '11.50%')
2021-05-05 20:53:53,492 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,510 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,513 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,516 INFO sqlalchemy.engine.base.Engine ('California', '11.80%')
2021-05-05 20:53:53,520 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,539 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,543 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,544 INFO sqlalchemy.engine.base.Engine ('Indiana', '11.90%')
2021-05-05 20:53:53,548 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,566 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,568 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,569 INFO sqlalchemy.engine.base.Engine ('South Dakota', '11.90%')
2021-05-05 20:53:53,575 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,599 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,601 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,603 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', '12.00%')
2021-05-05 20:53:53,609 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,631 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,634 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,638 INFO sqlalchemy.engine.base.Engine ('Nevada', '12.50%')
2021-05-05 20:53:53,644 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,669 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,671 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,676 INFO sqlalchemy.engine.base.Engine ('Montana', '12.60%')
2021-05-05 20:53:53,680 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,703 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,704 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,706 INFO sqlalchemy.engine.base.Engine ('Florida', '12.70%')
2021-05-05 20:53:53,711 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,735 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,739 INFO sqlalchemy.engine.base.Engine ('Missouri', '12.90%')
2021-05-05 20:53:53,743 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,764 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,767 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,768 INFO sqlalchemy.engine.base.Engine ('Michigan', '13.00%')
2021-05-05 20:53:53,772 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,796 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,797 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,799 INFO sqlalchemy.engine.base.Engine ('New York', '13.00%')
2021-05-05 20:53:53,802 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,825 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,827 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,828 INFO sqlalchemy.engine.base.Engine ('Ohio', '13.10%')
2021-05-05 20:53:53,832 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,857 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,859 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,862 INFO sqlalchemy.engine.base.Engine ('Arizona', '13.50%')
2021-05-05 20:53:53,867 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,897 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,899 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,900 INFO sqlalchemy.engine.base.Engine ('Georgia', '13.30%')
2021-05-05 20:53:53,906 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,929 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,931 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,932 INFO sqlalchemy.engine.base.Engine ('District of Columbia', '13.50%')
2021-05-05 20:53:53,935 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,959 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,962 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,964 INFO sqlalchemy.engine.base.Engine ('North Carolina', '13.60%')
2021-05-05 20:53:53,968 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:53,991 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:53,997 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:53,999 INFO sqlalchemy.engine.base.Engine ('Texas', '13.60%')
2021-05-05 20:53:54,007 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,025 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,028 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,029 INFO sqlalchemy.engine.base.Engine ('South Carolina', '13.80%')
2021-05-05 20:53:54,037 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,059 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,062 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,064 INFO sqlalchemy.engine.base.Engine ('Tennessee', '13.90%')
2021-05-05 20:53:54,072 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,095 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,097 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,099 INFO sqlalchemy.engine.base.Engine ('Oklahoma', '15.20%')
2021-05-05 20:53:54,108 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,129 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,132 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,133 INFO sqlalchemy.engine.base.Engine ('Alabama', '15.50%')
2021-05-05 20:53:54,138 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,167 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,169 INFO sqlalchemy.engine.base.Engine ('West Virginia', '16.00%')
2021-05-05 20:53:54,174 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,204 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,208 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,210 INFO sqlalchemy.engine.base.Engine ('Arkansas', '16.20%')
2021-05-05 20:53:54,218 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,246 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,249 INFO sqlalchemy.engine.base.Engine ('Kentucky', '16.30%')

2021-05-05 20:53:54,253 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,276 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,278 INFO sqlalchemy.engine.base.Engine ('New Mexico', '18.20%')
2021-05-05 20:53:54,281 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,302 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,307 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,308 INFO sqlalchemy.engine.base.Engine ('Louisiana', '19.00%')
2021-05-05 20:53:54,315 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,342 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,345 INFO sqlalchemy.engine.base.Engine ('Mississippi', '19.60%')
2021-05-05 20:53:54,349 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,369 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,371 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,374 INFO sqlalchemy.engine.base.Engine ('Puerto Rico', '43.50%')
2021-05-05 20:53:54,378 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-05 20:53:54,405 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-05 20:53:54,409 INFO sqlalchemy.engine.base.Engine INSERT INTO poverty_data (state, poverty_rate) VALUES (?, ?)
2021-05-05 20:53:54,411 INFO sqlalchemy.engine.base.Engine ('American Samoa [6][note 3]', '65.00%')
2021-05-05 20:53:54,415 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
session.close()

## Import the SQLite Table

In [ ]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

In [ ]:
# Collect the names of tables within the database
inspector.get_table_names()

In [ ]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [ ]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classes mapped to the Base
Base.classes.keys()

In [ ]:
data = Base.classes.shooting_data
guns = Base.classes.ownership_data
poverty = Base.classes.poverty_data

In [ ]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all()
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

In [ ]:
gun_states = session.query(guns.state).all()
gun_capita = session.query(guns.number_per_capita).all()

In [ ]:
poverty_states = session.query(poverty.state).all()
poverty_rates = session.query(poverty.poverty_rate).all()

In [ ]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}

In [ ]:
gun_list = {'state': gun_states,
                'num_guns': gun_capita}

In [ ]:
poverty_list = {'state' : poverty_states,
               'poverty_rates': poverty_rates}