In [2]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime 
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    incident_id = Column(Integer, primary_key = True)
    incident_date = Column(String(255))
    state = Column(String(255), foreign_key = True)
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Guns(Base):
    __tablename__ = 'ownership_data'
    rank = Column(Integer)
    state = Column(String(255), primary_key = True)
    number_per_capita = Column(Integer)
    number_registered = Column(Integer)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty_data'
    rank = Column(Integer)
    state = Column(String(255), primary_key = True)
    poverty_rate = Column(String(255))

In [ ]:
# Creates a connection to our DB
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
conn = engine.connect()

In [ ]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [ ]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [ ]:
# Store filepath in a variable
file_one = "Data/final_msa.csv"
file_two = "Data/gun_ownership.csv"
file_three = "Data/poverty_data_cleaned.csv"

# Read in csv files
df = pd.read_csv(file_one)
df2 = pd.read_csv(file_two)
df3 = pd.read_csv(file_three)

In [ ]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = df.loc[index, 'number_killed'],
                      number_injured = df.loc[index, 'number_injured'], latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])    
    
    # Add these objects to the session
    session.add(new_row)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df2.iterrows():
    
    new_gun = Guns(rank = df2.loc[index, 'rank'], state = df2.loc[index, 'state'],
                           number_per_capita = df2.loc[index, 'number_per_capita'],
                      number_registered = df2.loc[index, 'number_registered'])   
    
    # Add these objects to the session
    session.add(new_gun)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df3.iterrows():
    
    new_poverty = Poverty(rank = df3.loc[index, 'rank'], state = df3.loc[index, 'state'],
                          poverty_rate = df3.loc[index, '2019_poverty'])
      
    # Add these objects to the session
    session.add(new_poverty)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
session.close()

## Import the SQLite Table

In [3]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

2021-05-03 19:19:30,487 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-03 19:19:30,491 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:30,494 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-03 19:19:30,495 INFO sqlalchemy.engine.base.Engine ()

In [4]:
# Collect the names of tables within the database
inspector.get_table_names()

2021-05-03 19:19:34,726 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-03 19:19:34,728 INFO sqlalchemy.engine.base.Engine ()

['ownership_data', 'poverty_data', 'shooting_data']

In [5]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [6]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

2021-05-03 19:19:38,714 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-03 19:19:38,717 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,721 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ownership_data")
2021-05-03 19:19:38,724 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,728 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 19:19:38,731 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,734 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("ownership_data")
2021-05-03 19:19:38,735 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,737 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("ownership_data")
2021-05-03 19:19:38,739 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,741 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 19:19:38,742 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,748 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-03 19:19:38,750 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,752 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-03 19:19:38,753 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,756 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-03 19:19:38,758 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,761 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-03 19:19:38,762 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,763 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 19:19:38,765 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,773 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("poverty_data")
2021-05-03 19:19:38,777 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,781 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 19:19:38,782 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,785 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("poverty_data")
2021-05-03 19:19:38,787 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,789 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("poverty_data")
2021-05-03 19:19:38,790 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,794 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 19:19:38,797 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,801 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-03 19:19:38,803 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,804 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("poverty_data")
2021-05-03 19:19:38,807 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,811 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-03 19:19:38,813 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,818 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("poverty_data")
2021-05-03 19:19:38,820 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,822 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 19:19:38,823 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,827 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-03 19:19:38,828 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,832 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 19:19:38,835 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,840 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("shooting_data")
2021-05-03 19:19:38,842 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,844 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("shooting_data")
2021-05-03 19:19:38,845 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,847 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 19:19:38,848 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,851 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-03 19:19:38,852 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,856 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-03 19:19:38,860 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,862 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-03 19:19:38,864 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,866 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-03 19:19:38,868 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:38,871 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 19:19:38,874 INFO sqlalchemy.engine.base.Engine ()

In [7]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['ownership_data', 'poverty_data', 'shooting_data']

In [8]:
data = Base.classes.shooting_data
guns = Base.classes.ownership_data
poverty = Base.classes.poverty_data

In [9]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

2021-05-03 19:19:48,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-03 19:19:48,016 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.longitude AS shooting_data_longitude
FROM shooting_data
2021-05-03 19:19:48,017 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:48,034 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.latitude AS shooting_data_latitude
FROM shooting_data
2021-05-03 19:19:48,037 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:48,047 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.number_killed AS shooting_data_number_killed
FROM shooting_data
2021-05-03 19:19:48,049 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:48,063 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.incident_date AS shooting_data_incident_date
FROM shooting_data
2021-05-03 19:19:48,065 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:48,079 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.state AS shooting_data_state
FROM shooting_data
2021-05-03 19:19:48,081 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:48,094 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.city_county AS shooting_data_city_county
FROM shooting_data
2021-05-03 19:19:48,096 INFO sqlalchemy.engine.base.Engine ()

In [10]:
gun_states = session.query(guns.state).all()
gun_capita = session.query(guns.number_per_capita).all()

2021-05-03 19:19:53,621 INFO sqlalchemy.engine.base.Engine SELECT ownership_data.state AS ownership_data_state
FROM ownership_data
2021-05-03 19:19:53,623 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:53,627 INFO sqlalchemy.engine.base.Engine SELECT ownership_data.number_per_capita AS ownership_data_number_per_capita
FROM ownership_data
2021-05-03 19:19:53,629 INFO sqlalchemy.engine.base.Engine ()

In [11]:
poverty_states = session.query(poverty.state).all()
poverty_rates = session.query(poverty.poverty_rate).all()

2021-05-03 19:19:56,783 INFO sqlalchemy.engine.base.Engine SELECT poverty_data.state AS poverty_data_state
FROM poverty_data
2021-05-03 19:19:56,785 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 19:19:56,790 INFO sqlalchemy.engine.base.Engine SELECT poverty_data.poverty_rate AS poverty_data_poverty_rate
FROM poverty_data
2021-05-03 19:19:56,792 INFO sqlalchemy.engine.base.Engine ()

In [12]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}

In [13]:
gun_list = {'state': gun_states,
                'num_guns': gun_capita}

In [14]:
poverty_list = {'state' : poverty_states,
               'poverty_rates': poverty_rates}