In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime 
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    index = Column(Integer, primary_key = True)
    incident_id = Column(Integer)
    incident_date = Column(String(255))
    state = Column(String(255))
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [ ]:
# Creates a connection to our DB
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
conn = engine.connect()

In [ ]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [ ]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [ ]:
# Store filepath in a variable
file_one = "Data/final_msa.csv"

# Read in csv file
df = pd.read_csv(file_one)

In [ ]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = df.loc[index, 'number_killed'],
                      number_injured = df.loc[index, 'number_injured'], latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])
    # Add these objects to the session
    session.add(new_row)
    # Commit the objects to the database
    session.commit()

In [ ]:
session.close()

## Import the SQLite Table

In [2]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

2021-05-02 13:34:27,256 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-02 13:34:27,262 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:27,265 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-02 13:34:27,267 INFO sqlalchemy.engine.base.Engine ()

In [3]:
# Collect the names of tables within the database
inspector.get_table_names()

2021-05-02 13:34:28,087 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-02 13:34:28,089 INFO sqlalchemy.engine.base.Engine ()

['shooting_data']

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

2021-05-02 13:34:32,295 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-02 13:34:32,297 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,301 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-02 13:34:32,304 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,310 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-02 13:34:32,311 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,315 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("shooting_data")
2021-05-02 13:34:32,318 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,320 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("shooting_data")
2021-05-02 13:34:32,322 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,324 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-02 13:34:32,326 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,334 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-02 13:34:32,338 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,343 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-02 13:34:32,346 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,349 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-02 13:34:32,350 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,353 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-02 13:34:32,354 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:32,355 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-02 13:34:32,356 INFO sqlalchemy.engine.base.Engine ()

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['shooting_data']

In [7]:
data = Base.classes.shooting_data

In [8]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

2021-05-02 13:34:39,456 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-02 13:34:39,459 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.longitude AS shooting_data_longitude
FROM shooting_data
2021-05-02 13:34:39,461 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:39,474 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.latitude AS shooting_data_latitude
FROM shooting_data
2021-05-02 13:34:39,476 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:39,490 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.number_killed AS shooting_data_number_killed
FROM shooting_data
2021-05-02 13:34:39,493 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:39,509 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.incident_date AS shooting_data_incident_date
FROM shooting_data
2021-05-02 13:34:39,510 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:39,523 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.state AS shooting_data_state
FROM shooting_data
2021-05-02 13:34:39,525 INFO sqlalchemy.engine.base.Engine ()
2021-05-02 13:34:39,536 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.city_county AS shooting_data_city_county
FROM shooting_data
2021-05-02 13:34:39,537 INFO sqlalchemy.engine.base.Engine ()

In [9]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}