In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    index = Column(Integer, primary_key = True)
    incident_id = Column(Integer)
    incident_date = Column(String(255))
    state = Column(String(255))
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Guns(Base):
    __tablename__ = 'ownership_data'
    index = Column(Integer, primary_key = True)
    state = Column(String(255))
    number_per_capita = Column(Integer)
    number_registered = Column(Integer)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty_data'
    rank = Column(Integer)
    state = Column(String(255), primary_key = True)
    poverty = Column(Float)

In [3]:
# Creates Classes which will serve as the anchor points for our Tables
class Election(Base):
    __tablename__ = 'election_data'
    state = Column(String(255), primary_key = True)
    result = Column(String(255))

In [4]:
# Creates Classes which will serve as the anchor points for our Tables
class State(Base):
    __tablename__ = 'state_data'
    state = Column(String(255), primary_key = True)
    latitude = Column(Float)
    longitude = Column(Float)

In [5]:
# Creates a connection to our DB
engine = create_engine('sqlite:///Data/shootings.sqlite', echo=True)
conn = engine.connect()

2021-05-07 21:38:56,417 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-07 21:38:56,427 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:38:56,430 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-07 21:38:56,432 INFO sqlalchemy.engine.base.Engine ()

In [6]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

2021-05-07 21:38:59,665 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("election_data")
2021-05-07 21:38:59,666 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:38:59,669 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("state_data")
2021-05-07 21:38:59,671 INFO sqlalchemy.engine.base.Engine ()

In [7]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [8]:
# Store filepath in a variable
file_one = "data/final_msa.csv"
file_two = "data/gun_ownership_clean.csv"
file_three = "data/poverty_data_clean.csv"
file_four = "data/election_data_clean.csv"
file_five = "data/state_clean.csv"

# Read in csv files
df = pd.read_csv(file_one)
df2 = pd.read_csv(file_two)
df3 = pd.read_csv(file_three)
df4 = pd.read_csv(file_four)
df5 = pd.read_csv(file_five)

In [ ]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = int(df.loc[index, 'number_killed']),
                      number_injured = int(df.loc[index, 'number_injured']), latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])    
    
    # Add these objects to the session
    session.add(new_row)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df2.iterrows():
    
    new_gun = Guns(state = df2.loc[index, 'state'],
                           number_per_capita = df2.loc[index, 'number_per_capita'],
                      number_registered = df2.loc[index, 'number_registered'])   
    
    # Add these objects to the session
    session.add(new_gun)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df3.iterrows():
    
    new_poverty = Poverty(state = df3.loc[index, 'state'],
                          poverty = df3.loc[index, 'poverty'])
      
    # Add these objects to the session
    session.add(new_poverty)
    
    # Commit the objects to the database
    session.commit()

In [9]:
for index, row in df4.iterrows():
    
    new_election = Election(state = df4.loc[index, 'state'],
                          result = df4.loc[index, 'result'])
      
    # Add these objects to the session
    session.add(new_election)
    
    # Commit the objects to the database
    session.commit()

2021-05-07 21:39:13,976 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:13,978 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:13,980 INFO sqlalchemy.engine.base.Engine ('Alabama', 'blue')
2021-05-07 21:39:14,014 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,073 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,075 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,076 INFO sqlalchemy.engine.base.Engine ('Alaska', 'red')
2021-05-07 21:39:14,080 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,121 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,122 INFO sqlalchemy.engine.base.Engine ('Arizona', 'blue')
2021-05-07 21:39:14,125 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,165 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,166 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,167 INFO sqlalchemy.engine.base.Engine ('Arkansas', 'red')
2021-05-07 21:39:14,171 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,209 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,211 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,212 INFO sqlalchemy.engine.base.Engine ('California', 'red')
2021-05-07 21:39:14,215 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,256 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,257 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,258 INFO sqlalchemy.engine.base.Engine ('Colorado', 'blue')
2021-05-07 21:39:14,262 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,302 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,303 INFO sqlalchemy.engine.base.Engine ('Connecticut', 'red')
2021-05-07 21:39:14,306 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,436 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,438 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,438 INFO sqlalchemy.engine.base.Engine ('Delaware', 'blue')
2021-05-07 21:39:14,442 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,482 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,483 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,484 INFO sqlalchemy.engine.base.Engine ('District of Columbia', 'blue')
2021-05-07 21:39:14,487 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,529 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,531 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,531 INFO sqlalchemy.engine.base.Engine ('Florida', 'red')
2021-05-07 21:39:14,534 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,576 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,577 INFO sqlalchemy.engine.base.Engine ('Georgia', 'blue')
2021-05-07 21:39:14,580 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,620 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,621 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,623 INFO sqlalchemy.engine.base.Engine ('Hawaii', 'blue')
2021-05-07 21:39:14,626 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,667 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,668 INFO sqlalchemy.engine.base.Engine ('Idaho', 'red')
2021-05-07 21:39:14,673 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,711 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,713 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,714 INFO sqlalchemy.engine.base.Engine ('Illinois', 'blue')
2021-05-07 21:39:14,717 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,759 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,759 INFO sqlalchemy.engine.base.Engine ('Indiana', 'red')
2021-05-07 21:39:14,762 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,802 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,804 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,805 INFO sqlalchemy.engine.base.Engine ('Iowa', 'red')
2021-05-07 21:39:14,808 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,849 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,850 INFO sqlalchemy.engine.base.Engine ('Kansas', 'red')
2021-05-07 21:39:14,854 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,893 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,895 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,896 INFO sqlalchemy.engine.base.Engine ('Kentucky', 'blue')
2021-05-07 21:39:14,899 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,940 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,942 INFO sqlalchemy.engine.base.Engine ('Louisiana', 'blue')
2021-05-07 21:39:14,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:14,985 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:14,987 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:14,988 INFO sqlalchemy.engine.base.Engine ('Maine', 'blue')
2021-05-07 21:39:14,992 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,033 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,035 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,037 INFO sqlalchemy.engine.base.Engine ('Maryland', 'red')
2021-05-07 21:39:15,042 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,087 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,089 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,090 INFO sqlalchemy.engine.base.Engine ('Massachusetts', 'blue')
2021-05-07 21:39:15,094 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,135 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,137 INFO sqlalchemy.engine.base.Engine ('Michigan', 'blue')
2021-05-07 21:39:15,141 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,179 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,181 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,182 INFO sqlalchemy.engine.base.Engine ('Minnesota', 'blue')
2021-05-07 21:39:15,185 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,227 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)

2021-05-07 21:39:15,227 INFO sqlalchemy.engine.base.Engine ('Mississippi', 'red')
2021-05-07 21:39:15,231 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,270 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,272 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,273 INFO sqlalchemy.engine.base.Engine ('Missouri', 'red')
2021-05-07 21:39:15,277 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,317 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,318 INFO sqlalchemy.engine.base.Engine ('Montana', 'red')
2021-05-07 21:39:15,322 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,361 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,363 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,364 INFO sqlalchemy.engine.base.Engine ('Nebraska', 'red')
2021-05-07 21:39:15,367 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,410 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,411 INFO sqlalchemy.engine.base.Engine ('Nevada', 'blue')
2021-05-07 21:39:15,414 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,454 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,455 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,456 INFO sqlalchemy.engine.base.Engine ('New Hampshire', 'blue')
2021-05-07 21:39:15,460 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,500 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,502 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,502 INFO sqlalchemy.engine.base.Engine ('New Jersey', 'blue')
2021-05-07 21:39:15,505 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,546 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,549 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,550 INFO sqlalchemy.engine.base.Engine ('New Mexico', 'blue')
2021-05-07 21:39:15,554 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,591 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,593 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,594 INFO sqlalchemy.engine.base.Engine ('New York', 'blue')
2021-05-07 21:39:15,598 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,641 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,644 INFO sqlalchemy.engine.base.Engine ('North Carolina', 'red')
2021-05-07 21:39:15,648 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,682 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,684 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,685 INFO sqlalchemy.engine.base.Engine ('North Dakota', 'red')
2021-05-07 21:39:15,688 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,728 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,731 INFO sqlalchemy.engine.base.Engine ('Ohio', 'red')
2021-05-07 21:39:15,734 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,775 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,775 INFO sqlalchemy.engine.base.Engine ('Oklahoma', 'blue')
2021-05-07 21:39:15,778 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,818 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,820 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,821 INFO sqlalchemy.engine.base.Engine ('Oregon', 'red')
2021-05-07 21:39:15,825 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,865 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,867 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,868 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', 'blue')
2021-05-07 21:39:15,872 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,911 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,912 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,913 INFO sqlalchemy.engine.base.Engine ('Rhode Island', 'blue')
2021-05-07 21:39:15,918 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:15,956 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:15,958 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:15,959 INFO sqlalchemy.engine.base.Engine ('South Carolina', 'red')
2021-05-07 21:39:15,963 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,002 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,003 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,005 INFO sqlalchemy.engine.base.Engine ('South Dakota', 'red')
2021-05-07 21:39:16,008 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,047 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,049 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,050 INFO sqlalchemy.engine.base.Engine ('Tennessee', 'red')
2021-05-07 21:39:16,053 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,093 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,095 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,096 INFO sqlalchemy.engine.base.Engine ('Texas', 'red')
2021-05-07 21:39:16,100 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,152 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,153 INFO sqlalchemy.engine.base.Engine ('Utah', 'red')
2021-05-07 21:39:16,156 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,197 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,199 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,200 INFO sqlalchemy.engine.base.Engine ('Vermont', 'blue')
2021-05-07 21:39:16,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,243 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,244 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,246 INFO sqlalchemy.engine.base.Engine ('Virginia', 'blue')
2021-05-07 21:39:16,249 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,288 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,290 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,291 INFO sqlalchemy.engine.base.Engine ('Washington', 'blue')
2021-05-07 21:39:16,295 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,335 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,337 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,338 INFO sqlalchemy.engine.base.Engine ('West Virginia', 'red')

2021-05-07 21:39:16,341 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,469 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,470 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,471 INFO sqlalchemy.engine.base.Engine ('Wisconsin', 'blue')
2021-05-07 21:39:16,474 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:39:16,514 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:39:16,516 INFO sqlalchemy.engine.base.Engine INSERT INTO election_data (state, result) VALUES (?, ?)
2021-05-07 21:39:16,517 INFO sqlalchemy.engine.base.Engine ('Wyoming', 'blue')
2021-05-07 21:39:16,520 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
for index, row in df5.iterrows():
    
    new_state = State(state = df5.loc[index, 'state'],
                          latitude = df5.loc[index, 'latitude'],
                          longitude = df5.loc[index, 'longitude'])
      
    # Add these objects to the session
    session.add(new_state)
    
    # Commit the objects to the database
    session.commit()

2021-05-07 21:41:55,269 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,273 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,274 INFO sqlalchemy.engine.base.Engine ('Alaska', 63.588753, -154.493062)
2021-05-07 21:41:55,314 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,375 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,377 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,378 INFO sqlalchemy.engine.base.Engine ('Alabama', 32.318231, -86.902298)
2021-05-07 21:41:55,382 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,420 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,422 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,423 INFO sqlalchemy.engine.base.Engine ('Arkansas', 35.20105, -91.831833)
2021-05-07 21:41:55,426 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,465 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,467 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,467 INFO sqlalchemy.engine.base.Engine ('Arizona', 34.048928000000004, -111.093731)
2021-05-07 21:41:55,471 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,511 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,513 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,514 INFO sqlalchemy.engine.base.Engine ('California', 36.778261, -119.417932)
2021-05-07 21:41:55,517 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,556 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,558 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,559 INFO sqlalchemy.engine.base.Engine ('Colorado', 39.550051, -105.782067)
2021-05-07 21:41:55,563 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,602 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,604 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,605 INFO sqlalchemy.engine.base.Engine ('Connecticut', 41.60322100000001, -73.087749)
2021-05-07 21:41:55,608 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,649 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,650 INFO sqlalchemy.engine.base.Engine ('District of Columbia', 38.905985, -77.03341800000003)
2021-05-07 21:41:55,653 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,695 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,696 INFO sqlalchemy.engine.base.Engine ('Delaware', 38.910832, -75.52767)
2021-05-07 21:41:55,699 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,739 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,741 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,742 INFO sqlalchemy.engine.base.Engine ('Florida', 27.664827, -81.515754)
2021-05-07 21:41:55,745 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,785 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,787 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,788 INFO sqlalchemy.engine.base.Engine ('Georgia', 32.157435, -82.907123)
2021-05-07 21:41:55,791 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,832 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,834 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,834 INFO sqlalchemy.engine.base.Engine ('Hawaii', 19.898682, -155.66585700000005)
2021-05-07 21:41:55,837 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,877 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,879 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,881 INFO sqlalchemy.engine.base.Engine ('Iowa', 41.878003, -93.097702)
2021-05-07 21:41:55,885 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,923 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,924 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,925 INFO sqlalchemy.engine.base.Engine ('Idaho', 44.068202, -114.742041)
2021-05-07 21:41:55,928 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:55,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:55,970 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:55,971 INFO sqlalchemy.engine.base.Engine ('Illinois', 40.633125, -89.398528)
2021-05-07 21:41:55,974 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,014 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,015 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,016 INFO sqlalchemy.engine.base.Engine ('Indiana', 40.551217, -85.602364)
2021-05-07 21:41:56,020 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,059 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,062 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,063 INFO sqlalchemy.engine.base.Engine ('Kansas', 39.011902, -98.484246)
2021-05-07 21:41:56,066 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,105 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,107 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,108 INFO sqlalchemy.engine.base.Engine ('Kentucky', 37.839333, -84.27001800000002)
2021-05-07 21:41:56,112 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,151 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,152 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,153 INFO sqlalchemy.engine.base.Engine ('Louisiana', 31.244823, -92.145024)
2021-05-07 21:41:56,157 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,195 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,198 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,199 INFO sqlalchemy.engine.base.Engine ('Massachusetts', 42.407211, -71.382437)
2021-05-07 21:41:56,202 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,241 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,243 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,244 INFO sqlalchemy.engine.base.Engine ('Maryland', 39.045755, -76.641271)
2021-05-07 21:41:56,248 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,289 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,292 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,294 INFO sqlalchemy.engine.base.Engine ('Maine', 45.253783, -69.44546899999999)
2021-05-07 21:41:56,298 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,335 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,337 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)

2021-05-07 21:41:56,338 INFO sqlalchemy.engine.base.Engine ('Michigan', 44.314844, -85.602364)
2021-05-07 21:41:56,343 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,381 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,383 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,384 INFO sqlalchemy.engine.base.Engine ('Minnesota', 46.729553, -94.6859)
2021-05-07 21:41:56,389 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,438 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,440 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,441 INFO sqlalchemy.engine.base.Engine ('Missouri', 37.964253, -91.831833)
2021-05-07 21:41:56,444 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,485 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,486 INFO sqlalchemy.engine.base.Engine ('Mississippi', 32.354668, -89.398528)
2021-05-07 21:41:56,489 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,528 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,530 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,531 INFO sqlalchemy.engine.base.Engine ('Montana', 46.879682, -110.362566)
2021-05-07 21:41:56,536 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,574 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,576 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,577 INFO sqlalchemy.engine.base.Engine ('North Carolina', 35.759573, -79.0193)
2021-05-07 21:41:56,580 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,619 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,621 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,622 INFO sqlalchemy.engine.base.Engine ('North Dakota', 47.551493, -101.002012)
2021-05-07 21:41:56,625 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,665 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,667 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,668 INFO sqlalchemy.engine.base.Engine ('Nebraska', 41.492537, -99.901813)
2021-05-07 21:41:56,672 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,715 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,715 INFO sqlalchemy.engine.base.Engine ('New Hampshire', 43.193852, -71.572395)
2021-05-07 21:41:56,718 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,757 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,760 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,762 INFO sqlalchemy.engine.base.Engine ('New Jersey', 40.058324, -74.405661)
2021-05-07 21:41:56,764 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,805 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,806 INFO sqlalchemy.engine.base.Engine ('New Mexico', 34.97273, -105.032363)
2021-05-07 21:41:56,810 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,848 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,850 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,852 INFO sqlalchemy.engine.base.Engine ('Nevada', 38.80261, -116.419389)
2021-05-07 21:41:56,857 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,894 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,896 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,897 INFO sqlalchemy.engine.base.Engine ('New York', 43.299428000000006, -74.217933)
2021-05-07 21:41:56,900 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,941 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,942 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,943 INFO sqlalchemy.engine.base.Engine ('Ohio', 40.417287, -82.907123)
2021-05-07 21:41:56,946 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:56,996 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:56,998 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:56,998 INFO sqlalchemy.engine.base.Engine ('Oklahoma', 35.007752, -97.092877)
2021-05-07 21:41:57,002 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,041 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,043 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,044 INFO sqlalchemy.engine.base.Engine ('Oregon', 43.804133, -120.554201)
2021-05-07 21:41:57,048 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,176 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,178 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,179 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', 41.203322, -77.194525)
2021-05-07 21:41:57,182 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,223 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,224 INFO sqlalchemy.engine.base.Engine ('Puerto Rico', 18.220833, -66.590149)
2021-05-07 21:41:57,227 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,269 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,271 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,272 INFO sqlalchemy.engine.base.Engine ('Rhode Island', 41.580095, -71.477429)
2021-05-07 21:41:57,275 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,317 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,318 INFO sqlalchemy.engine.base.Engine ('South Carolina', 33.836081, -81.163725)
2021-05-07 21:41:57,322 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,362 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,364 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,365 INFO sqlalchemy.engine.base.Engine ('South Dakota', 43.969515, -99.901813)
2021-05-07 21:41:57,369 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,407 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,408 INFO sqlalchemy.engine.base.Engine ('Tennessee', 35.517491, -86.58044699999998)
2021-05-07 21:41:57,413 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,452 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,454 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,456 INFO sqlalchemy.engine.base.Engine ('Texas', 31.968599, -99.901813)
2021-05-07 21:41:57,460 INFO sqlalchemy.engine.base.Engine COMMIT

2021-05-07 21:41:57,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,498 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,499 INFO sqlalchemy.engine.base.Engine ('Utah', 39.32098, -111.093731)
2021-05-07 21:41:57,502 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,542 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,544 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,544 INFO sqlalchemy.engine.base.Engine ('Virginia', 37.431573, -78.656894)
2021-05-07 21:41:57,547 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,588 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,590 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,591 INFO sqlalchemy.engine.base.Engine ('Vermont', 44.55880300000001, -72.577841)
2021-05-07 21:41:57,595 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,634 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,636 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,637 INFO sqlalchemy.engine.base.Engine ('Washington', 47.751074, -120.740139)
2021-05-07 21:41:57,641 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,680 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,681 INFO sqlalchemy.engine.base.Engine ('Wisconsin', 43.78444, -88.787868)
2021-05-07 21:41:57,684 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,726 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,728 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,729 INFO sqlalchemy.engine.base.Engine ('West Virginia', 38.597626, -80.454903)
2021-05-07 21:41:57,733 INFO sqlalchemy.engine.base.Engine COMMIT
2021-05-07 21:41:57,772 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:41:57,774 INFO sqlalchemy.engine.base.Engine INSERT INTO state_data (state, latitude, longitude) VALUES (?, ?, ?)
2021-05-07 21:41:57,775 INFO sqlalchemy.engine.base.Engine ('Wyoming', 43.075968, -107.290284)
2021-05-07 21:41:57,778 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
session.close()

## Import the SQLite Table

In [12]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

2021-05-07 21:42:02,975 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-07 21:42:02,976 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:02,978 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-07 21:42:02,979 INFO sqlalchemy.engine.base.Engine ()

In [13]:
# Collect the names of tables within the database
inspector.get_table_names()

2021-05-07 21:42:04,605 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-07 21:42:04,606 INFO sqlalchemy.engine.base.Engine ()

['election_data',
 'ownership_data',
 'poverty_data',
 'shooting_data',
 'state_data']

In [14]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [15]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

2021-05-07 21:42:09,299 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-07 21:42:09,301 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,304 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("election_data")
2021-05-07 21:42:09,306 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,308 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'election_data' AND type = 'table'
2021-05-07 21:42:09,309 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,311 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("election_data")
2021-05-07 21:42:09,312 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,314 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("election_data")
2021-05-07 21:42:09,314 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,316 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'election_data' AND type = 'table'
2021-05-07 21:42:09,317 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,320 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("election_data")
2021-05-07 21:42:09,321 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,324 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("election_data")
2021-05-07 21:42:09,325 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,327 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_election_data_1")
2021-05-07 21:42:09,327 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,329 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'election_data' AND type = 'table'
2021-05-07 21:42:09,330 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,335 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ownership_data")
2021-05-07 21:42:09,336 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,339 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-07 21:42:09,340 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,343 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("ownership_data")
2021-05-07 21:42:09,344 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,345 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("ownership_data")
2021-05-07 21:42:09,346 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,347 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-07 21:42:09,348 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,349 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-07 21:42:09,350 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,351 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-07 21:42:09,352 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,353 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-07 21:42:09,354 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,355 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-07 21:42:09,356 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,358 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-07 21:42:09,359 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,362 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("poverty_data")
2021-05-07 21:42:09,363 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,365 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-07 21:42:09,366 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,368 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("poverty_data")
2021-05-07 21:42:09,369 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,371 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("poverty_data")
2021-05-07 21:42:09,373 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,375 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-07 21:42:09,377 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,378 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-07 21:42:09,379 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,381 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-07 21:42:09,381 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,383 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_poverty_data_1")
2021-05-07 21:42:09,384 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,385 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-07 21:42:09,386 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,389 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-07 21:42:09,389 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,394 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-07 21:42:09,396 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,398 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("shooting_data")
2021-05-07 21:42:09,399 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,400 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("shooting_data")
2021-05-07 21:42:09,401 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,402 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-07 21:42:09,403 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,404 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-07 21:42:09,405 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,407 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-07 21:42:09,408 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,410 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-07 21:42:09,411 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,413 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-07 21:42:09,413 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,415 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-07 21:42:09,415 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,417 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("state_data")
2021-05-07 21:42:09,418 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,420 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'state_data' AND type = 'table'
2021-05-07 21:42:09,421 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,424 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("state_data")
2021-05-07 21:42:09,425 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,427 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("state_data")

2021-05-07 21:42:09,428 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,429 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'state_data' AND type = 'table'
2021-05-07 21:42:09,430 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,432 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("state_data")
2021-05-07 21:42:09,433 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,434 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("state_data")
2021-05-07 21:42:09,435 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,437 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_state_data_1")
2021-05-07 21:42:09,438 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:42:09,443 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'state_data' AND type = 'table'
2021-05-07 21:42:09,444 INFO sqlalchemy.engine.base.Engine ()

In [16]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['election_data',
 'ownership_data',
 'poverty_data',
 'shooting_data',
 'state_data']

In [17]:
data = Base.classes.shooting_data
guns = Base.classes.ownership_data
poverty = Base.classes.poverty_data
election = Base.classes.election_data
state = Base.classes.state_data

In [ ]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all()
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

In [ ]:
gun_states = session.query(guns.state).all()
gun_capita = session.query(guns.number_per_capita).all()

In [ ]:
poverty_states = session.query(poverty.state).all()
poverty_rates = session.query(poverty.poverty_rate).all()

In [18]:
state_name = session.query(election.state).all()
state_result = session.query(election.result).all()

2021-05-07 21:48:05,968 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-07 21:48:05,971 INFO sqlalchemy.engine.base.Engine SELECT election_data.state AS election_data_state
FROM election_data
2021-05-07 21:48:05,972 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:48:05,975 INFO sqlalchemy.engine.base.Engine SELECT election_data.result AS election_data_result
FROM election_data
2021-05-07 21:48:05,977 INFO sqlalchemy.engine.base.Engine ()

In [19]:
state_name = session.query(state.state).all()
state_lat = session.query(state.latitude).all()
state_long = session.query(state.longitude).all()

2021-05-07 21:49:23,497 INFO sqlalchemy.engine.base.Engine SELECT state_data.state AS state_data_state
FROM state_data
2021-05-07 21:49:23,498 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:49:23,502 INFO sqlalchemy.engine.base.Engine SELECT state_data.latitude AS state_data_latitude
FROM state_data
2021-05-07 21:49:23,503 INFO sqlalchemy.engine.base.Engine ()
2021-05-07 21:49:23,506 INFO sqlalchemy.engine.base.Engine SELECT state_data.longitude AS state_data_longitude
FROM state_data
2021-05-07 21:49:23,508 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}

In [ ]:
gun_list = {'state': gun_states,
                'num_guns': gun_capita}

In [ ]:
poverty_list = {'state' : poverty_states,
               'poverty_rates': poverty_rates}

In [20]:
election_list = {'state':state_name,
                 'result':state_result}

In [21]:
state_list = {'state':state_name,
             'latitude':state_lat,
             'longitude':state_long}