In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime 
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    index = Column(Integer, primary_key = True)
    incident_id = Column(Integer)
    incident_date = Column(String(255))
    state = Column(String(255))
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Guns(Base):
    __tablename__ = 'ownership_data'
    index = Column(Integer, primary_key = True)
    rank = Column(Integer)
    state = Column(String(255))
    number_per_capita = Column(Integer)
    number_registered = Column(Integer)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty_data'
    index = Column(Integer, primary_key = True)
    rank = Column(Integer)
    state = Column(String(255))
    poverty_rate = Column(String(255))

In [ ]:
# Creates a connection to our DB
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
conn = engine.connect()

In [ ]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [ ]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [ ]:
# Store filepath in a variable
file_one = "data/final_msa.csv"
file_two = "data/gun_ownership.csv"
file_three = "data/poverty_data_cleaned.csv"

# Read in csv files
df = pd.read_csv(file_one)
df2 = pd.read_csv(file_two)
df3 = pd.read_csv(file_three)

In [ ]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = int(df.loc[index, 'number_killed']),
                      number_injured = int(df.loc[index, 'number_injured']), latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])    
    
    # Add these objects to the session
    session.add(new_row)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df2.iterrows():
    
    new_gun = Guns(rank = df2.loc[index, 'rank'], state = df2.loc[index, 'state'],
                           number_per_capita = df2.loc[index, 'number_per_capita'],
                      number_registered = df2.loc[index, 'number_registered'])   
    
    # Add these objects to the session
    session.add(new_gun)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df3.iterrows():
    
    new_poverty = Poverty(rank = df3.loc[index, 'rank'], state = df3.loc[index, 'state'],
                          poverty_rate = df3.loc[index, '2019_poverty'])
      
    # Add these objects to the session
    session.add(new_poverty)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
session.close()

## Import the SQLite Table

In [2]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

2021-05-05 18:10:09,135 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-05 18:10:09,141 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:09,144 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-05 18:10:09,145 INFO sqlalchemy.engine.base.Engine ()

In [3]:
# Collect the names of tables within the database
inspector.get_table_names()

2021-05-05 18:10:10,903 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-05 18:10:10,906 INFO sqlalchemy.engine.base.Engine ()

['ownership_data', 'poverty_data', 'shooting_data']

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

2021-05-05 18:10:13,331 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-05 18:10:13,333 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,337 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ownership_data")
2021-05-05 18:10:13,340 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,344 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-05 18:10:13,347 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,350 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("ownership_data")
2021-05-05 18:10:13,351 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,353 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("ownership_data")
2021-05-05 18:10:13,356 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,357 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-05 18:10:13,359 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,364 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-05 18:10:13,365 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,367 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-05 18:10:13,368 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,370 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-05 18:10:13,371 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,375 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("ownership_data")
2021-05-05 18:10:13,376 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,378 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-05 18:10:13,379 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,386 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("poverty_data")
2021-05-05 18:10:13,389 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,395 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-05 18:10:13,397 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,399 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("poverty_data")
2021-05-05 18:10:13,401 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,402 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("poverty_data")
2021-05-05 18:10:13,404 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,405 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-05 18:10:13,406 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,408 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-05 18:10:13,410 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,413 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("poverty_data")
2021-05-05 18:10:13,414 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,415 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-05 18:10:13,416 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,418 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("poverty_data")
2021-05-05 18:10:13,419 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,422 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-05 18:10:13,424 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,436 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-05 18:10:13,443 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,447 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-05 18:10:13,451 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,453 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("shooting_data")
2021-05-05 18:10:13,454 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,455 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("shooting_data")
2021-05-05 18:10:13,457 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,458 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-05 18:10:13,460 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,462 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-05 18:10:13,463 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,467 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-05 18:10:13,474 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,478 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-05 18:10:13,479 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,482 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-05 18:10:13,483 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:13,485 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-05 18:10:13,492 INFO sqlalchemy.engine.base.Engine ()

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['ownership_data', 'poverty_data', 'shooting_data']

In [7]:
data = Base.classes.shooting_data
guns = Base.classes.ownership_data
poverty = Base.classes.poverty_data

In [11]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all()
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

2021-05-05 18:10:58,293 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.longitude AS shooting_data_longitude
FROM shooting_data
2021-05-05 18:10:58,295 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,309 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.latitude AS shooting_data_latitude
FROM shooting_data
2021-05-05 18:10:58,311 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,325 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.number_killed AS shooting_data_number_killed
FROM shooting_data
2021-05-05 18:10:58,328 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,349 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.number_injured AS shooting_data_number_injured
FROM shooting_data
2021-05-05 18:10:58,351 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,364 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.incident_date AS shooting_data_incident_date
FROM shooting_data
2021-05-05 18:10:58,366 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,399 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.state AS shooting_data_state
FROM shooting_data
2021-05-05 18:10:58,407 INFO sqlalchemy.engine.base.Engine ()
2021-05-05 18:10:58,428 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.city_county AS shooting_data_city_county
FROM shooting_data
2021-05-05 18:10:58,433 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
gun_states = session.query(guns.state).all()
gun_capita = session.query(guns.number_per_capita).all()

In [ ]:
poverty_states = session.query(poverty.state).all()
poverty_rates = session.query(poverty.poverty_rate).all()

In [ ]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}

In [ ]:
gun_list = {'state': gun_states,
                'num_guns': gun_capita}

In [ ]:
poverty_list = {'state' : poverty_states,
               'poverty_rates': poverty_rates}