In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect, Column, Integer, String, Float, DateTime 
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Shooting(Base):
    __tablename__ = 'shooting_data'
    index = Column(Integer, primary_key = True)
    incident_id = Column(Integer)
    incident_date = Column(String(255))
    state = Column(String(255))
    city_county = Column(String(255))
    address = Column(String(255))
    number_killed = Column(Integer)
    number_injured = Column(Integer)
    latitude = Column(Float)
    longitude = Column(Float)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Guns(Base):
    __tablename__ = 'ownership_data'
    rank = Column(Integer)
    state = Column(String(255), primary_key = True)
    number_per_capita = Column(Integer)
    number_registered = Column(Integer)

In [ ]:
# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty_data'
    rank = Column(Integer)
    state = Column(String(255), primary_key = True)
    poverty_rate = Column(String(255))

In [ ]:
# Creates a connection to our DB
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
conn = engine.connect()

In [ ]:
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [ ]:
# Session is a temporary binding to our DB
session = Session(bind=engine)

In [ ]:
# Store filepath in a variable
file_one = "data/final_msa.csv"
file_two = "data/gun_ownership.csv"
file_three = "data/poverty_data_cleaned.csv"

# Read in csv files
df = pd.read_csv(file_one)
df2 = pd.read_csv(file_two)
df3 = pd.read_csv(file_three)

In [ ]:
for index, row in df.iterrows():
    new_row = Shooting(incident_id = df.loc[index,'incident_id'],incident_date = df.loc[index,'incident_date'],
                       state = df.loc[index, 'state'], city_county = df.loc[index, 'city_county'],
                       address = df.loc[index, 'address'], number_killed = df.loc[index, 'number_killed'],
                      number_injured = df.loc[index, 'number_injured'], latitude = df.loc[index, 'latitude'],
                       longitude = df.loc[index, 'longitude'])    
    
    # Add these objects to the session
    session.add(new_row)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df2.iterrows():
    
    new_gun = Guns(rank = df2.loc[index, 'rank'], state = df2.loc[index, 'state'],
                           number_per_capita = df2.loc[index, 'number_per_capita'],
                      number_registered = df2.loc[index, 'number_registered'])   
    
    # Add these objects to the session
    session.add(new_gun)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
for index, row in df3.iterrows():
    
    new_poverty = Poverty(rank = df3.loc[index, 'rank'], state = df3.loc[index, 'state'],
                          poverty_rate = df3.loc[index, '2019_poverty'])
      
    # Add these objects to the session
    session.add(new_poverty)
    
    # Commit the objects to the database
    session.commit()

In [ ]:
session.close()

## Import the SQLite Table

In [2]:
engine = create_engine('sqlite:///data/shootings.sqlite', echo=True)
session = Session(bind=engine)
inspector = inspect(engine)

2021-05-03 20:26:27,104 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-05-03 20:26:27,109 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:27,112 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-05-03 20:26:27,113 INFO sqlalchemy.engine.base.Engine ()

In [3]:
# Collect the names of tables within the database
inspector.get_table_names()

2021-05-03 20:26:28,047 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-03 20:26:28,049 INFO sqlalchemy.engine.base.Engine ()

['ownership_data', 'poverty_data', 'shooting_data']

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

2021-05-03 20:26:34,244 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-05-03 20:26:34,246 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,251 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("ownership_data")
2021-05-03 20:26:34,254 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,257 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 20:26:34,260 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,263 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("ownership_data")
2021-05-03 20:26:34,264 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,266 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("ownership_data")
2021-05-03 20:26:34,268 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,271 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 20:26:34,272 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,280 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-03 20:26:34,283 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,285 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("ownership_data")
2021-05-03 20:26:34,287 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,291 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_ownership_data_1")
2021-05-03 20:26:34,293 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,295 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ownership_data' AND type = 'table'
2021-05-03 20:26:34,297 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,301 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("poverty_data")
2021-05-03 20:26:34,302 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,305 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 20:26:34,308 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,311 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("poverty_data")
2021-05-03 20:26:34,313 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,315 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("poverty_data")
2021-05-03 20:26:34,317 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,318 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 20:26:34,319 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,323 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-03 20:26:34,325 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,327 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("poverty_data")
2021-05-03 20:26:34,330 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,333 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_poverty_data_1")
2021-05-03 20:26:34,334 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,337 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'poverty_data' AND type = 'table'
2021-05-03 20:26:34,340 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,344 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("shooting_data")
2021-05-03 20:26:34,347 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,352 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 20:26:34,355 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,358 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("shooting_data")
2021-05-03 20:26:34,362 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,363 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("shooting_data")
2021-05-03 20:26:34,364 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,366 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 20:26:34,366 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,370 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-03 20:26:34,376 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,379 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-03 20:26:34,381 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,382 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("shooting_data")
2021-05-03 20:26:34,383 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,385 INFO sqlalchemy.engine.base.Engine PRAGMA temp.index_list("shooting_data")
2021-05-03 20:26:34,388 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:34,390 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'shooting_data' AND type = 'table'
2021-05-03 20:26:34,393 INFO sqlalchemy.engine.base.Engine ()

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['ownership_data', 'poverty_data', 'shooting_data']

In [7]:
data = Base.classes.shooting_data
guns = Base.classes.ownership_data
poverty = Base.classes.poverty_data

In [8]:
lng = session.query(data.longitude).all()
lat = session.query(data.latitude).all()
killed = session.query(data.number_killed).all()
injured = session.query(data.number_injured).all
date = session.query(data.incident_date).all()
state = session.query(data.state).all()
locale = session.query(data.city_county).all()

2021-05-03 20:26:42,508 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-05-03 20:26:42,511 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.longitude AS shooting_data_longitude
FROM shooting_data
2021-05-03 20:26:42,512 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:42,525 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.latitude AS shooting_data_latitude
FROM shooting_data
2021-05-03 20:26:42,527 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:42,540 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.number_killed AS shooting_data_number_killed
FROM shooting_data
2021-05-03 20:26:42,541 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:42,550 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.incident_date AS shooting_data_incident_date
FROM shooting_data
2021-05-03 20:26:42,553 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:42,562 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.state AS shooting_data_state
FROM shooting_data
2021-05-03 20:26:42,564 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:42,573 INFO sqlalchemy.engine.base.Engine SELECT shooting_data.city_county AS shooting_data_city_county
FROM shooting_data
2021-05-03 20:26:42,575 INFO sqlalchemy.engine.base.Engine ()

In [9]:
gun_states = session.query(guns.state).all()
gun_capita = session.query(guns.number_per_capita).all()

2021-05-03 20:26:48,891 INFO sqlalchemy.engine.base.Engine SELECT ownership_data.state AS ownership_data_state
FROM ownership_data
2021-05-03 20:26:48,893 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:48,898 INFO sqlalchemy.engine.base.Engine SELECT ownership_data.number_per_capita AS ownership_data_number_per_capita
FROM ownership_data
2021-05-03 20:26:48,900 INFO sqlalchemy.engine.base.Engine ()

In [10]:
poverty_states = session.query(poverty.state).all()
poverty_rates = session.query(poverty.poverty_rate).all()

2021-05-03 20:26:49,895 INFO sqlalchemy.engine.base.Engine SELECT poverty_data.state AS poverty_data_state
FROM poverty_data
2021-05-03 20:26:49,896 INFO sqlalchemy.engine.base.Engine ()
2021-05-03 20:26:49,901 INFO sqlalchemy.engine.base.Engine SELECT poverty_data.poverty_rate AS poverty_data_poverty_rate
FROM poverty_data
2021-05-03 20:26:49,903 INFO sqlalchemy.engine.base.Engine ()

In [11]:
incident_list = {'date': date,
                'state': state,
                'city_county': locale,
                'killed': killed,
                'injured': injured,
                'latitude': lat,
                'longitude': lng}

In [12]:
gun_list = {'state': gun_states,
                'num_guns': gun_capita}

In [13]:
poverty_list = {'state' : poverty_states,
               'poverty_rates': poverty_rates}