In [4]:
import pandas as pd
import time

In [11]:
msa_df = pd.read_csv("data/final_msa_with_coordinates.csv", index_col=0)
msa_df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,coordinates,latitude,longitude
0,1985432,"April 24, 2021",Louisiana,New Orleans,100 block of Bourbon St,0,5,View Incident View Source,"29.9542063, -90.0691878",29.954206,-90.069188
1,1984807,"April 22, 2021",California,San Diego,500 block of J St,1,4,View Incident View Source,"32.7095105, -117.1599882",32.709511,-117.159988
2,1981805,"April 19, 2021",Texas,Houston,700 E Whitney St,2,4,View Incident View Source,"29.8304693, -95.3892745",29.830469,-95.389274
3,1982260,"April 19, 2021",Georgia,Atlanta,1191 Oakland Ln SW,0,5,View Incident View Source,"33.7197359, -84.42625249999999",33.719736,-84.426252
4,1982020,"April 18, 2021",Alabama,Montgomery,2300 block of Day St,1,4,View Incident View Source,"32.3698089, -86.3293563",32.369809,-86.329356

In [12]:
msa_df["Incident Date"] = pd.to_datetime(msa_df["Incident Date"])
msa_df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,coordinates,latitude,longitude
0,1985432,2021-04-24,Louisiana,New Orleans,100 block of Bourbon St,0,5,View Incident View Source,"29.9542063, -90.0691878",29.954206,-90.069188
1,1984807,2021-04-22,California,San Diego,500 block of J St,1,4,View Incident View Source,"32.7095105, -117.1599882",32.709511,-117.159988
2,1981805,2021-04-19,Texas,Houston,700 E Whitney St,2,4,View Incident View Source,"29.8304693, -95.3892745",29.830469,-95.389274
3,1982260,2021-04-19,Georgia,Atlanta,1191 Oakland Ln SW,0,5,View Incident View Source,"33.7197359, -84.42625249999999",33.719736,-84.426252
4,1982020,2021-04-18,Alabama,Montgomery,2300 block of Day St,1,4,View Incident View Source,"32.3698089, -86.3293563",32.369809,-86.329356
...,...,...,...,...,...,...,...,...,...,...,...
5920,1835030,2020-10-25,Texas,San Antonio,2800 block of W Hutchins Pl,1,3,View Incident View Source,"29.3447716, -98.5504716",29.344772,-98.550472
5921,1834280,2020-10-25,North Carolina,Raleigh,1731 Trawick Rd,1,3,View Incident View Source,"35.800739, -78.5782392",35.800739,-78.578239
5922,1834617,2020-10-24,Mississippi,Greenwood,W Martin Luther King Dr,2,8,View Incident View Source,"33.509886, -90.1769729",33.509886,-90.176973
5923,1832014,2020-10-22,Florida,Miami,1830 NW 50 St,1,3,View Incident View Source,"25.8204486, -80.22696839999999",25.820449,-80.226968
5924,1832977,2020-10-22,Louisiana,Rayne,I-10,0,5,View Incident View Source,"30.2521869, -92.2686104",30.252187,-92.268610

In [17]:
msa_df.to_csv("data/final_msa_with_coordinates2.csv", index=False)